[2018-11-27 20:52] artembilan commented on #1255
@ryanjbaxter,

We have just moved our docs to Spring Cloud structure.
Can you, please, test what we have so far with Spring Cloud aggregated docs?

Thanks in advance!

[2018-11-27 21:01] #812 closed

[2018-11-27 21:02] ryanjbaxter commented on #1255
when I build the project with the `docs` profile it fails with
[code]

[2018-11-27 21:06] artembilan commented on #1255
Hm... Any idea what are we missing?

Thanks

[2018-11-27 21:14] ryanjbaxter commented on #1255
Unfortunately not, I have never see it look for a PDF like that....

[2018-11-27 21:20] ChengyuanZhao commented on #1255
Ah I think I know what's wrong. Will put up a fix PR soon.

[2018-11-27 21:21] artembilan commented on #1255
Oh, wait!

I think we also need to align plugins for docs in POM similar way you have it in other SC projects, e.g.: https://github.com/spring-cloud/spring-cloud-netflix/blob/master/docs/pom.xml#L32

[2018-11-27 21:36] artembilan commented on #1255
I think the point is that other Spring Cloud project doesn't build Docbook at all.
Our initial docs approach was borrowed from Spring Cloud Stream, but that one has moved recently to the current Spring Cloud standard and I guess that don't build PDF any more, too.

[2018-11-28 07:34] jroosing opened #1260 "Datastore save is not thread safe"
Encountered this issue when receiving an initial load of 100k entities that need to be stored.
Messages can be processed async.

In my code I have defined a repository as such:
[code]

I have multiple threads calling this repo's save method. This at some point chains down to a call in the class  "GcpDatastoreAutoConfiguration":

[code]

Which then calls "getCustomWriteTarget" in the "TwoStepsConve

[2018-11-28 14:40] meltsufin commented on #1260
@jroosing It looks like something we should be able to easily fix on our side. Thanks for reporting!
@dmitry-s PTAL.

[2018-11-28 15:41] dzou commented on #1253
@ITGuy9401 Unfortunately I was still unable to reproduce the issue. I wasn't able to run the code that you sent in the zip file, so I attempted to replicate your pubsub configuration in our [pubsub-integration-sample-receiver app](https://github.com/spring-cloud/spring-cloud-gcp/tree/master/spring-cloud-gcp-samples/spring-cloud-gcp-integration-pubsub-sample/spring-cloud-gcp-integration-pubsub-samp

[2018-11-28 16:05] #1260 closed

[2018-11-28 19:16] dmitry-s commented on #1260
@jroosing
the fix is in, please reopen if the issue persists

[2018-11-28 21:07] ChengyuanZhao commented on #1255
I'm gonna close this one for now. The build issue has been fixed and the generated files are looking like what's needed.

[2018-11-28 21:07] #1255 closed

[2018-11-28 21:07] ChengyuanZhao commented on #1255
#1259

[2018-11-29 13:03] #1216 closed

[2018-11-29 16:46] #1211 closed

[2018-11-29 21:18] meltsufin opened #1264 "Usage Tracking for Config doesn't include language (Java)"

[2018-11-30 13:08] sergeymeshkov opened #1266 "Support pagination for custom queries"
From documentation:
`Paging and sorting options are also supported in DatastoreTemplate by supplying a DatastoreQueryOptions to findAll.`

Is it possible to add pagination for custom queries?

For example, we have a model:
[code]
Datastore repository has a search method (with pagination):

` List<Singer> findAllByCreatedDateLessThan(Timestamp timestamp, Pageable pageable);`

I insert 3 singers wit

[2018-11-30 16:19] triberraar opened #1267 "1.1.0.M3 cloudSql cloudSqlInstance property not set"
I just upgraded from 1.0.0.RELEASE to 1.1.0.M3  because i want to mess around with the config bit. However my project works on 1.0.0.RELEASE but not when i upgrade to 1.1.0.M3. The stacktrace that i get is as follows:
[code]

My app.yaml looks like:
[code]

I would say that i am supplying the cloudSqlInstance. I can't see in the documentation that something changed for the M3 milestone. Am i missi

[2018-11-30 16:19] elefeint opened #1268 "IAP authentication works for the first N tries and then fails forever"
Due to the way Java URL equality has been implemented since time immemorial, it does not have consistent behavior.
Spring security already fixed this issue in spring-projects/spring-security#6073; once spring-cloud-build pulls in spring-boot 2.1.1, we'll either automatically be fixed (if the version is pulled in spring-cloud-build-2.1.0.SNAPSHOT) or will need to ull in spring-cloud-build-2.whateve

[2018-11-30 16:51] zebugman opened #1269 "PubSubInboundChannelAdapter does not allow for alternate MessageBuilderFactories, breaking code contract"
Despite `PubSubInboundChannelAdapter` supporting the `setMessageBuilderFactory()` method it inherits, the `consumeMessage(...)` method will always call the default `MessageBuilder` on line 148.

`sendMessage(MessageBuilder.withPayload(message.getPayload()).copyHeaders(messageHeaders).build());`

[2018-11-30 16:54] artembilan commented on #1269
This is bug. Has to be fixed calling `getMessageBuilderFactory()` instead.

Contribution is welcome!

[2018-11-30 19:06] meltsufin opened #1270 "Add Usage Tracking to Logging"
Currently, we're not adding the necessary metadata to the API-style Logback appender that writes to Stackdriver Logging. We can fix this by providing a wrapper that adds the tool metadata to track that the API calls are coming from Spring Cloud GCP.

[2018-11-30 19:17] meltsufin commented on #1267
You shouldn't have to specify the datasource `url`. Please try removing it.
Also, please take a look at the [sample app](https://github.com/spring-cloud/spring-cloud-gcp/tree/master/spring-cloud-gcp-samples/spring-cloud-gcp-sql-sample) that covers how to connect to Postgres.

[2018-12-03 09:12] triberraar commented on #1267
I removed the url, however i still get the same error on  1.1.0.M3.
I checked the example and it looks very similar to mine. the only difference is that i am using postgresql and not mysql.
The stacktrace does mention postgresql aswell:
[code]
It did work work with the 1.0.0.RELEASE version.

[2018-12-03 11:28] sergeymeshkov opened #1275 "Support LocalDateTime as search argument in query methods"
Is it possible to support LocalDateTime as a search argument in Spring Data query methods?

For example, we have a model:

[code]

Datastore repository has a search method:
`List<Singer> findAllByCreatedDateLessThan(LocalDateTime date);`

After calling the method an error occurs:

[code]

[2018-12-03 14:49] meltsufin commented on #1275
Have you considered adding a [custom converter](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/docs/src/main/asciidoc/datastore.adoc#custom-types) for it?
Otherwise, maybe we should support it out of the box. WDYT @dmitry-s @ChengyuanZhao?

[2018-12-03 15:35] ChengyuanZhao commented on #1275
Taking a look

[2018-12-03 15:38] ChengyuanZhao commented on #1275
Currently we don't use custom converters for query-method params, and we instead look up directly in a map of directly supported types. Let me look into what it would take to use custom converters here, too.

[2018-12-03 15:44] dzou commented on #1267
Hey just an update - I was able to reproduce the issue on my end; gonna to try to investigate a fix.

[2018-12-03 15:49] artembilan commented on #1267
I wonder if we just need to ensure that our `GcpCloudSqlAutoConfiguration` is auto-configured *before* `LiquibaseAutoConfiguration`. Or, at least, a `HibernateJpaAutoConfiguration` since this one is used in the `LiquibaseAutoConfiguration` and `FlywayAutoConfiguration`: https://docs.spring.io/spring-boot/docs/2.1.1.RELEASE/reference/htmlsingle/#howto-use-a-higher-level-database-migration-tool

[2018-12-03 18:59] dzou commented on #1267
I found the solution to the problem. Please see PR #1277 for details.

[2018-12-03 19:14] triberraar commented on #1267
Awesome.
Good and fast service ;). Looking forward to using it.

[2018-12-03 19:20] dzou opened #1279 "Add an integration test for the SQL sample with Postgres"
Add an integration test for the SQL sample with Postgres. This would be useful to spot breakages like: #1277.

[2018-12-03 19:31] #1267 closed

[2018-12-03 19:32] dzou commented on #1267
The fix is merged in now; please let me know if this works for you. Thanks!

[2018-12-03 20:36] ChengyuanZhao commented on #1225
The samples module doesn't have any expected exceptions, which I guess is expected.

[2018-12-04 16:19] #1275 closed

[2018-12-04 18:06] ChengyuanZhao commented on #1144
This issue has been decided by our current implementation where we require children to have `Key` id property type. So it isn't possible to have the situation described.

[2018-12-04 18:06] #1144 closed

[2018-12-04 18:09] ChengyuanZhao opened #1283 "Spanner entitylistener and auditing"
There have been user requests to provide something similar to JPA and Hibernate style auditing functionality.

[2018-12-04 21:04] #1215 closed

[2018-12-04 22:12] #1167 closed

[2018-12-04 22:12] #1266 closed

[2018-12-04 22:46] ChengyuanZhao opened #1289 "Datastore , find some dynamic way to set namespace to support multi-tenant"
I was speaking with Ray and he explained a use case based on REST repositories where the namespace (perhaps each customer is a tenant/namespace) is part of the request.

Other than just for the REST example there could be other use cases. I've had at least one large user on Spanner asking for setting the namespace in a way that's more dynamic than just in application.properties. In spanner there i

[2018-12-04 23:23] saturnism commented on #1120
Hi @michael-barker! I was able to reproduce this issue, and it apparently is because of the version mismatch between grpc-* libraries and grpc-netty-shaded.

It appears all grpc-* modules are resolving to 1.14.0, however, grpc-netty-shaded is still resolving to 1.13.1.

to fix it temporarily, I forced the version update for grpc-netty-shaded in dependencies:

[code]

[2018-12-05 16:19] meltsufin opened #1291 "Create a simple Datastore sample app"

[2018-12-05 17:06] ChengyuanZhao commented on #1291
Do you mean a codelab ? We have a sample for Datastore in spring-cloud-gcp-data-datastore-sample

[2018-12-05 17:37] meltsufin commented on #1291
Both actually. We discussed the current sample with @dmitry-s and we thought that it was a bit too complex compared to other samples we have to help people get started. We will rename the current sample to something like "advanced" sample.

[2018-12-05 18:07] ChengyuanZhao commented on #1291
I see, sounds good.

[2018-12-05 20:45] #1279 closed

[2018-12-05 20:51] ChengyuanZhao opened #1295 "Spanner use custom converters for Query Method params"

[2018-12-06 13:53] elefeint commented on #1268
The new version of spring-boot is in spring-cloud-dependencies now; the issue is fixed.

[2018-12-06 13:53] #1268 closed

[2018-12-06 16:58] #1199 closed

[2018-12-06 20:21] artembilan commented on #958
@qlerebours ,

Please, don't report some problems without explanation in the already closed issue.

Feel free to raise a new one, but with as much info to determine the problem as possible.

Thanks for understanding.

[2018-12-07 14:46] qlerebours commented on #958
It doesn't need more explanations, it was exactly the same issue and I solved it thanks to your message, but to give a clearer solution to future Googlers, I gave the version I had in my build.gradle and the new version that made it work.
Thanks

[2018-12-07 16:48] dzou opened #1299 "Create a Kotlin sample app for spring-cloud-gcp integrations"
Create a Kotlin sample app example integrating with several spring-cloud-gcp libraries.

[2018-12-07 16:50] dzou commented on #1212
Since the Zipkin version has been updated to 0.9.0 (via #1297), this issue is now resolved.

[2018-12-07 16:50] #1212 closed

[2018-12-07 16:54] elefeint opened #1301 "IAP audience autodetermination does not work on Compute Engine"
For AppEngine, IAP autoconfiguration works great.
For Compute Engine and Kubernetes Engine (which runs on Compute Engine), it will fail with message "Service ID expected not to be null". This is because metadata is the wrong place to be getting the Backend Service ID. The right place is...complicated. I've asked IAP team for design guidance.

In the meantime, IAP starter/autoconfig users should pr

[2018-12-07 18:03] #1222 closed

[2018-12-07 18:15] meltsufin commented on #1301
In the meantime, can we update the refdoc to indicate that the audience determination doesn't work on GCE (App Engine Flex and GKE)?

[2018-12-07 18:32] ChengyuanZhao opened #1303 "Spanner query by example"
Because Spanner is fully flexible like standard SQL servers in filtering, we can implement a flexible query-by-example feature.

[2018-12-08 22:51] alexcibotari opened #1304 "JacksonPubSubMessageConverter can't convert Kotlin data class / why I'm receiving empty messages ?"
JacksonPubSubMessageConverter  fail because all fields are mandatory, but sometime I'm receiving empty JSON as message :

``
{}
``

I have
[code]

[2018-12-10 14:45] meltsufin commented on #1304
I guess there are two questions here.

1.  How to handle empty JSON messages.
2.  Why are you getting empty messages in the first place?

For (1), please provide more details on the failure and what you'd prefer to happen instead.
For (2), without having access to the app, it's hard to help. Can you provide a simple example that reproduces the behavior?

[2018-12-10 14:58] artembilan commented on #1304
I think the point is that provided `ObjectMapper` into the `JacksonPubSubMessageConverter` doesn't support Kotlin.
Please, consider to enable particular module:
[code]

[2018-12-10 15:32] meltsufin commented on #1304
@artembilan, how does Spring handle this elsewhere? Can we automatically detect Kotlin in auto-configuration and configure the right module?

[2018-12-10 15:45] artembilan commented on #1304
We just provide some default customized `ObjectMapper` on the matter.
But the problem here in the `JacksonPubSubMessageConverter` that we can't mutate an external instance. This not what fits a dependency injection rules.

The sample of the proper configuration can be found in the Spring Integration: https://github.com/spring-projects/spring-integration/blob/master/spring-integration-core/src/main

[2018-12-10 15:58] meltsufin commented on #1304
I forgot that we actually do not autoconfigure the `ObjectMapper`. Our refdoc and examples show something like this:
[code]

Maybe, we should instead recommend adding the `spring-boot-starter-json` and relying on the auto-configured `ObjectMapper`?
[code]

WDYT?

[2018-12-10 16:01] artembilan commented on #1304
Yes, that makes sense, but we need to keep in mind that people may use our Pub/Sub module without Spring Boot.
So, we may give a hint that for non-standard behavior the `ObjectMapper` must be supplied with appropriate options or be used from Spring Integration or Spring Boot.

[2018-12-10 16:39] #1174 closed

[2018-12-10 16:39] #1295 closed

[2018-12-10 16:49] alexcibotari commented on #1304
I have Jackson-module-Kotlin as dependency in build.gradle
[code]
And I use already existing ObjectMapper
[code]

[2018-12-10 16:52] artembilan commented on #1304
Can you confirm that this one is really supplied with the `KotlinModule` during an injection into this `JacksonPubSubMessageConverter`?

[2018-12-10 16:54] alexcibotari commented on #1304
Hello @artembilan , Yes it is with support of Kotlin

[2018-12-10 16:55] #1304 closed

[2018-12-10 16:56] alexcibotari commented on #1304
I think we can open the issue, maybe it is some strange behavior on my environment.
In case I will fine more details I will open another issue or will reopen the current one.

[2018-12-10 17:42] dzou commented on #1304
Sounds good. I am currently in the process of writing a Kotlin sample application that uses spring-cloud-gcp as a reference to users. That will likely be able to uncover some problems if any exist with pub/sub + kotlin. I will keep tabs on this issue to see if I can reproduce the problem; let me know if you have additional details.

[2018-12-10 17:52] meltsufin commented on #1304
@dzou I think it still makes sense to update our documentation to use `spring-boot-starter-json` like I [suggested](https://github.com/spring-cloud/spring-cloud-gcp/issues/1304#issuecomment-445867005). It could be a different issue from this one though.

[2018-12-10 17:53] dzou commented on #1304
Will do.

[2018-12-10 18:15] dzou opened #1305 "Update Pub/sub docs to reference spring-boot-starter-json for Kotlin users"
For users of JacksonPubSubMessageConverter, one must configure the ObjectMapper instance correctly for it to work with Kotlin.

This can be achieved by including spring-boot-starter-json as a dependency and relying on the autowired instance of ObjectMapper when constructing JacksonPubSubMessageConverter.

Details provided in #1304.

[2018-12-10 18:22] meltsufin commented on #1305
I think it's a good practice, even for Spring Boot applications that don't use Kotlin. So, we should update our Java sample as well to do this.

[2018-12-11 12:54] alexcibotari opened #1309 "PubSub Protobuf communication example"
Can you please provide examples how to configure PubSub Protobuf communication as alternative for ``JacksonPubSubMessageConverter``

[2018-12-11 14:52] meltsufin commented on #1309
Pub/Sub uses gRPC which is "Protobuf communication", regardless of the choice of the converter. The converter is only used to convert the message payload, but it still ends up being transferred in a protobuf. If you want to bypass all conversion, just use `ByteString` to represent your payload everywhere.

In any case, the short of it is that you are already using protobufs.

[2018-12-11 14:52] #1309 closed

[2018-12-11 16:15] mradzevicius opened #1310 "Ability to provide additional fields to append to json format"
# Description

Ability to log additional context variables provides ability to search logs sent to Stackdriver without using MDC context to do that. Something similar to `StructuredArguments` in `logstash-logback-encoder`.

ie:
[code]

after logging fields would be appended to the json object which is sent to stdout:

[code]

Then those fields would be logged into stackdriver when using Logging vi

[2018-12-11 19:12] meltsufin commented on #1310
Have you looked at the `includeMDC` [property](https://docs.spring.io/spring-cloud-gcp/docs/1.1.0.BUILD-SNAPSHOT/reference/htmlsingle/#_log_via_console)? Does it address your requirements?

[2018-12-11 19:47] #1291 closed

[2018-12-11 20:04] meltsufin commented on #881
Works as intended.

[2018-12-11 20:04] #881 closed

[2018-12-11 22:10] mradzevicius commented on #1310
@meltsufin yes i've looked at it, unfortunately not in this case - it has its place for usage.

Also a bonus, would be ability to configure `serviceContext` property or an ability to add static attributes (that might be possible via out of the box logback):

[code]

That would also benefit Stackdriver error reporting when exceptions are thrown and catched also filtering by app/version when you hav

[2018-12-12 13:18] elefeint commented on #1301
Removed autoconfig and updated docs in#1293.

[2018-12-12 13:24] elefeint opened #1312 "Create profile for Java 11"
Per @artembilan's suggestion, create a Java 11 profile in top-level POM.

Changes to make the current codebase work on 11 are in 206422f6b76fefea80b942e0a87764995e75f4a1 .

[2018-12-12 19:44] meltsufin opened #1313 "Add support for spanId in Logging"
In addition to trace ID that we already support, Stackdriver Logging `LogEntry` now supports span ID.
It works for JSON logging too. See: https://cloud.google.com/logging/docs/agent/configuration#process-payload

[2018-12-13 15:21] meltsufin opened #1318 "Review and update refdoc for 1.1 release"
This should be done about a week before the release.

[2018-12-13 15:23] meltsufin opened #1319 "Deduplicate content in README.adoc and Refdoc"
There is a lot of overlap in `/docs/src/main/asciidoc/README.adoc`, which gets used in `/README.adoc`, and the reference document. It should be possible to eliminate most of the content duplication by importing bits of the refdoc into the `README.adoc`.

[2018-12-13 19:35] ChengyuanZhao commented on #1318
check when completing proof reading:

- [ ] cloud foundry
- [ ] config
- [ ] core
- [ ] datastore
- [ ] dependency management
- [ ] getting-started
- [ ] logging
- [ ] memorystore
- [ ] pubsub
- [ ] README
- [ ] security IAP
- [ ] spanner
- [ ] spring-cloud-gcp / index file
- [ ] spring integration
- [ ] si pubsub
- [ ] si storage
- [ ] spring stream
- [ ] SQL
- [ ] storage
- [ ] trace
- [ ] visio

[2018-12-13 19:39] artembilan commented on #1318
Re. Cloud Foundry though: https://github.com/spring-cloud/spring-cloud-connectors/issues/248.

The point is to remove remove a `In order for the Cloud SQL integration to work in Cloud Foundry, auto-reconfiguration must be disabled. ` paragraph altogether and don't advertise disabling build-packs.
There might be some other features in the target application, not only just Cloud SQL.

Let's hope tha

[2018-12-14 16:32] elefeint commented on #1056
@artembilan @meltsufin what do you think about the plan below?

### Part I, make it easy to bypass PubSub async pull's message hoarding behavior when using GCP-to-SpringIntegration and GCP-to-CloudStream integrations.
* Create new `PubSubPollingChannelAdapter`, extending SourcePollingChannelAdapter.
  * Implement `SourcePollingChannelAdapter::receiveMessage` using `PubSubSubscriberTemplate::pull`.

[2018-12-14 16:41] artembilan commented on #1056
No, you can't extend `SourcePollingChannelAdapter`. you must think to implement a `AbstractMessageSource`. Therefore `PubSubMessageSource`.
Something similar with have in Spring Integration with the `AmqpMessageSource`: https://github.com/spring-projects/spring-integration/blob/master/spring-integration-amqp/src/main/java/org/springframework/integration/amqp/inbound/AmqpMessageSource.java
And with

[2018-12-14 17:19] elefeint commented on #1056
Let me see if I understand... with numbered topics for future reference; threading in github is a challenge:

1. For the synchronous pull implementation, I would implement `AbstractMessageSource` (say, `PubSubPullMessageSource`), and the client apps then create their own `@InboundChannelAdapter` with a poller and return an instance of `PubSubPullMessageSource`?

2. I'd make **no** changes `PubSubI

[2018-12-14 17:33] artembilan commented on #1056
That's not correct to make such a critical change for that `datatypeChannelMessageConverter`.
Your application might not only have PubSub, but any other integration protocols, so making such a global change is going to be very serious damage for  target projects.

Everything else sounds good.
Although I don't think it worth to mention `pull` in the class name. That is really clear by the `MessageS

[2018-12-17 14:59] artembilan commented on #958
I still not sure what makes you talk about this issue. We even already have a `1.1.0 RC1` version released: https://spring.io/blog/2018/12/12/spring-cloud-greenwich-rc1-available-now

[2018-12-17 15:48] dzou commented on #1253
Hi again, just wanted to follow up on this - did you make any new findings?

[2018-12-17 21:45] dzou opened #1323 "Make the Kotlin Sample App more Discoverable"
Related to #1299, we want to make sure users can discover the Kotlin app as a reference.

Todo:
- Refdoc updates
- Sync up with the Kotlin team, link to our sample from their repo?

[2018-12-20 14:31] elefeint commented on #1207
The 2 high `ch.qos.logback:logback-classic ` vulnerabilities in three logging-related projects are false positives due to the way Snyk web parses dependencies. I sent information about this issue to Snyk; will update when they respond.

Projects:
* `spring-cloud-gcp-starter-logging`
* `spring-cloud-gcp-trace-sample`
* `spring-cloud-gcp-logging-sample`

Vulnerability: https://app.snyk.io/vuln/SNYK-

[2018-12-20 16:00] #861 closed

[2018-12-20 16:11] ChengyuanZhao commented on #1319
It actually looks like these two files are EXACTLY the same, PR coming soon

[2018-12-20 16:16] #1319 closed

[2018-12-20 16:47] #1202 closed

[2018-12-26 20:15] #1204 closed

[2018-12-28 18:05] #1201 closed

[2018-12-30 23:18] JamieCressey opened #1350 "Datastore findByX always expects a list returned"
Version: 1.1.0.RC2
JDK: 8
Spring Boot Version: 2.1.1.RELEASE
---

I have a repository which looks like;

[code]

When calling `findOneByUsername` I expect a max of one record to be returned. In actual fact, a list is being returned and I get this error;

[code]

I have also tried `findByUsername` (which the Spring Data docs say should be fine given the return value is singular) with the same resul

[2018-12-31 11:35] mikebocian opened #1351 "[Spring Integration, PubSub] A lot of expired messages when using Spring Integration with PubSub"
Hi devs!

We decided to use Google PubSub together with Spring Integration in the same way, as it is written here: https://github.com/spring-cloud/spring-cloud-gcp/blob/b5c1fc456fb5af710b5d91c8a40c0d1642eaa9a7/spring-cloud-gcp-samples/spring-cloud-gcp-integration-pubsub-sample/spring-cloud-gcp-integration-pubsub-sample-receiver/src/main/java/com/example/ReceiverApplication.java

Context:
After run

[2019-01-02 13:42] elefeint commented on #1207
The `com.fasterxml.jackson.core:jackson-databind` vulnerabilities will be resolved when we update to spring-boot 2.2.0.BUILD-SNAPSHOT (after [Greenwich release](https://github.com/spring-cloud/spring-cloud-release/milestones)?).

spring-boot 2.2.0 is on jackson databind version 2.9.8.

[2019-01-02 16:01] JamieCressey commented on #1350
Understood. To better match other implementations, should it, or could it,
throw a `IncorrectResultSizeDataAccessException` if the return value is
defined as a singular, or findOneBy is used, in the repository interface
but more than one document is returned from the query?

On Wed, 2 Jan 2019 at 15:26, Chengyuan Zhao <notifications@github.com>
wrote:

[2019-01-02 16:06] ChengyuanZhao commented on #1350
@JamieCressey I think that's a good idea. In fact in the GQL query method (those annotated `@Query`) we do such a check and do throw such an exception. We should add a similar check for this part-tree query method too.

[2019-01-02 22:37] dzou commented on #1305
Based on my testing with the Kotlin sample, it turns out Kotlin users do not need to add any special beans to support object serialization with pub/sub. Its likely that the necessary bean is included through some dep.

I will be updating the Kotlin sample to demo this and close this after.

[2019-01-03 11:09] maros7 opened #1355 "Logback NPE on OpenShift"
While deploying a Spring Boot app that uses GCP Stackdriver logging on an on-premise OpenShift environment I encountered a NPE while the `logback-spring.xml` was being loaded. I was using the config as per your example. It was quite puzzling since it was working when starting the Docker container locally. As you can see the error doesn't tell that much.

[code]

So I created a `CustomerAppender` w

[2019-01-03 14:11] elefeint commented on #1351
Good catch! That's the greedy subscriber problem -- each subscriber connection gets a buffer of 10Mb messages. It is described in more detail in the PubSub client library project (googleapis/google-cloud-java#3152).
We have a MessageSource for synchronous pull in the works in #1321 ; once it gets submitted, it might come in useful if you want to go back to Spring Integration.

[2019-01-03 15:03] meltsufin commented on #1355
Thanks for such a detailed report @maros7!
It just looks like a bug in the Google Cloud Java Logging library. First, not everything that runs in a container runs on GKE. Second, `zoneId.contains("/")` should be guarded against `zoneId` being null.
Is that right, or am I missing something?
Would you mind filing the issue on Google Cloud Java Github as well? Otherwise, we can do it. Thanks!

[2019-01-03 15:41] elefeint opened #1356 "Check compatibility with Java 11 client apps"
Ensure compliance with Greenwhich release "Compatible with Spring Boot 2.1.0, Framework 5.1 and Java 11." claim.

[2019-01-03 15:52] #1305 closed

[2019-01-03 16:21] maros7 commented on #1355
@meltsufin No, that’s how I see it as well and I can file the issue.

[2019-01-03 16:42] mikebocian commented on #1351
Ok then! Good to know that this was not our bug. I would be happy to go back to Spring Integration, but knowing the realities of software development, I bet that we will stay with the PubSubTemplate.

[2019-01-03 17:31] meltsufin commented on #1355
Thanks! Please link to it here, when you have it.

[2019-01-03 21:51] kbhattac opened #1358 "Version conflicts with Lognet grpc-spring-boot-starter"
I need to use `@GRpcService` annotation in my application, which also uses `spring-cloud-gcp-starter-trace` `Greenwich.M3` release. When I add the LogNet dependency below, I get the following conflicts when I compile my app:
[code]
`
Could not resolve version conflict among [org.springframework.cloud:spring-cloud-gcp-starter-trace:jar:1.1.0.M3 -> io.zipkin.gcp:zipkin-sender-stackdriver:jar:0.8.3 -

[2019-01-04 15:20] meltsufin commented on #1358
The conflict seems to be around the version of `grpc-core`, which is being brought in by lognet through the `grpc-netty` dependency.
Try excluding it:
[code]

Also, you should be able to use `Greenwhich.RC2` at this point.

Please let us know if this works. Thanks!

[2019-01-04 22:12] kbhattac commented on #1358
Yes it does!
I fixed it by adding it to dependency management:
[code]
https://github.com/kbhattac/CoolRetailer/blob/d3b640ad3bba57c998506658758bcd64960b41f7/src/dataservice/pom.xml#L100

Thanks

[2019-01-04 22:12] #1358 closed

[2019-01-05 01:14] pflima92 commented on #1289
Hi lads, I want to follow this thread.

Currently, I'm working on a project that demands exactly what was described by @ChengyuanZhao.

Let's start, the GCP introduces the namespace as a way to support Multitenancy (https://cloud.google.com/datastore/docs/concepts/multitenancy) and I believe that isn't the matter to be discussed here, but possibilities, scenarios, and paths that we can go to suppo

[2019-01-07 13:03] elefeint commented on #1351
That's fair. I'll close this issue; glad that synchronous pull works well for you.

[2019-01-07 13:03] #1351 closed

[2019-01-07 18:49] #1191 closed

[2019-01-07 19:41] katholen commented on #1310
We are trying to enable the same thing on our end. I agree with @mradzevicius that it would be ideal if this was configurable via the core implementation. We will try out your solution and let you know if it works.

[2019-01-07 20:59] elefeint commented on #1356
All samples work when  compiled/run with Java11, while relying on RC2 released starters.

The only issue was that two samples (`spring-cloud-gcp-integration-pubsub-sample-sender` and `spring-cloud-gcp-vision-api-sample`) had runtime warning -- a known issue protocolbuffers/protobuf#3781 that has just been fixed this week!
[code]

[2019-01-07 20:59] #1356 closed

[2019-01-07 21:48] meltsufin commented on #1289
@pflima92 Thanks for the input! If you have any code to share, we would be interested in seeing it.
We support Datastore namespaces as far as the [Datastore client library](https://github.com/googleapis/google-cloud-java/tree/master/google-cloud-clients/google-cloud-datastore) that we build on supports it. AFAIK, you can only set the namespace upon creation of the `Datastore` object. So, as long a

[2019-01-08 06:59] mradzevicius commented on #1310
@meltsufin sorry for radio silence. I think it could work with `includeMDC`, however as this field is part of supported fields and how stackdriver functinos moreover its static I think it would be easier to have it supported via library (ie. property configuration), instead of the user having to set the `serviceContext` field manually via mdc.

[2019-01-08 14:58] meltsufin commented on #1310
@mradzevicius Thanks for the update. Can you explain more on how we could make this work with Logback, or would we need a different logging library?

[2019-01-08 21:17] elefeint opened #1365 "Create a polled stream binder consumer using synchronous pull"
* Keep the current async listening consumer as is
* Provide a PollableConsumerBinder.bindPollableConsumer() implementation for PubSubMessageSource introduced in #1321 ([docs](http://cloud.spring.io/spring-cloud-static/spring-cloud-stream/2.1.0.RELEASE/single/spring-cloud-stream.html#spring-cloud-streams-overview-using-polled-consumers))

Based on [discussion](https://github.com/spring-cloud/spring

[2019-01-10 21:12] meltsufin opened #1371 "Demonstrate use of roles in the IAP sample app"
Currently, the IAP sample shows how to restrict access to certain URLs based on whether the user is authenticated using IAP. However, in practice, this is not very useful, because IAP will not even let the user access the application if they are not authenticated.

It would be more interesting to show how to extract or assign a role to the user and allow only users with specific roles to access ce

[2019-01-11 16:59] shiraji opened #1373 "spring-cloud-gcp-starter-pubsub doesn't work with spring-cloud-gcp-starter-trace version higher than 1.0.0.RC"
Hi, there

We have been struggling with spring-cloud-gcp-starter-trace.

If we include the dependency of spring-cloud-gcp-starter-trace version higher than 1.0.0.RC, the app does not receive any Cloud Pub/Sub messages.

Here is the minimum sample project that reproduce this problem. https://github.com/shiraji/demo-pubsub

This project does not work with Cloud Pub/Sub in version 1.1.0.RC2. However,

[2019-01-11 17:12] meltsufin commented on #1373
Hi @shiraji,
Thanks for reporting the issue and providing the repro project. We will take a look.
In the meantime, we've recently updated to the latest versions of the Google Cloud Java libraries. Have you tried the same with the latest `1.1.0.BUILD-SNAPSHOT`? I wonder if it might contain a fix.

[2019-01-11 17:13] shiraji commented on #1373
I thought 1.1.0.RC2 is highest. Let me try.

[2019-01-11 18:16] meltsufin commented on #1373
It's in snapshot repo. https://repo.spring.io/snapshot/org/springframework/cloud/spring-cloud-gcp/

[2019-01-11 20:57] dzou commented on #1373
Hi shiraji,

The problem appears to be an issue with our dependency on grpc; the trace starter pulls in a different version which appears to cause the issue.

As a temporary workaround, you can modify your gradle file by adding an `exclude group` block to the trace starter dependency in your gradle file. With this modification, I was able to successfully send/receive messages through the sample ap

[2019-01-11 21:19] dzou opened #1376 "Investigate if there is a problem with grpc dependency management"
Recently encountered #1373 in which a problem occurred with the trace-starter included a different grpc version from rest of the project. This caused pub/sub messages to not be received by the end user.

Investigate if this is a problem with version 1.1.0, where the grpc version is coming from, and whether a solution is necessary.

[2019-01-11 22:20] meltsufin commented on #1373
It looks like the grpc `1.17.0` version is coming from `io.zipkin.gcp:zipkin-sender-stackdriver:0.9.0`.
I doesn't take precedence with Maven, but does with Gradle for some reason.

[2019-01-11 23:13] vineela-gampa opened #1377 "Spanner : Trasnactions + updates to table"
Hi @ChengyuanZhao

We have a usecase where we have to read the data and update values on the row.
1)Can you confirm what kind of locking is done for Read transactions vs update transactions ?
2)Is it possibel to specify for an update to fail if the last updated value on teh current row to update has elapsed teh value the user can provider. It falls in sync with versioning column on db if we use

[2019-01-11 23:13] vineela-gampa commented on #1377
@meltsufin  @ChengyuanZhao

[2019-01-12 02:38] suztomo commented on #1373
@shiraji I ran your demo-pubsub project and got following error. Would you confirm this is the problem you observed?

[code]

[2019-01-12 02:47] shiraji commented on #1373
Hi, guys

Unfortunately, I observed the same behavior with 1.1.0.BUILD-SNAPSHOT.

@dzou 's idea which adding `exclude group: 'io.grpc'` is the only way to fix this problem at this moment.

@suztomo I'm sorry but I didn't touch test cases. This test came from Spring Initializr.

[2019-01-12 03:35] meltsufin commented on #1377
@vineela-gampa Have you seen [this](https://cloud.google.com/spanner/docs/transactions) documentation? Does it answer your question?

[2019-01-13 17:30] vineela-gampa commented on #1377
@meltsufin Yes it does
To retierate

For read only transactions there are no locks. Its purely used when we need to query data at the same timestamp.

For read-write transactions it does hold lock. For reads it holds shared locks  and upgrades to exclusive lock during write.

Is it possibel to specify for an update to fail if the last updated value on the current row to update has elapsed the valu

[2019-01-14 14:53] meltsufin commented on #1377
@ChengyuanZhao Do you know? It's more of a Spanner product question, I guess. Probably not the best forum to ask.

[2019-01-14 15:43] ChengyuanZhao commented on #1377
@vineela-gampa
For your remaining question 2) you cannot set up some sort of trigger or stored proc to cause a fail or something like that. Instead, in your update transaction you can actually see the live state of that data or versioning column. You will see the newest version of some column even if your update transaction on it started after the start of some other transaction and that other tra

[2019-01-14 17:11] meltsufin commented on #1373
I tried removing Spring Cloud GCP from the picture and just testing using Google Cloud Java Pub/Sub library directly. I'm able to reproduce the issue, when `grpc-netty-shaded` is `1.16.1` and `grpc-protobuf` and `grpc-stub` are `1.17.1`.
[code]

When I use the streaming pull, there is no error message anywhere, but when I use the synchronous pull, I get this:

[code]

[2019-01-14 17:39] meltsufin commented on #1373
Here's the code I used: https://github.com/meltsufin/pubsubgrpctest/tree/master

[2019-01-14 19:32] vineela-gampa commented on #1377
@ChengyuanZhao Do you mean to check manually on our side to first read and verify ? or spanner framework already supports it ?

[2019-01-14 19:37] ChengyuanZhao commented on #1377
@vineela-gampa Currently  we leave it to the user to check the version during the transaction. However, I'm currently working on adding entity listeners/callbacks, which I think could be used to reduce some code repetition. #1283

[2019-01-14 19:39] meltsufin commented on #1373
We figured out that the reason we have two different versions of grpc dependencies in the project is because Google Cloud Java is on GRPC 1.16 and [zipkin-gcp](https://github.com/openzipkin/zipkin-gcp) is on 1.17. So, we're trying to address this problem by excluded grpc deps from zipkin-gcp. See #1379.

[2019-01-14 19:50] dzou commented on #1376
Duplicate of #1373

[2019-01-14 19:50] #1376 closed

[2019-01-14 20:42] meltsufin commented on #1373
Is the issue resolved? @dzou Does the OP's repro case pass now?

[2019-01-14 21:09] dzou commented on #1373
Yes, the repro case now works after the submitted changes.

@meltsufin - what's the recommend course of action for @shiraji now? Should he wait for the new release 1.1.0 to remove the grpc exclusion we suggested?

[2019-01-14 21:14] meltsufin commented on #1373
1.1.0.RELEASE is coming in a few days. I think we can close this issue.

[2019-01-14 21:37] dzou commented on #1373
Ok, marking the issue as resolved now then.

shiraji - Thanks again for reporting the issue. The fix will be in 1.1.0.RELEASE which is coming in a few days; once released, you can use the latest version and can remove that dep exclusion we suggested earlier.

[2019-01-14 21:37] #1373 closed

[2019-01-14 22:57] vineela-gampa opened #1382 "Spanner blob datatype / JSON Datatype"
Hi @ChengyuanZhao @meltsufin  can we use STRING(MAX) to store JSON. If so whats the character limit. Whats the best way to store JSON's in Spanner ?

[2019-01-14 22:58] vineela-gampa commented on #1377
Got it would be helpful.

[2019-01-15 01:35] shiraji commented on #1373
Thanks guys!!!

[2019-01-15 15:36] ChengyuanZhao commented on #1382
@vineela-gampa The limit for any column type (string or bytes) is 10MB. The STRING column type in Spanner is basically a facade for BYTES, as the limit is 10MB of UTF-8 characters (you can even easily cast between the two types in a query as long as the underlying bytes are UTF-8 characters). In that way, if you feel UTF-8 strings are suitable for your JSON storage then the choice between STRING o

[2019-01-22 11:16] nickname110 opened #1389 "Datastore bi-directional relationships cause infinite recursion"
Is there any way to implement OneToMany or ManyToMany relationships in Google DataStore?

[code]

It's not working

[2019-01-22 14:51] meltsufin commented on #1389
There are two ways to model relationships with `@Descendants` and with `@Reference`.
Please see the [reference documentation](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.1.0.RC2/single/spring-cloud-gcp.html#_ancestor_descendant_relationships).

You seem to be trying to use `@Reference`. What is the exact problem in your example? Since the relationship is bi-directional, you migh

[2019-01-22 15:08] nickname110 commented on #1389
I'm trying to:
[code]

And then:
[code]

[2019-01-22 15:19] meltsufin commented on #1389
OK, that a big help! The problem seems to be that the mapping is circular and the recursion of the save becomes infinite. It's definitely something we should address by keeping track of what is already saved while doing the recursion.
For now, I would recommend having the relationship unidirectional.

[2019-01-22 15:59] nickname110 opened #1390 "String type as identity in DataStore is not working correctly"
String type as identity in DataStore is not working correctly.

This is because DatastoreServiceObjectToKeyFactory generate wrong Key!
[code]

[2019-01-22 16:13] meltsufin opened #1391 "Support `org.springframework.data.annotation.Reference` annotation"
Currently we have our own `@Reference` annotation.
We should deprecate our own version and switch to the one in `spring-data-commons`.

[2019-01-22 16:47] dmitry-s commented on #1390
Thanks for reporting the issue!

Datastore only supports allocation for Long ids. We will add a check to verify that String ids are not null on save and will throw an exception otherwise.

[2019-01-22 18:14] #1390 closed

[2019-01-22 18:19] ChengyuanZhao commented on #1283
- [ ] make template publisher-aware
- [ ] events objects
- [ ] default listener implementation
- [ ] sample and refdocs
- [ ] integration test

[2019-01-23 12:02] pflima92 commented on #1289
Hi @meltsufin , of course. I'll merge the latest release on my code and I'll share some inputs on that. But it follows your thoughts, I tried to give that responsibility to the `KeyFactory` object and it's responsible to inject the namespace, although if I not wrong, I'd issue with the dynamic queries, it's related because the core wasn't designed to do what I'm doing at moment. Will be easier to

[2019-01-23 19:14] #1200 closed

[2019-01-23 21:01] #1198 closed

[2019-01-24 01:18] samhalpa commented on #780
Is this still exists in 1.1.0.RELEASE

[2019-01-24 02:25] samhalpa opened #1401 "spring-cloud-gcp-starter-config 1.1.0.RELEASE is missing"
Is spring-cloud-gcp-starter-config 1.1.0.RELEASE is available in spring-cloud-gcp-dependencies-1.1.0.RELEASE in maven central. I guess it is not.
See: [spring-cloud-gcp-dependencies](https://mvnrepository.com/artifact/org.springframework.cloud/spring-cloud-gcp-dependencies/1.1.0.RELEASE)

and

[spring-cloud-gcp-starter-config](https://mvnrepository.com/artifact/org.springframework.cloud/spring-clo

[2019-01-24 14:47] elefeint commented on #1401
You are correct. Config starter is not in the GA release because the underlying [Runtime Configuration API ](https://cloud.google.com/deployment-manager/runtime-configurator/) is still technically in beta.

[2019-01-24 16:12] #1195 closed

[2019-01-24 16:25] meltsufin commented on #780
@dmitry-s Can you please check?

[2019-01-24 16:37] #1401 closed

[2019-01-24 17:08] #1247 closed

[2019-01-24 19:04] #1391 closed

[2019-01-28 16:08] #1318 closed

[2019-01-28 17:11] meltsufin opened #1408 "Pub/Sub channel adapter only includes original message for AckMode.Manual"
However, access to the original message could be useful in other ack modes as well.

[2019-01-28 17:42] #1408 closed

[2019-01-30 14:54] stevebakh opened #1418 "Unable to exclude a list of embedded entities from indexes using the `@Unindexed` annotation"
When persisting an entity with a field containing a list of embedded entities, it is not possible to apply the `@Unindexed` annotation. When doing so, the following exception is thrown:

[code]

Example entity:

[code]

I think it would be useful to have the library detect when the annotation is applied to a list value and apply the exclude from indexes property as appropriate to each of the list

[2019-01-30 14:58] meltsufin commented on #1418
@ChengyuanZhao @dmitry-s PTAL

[2019-01-30 18:36] dzou commented on #1253
I will close this issue for now as we were unable to reproduce the issue. However, if the problem still remains please feel free to reopen and provide additional details.

[2019-01-30 18:36] #1253 closed

[2019-01-30 18:37] dzou commented on #1299
This is completed; codelab is done as well.

[2019-01-30 18:37] #1299 closed

[2019-01-31 16:17] #1056 closed

[2019-02-01 11:50] nsrags opened #1423 "Spring boot actuator health end point integration for Datastore - spring-cloud-gcp-data-datastore"
We have inbuilt support from Spring boot actuator to know health of databases for  Mongo ,Casandra,Redis,Liquibase etc .

Can you enable health indicator for GCP data store in  Spring boot actuator  project ?

Project: spring-cloud-gcp-data-datastore
Reference : https://github.com/spring-projects/spring-boot/tree/master/spring-boot-project/spring-boot-actuator
Reference Classes of Spring Boot Actu

[2019-02-01 12:19] nsrags opened #1424 "Async Non IO blocking calls spring-cloud-gcp-data-datastore"
We enabled Objectify to connect Data store currently. We have plans to migrate spring-cloud-gcp-data-datastore  in the future.

Is there any way to call GCP data store Asynchronously(Non IO blocking calls)  spring-cloud-gcp-data-datastore ?  If no,Can you provide

Reference : Objectify implementation
https://github.com/objectify/objectify/wiki/BasicOperations
ofy().save().entity(thing1);         /

[2019-02-01 16:18] meltsufin commented on #1423
@nsrags Thanks for the feature suggestion. Looking at the [Actuator docs](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#_writing_custom_healthindicators), it looks like it's just a matter of implementing the `HealthIndicator` for Cloud Datastore and registering the bean in our Datastore auto-configuration `GcpDatastoreAutoConfiguration`.
If you have some code already, we wo

[2019-02-01 16:32] meltsufin commented on #1424
The Cloud Datastore Client library on which our Spring Data Cloud Datastore integration is built does not seem to support asynchronous operations. See: https://github.com/googleapis/google-cloud-java/issues/493.
Objectify is also built on top of the same library. So, is `ofy().save().entity(thing1)` really asynchronous? @ChengyuanZhao I think you looked into this and it didn't look like it was tru

[2019-02-01 16:40] ChengyuanZhao commented on #1424
I took a look into Objectify's implementation and for example the write-operations ultimately are described in Objecty's  javadoc in `AsyncDatastoreReaderWriterImpl` as a preparation for when the underlying client lib gives real async support. Looking at the code that looks like what is happening (the write is synchronous but given in the facade of a `Future`).

[2019-02-04 09:17] nsrags commented on #1423
@meltsufin
 We tried pull tried pull request , couldn't succeed. Please find the attached code for Data store actuator.
[Cloud_Datastore_Actuator.zip](https://github.com/spring-cloud/spring-cloud-gcp/files/2827194/Cloud_Datastore_Actuator.zip)

[2019-02-04 16:11] meltsufin commented on #1423
Hi @nsrags, have you tried creating a fork and doing a pull request from there?
See: https://help.github.com/articles/creating-a-pull-request-from-a-fork/

[2019-02-04 16:13] ChengyuanZhao commented on #1418
Thank you for this suggestion! We appreciate this and will look into potentially implementing something to make that annotation's behavior on embedded entities more intuitive.

[2019-02-04 16:50] dmitry-s opened #1427 "Datastore template save methods don't need to return entities"
Currently `save` and `saveAll` methods return exactly the same entities that are passed as arguments. This might be confusing for users. It seems that the methods should not return anything (for clarity).

[2019-02-04 16:57] meltsufin commented on #1427
...Or they can return the Datastore `Entity`, if we think it's useful.

[2019-02-04 17:03] #1389 closed

[2019-02-04 19:33] YashchenkoN opened #1430 "Datastore emulator support"
Please add a possibility to set emulator host for datastore (as it's implemented for PubSub). Also, if emulator host is set, instantiate NoCredentialsProvider instead of DefaultCredentialsProvider

[2019-02-04 19:59] elefeint opened #1432 "Allow customization of Spring Integration objects used in Spring Cloud Stream"
We don't seem to give Spring Cloud Stream client apps much ability to configure `PubSubInboundChannelAdapter` or `PubSubMessageSource`, since `PubSubMessageChannelBinder` directly instantiates both in its own code.

Both `PubSubInboundChannelAdapter`  and `PubSubMessageSource` would benefit from ability to customize `headerMapper` and `payloadType`.

 `PubSubMessageSource` also needs to allow cust

[2019-02-04 20:05] artembilan commented on #1432
Note: the `payloadType` for Spring Cloud Stream must always be `byte[]`. The Spring Cloud Stream is responsible for proper conversion from `byte[]`.

The `headerMapper` cannot be configured via properties since it has to be a bean.
We could provide some default one and allow end-user to override it with his/her own preferences. But again: do we really need to do that, unless just map everything we

[2019-02-04 21:04] elefeint commented on #1432
Ah, so only `maxFetchSize` is reasonable. That should be easy then!

[2019-02-05 16:06] elefeint commented on #1365
Implemented in #1419.

[2019-02-05 16:06] #1365 closed

[2019-02-05 16:35] meltsufin opened #1436 "Clarify naming conventions for Maven artifacts"
Many developers who are getting started with the project seem to get confused by similarly named Maven artifacts. For example, `spring-cloud-gcp-pubsub` and `spring-cloud-gcp-starter-pubsub`. We should create a list of all published Maven artifacts and what they are in our reference documentation.

[2019-02-05 16:40] artembilan commented on #1436
For some source of truth https://docs.spring.io/spring-boot/docs/2.1.2.RELEASE/reference/htmlsingle/#using-boot-starter

[2019-02-05 16:40] #1377 closed

[2019-02-05 16:43] meltsufin opened #1437 "Add missing code snippets in reference documentation"
Many developers prefer code snippets over reading documentation prose. Although, our reference documentation includes a lot of code snippets, many sections only have the prose describing classes and methods, but no examples.

A few cases identified so far:
- [ ] Subscribing to a subscription
- [ ] Pulling messages from a subscription
- [ ] Tracing section
- [ ] Cloud Foundry
- [ ] Kotlin Support

[2019-02-05 16:46] meltsufin opened #1438 "Add Getting Started sections in reference documentation"
Every major section of the reference documentation should start with a quick "Getting Started" tutorial.

[2019-02-05 16:49] meltsufin opened #1439 "Publish Javadocs and link to them from reference docuementation"

[2019-02-05 16:51] meltsufin opened #1440 "Converting Pub/Sub messages into Strings is more complex than expected"
Add an example in refdoc on how to convert the the bytes obtained from `PubsubMessage` into a `String`.

[2019-02-05 16:57] meltsufin opened #1441 "Clarify which versions are in which Maven repository"
Some developers are confused regarding which versions of the artifacts are in which Maven repositories. We should clarify it in the reference documentation.

[2019-02-05 17:01] meltsufin opened #1442 "Add a list of external examples and tutorials in reference documentation"
External tutorials and examples are of varying quality and some are outdated. We should have a section in the refdoc pointing users to high quality external tutorials, such as the Josh Long's [8-part series](https://spring.io/blog/2018/08/20/bootiful-gcp-getting-started-with-spring-cloud-for-google-cloud-platform-1-8).

[2019-02-05 23:01] dzou commented on #1430
Hi, just created #1445 to solve this problem.

Regarding the CredentialsProvider fix, this may not be possible. I made a few attempts:
- I tried to provide `NoCredentialsProvider` when the emulator is used, however it doesn't appear to quite work. You will get a NullPointerException when the Datastore client object is being created; it seems like the factory class actually attempts to use the cred

[2019-02-06 08:17] YashchenkoN commented on #1430
@dzou as of now, I use the following custom configuration along with Datastore emulator:

[code]
Works like a charm.

I think you might use it as well

[2019-02-06 16:16] dzou commented on #1430
Nice one, that works for me. OK, I would be open to including this in our configuration.

I will check in with our team to confirm the approach.

@meltsufin, @artembilan: What are your thoughts about including a NoCredentials provider bean if an emulator is installed? The main question here is that if we override the CredentialsProvider bean, this will affect usage of entire Spring Cloud GCP libra

[2019-02-06 16:20] artembilan commented on #1430
Well, we are here in the opinionated auto-configuration and having `@ConditionalOnBean` we always leave a room for end-users to override our `NoCredentials` for his/own purpose in the additional `@Configuration` for the target test.
On the other hand we may introduce a configuration option like `spring.cloud.gcp.emulator.no-credentials=true/false`.

[2019-02-06 16:43] connor-mcshane opened #1447 "Documentation on how to deploy this to App Engine"
Hi All,

I have been trying to deploy this to App Engine but I am not sure what are the correct build steps to deploy it to GCP.

Does anyone know and would be willing to add some info to the README on how to?

*****edit****
More specifically, it would be beneficial to know the steps on deploying one of the samples to GCP from this repository. E.g cloning the repository, changing application prope

[2019-02-06 17:07] dzou commented on #1447
Hi Connor,

Deploying a Spring Boot Application to App Engine is most easily done with the [App Engine Maven plugin](https://cloud.google.com/appengine/docs/flexible/java/using-maven). You can try following the [codelab here](https://codelabs.developers.google.com/codelabs/cloud-app-engine-springboot/index.html?index=..%2F..index#0).

[2019-02-06 18:52] stevenschlansker opened #1448 "Consider making `logging` a separate artifact"
Currently, if you want to use GCP Stackdriver logging, you must include the whole `autoconfigure` artifact due to https://github.com/spring-cloud/spring-cloud-gcp/pull/346.
It would be nice to be able to use the feature independently, and manually configured.  Forcing users to use autoconfigure and get all the features together is unfortunate.

[2019-02-06 19:12] meltsufin commented on #1430
In `PubSubAutoConfiguration` constructor, we have this logic:
[code]
We should do the same for Datastore. It will not override the global credentials provider.

[2019-02-06 19:18] meltsufin commented on #1448
Are you using API or JSON-based logging?
You do have the option of disabling the auto-configuration with `spring.cloud.gcp.logging.enabled=false`.
In any case, I think it's a valid suggestion.

[2019-02-06 19:36] meltsufin commented on #1447
I think it's actually a fair point that we should have some documentation in our refdoc on how to deploy to GCP, or at least link to the docs that explain it.

[2019-02-06 19:38] #780 closed

[2019-02-06 19:38] #1118 closed

[2019-02-06 19:48] dzou commented on #1430
OK, sounds good. I have revised my PR to adopt this style.

[2019-02-06 20:17] #1430 closed

[2019-02-06 20:59] stevenschlansker commented on #1448
I'm trying to do JSON based logging.  I was surprised that the out of the box Google libraries did not have a functioning setup -- the resource labels are not all filled in appropriately on GKE -- so I've been evaluating this code instead.

[2019-02-06 21:30] dzou commented on #1447
@meltsufin - Any suggestions for the best place to add the information? I am considering putting it in *Getting Started* section and modifying the doc so it answers how to get started more generally (what dependencies are needed, learning how to use it, deploying, etc.)

[2019-02-06 21:32] dzou commented on #1436
I have a good idea where to put this; I am thinking of revamping our [Getting Started](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.1.0.RELEASE/single/spring-cloud-gcp.html#_getting_started) section to be more comprehensive and useful.

[2019-02-06 22:04] meltsufin commented on #1436
@dzou Sounds good!

[2019-02-06 22:05] meltsufin commented on #1447
I think it could fit there.

[2019-02-07 08:26] dsyer commented on #1448
Autoconfiguration is always optional - you don't have to use it. It's a pretty fine balance, but we prefer usually to keep features together if they are related, even if they are optional. The discussion about programming models not involving autoconfiguration should take place elsewhere really (like with the Spring Boot team), but I'm sure it would be interesting to hear your analysis beyond the

[2019-02-07 10:42] connor-mcshane commented on #1447
Hi, thanks for you replies. Where I am especially getting stuck is with the parent POMs etc.

So what I have been trying to do is modify the spring-cloud-gcp-data-spanner-sample and deploy it to an app engine flex instance.

When I try to run  mvn appengine:deploy, I get a failure with the checkstyle plugin.

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-checkstyle-plugin:3.0.0:che

[2019-02-07 12:52] connor-mcshane commented on #1447
It seems to be a huge step from the code lab to being able to deploy one of  the sample projects. I am mostly getting confused with the nested Parent POM.xml file references and the dependencies.

[2019-02-07 12:55] nsrags commented on #1423
I am not able format code according to  google check style ( eclipse-java-google-style.xml ) . I tried to format code but couldn't format with in google check style standards. Can you help ?

spring-cloud-gcp\spring-cloud-gcp-data-datastore\src\main\java\org\springframework\cloud\gcp\data\datastore\core\mapping\DatastoreDataException.java:29: Line has leading space characters; indentation should b

[2019-02-07 15:06] meltsufin commented on #1312
@elefeint per conversation with @artembilan, the goal is to leave our source level and compile target at Java 8, but compile with Java 11 JDK. Is this what you were trying to do?

[2019-02-07 15:11] elefeint commented on #1312
No, I was updating source/target to 11, too. Just compiling with Java 11 is simpler.

[2019-02-07 15:19] meltsufin commented on #1312
Ok, but apparently that doesn't work either??

[2019-02-07 15:22] meltsufin commented on #1447
So, yes, the samples in the project are tightly coupled to the project itself and we run checks on the code like checkstyle. The samples are designed more for reading and copying the relevant bits to your own Spring Boot project. You can create your own Spring Boot project using http://start.spring.io and select "GCP Support". For deploying to App Engine, check out this codelab: https://codelabs.d

[2019-02-07 15:26] meltsufin commented on #1423
This project uses Spring code style. Checkout: https://github.com/spring-cloud/spring-cloud-gcp/blob/master/CONTRIBUTING.adoc.

[2019-02-07 16:02] elefeint commented on #1312
Right; because of javac-with-errorprone. Behind that, there is a failing test.

I'll push a fix.

[2019-02-07 16:11] connor-mcshane commented on #1447
Hi @meltsufin , thanks for your reply. Okay yes, my end goal is to have an individual project, with one pom.xml file that has the capabilities of one of the sample projects.

Would it be better to try one of the starter projects? They do still have a parent reference to another pom.xml.

Or

Try and create a project from scratch using the Spring initializer and adding dependencies to the pom.xml a

[2019-02-07 17:14] artembilan commented on #1312
Fixed via: https://github.com/spring-cloud/spring-cloud-gcp/commit/07529ad76f056bd20b1007e2cdf666f6e31d1fee

[2019-02-07 17:14] #1312 closed

[2019-02-07 17:27] elefeint opened #1452 "Bring back errorprone"
I removed errorprone complier in #1451 to unblock Java 11 CI build (#1312).

Now, to bring it back as a plugin, per google/error-prone#860.

[2019-02-07 19:42] ChengyuanZhao commented on #1113
We just implemented this for Spanner so this should be a walk in the park.

[2019-02-07 21:38] ChengyuanZhao opened #1456 "Look into supporting CreatedBy and CreatedDate audit in Spanner"
There needs to be some work creating a custom IsNewStrategy for Spanner.

To detect if an entity is just-created:
- a "version" column could be our server-side commit-timestamp column.
- However, unless we provide auto-generated ID values (which is a separate issue), we won't be able to see a "null" key because we simply don't allow it.

[2019-02-08 07:06] nsrags commented on #1423
@meltsufin
This the pull request. Can your review ?
https://github.com/spring-cloud/spring-cloud-gcp/pull/1457

[2019-02-08 08:04] kdabir opened #1458 "Using Cloud DataStore on AppEngine Standard"
Using `spring-cloud-gcp-data-datastore` in a Spring Boot based AppEngine Standard project requires us to specify `project-id` and credentials file, which is redundant for AppEngine Standard environment.

Further when developing locally, I really want to connect to local datastore emulator (that comes with appengine-sdk java8) rather than having to connect to DataStore over network.

This issue is

[2019-02-08 14:52] meltsufin commented on #1456
As noted by Mark, please use Mongo implementation as a reference.

[2019-02-08 15:03] elefeint commented on #1452
Fixed in #1453.

[2019-02-08 15:03] #1452 closed

[2019-02-08 15:39] #1283 closed

[2019-02-08 15:54] ChengyuanZhao commented on #1458
@kdabir The module is intended for Cloud Datastore (the stand-alone service) instead of the legacy app-engine Datastore.
We actually recently implemented emulator support: https://github.com/spring-cloud/spring-cloud-gcp/pull/1445

[2019-02-08 15:57] ChengyuanZhao commented on #1235
After discussing with the Spring Data team, the fact that we implemented the Interleaved feature according to spanner's natural way of handling keys means we can rather easily implement simple lazy retrieval using simple proxies.

[2019-02-08 18:09] stevenschlansker commented on #1448
I don't want to get dragged into a religious war 😸 just want to make sure features work independently as well as together.  For what it's worth, we use Jackson over Gson -- so I ended up just borrowing the code and adapting it directly to my needs.  So if nobody else wants it split out, I consider my needs fulfilled for the moment (although we'd gladly ditch our copy if possible down the road).

[2019-02-08 21:40] meltsufin opened #1462 "Create a sample app that exposes a GRPC service"

[2019-02-08 21:53] #1235 closed

[2019-02-08 22:59] dzou commented on #1447
Hi @connor-mcshane, I ended up rewriting Getting Started section of our docs (with PR #1463) to help with clarifying this. This will beefs up information about project dependency setup and also references tutorials for deploying Spring applications to GKE and AppEngine. Hopefully starting up a new project with Spring Cloud GCP is clearer with these docs. Let me know if this helps!

[2019-02-09 07:13] dsyer commented on #1448
There’s nothing religious about autoconfiguration, I promise you. It has always been optional by design, even if it is what most people use in practice. There are a couple of active efforts looking for more convenient “a la carte” programming models even (see this recent [blog](https://spring.io/blog/2019/01/21/manual-bean-definitions-in-spring-boot) and the [Spring Fu](https://github.com/spring-p

[2019-02-11 16:20] davinkevin commented on #766
Following your discussion, I thought doing this will allow to have access in the logger part, in the `MDC` to the value `Foo`. But in my case, it only has those coming from Spring-Boot-GCP.

[code]

![image](https://user-images.githubusercontent.com/1970922/52576740-012c7500-2e21-11e9-8664-1edc6fdca50f.png)

This endpoint was used from [here](https://github.com/spring-cloud/spring-cloud-gcp/blob/m

[2019-02-11 17:06] dzou commented on #1458
Yes indeed, if you build off our latest snapshot (1.2.0), you can connect to emulator by adding the `spring.cloud.gcp.datastore.emulator-host` property to your `application.properties` file - i.e. `spring.cloud.gcp.datastore.emulator-host=localhost:8081`.

Our snapshots are published to the Spring Snapshots repo: https://repo.spring.io/snapshot/org/springframework/cloud/spring-cloud-gcp/1.2.0.BUIL

[2019-02-11 21:24] #1436 closed

[2019-02-13 14:16] elefeint opened #1465 "Investigate support for Pub/Sub snapshot and replay"
Pubsub snapshot/replay, ack/nack-to-snapshot are now in GA.

Look into what, if anything, should be provided as a _spring-cloud-gcp_ API.

[2019-02-13 15:04] meltsufin commented on #766
@davinkevin This sounds more like a general WebFlux + Logback MDC question, or do you think Spring Cloud GCP is interfering somehow with the context transfer? You might want to ask this question in the larger Spring Boot community.

[2019-02-13 15:10] davinkevin commented on #766
Yeah, you are right, but I thought this discussion leads to a solution to my problem. The spring GCP part didn't interfere in my question.

I will try to find a place to ask this 😉but I thinks this a very wide subject not already handle in the `reactive` world, in Java...

[2019-02-15 16:57] #1441 closed

[2019-02-15 22:35] elefeint opened #1468 "Allow multiple allowable IAP audience claims"
Because it is not possible to know the intent for a single application being accessed from multiple backend services, autoconfiguring audience per #1301 should not be done.
Instead, allow specifying multiple (comma-separated?) valid "aud" strings in application configuration. Currently only a single correct "aud" value is allowed.

Example of different intent: a hosted content management system ac

[2019-02-15 22:36] elefeint commented on #1301
Wont-fix; see #1468 for explanation.

[2019-02-15 22:36] #1301 closed

[2019-02-17 09:02] eugenekup commented on #1424
The GCP Datastore does support async calls (albeit not in the same fashion as e.g. MongoDB driver does) and it is possible to fire multiple async requests and then block on the .get() method later on when you need it: https://cloud.google.com/appengine/docs/standard/java/datastore/async

This is also a recommended way of using Datastore:

From [Best Practices](url=https://cloud.google.com/datastor

[2019-02-17 20:39] #1447 closed

[2019-02-19 00:47] ChengyuanZhao commented on #1424
@eugenekup We are using the Cloud Datastore API, not the Appengine Datastore API.

[2019-02-20 02:26] adeshmukh-quizlet opened #1470 "Unable to read rows with null fields: "NullPointerException: Column ... contains NULL value""
I have a field mapped to nullable column in my entity class (using Kotlin).
[code]

_(I am aware that the `nullable = true` only applies to schema generation after reading https://github.com/spring-cloud/spring-cloud-gcp/issues/1078)_

I am able to save records with null values for this field. However, when I attempt to query the spanner table, I encounter an NPE:
[code]

How do I go about reading

[2019-02-20 02:32] adeshmukh-quizlet commented on #1470
I should also point out that my entity class has 2 constructors, one that takes all the properties and another that only takes the "required" properties.

[2019-02-20 14:10] GerroDen opened #1471 "Getting a single entry findOneBy... / findFirstBy... results in DatastoreDataException"
Hello,

I want to load a single entry by a repository like this:

[code]

But a call of this method leads to this exception and stacktrace:
[code]

Neither does `findOneBy...` nor result type `Optional<User>` works.
Isn't that the usual way to load a single entry in JPA?

[2019-02-20 14:58] meltsufin commented on #1470
@adeshmukh-quizlet Thanks for the issue submission. We'll take a look at it shortly.
@ChengyuanZhao PTAL.

[2019-02-20 15:14] meltsufin commented on #1471
@ChengyuanZhao @dmitry-s PTAL.

[2019-02-20 15:18] ChengyuanZhao commented on #1470
@adeshmukh-quizlet thanks much for this report! investigating right now.

[2019-02-20 15:44] ChengyuanZhao commented on #1470
@adeshmukh-quizlet  I'm unable to reproduce the problem in Java (actually we have cover this NULL write -then -read usage in SpannerRepositoryIntegrationTests lines 195 and 196).

I'm unfamiliar with Kotlin; would you be able to set some breakpoints and help me debug?
In the class `ConverterAwareMappingSpannerEntityReader` there is a method  `shouldSkipProperty` that checks whether that specific f

[2019-02-20 15:47] dmitry-s commented on #1471
I was able to reproduce the issue and working on fix.

[2019-02-20 15:51] ChengyuanZhao commented on #1471
Sounds like this would cover this issue as well:
https://github.com/spring-cloud/spring-cloud-gcp/issues/1350

That was also a request to support single-item return type outside of lists.

[2019-02-20 16:09] GerroDen commented on #1471
yes, #1350 is the practically the same issue with a different description :)

[2019-02-20 18:45] adeshmukh-quizlet commented on #1470
@ChengyuanZhao Thanks for your prompt attention to this issue. Here's a screenshot of the debugging attempt. The breakpoint is at one of the calls in the NPE stacktrace. I note the following:
1. The `instantiator` used here is `KotlinClassGeneratingEntityInstantiator`.
2. The NPE happens before the `shouldSkipProperty(...)` check is attempted (at line 103 in the screenshot).
<img width="1641" alt=

[2019-02-20 19:32] adeshmukh-quizlet commented on #1470
Further debugging led me to the **spring-data-commons** library which instantiates the entity class. The Kotlin implementation looks for a constructor with `@PreferredConstructor` to instantiate the entity instance (Ref: [spring-data-commons:PreferredConstructorDiscoverer.java](https://github.com/spring-projects/spring-data-commons/blob/d12801a7b0fe/src/main/java/org/springframework/data/mapping/m

[2019-02-20 20:04] ChengyuanZhao commented on #1470
@adeshmukh-quizlet ah very interesting! thank you for these clues.

I'm still trying to make the problem come up here, but can I ask you to try a small little fix to see if it resolves your situation ?  (without using the `PreferredConstructor` annotation solution).

I think I know the cause:  in `StructPropertyValueProvider`, there is a single public function `getPropertyValue`. the first thing t

[2019-02-20 20:04] adeshmukh-quizlet commented on #1470
Ok, so I think the root cause can be addressed in `StructAccessor.java`. The `singleItemReadMethodMappingIntCol` map registers the same function for primitive as well as wrapper types and that function always checks for non-null. I think it would be more appropriate to check for non-null only if the column type is primitive and allow nulls for the wrapper types.

[2019-02-20 20:08] ChengyuanZhao commented on #1470
@adeshmukh-quizlet That's a good observation , however the getter-functions on Struct only return the primitive types and always check for non-null (which is why I added the `isNull` method in StructAccessor). I think what was missing was a call to isNull in `StructPropertyValueProvider` as I describe in the previous post. What was being overlooked was Spring Data's constructor/instantiators that

[2019-02-20 20:15] adeshmukh-quizlet commented on #1470
Can the function return a non-primitive value instead? Because I observe that `Object getSingleValue(String colName)` returns a wrapper type anyway.

[2019-02-20 20:23] ChengyuanZhao commented on #1470
Unfortunately those column-getter functions are in the client lib, which is a different repo that is set in stone from the perspective of this one.

[2019-02-20 20:35] adeshmukh-quizlet commented on #1470
Ah, yeah - I see it now. That is delegated to `google-cloud-spanner` API. Your original suggestion makes sense then, to short-circuit the call by checking for null value earlier.

[2019-02-20 20:52] ChengyuanZhao commented on #1470
Making a PR now!

[2019-02-20 21:13] #1470 closed

[2019-02-21 09:21] damjan-gjurovski opened #1474 "SingleUse reads causes a session leak"
Using the `findById` method of the spring data spanner project causes the app to block after the method has been called the same time as the maximum number of spanner sessions. Upon further investigations, it looks like the problem is in the `org.springframework.cloud.gcp.data.spanner.core.SpannerTemplate`,  where a session is opened on line 414 and another session is opened on line 417. Further m

[2019-02-21 09:26] damjan-gjurovski commented on #1474
I just took a look at the code on master and, without testing it, it seems that the problem still persists (line 445-450)

[2019-02-21 11:18] sergeymeshkov opened #1475 "Inheritance hierarchy for a single kind"
Is it possible to support inheritance strategy for a single kind which containing entities for two or more different classes in an inheritance hierarchy?

For example, we have types:
[code]
I would like to get information about all the shapes which was saved.

[code]

Right now I receive a collection with 2 elements of 'Shape' type. Is it possible to add mechanisms, for example like [JPA discrimin

[2019-02-21 12:40] ChengyuanZhao commented on #1474
@damjan-gjurovski thank you for this issue! looking into it now

[2019-02-21 13:22] ChengyuanZhao commented on #1475
If my reading of the JPA discriminators feature is correct this means:
- entities of all 3 types (shape, polygon, circle) are stored in the SAME table
- entities of the 3 types are distinguished by a "DTYPE" column that is invisible to the user, but tells Spring Data which java type it should correspond to

I think this would be a pretty deep change to the module that touches many many parts.

Fur

[2019-02-21 14:46] meltsufin commented on #1475
@sergeymeshkov Can you just use a separate entity and repository for each type? You should still be able to map all of them to the same kind.

[2019-02-21 16:15] #1474 closed

[2019-02-21 17:30] ChengyuanZhao commented on #1475
@meltsufin I'm not sure that would work as expected  because you may be retrieving rows for other types and you wouldn't be able to tell. (especially if using the count() or findAllI() methods).

[2019-02-21 18:30] meltsufin commented on #1475
Right, the burden of ensuring that would be on the user. It's not as good as what JPA provides, but an imperfect workaround.

[2019-02-21 23:43] artembilan opened #1479 "Consider to use java-cfenv for better responsibility distinguishing when we parse VCAP_SERVICES"
The logic is handled in the `GcpCloudFoundryEnvironmentPostProcessor`.

See more info in the https://spring.io/blog/2019/02/15/introducing-java-cfenv-a-new-library-for-accessing-cloud-foundry-services

[2019-02-22 10:20] sergeymeshkov commented on #1475
I totally understand that this feature is complicated, however, if the Spring Data Datastore will not support this feature, a large number of use cases will be lost. I am not sure that the idea that every type should have a separate repository (if we talking about inheritance hierarchy) is a good one because most of the devs which use Spring Data also use Java (mostly), which support inheritance a

[2019-02-22 14:49] meltsufin commented on #1475
@sergeymeshkov Thanks for the in-depth discussion. I don't think we're arguing whether this feature is useful. It certainly is. The fact that Spring Data MongoDB supports it is also a nice reinforcement of its utility. We were more trying to address a way to work around the absence of this feature for the time being.

@ChengyuanZhao @dmitry-s Can you please do a bit more investigation on what it w

[2019-02-22 14:55] dmitry-s commented on #1475
I think we can add support for this, doesn't look like it will take a lot of effort.

[2019-02-22 15:06] meltsufin commented on #1479
This is nice!

[2019-02-22 16:14] ChengyuanZhao commented on #1475
@dmitry-s I think this might not be so simple...

Some considerations if rows of several different java types live together in one table:

1. count() and exists() and such functions will need to be aware of the DTYPE column
2. all of our generated query methods will need to append additional DTYPE column conditions.
3. appending the additional DTYPE column condition may involve messing with query

[2019-02-22 16:26] dmitry-s commented on #1475
@ChengyuanZhao
I was thinking about restricting those child classes to not having their own repositories. In that case most of the issues would be resolved. They all the child classes would have to inherit the id column from the parent.

[2019-02-22 16:30] ChengyuanZhao commented on #1475
@dmitry-s In this example would that mean disallowing `DatastoreRepository<Car>` and ``DatastoreRepository<Boat>` and ONLY allowing `DatastoreRepository<Transport>` ?

That seems like we're throwing away a lot of functionality.. since the interesting properties and fields all exist in the subclasses that users would want to use Query Methods on `findByBrandWheelsizeOrderByPaint` and `findByWeightL

[2019-02-22 16:31] meltsufin commented on #1475
We have a wonderful benefit of an existing implementation for MongoDB that we can reference to answer some of these questions. Which of these consideration is a deal-breaker or extremely disruptive to the current design? On the surface, it seems that we can make all of it work.

[2019-02-22 16:59] ChengyuanZhao commented on #1475
@meltsufin the dealbreaker is that adding the `_class` or `DTYPE` column as a condition to any and all queries means there must be a composite index including that column and whatever else columns appear in the query.

[2019-02-22 17:07] dmitry-s commented on #1475
Another option is we could just limit children repositories.

[2019-02-22 17:09] ChengyuanZhao commented on #1475
@dmitry-s  But isn't that kind of like throwing your wallet in the trash so you don't have to worry about your wallet getting stolen

[2019-02-22 18:41] dmitry-s commented on #1475
@ChengyuanZhao it is not, because it would still provide some useful functionality

[2019-02-22 18:47] ChengyuanZhao commented on #1475
After some discussion here some points about how we'll be implementing this:

- The JPA discriminator approach where with explicit user-visible column and discriminator value seems more appropriate than the `__class` column that holds a fully-qualified java class name that SD MongoDB and Cassandra use.  So we will be reusing the JPA discriminatorcolumn and discriminatorvalue annotations
- For all

[2019-02-22 19:08] ChengyuanZhao commented on #1475
I think it makes sense to break this up into these parts so we have PRs of manageable size:

- [ ] PersistentEntity and PersistentProperty. modifications so that get table name on child tables returns the parent table's name - **Chengyuan**
- [ ] Template changes to read the extra column when mapping and choosing the appropriate class/type
- [ ] Query Methods. either throwing error when appropriat

[2019-02-25 15:52] #1350 closed

[2019-02-25 15:52] #1471 closed

[2019-02-25 21:51] dzou opened #1482 "Issue with Pub/Sub and Storage being incompatible"
In the customer feedback call today, we learned that users encountered dependency issues when running combinations of spring-cloud-gcp libraries together.

Specifically they mentioned having trouble getting Storage and Pub/Sub to work together.

It might be related to this issue; user appears to also be using Pub/Sub + Storage: https://github.com/spring-cloud/spring-cloud-gcp/issues/1253

[2019-02-27 04:59] vineela-gampa opened #1486 "spanner session timeouts"
Hi @meltsufin @ChengyuanZhao  we observed an issue where spanner is taking >10s to return data on a query when spanner cpu is above 75%. Is there recommendation to finetune to achieve better performance when we are under high load ?

[2019-02-27 05:16] vineela-gampa opened #1487 "spanner array(struct) vs regular query performance"
HI  @meltsufin  @ChengyuanZhao we want to hear your inputs on is using array efficient for high perofrmance vs regular query ?
Recently i heard that array(struct) shouldnt be used and its memory intensive. Can you confirm ?

[2019-02-27 05:26] Vinooj opened #1488 "this.datastoreTemplate.findById not finding the descendent child record"
I have a Parent/Child relationship modeled as follows using @Descendants

@Entity(name = "parent")
public class Parent {
        @Id
        Long id;

        @Descendants
        Set<Child> children;

        public void setChildren(Set<Child> child) {
                this.children = child;
        }
}

@Entity(name = "child")
public class Child {
        @Id
        Key id;

        String name;

[2019-02-27 08:02] davinkevin opened #1489 "feat(sql): support third party parameters in url"
Hi,

I'm using the Spring Cloud GCP SQL to configure my app with a CloudSQL Postgresql database. But, I need to use a specific `schema`.
This need is linked to a limitation of Spring-Batch which will create its metadata-table inside the public schema by default and can't be overridden.

So, one solution is to add a parameter in the JDBC url to add `currentSchema=mycustomschema`. This leads to a st

[2019-02-27 13:03] ChengyuanZhao commented on #1487
@vineela-gampa I can definitely see that being the case. I would check with the client library team (available here https://github.com/googleapis/google-cloud-java).

Just wanted to add that we have lazy-loading interleaved child properties now for performance, so perhaps that can offset some of the joining-and-selecting-children-as-structs that you mentioned in the past .

[2019-02-27 13:06] ChengyuanZhao commented on #1486
@vineela-gampa I've read in the refdocs that when Spanner CPU reaches 75% they say to add another node (though I know that kind of decision may be large or not possible).  Please check with the client library team on their repo for more detail about Spanner's server-side performance.

[2019-02-27 13:08] ChengyuanZhao commented on #1488
@Vinooj Child ID **must** be a Key instead of a long. The reason is that a plain long child ID (without the ancestor parent specified in the Key) is considered a distinct key from full Key ID value (that does refer to the parent's id value). They are two separate entities with different key values from Datastore's perspective.

[2019-02-27 15:10] elefeint commented on #1489
I like the idea of supporting configurable properties; this will likely need to be done in `DatabaseType`.

For your immediate problem of reusing database URL creation logic while still passing the extra schema parameter, you could provide a `CloudSqlJdbcInfoProvider` bean in your own configuration as an extension of `DefaultCloudSqlJdbcInfoProvider` that calls super.getJdbcUrl() to get the base a

[2019-02-27 15:36] meltsufin commented on #1488
@ChengyuanZhao Can we do this kind of validation automatically when one uses `@Descendants` to provide a helpful error message?

[2019-02-27 15:39] ChengyuanZhao commented on #1488
@meltsufin  we currently disallow storing any child descendants with a non-Key ID type.

However the question here is about going back completely unaware of the original child instance and looking it up with any given key value. Remember in Datastore the entire Kind is not subjugated to being a descendant of another Kind. Descendant relationships are by-entity/row and can even occur between entiti

[2019-02-27 16:33] nabilnasri opened #1490 "Get Cursor from DatastoreRepository Response"
Hello,

I have a custom `Query` on my Repository method. This is what it looks like
[code]
It works so far, but i would like to have the Cursor included in the Response. Am I using the wrong return value with a `List` or is it not supported?

[2019-02-27 16:35] dmitry-s commented on #1490
@nabilnasri This feature is currently unsupported, but we might implement it in the future.

[2019-02-27 16:37] nabilnasri commented on #1490
Thanks for the quick response! This feature would be very useful for us. Do you have any alternative idea on how to accomplish this?

[2019-02-27 16:43] dmitry-s commented on #1490
Could you provide more details on that? Why do you need the cursor?

Thanks

[2019-02-27 16:54] nabilnasri commented on #1490
The official Google Docs say that one should avoid using offset with integers.

https://cloud.google.com/datastore/docs/concepts/queries?hl=en#datastore-datastore-cursor-paging-java

[2019-02-27 17:17] dmitry-s commented on #1490
Thanks for clarification. I don't think that's achievable in current implementation. But it looks like it shouldn't be hard to implement - most likely with `Page` return type.

[2019-02-27 17:24] nabilnasri commented on #1490
Sounds good!
Maybe it is something for another issue, but when using pageable with a method annotated with @Query it throws an exception because the PageRequest can not be converted to a Datastore-compatible type.
I can provide a stacktrace once I am on my notebook again.

[2019-02-27 17:31] dmitry-s commented on #1490
That's a limitation of `@query` methods. We can't modify the provided query. Page return types work only with methods that generate queries (e.g. `findByColor(..)`)

We'll need to invent something new for `@query` annotated methods.

[2019-02-27 17:38] Vinooj commented on #1488
@ChengyuanZhao

I'll try passing Key instead of the id(long).

[2019-02-27 19:46] ChengyuanZhao commented on #1488
@Vinooj the key you use must refer to the parent key as an ancestor. To Datastore the entire key includes all ancestor values.

[2019-02-27 20:18] meltsufin commented on #1490
@mp911de It seems like there is a lot of interet in this feature. Can you recommend something? Thanks!

[2019-02-27 21:40] Vinooj commented on #1488
Thanks for your quick response @ChengyuanZhao

I did spend some time researching trying to figure out how to do it
1. docs
2. https://github.com/spring-cloud/spring-cloud-gcp/tree/master/spring-cloud-gcp-data-datastore/src/test/java/org/springframework/cloud/gcp/data/datastore/it
3. https://cloud.google.com/appengine/docs/standard/java/datastore/creating-entity-keys

Can you please provide some sa

[2019-02-27 21:49] ChengyuanZhao commented on #1488
@Vinooj You can use the client lib's key factory `com.google.cloud.datastore.KeyFactory` to construct new keys with the components and ancestors you need. It's a "builder" style class, and you can create a new instance of that factory to construct a key.

[2019-02-28 02:02] vineela-gampa commented on #1487
@ChengyuanZhao  thanks for confirming. Would it be the case where parent has only one level child and each there are no more than 10 childs at any point of time ?

[2019-02-28 06:38] Vinooj commented on #1488
Thanks @ChengyuanZhao

I got it to work with the following code,

`Key parentKey = Key.newBuilder("my-project-id", "parent", id).build();
 Key childKey = Key.newBuilder(parentKey, "child", childId ).build();

Child existingChild= this.datastoreTemplate.findById(childKey, Child.class);
 existingChild.setName("Name - 1");
 existingChild = childRepository.save(existingChild);`

[2019-02-28 06:38] #1488 closed

[2019-02-28 07:42] mp911de commented on #1490
The typical scheme for paging is by returning `Page<T>` and accepting `PageRequest` as in:

[code]

Alternatively, use `Stream` for transparent paging:

[code]

See also `PagingAndSortingRepository`. Do not return technology specific types in repositories as they are a technical aspect, not a domain aspect.

[2019-02-28 14:29] dvdgsng opened #1493 "Spring Security with GCP IAP on GAE Flex fails with "Project expected not to be null""
Deploying to GAE Flex with spring-cloud-gcp-starter-security-iap fails to automatically determine the GCP project.

Few lines earlier the log states:

The configuration is unset, meaning none of properties for `spring.cloud.gcp.security.iap.*` have been specified in the application.properties (registry, algorithm, header, issuer, audience). According to the docs, this should work since the default

[2019-02-28 14:56] elefeint commented on #1493
Most likely, the account does not have GCP's `resourcemanager.projects.get` IAM permission, so IAP is unable to retrieve project details.

Could you check what permissions are available to the account being used?

[2019-02-28 15:31] meltsufin commented on #1490
@mp911de This questions is specifically about the use of a custom query (`@Query`). Do Spring Data implementations typically support returning a `Page` for these scenarios?

[2019-02-28 15:31] dvdgsng commented on #1493
Thanks for the quick reply.

I've checked the permissions. We've not configured any additional service accounts, so the default service accounts should be used to run our services.:

* The "App Engine default service account" (...@appspot.gserviceaccount.com) has the "Editor" role assigned, which includes `resourcemanager.projects.get` permissions.
* The "App Engine Flexible Environment Service Ag

[2019-02-28 15:55] mp911de commented on #1490
Yes, typically we have this feature. It's easier to implement for stores that accept a notion of limit/offset parameters additional to a query string or the predicate definition. In some case (e.g. Cassandra) we need to amend the actual query string. Not sure this applies for Datastore as well.

[2019-02-28 15:56] elefeint commented on #1493
Could you check that [Cloud Resource Manager API](https://console.developers.google.com/apis/api/cloudresourcemanager.googleapis.com) is enabled?

[2019-02-28 16:18] meltsufin commented on #1490
@dmitry-s @ChengyuanZhao We don't want to modify the GQL query string, but we can expose [Cursors](https://cloud.google.com/datastore/docs/concepts/queries#datastore-datastore-limit-java) somehow. One option is to just allow an optional `CursorHolder` parameter for `@Query` annotated methods. The other, more idiomatic way would be to seamlessly use cursors for `@Query` methods that declare `Stream

[2019-02-28 16:20] dvdgsng commented on #1493
It was not enabled indeed. I enabled it and after redeploying the application was able to access the required information. 👍 Would be nice if this was hinted in the docs, though.

Thank you! Very helpful. :)

[2019-02-28 16:23] elefeint commented on #1493
I'll update the docs; I definitely missed the important setup bits!

[2019-02-28 16:27] dmitry-s commented on #1490
@meltsufin My plan was to expose cursor and allow it as a parameter, similar to your suggestion. But the other way seems reasonable too.

[2019-02-28 16:30] #1493 closed

[2019-02-28 16:31] kwiesmueller commented on #1490
As long as the cursor is accessible directly when needed, any of those option sounds good.

[2019-02-28 21:42] #1475 closed

[2019-03-01 04:42] vineela-gampa commented on #1486
We did add nodes after we saw the issue , didnt he;lp much.

[2019-03-01 13:20] mp911de commented on #1490
@meltsufin @dmitry-s please do not return a `Cursor` object directly. Rather provide a wrapper that makes it usable with `PageRequest` (see [`CassandraPageRequest`](https://docs.spring.io/spring-data/cassandra/docs/current/api/org/springframework/data/cassandra/core/query/CassandraPageRequest.html), Cassandra uses an opaque paging state object that must be passed on the next request).

This way, y

[2019-03-01 13:53] ChengyuanZhao commented on #1486
@vineela-gampa

I think this one may be a related issue that I fixed last week https://github.com/spring-cloud/spring-cloud-gcp/pull/1476

If you're NOT submitting these queries in a single transaction and all of these queries ARE coming from the same instance spring data spanner on one machine then this issue might be the cause.
(this fix would be in 1.2.0 BUILD SNAPSHOT and 1.1.0 BUILD SNAPSHOT)

[2019-03-01 14:53] meltsufin commented on #1490
Thanks @mp911de! This sounds like a great direction. @dmitry-s Can you please see how difficult it would be to implement?

[2019-03-01 22:08] dmitry-s commented on #1490
It looks like it shouldn't be too hard.

[2019-03-02 01:38] vineela-gampa commented on #1486
@ChengyuanZhao  we are not submitting them in a single transaction. They are coming from different compute instances but to one spring data spanner.

[2019-03-03 15:36] vineela-gampa commented on #1486
@ChengyuanZhao we are not using singleUse. Most of our queries are against org.springframework.cloud.gcp.data.spanner.core.SpannerTemplate.query(Class<T>, Statement, SpannerQueryOptions) .Do you think the fix you made part of #1476 needs to be incorporated?

[2019-03-03 15:43] vineela-gampa commented on #1486
![image](https://user-images.githubusercontent.com/2513330/53697543-d8502d80-3d97-11e9-9237-8c30b583c628.png)
Uploading one of the tracing where we observed straight query against a table taking 2000ms sometimes , There is an untraced time of 1,636.258 ms
Below is the snapshot if it happens in ideal scenario . So something is terribly wrong
![image](https://user-images.githubusercontent.com/251333

[2019-03-03 17:31] ChengyuanZhao commented on #1486
@vineela-gampa The fix in #1476 doesn't affect the `query()` method , so I don't think that is the source of the issue.

[2019-03-04 04:00] vineela-gampa commented on #1486
@ChengyuanZhao But i believe something related might be the issue too. If you see intially our response times are around <50ms..
as the load increased  spanner took really long to responsd ..it maxed to 2000ms too.

![image](https://user-images.githubusercontent.com/2513330/53709796-b2f70a00-3dff-11e9-80c2-eafe1c39d171.png)

[2019-03-04 12:40] ayushj158 opened #1501 "@Transactional annotaton is not working with GCP Datastore !"
While using spring integration for GCP data store , We have noticed couple of issues with @Transactional annotation.

1. @Transactional annotation is not respected at all i.e. if i call respostiroy.save(entity) , the transaction is immediately committed instead of committing it after the method(annotated with @Transactional ) is finished.
- I did verify data was updated in  cloud itself before met

[2019-03-04 13:17] ChengyuanZhao commented on #1486
@vineela-gampa I will try to replicate the issue. Is there any detail about the query being run that you might be able to share?

[2019-03-04 13:21] ChengyuanZhao commented on #1501
@ayushj158

Is this code snippet located in an object itself and that object being autowired to where you finally use it?

Take a look at our tests that try to cover that the several operations (including save) hit the transaction context. https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-data-datastore/src/test/java/org/springframework/cloud/gcp/data/datastore/core/Dat

[2019-03-04 16:22] vineela-gampa commented on #1486
@ChengyuanZhao its a straight query to a single table with 2 conditions in where clause (STRING AND INTEGER)

For the first half hr things are good and roughly after half hr looks like it takes >200ms to get the response. Spanner was also not hiking up , i suspect there is a memory leak happening somewhere or read/connection tieouts to spanner grpc calls needs to be adjusted?

![image](https://use

[2019-03-04 16:46] Mustafa-Hafeez opened #1502 "Project Build Error"
Fairly new to maven, but I have pulled the code and have an error in my pom.xml fir for spring-cloud-gcp-data-spanner-sample.
Project build error: Non-resolvable parent POM for com.example:spring-cloud-gcp-data-spanner-sample:[unknown-version]: Could not find artifact org.springframework.cloud:spring-cloud-gcp-samples:pom:1.2.0.BUILD-SNAPSHOT and 'parent.relativePath' points at wrong local POM

[2019-03-04 22:34] meltsufin commented on #1502
What is the build command you're running and from which directory?

[2019-03-05 01:18] vineela-gampa commented on #1486
@ChengyuanZhao  @meltsufin is there a way we could check if there available connections in the pool or we running out of connections ?

[2019-03-05 05:40] ayushj158 commented on #1501
Here is the actual code with class names.
- @Trasactional is annotated on a service class which calls an repository interface to save/read the data.

#### Repository

[code]

#### Service
[code]
Behavior i see : I can see updated entity in cloud data-store just after the execution of  repository.save() ,whereas if it was working in a transaction it should have been committed after execution of met

[2019-03-05 12:52] ChengyuanZhao commented on #1486
@vineela-gampa I don't know of a way to get that from the client library, but there is a way to change the allowed number of connections in the pool and then see if that makes a difference. https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-autoconfigure/src/main/java/org/springframework/cloud/gcp/autoconfigure/spanner/GcpSpannerProperties.java

[2019-03-05 13:04] ChengyuanZhao commented on #1501
@ayushj158 just to confirm, your config is annotated with `@EnableTransactionManagement`?

[2019-03-05 15:02] meltsufin commented on #1486
@vineela-gampa The best way for us to help you would be to have a sample app that reproduces the issue reliably and we can run ourselves.

[2019-03-05 16:54] danneville opened #1503 "spring-cloud-gcp-starter-pubsub not shutting down"
Hi,

I'm experiencing some issues using spring-cloud-gcp-starter-pubsub where the application hangs on shutdown. It sounds the same as this issue https://github.com/spring-cloud/spring-cloud-gcp/issues/60 which was closed when it wasn't able to be reproduced.

I have created a Spring CommandLineRunner Application that will publish messages to PubSub and then shutdown however it does not. I've prov

[2019-03-05 17:22] dmitry-s commented on #1503
Thanks for reporting the issue!
I was able to reproduce it using your sample app. We will take a look.

[2019-03-05 19:16] dmitry-s commented on #1503
We identified the issue, will push a fix shortly.

[2019-03-05 21:26] elefeint opened #1506 "Consider naming our thread pools for ease of troubleshooting"
Issues such as #1503 will be easier to troubleshoot if we can easier identify which thread pool failed to close.

[2019-03-06 05:44] ayushj158 commented on #1501
It worked what i needed to do was add @EnableTransactionManagement and add below bean to config

[code]

Why not add default DatastoreTransactionManager bean (just like DatastoreTemplate and Datstore beans) and @EnableTransactionManagement to GcpDatastoreAutoConfiguration.class ?

Also i think if it is possible we can update the spring documentation to define these steps to enable @Transaction . F

[2019-03-06 10:58] dlinsin opened #1507 "Firestore Native Mode support"
Is there any plan to add support for [Cloud Firestore](https://firebase.google.com/docs/firestore/) ?

[2019-03-06 13:40] ChengyuanZhao commented on #1501
@ayushj158 good to hear !
We actually do provide the transaction manager if using our auto config ( https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-autoconfigure/src/main/java/org/springframework/cloud/gcp/autoconfigure/datastore/DatastoreTransactionManagerAutoConfiguration.java )

(However we do require you to add the `@EnableTransactionManagement` yourself. I think

[2019-03-06 13:40] #1501 closed

[2019-03-06 14:52] #1503 closed

[2019-03-06 15:07] elefeint commented on #1503
@danneville This has been fixed in _1.2.0.BUILD-SNAPSHOT_, but if using a snapshot version is not an option, you can close the thread pool like this:

[code]

[2019-03-06 15:27] meltsufin commented on #1507
Firestore in Datastore mode is already supported.

[2019-03-06 15:30] meltsufin opened #1508 "Update docs to mention that we support Firestore in Datastore mode"
Existing projects that use Datastore are starting to be automatically [upgraded](https://cloud.google.com/datastore/docs/upgrade-to-firestore) to Firestore in Datastore mode. We should update our documentation to mention that Spring Data Datastore supports Firestore in Datastore mode.

Related to question in #1507.

[2019-03-06 15:41] meltsufin commented on #1506
Do we have more examples of thread pools that we create without explicitly naming them?
I think to make this issue actionable, we need some pointers to those.

[2019-03-06 15:56] elefeint commented on #1506
After the three in Pub/sub (publisher, subscriber, ack), I think there is only the one left in `traceExecutorProvider` in `StackdriverTraceAutoConfiguration` left. Looking at it, it also needs to become a Spring-managed bean, like the ones in #1505.

[2019-03-06 16:07] meltsufin commented on #1389
@nickname110 The fix has been released in version 1.1.1.

[2019-03-06 16:15] ChengyuanZhao commented on #1507
I assume this is talking about Firestore in "native" mode? There are some differences in the data model that seem pretty different from Datastore so that it doesn't seem like our module can work in "native" mode   ( even when the relevant client lib classes or dependencies are switched out)

[2019-03-06 22:21] saturnism opened #1510 "CloudSQL starter should default to InnoDB dialect"
CloudSQL 2nd generation only supports InnoDB (https://cloud.google.com/sql/faq).
The starter should autoconfigure that has the dialect to use.

[2019-03-06 22:23] saturnism commented on #1510
Related: https://github.com/spring-projects/spring-boot/issues/15342

[2019-03-06 23:09] saturnism opened #1511 "Spanner - seems to check for non-null values even though the column is nullable"
I have a column that's nullable and have stored null value. When reading from Spring Data Repository (via Rest Repository), it throws exception due to the null value.

[code]

[2019-03-06 23:18] saturnism opened #1512 "Spanner/Datastore - unable to use both Spring Data Spanner & Datastore in the same app"
Added both Spanner & Datastore starters to the same application, and tried to use both repositories.
The application failed to start.

[code]

[2019-03-06 23:49] ChengyuanZhao commented on #1512
Is this supposed to be possible ? @saturnism I was under the impression this wasn't supposed to be possible given the way the Spring Data Common works.

[2019-03-06 23:50] ChengyuanZhao commented on #1511
@saturnism I remember fixing a bug like this a few weeks/months ago. Are you using the most recent version?

[2019-03-07 09:16] #1507 closed

[2019-03-07 16:24] danneville commented on #1503
Excellent thank you @elefeint amd @dmitry-s for you quick responses.

I can confirm that this worked for me. I did also have to add the publisherExecutorProvider to get it to work for when I'm publishing messages.

[code]

Thanks again

[2019-03-07 19:16] meltsufin commented on #1510
Duplicate of #392?

[2019-03-07 19:18] meltsufin commented on #1512
@mp911de Is it true that two Spring Data implementation could not co-exist?

[2019-03-07 20:30] mp911de commented on #1512
You can run multiple modules in the same application. You need to provide either entity annotations, repository subtypes or filtered/scoped base packages so that a module knows which repositories it should implement. Take a look at the docs https://docs.spring.io/spring-data/jpa/docs/current/reference/html/#repositories.multiple-modules and https://github.com/spring-projects/spring-data-mongodb/bl

[2019-03-07 20:37] ChengyuanZhao commented on #1512
@saturnism could you provide the sample you're trying this with? I'll see if I can get it working

[2019-03-08 03:29] saturnism commented on #1512
@ChengyuanZhao I'll try to get the full source into github. in the mean time, it's pretty straight forward. Please see the following. Thanks for taking a look!

[code]

(kotlin code)
[code]

[2019-03-08 03:30] saturnism commented on #1511
i'm using the version specified in Greenwich.SR1 release train. which is pointing to `org.springframework.cloud:spring-cloud-gcp-starter-data-spanner:jar:1.1.1.RELEASE`

[2019-03-08 03:31] saturnism commented on #1510
ah yes, definitely a duplicate. can close this one and keep the other one. thnx!

[2019-03-08 03:31] #1510 closed

[2019-03-08 03:31] saturnism commented on #392
Related: spring-projects/spring-boot#15342

[2019-03-08 04:36] ChengyuanZhao commented on #1511
@saturnism ah shoot looks like this fix is only in 1.2.0 BUILD SNAPSHOT and wasn't ported back to the 1.1 versions.

[2019-03-08 15:07] meltsufin commented on #1511
@ChengyuanZhao Can you apply the fix in 1.1.x please so that we get it in the next SR? Thanks!

[2019-03-08 17:59] saturnism commented on #1511
+1 :D

[2019-03-08 20:19] #1113 closed

[2019-03-11 18:10] elefeint opened #1517 "Add autoacking to Pub/Sub reactive stream"
Followup to #1461

[2019-03-11 18:11] elefeint commented on #186
@smaldini Will this be addressed by #1461, or did you have a Cloud Stream binder in mind?

[2019-03-11 18:16] #1448 closed

[2019-03-11 18:20] #1423 closed

[2019-03-12 06:10] vineela-gampa opened #1520 "Spanner transactions - aborted exception - how to specify retryDelay or catch abortedException to replay what we intend to do"
Hi @ChengyuanZhao @meltsufin

Below is the chunk of code we have to handle the issue opened earlier. https://github.com/spring-cloud/spring-cloud-gcp/issues/1377

Currenlty what we have observed is 2 THREADS (T1 / T2) are entering the readwriteTransactionBlock at the same time. Both are reading  below line from the fullcode snippet at the same time.

`Entity latestentity = spannerTemplate.read(ent

[2019-03-12 14:02] meltsufin opened #1521 "Re-enable GcpStorageAutoConfigurationTests and StackdriverLoggingIntegrationTests after fixing or refactoring them"
After upgrading to Spring Boot 2.2 the `GcpStorageAutoConfigurationTests` and `StackdriverLoggingIntegrationTests` tests fails because of the login screen put up in front of the REST controller. Ideally, the fix would allow us to remove all of the auto-configuration exclusions.

[2019-03-12 14:29] ChengyuanZhao commented on #1520
@vineela-gampa taking a look now

[2019-03-12 14:56] ChengyuanZhao commented on #1520
@vineela-gampa Configuring the grpc to retry is not a setting the client lib exposes in its `SpannerOptions` class. (I'm not sure if using the low level spanner-agnostic grpc retry was the intended way to handle retries for this very-spanner-specific situation)

Otherwise I think you would need to retry running the anonymous function for the thread that read the row second.

Take a look at this ht

[2019-03-12 15:22] meltsufin commented on #1520
@vineela-gampa Since you are working inside a read-write transaction, I would imagine that if one of the transactions is aborted, it's before it even gets a chance to read the value, because another transaction would be holding a read-write lock on it. Are you sure that the transaction is aborted after the reads and you apply the calculations to both?
If I understand you correctly, you would like

[2019-03-12 15:27] meltsufin commented on #1520
@vineela-gampa Since you are working inside a read-write transaction, I would imagine that if one of the transactions is aborted, it's before it even gets a chance to read the value, because another transaction would be holding a read-write lock on it. Are you sure that the transaction is aborted after the reads and you apply the calculations to both?
If I understand you correctly, you would like

[2019-03-12 15:27] meltsufin commented on #1520
@vineela-gampa Since you are working inside a read-write transaction, I would imagine that if one of the transactions is aborted, it's before it even gets a chance to read the value, because another transaction would be holding a read-write lock on it. Are you sure that the transaction is aborted after the reads and you apply the calculations to both?
If I understand you correctly, you would like

[2019-03-13 08:28] snicoll opened #1522 "Repositories are polluted in downstream project by default"
This project has a `spring` profile that is enabled by default and contains references to several repositories: https://github.com/spring-cloud/spring-cloud-gcp/blob/23664c6958b1cf0bea121c4e6c83338b94be9db4/spring-cloud-gcp-dependencies/pom.xml#L195

A BOM should never have that for a start, it should only contain dependency management and nothing else. You can also use the flatten maven plugin to

[2019-03-13 11:42] snicoll commented on #1522
Note that the spring cloud build parent will remove those automatically, see https://github.com/spring-cloud/spring-cloud-build/issues/89 - I still recommend removing that profile from the BOM (do you need it?)

[2019-03-13 14:10] meltsufin commented on #1522
We can probably remove it. I think the rationale was to make it easier for users to start using the project by just importing the BOM and not having to configure the repositories.
@markfisher I see that you made the profile active by default back in 2017. WDYT?

[2019-03-13 17:56] ChengyuanZhao opened #1525 "SpannerTemplate support choosing among multiple connections/instances"
There are a few steps planned below that go from more-general support to more and more specific features:

1. `SpannerTemplate` to use a very general so-called `DatabaseClientProvider` bean. The user can implement and provide a bean of this interface in Spring config. This interface would provide various database client / database connections for each request.
2. provide an  implementation of `Dat

[2019-03-13 18:55] #1522 closed

[2019-03-14 18:54] dzou commented on #1521
What are your thoughts on just deleting the tests? Since we have integration coverage from integration tests in their modules as well as from samples, I think they may be redundant.

[2019-03-14 20:19] meltsufin commented on #1521
The advantage of these is that they run as unit tests with each PR, rather than integration tests that only run post-merge on master.

[2019-03-14 20:44] dzou commented on #1521
Hmm, I don't agree that this is an advantage. The two tests listed are integration tests, and we could just as easily remove the Dit.storage/Dit.logging requirement on the integration tests in storage/logging if we wanted to do that.

Also the [Logging tests are not being run as a unit test](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-autoconfigure/src/test/java/o

[2019-03-14 20:47] elefeint opened #1529 "Refactor and re-enable GcpConfigBootstrapConfigurationTest"
Follow up to #1516  and #1528.

One option: add @ConditionalOnBean to `GoogleConfigPropertySourceLocator` and mock the bean.

[2019-03-14 20:47] meltsufin commented on #1521
What I meant to say is that they run locally without invoking GCP. For integration tests that are guarded with flags, we can only run them on master, (1) because they're slow, and (2) because we don't have the encrypted credentials in the case of external pull requests.

[2019-03-14 20:50] dzou commented on #1521
I see, in that case the storage test is fine, but `StackdriverLoggingIntegrationTests` definitely invokes GCP.

[2019-03-14 20:59] dzou commented on #1521
Actually I think I understand the full story now. Looks like the logging IT was put here before you split out a logging module. Perhaps the logical solution is to just move that test to the newly created logging project which does not yet have an integration test.

[2019-03-15 17:23] nbrinks opened #1534 "Firestore Native Mode (non-Datastore mode) support"
I saw #1507 but wasn't sure why it was closed.
Are there any plans at this time to add native Firestore support?

[2019-03-15 19:23] meltsufin commented on #1508
@dmitry-s Can you take care of this please?

[2019-03-15 19:27] meltsufin commented on #1534
I think the OP closed #1507 because they were looking for Firestore support in Datastore mode, which we already have.
Yes, we're planning to support Firestore, but we can't share any concrete timeline right now.

For others reading it, 👍 up this issue if you're interested in Spring Data Firestore support.

[2019-03-15 19:45] dmitry-s commented on #1508
Yes, I'll do that.

[2019-03-18 16:41] anthonyikeda commented on #1061
I definitely want to vote this one up. The only way forward is reactive, not imperative. :)

[2019-03-18 17:59] ChengyuanZhao commented on #1520
Closing the issue: The behavior here is expected. The user application must handle situations of competing transactions for the same keys/rows.

[2019-03-18 17:59] #1520 closed

[2019-03-18 19:11] #1508 closed

[2019-03-18 20:24] dzou opened #1548 "Add documentation for Vision OCR feature."
Add documentation for Vision OCR feature.

- Add section in docs.
- Add javadoc to vision configuration properties.

[2019-03-21 14:08] meltsufin commented on #1525
(Sorry, closed by mistake.)

During our design discussion, we talked about (3), and I thought the concensus was that we should hold off attempting to address that since there are some issues with the idea.
- What we already implemented in #1530 addresses the original user's request.
- Even if one is able to partition the data on write, it's essentially impossible to do on the read. This point is e

[2019-03-21 14:37] ChengyuanZhao commented on #1525
@meltsufin

I don't think the concerns you refer to are actually issues anymore!

The reason is that the user can selectively override the functions he wants.

For example.

If he overrides the upsert and read-by-key methods, then he can choose the database client by the entity value.

However, if he wants to query and submit string queries then he still use the databaseId provider config in the s

[2019-03-21 16:08] dzou opened #1555 "Add integration tests for Vision OCR sample"
Add integration tests for Vision OCR sample. Follow up to #1554.

[2019-03-22 11:03] sergeymeshkov opened #1568 "BigQuery integration"
Hi,
Is it possible to implement Big Query integration to Spring?
1. BigQuery repository settings (like @ EnableDatastoreRepositories)
2. BigQuery autoconfiguration
3. Object mapping
4. Object relationships
5. Query methods, native SQL
6. Audit integration (@ CreatedDate, @ LastModifiedDate, @ CreatedBy, @ LastModifiedBy)
7. REST repositories
8. Database Schema Admin, Migrations

[2019-03-22 14:14] meltsufin commented on #1568
@sergeymeshkov BigQuery is not designed for OLTP. It's used mostly as a data warehouse. So, I wonder what is your use-case such that you need ORM for BigQuery.

That aside, there seems to be a [JDBC driver](https://cloud.google.com/bigquery/providers/simba-drivers/) for BigQuery. So it might be fairly easy to make it work with Spring Data JPA / Hibernate and/or Spring Data JDBC.

[2019-03-22 15:18] Mustafa-Hafeez commented on #1502
I am running mvn package in this directory:
spring-cloud-gcp-master\spring-cloud-gcp-samples\spring-cloud-gcp-data-spanner-sample

[2019-03-22 15:21] #186 closed

[2019-03-22 17:52] rajivml opened #1569 "Spring Cloud Sleuth Tracing Configuration Issue on GKE"
HI,

Am following the below article to setup distributed tracing for our Spring Boot Apps which are running on top of GKE.

The issue am facing is the traces which are getting generated are not visible via the Trace UI, am not able to debug the reason.

The example mentioned in the lab is working fine and I am able to see the traces, but when the same app is dockerized and when am running it on GK

[2019-03-22 18:05] GerroDen opened #1570 "Support Pagination for @Query annotated methods"
I'd like to do a custom query on a repository which i need to search by ancestor releations.
So my method looks like this:
[code]
([GQL-Docs](https://cloud.google.com/datastore/docs/reference/gql_reference#operators_and_comparisons))

But using this method with a REST endpoint results in a `DatastoreDataException`:
[code]

Am i doing this wrong?

[2019-03-22 18:59] dzou commented on #1569
Hi @rajivml, thanks for reporting this issue. I'll take a deeper look at that article you linked and deploy it on GKE to see if I can identify the issue.

[2019-03-22 18:59] dmitry-s commented on #1570
Annotated query methods do not support that at the moment, but I'm working on it.

Currently you can use Pageable with all the other repository methods. I would recommend the latest version from master branch because it uses cursors internally.

[2019-03-22 19:12] meltsufin commented on #1502
You'd want to first build from the root directory `spring-cloud-gcp-master\`.

[2019-03-22 20:24] dzou commented on #1569
@rajivml - Could you share you Dockerfile for building app into an image?

[2019-03-22 20:26] Mustafa-Hafeez commented on #1502
Thanks for the replies, I'm very new to all of this, so I greatly appreciate any help you can provide. When I try to build from the root, I get a bunch of warnings, should I be worried & how can I fix them exactly? I don't clearly understand how to.. thanks!
![image](https://user-images.githubusercontent.com/7739079/54851084-4618b680-4cbf-11e9-833a-616df930287c.png)

[2019-03-23 01:55] rajivml commented on #1569
@dzou I have uploaded the entire sample demo project here https://drive.google.com/file/d/1OOqLoarHVHlZaL82UCgI1lnkSxv3knJ3/view?usp=sharing

[2019-03-23 18:39] saturnism commented on #1511
thnx for backporting the fix! can this be closed?

[2019-03-24 16:56] GerroDen commented on #1570
So is there a way to get a `__key__ HAS ANCESTOR` by repository method naming convention?
I guessed this is quite special for Google Datastore and so not yet supported. I cannot find a hint for this in the docs.
So i guess i have to write a custom repository that does the paged query with low level Google API for now.

I appreciate the support for this project :)
Thank you.

[2019-03-25 01:33] Andyccs opened #1574 "Issue if SLF4J dependencies"
I was trying to use the datastore dependency. I found out that if one project decided to use `log4j-slf4j-impl` as one of its dependency, then the project can't depends on `spring-cloud-gcp-data-datastore` because the datastore dependency use `log4j-to-slf4j`.

References:

- https://logging.apache.org/log4j/2.0/log4j-slf4j-impl/
- https://logging.apache.org/log4j/2.0/log4j-to-slf4j/index.html
- h

[2019-03-25 09:40] sergeymeshkov commented on #1568
@meltsufin thank you, I understand that BigQuery designed as a data warehouse.
In our case, we save a large amount of analytical data in BigQuery and sometimes we need to display it (we use https://mvnrepository.com/artifact/com.google.cloud/google-cloud-bigquery). To do this, we have to write SQL queries, retrieve data and transform them into data models, which increases the amount of boilerplate

[2019-03-25 11:19] ChengyuanZhao commented on #1511
fix has been applied !

[2019-03-25 11:19] #1511 closed

[2019-03-25 13:44] meltsufin commented on #1502
No need to worry about warnings for your purposes. We do need to take care of them at some point though. You can also skip tests to make the build faster with `mvn clean install -DskipTests`.

[2019-03-25 14:16] meltsufin commented on #1570
@dmitry-s @ChengyuanZhao ?

[2019-03-25 14:28] meltsufin commented on #1568
I see. Do you think Spring Data JDBC or Hibernate would be appropriate for your usecase? I know that neither is supported currently though.

[2019-03-25 14:36] ChengyuanZhao commented on #1570
@GerroDen

The naming convention query methods (the ones solely based on method name and without `@Query` annotation) are from Spring Data's core name parsing and they do not have anything specific to Datastore. As a result, there isn't a way to specify that ancestor filter in the method name.

[2019-03-25 17:28] meltsufin commented on #1574
Spring Data Datastore doesn't seem to depend on `log4j-to-sl4j`. What makes you say that it does?
Here's my test:
[code]
You can see that the dependency is in the `test` scope only, and should not make it into your application.

[2019-03-25 18:00] Andyccs commented on #1574
Your comment seems to be valid. I am not sure why I got the problem in the first place, but I wasn't able to reproduce it. Sorry for the false signal.

[2019-03-25 18:00] #1574 closed

[2019-03-25 19:22] ChengyuanZhao commented on #1568
From reading about BigQuery it sounds like these were the important points
-  the documentation encourages denormalized data
-  tables don't have keys (and no relationship mechanisms)
-  loading data is primarily in batch jobs,
- stream inserting has significant waiting periods

It sounds like Spring Data isn't a good fit since BQ isn't a good way to store and reflect a bunch of related entities.

[2019-03-25 21:13] #1548 closed

[2019-03-26 10:28] sergeymeshkov commented on #1568
@meltsufin  I have no specific expectations regarding the framework. Both of those solutions might work, but personally, I prefer approaches which were designed by you guys in Spanner and Datastore.  Anyway, @ChengyuanZhao is right - actual request is " is just to run queries and convert rows into POJOs". However, I still think that Spring Data framework should support BigQuery. Yes, some concepts

[2019-03-26 12:45] niranjan-sathindran commented on #380
Thanks! That solved my issue of not being able to perform any DDL operations on GCP Cloud SQL.

[2019-03-26 13:44] elefeint commented on #1569
Possibly related to #1118 and #1096.

[2019-03-26 17:48] dzou commented on #1569
Hi @rajivml, I was able to get your sample to work by updating the version of spring-cloud-gcp to the latest release version: `1.1.1.RELEASE`

I've shared with you my private experimental repo with your code here: https://github.com/dzou/trace-service-one/blob/master/pom.xml

Unfortunately I am not sure why the Greenwich version did not work. I'll circle back with my team to see if we can identify

[2019-03-26 21:15] dzou opened #1603 "Allow user to control content type in newly-created GoogleStorageResource"
Allow the user to set the Content Type when GoogleStorageResource is created. This is followup to https://github.com/spring-cloud/spring-cloud-gcp/pull/1554#pullrequestreview-218983348

[2019-03-27 04:44] rajivml commented on #1569
Thanks @dzou for looking into it, I will try this today and will post my findings

[2019-03-27 04:52] rajivml opened #1604 "How to customize trace attributes/tags?"
I have created a question on stackoverflow tagging spring-cloud-gcp but I didn't got any reply, so that's why re-posting it here again.
https://stackoverflow.com/questions/55320822/gke-stack-driver-trace-reporting-by-cluster-by-environment-by-service-by-service

We have multiple spring boot apps running on top of GKE and for spring boot applications am using spring-cloud-gcp-starter-trace to log t

[2019-03-27 08:55] rajivml commented on #1604
I just now went through the documentation and found this property to set the name of the service.

Similarly, am expecting few of other tags to be associated with these traces and stack driver tracing UI should honor these tags i.e allow me to filter the data based on these tags

Already Present:
spring.zipkin.service.name: foo

Expected Tags:
spring.zipkin.service.environment: prod/dev/qa
spring.

[2019-03-27 13:54] meltsufin commented on #1603
Actually related to #861. @dzou What do you think of that approach? Should it be made easier?

[2019-03-27 14:37] dzou commented on #1603
Yeah, I think it could be made easier; I am not a big fan of that approach simply because you have to know the Storage API pretty well to come up with that solution (or be lucky that you found it in the docs).

We could come up with some way of creating/modifying the metadata more easily; seems like there are [theoretically many settings a user might want to set](https://googleapis.github.io/googl

[2019-03-27 18:25] khakha010 commented on #1555
@@ -0,0 +1,114 @@
// Assumed constant for all tests:
// - email: test-iam-credentials@dummy-project-id.iam.gserviceaccount.com
// - project: dummy-project-id
[
  {
    "description": "Simple GET",
    "bucket": "test-bucket",
    "object": "test-object",
    "method": "GET",
    "expiration": 10,
    "timestamp": "20190201T090000Z",
    "expectedUrl": "https://storage.googleapis.com/test-bucket/te

[2019-03-27 18:25] khakha010 commented on #1555
https://github.com/spring-cloud/spring-cloud-gcp/pull/1554

[2019-03-27 18:26] khakha010 opened #1606 "H"
https://github.com/spring-cloud/spring-cloud-gcp/pull/1554

[2019-03-27 19:08] #1606 closed

[2019-03-27 19:12] meltsufin opened #1608 "Trace sample hangs on startup"
The issue seems to be related to the combination of both trace and logging starters being present in the app.

It also seems to be a problem depending on the version of the Google Cloud Java libraries.

BROKEN:
[code]
WORKS:
[code]

[2019-03-27 19:13] meltsufin commented on #1608
Another question is, why does the sample seem to work on Travis on our master build??

[2019-03-27 19:15] meltsufin commented on #1604
Hi @rajivml. Thanks for the question. We will look into it shortly. Currently, we're blocked due to another issue with Trace. #1608

cc/ @saturnism

[2019-03-27 19:38] dzou commented on #1608
The version switch where it breaks is between `0.77.0-alpha` and `0.78.0-alpha`.

Below is side-by-side comparison of the dependency-tree differences between the two versions:

![image](https://user-images.githubusercontent.com/3209274/55106882-5dccb200-50a6-11e9-9802-13ca5981fb06.png)

[2019-03-27 20:14] dmitry-s opened #1609 "Make sure AbstractDatastoreQuery.applyProjection is used in PartTreeDatastoreQuery"

[2019-03-27 21:57] dzou commented on #1608
Did some debugging with @saturnism and @ChengyuanZhao.

We discovered the point at which it is hanging is during a call made to `GrpcTransportChannel.close()`. Based on call stack, it appeared related to logging library.
![image](https://user-images.githubusercontent.com/3209274/55114789-4a771200-50b9-11e9-9ef7-cd97f159da2a.png)

We found that If we delete the `<appender-ref ref="STACKDRIVER" />`

[2019-03-27 23:54] saturnism commented on #1608
After debugging a bit more, it seems like no exception was thrown. I think Spring startup creates an initial context, and then the application context. The logging system was stopped and reset in between, so stop call was called normally[1]. But our client library blocked.

Opened an issue to learn about the awaitTermination time out choice [2]

[1] https://github.com/spring-projects/spring-boot/b

[2019-03-28 00:22] saturnism commented on #1608
I tried 0.84.0-alpha and didn't see blocking on my code. Will try sample code tomorrow. However, my code does display exception during stop & reset. This is likely due to the fact that:
1. the `close` ultimately shutdown async & there seems to be pending work that needed to be done.
1. To validate this, I changed the `close` call to `shutdownNow` calls to [`GrpcLoggingRpc`](https://github.com/goog

[2019-03-28 10:47] alexeenka opened #1610 "Can't initialize GqlDatastoreQuery properly in multithread environment: Annotated GQL Query Method findByQuery has 18 tags but a different number of parameter values: 3"
My Code:

[code]

Problem:
method inside **GqlDatastoreQuery** failed when it's initialized with several threads.

[code]
this code throw exception:

[code]

Because:
in debug i have:

[code]

instead of:
[code]

[2019-03-28 13:46] meltsufin commented on #1610
@ChengyuanZhao @dmitry-s PTAL

[2019-03-28 13:53] ChengyuanZhao commented on #1610
@alexeenka

Could you tell more about how or when you're starting these threads?
I suspect the issue is in
`private List<String> getOriginalParamTags() `
But this method should only do its work once during initialization.
The `GqlDatastoreQuery` initialization happens at the startup of the application just once.

[2019-03-28 14:14] alexeenka commented on #1610
@ChengyuanZhao
yes, during initialization i need to do some computation work, i have:

[code]

inside that method i have:
[code]
repository code:

[code]

[2019-03-28 14:32] Mustafa-Hafeez opened #1612 "Flyway with Google Cloud Spanner new Project"
Hi, so I have been working with this example project: https://github.com/olavloite/spanner-flyway-example

The problem I'm facing is trying to create a new project based off this one to fit my needs. However, when I try changing the migration files, I get many different errors, an example being InvocationTargetException. I am assuming I cant just be changing the files like that, but how can I crea

[2019-03-28 15:23] ChengyuanZhao commented on #1610
@alexeenka

I'm trying to to replicate your issue by also using `  IntStream.range(0, days).parallel().forEach` and submitting queries from a custom repo with `@Query` queries taking parameters but i'm not getting this error and I'm verifying that indeed the queries are happening asynchronously.

Can you tell more about how you're creating your instance of `countryCountRepository` ? Are you using

[2019-03-28 15:26] meltsufin commented on #1612
Can you describe your problem in more detail? This project is not associated with the one you link to. I'm confused as to what you're asking.

[2019-03-28 15:36] meltsufin commented on #1608
I wonder if this is again related to the Logback appender being re-entrant: https://github.com/googleapis/google-cloud-java/issues/3871.

[2019-03-28 15:43] meltsufin commented on #1608
Here's another comment that might be relevant to this discussion: https://github.com/spring-cloud/spring-cloud-gcp/issues/780#issuecomment-431598813

[2019-03-28 15:57] meltsufin commented on #1608
![image](https://user-images.githubusercontent.com/17732492/55172493-814c3700-5150-11e9-98e2-6e4574fce768.png)

Notice how the GRPC channel used for logging has a `ScheduledThreadPoolExecutor` that has no threads in it. That's why the execution gets rejected.

[2019-03-28 16:10] dzou commented on #1608
I think this is interesting: https://github.com/spring-cloud/spring-cloud-gcp/issues/780#issuecomment-400807664

Seems like the problem mentioned there and in #1096 noted that if the stackdriver appender is removed, then the problem is resolved. (Same here; if we remove the appender, the application will no longer hang). I wonder if all these problems are related.

[2019-03-28 16:17] meltsufin commented on #1608
Interestingly something like this fixes the problem:
[code]

[2019-03-28 16:30] dzou commented on #1608
Interesting, @saturnism mentioned something about that code you posted before; like it was a synchronization anti-pattern. I wonder if there is a bug associated with that.

[2019-03-28 16:31] meltsufin commented on #1608
I think I got to the bottom of it. The issue is that `logging.flush()` is not called in the `stop()` method.

[2019-03-28 17:20] ChengyuanZhao commented on #1612
@Mustafa-Hafeez
We are a separate and unrelated project to the one you linked. I see you already made an issue there asking about it so I will close this onie.

[2019-03-28 17:20] #1612 closed

[2019-03-28 17:22] ChengyuanZhao commented on #1486
I'm gonna close this issue because this seems to be a query performance question for Spanner. Please feel free to reopen if that is incorrect.

[2019-03-28 17:22] #1486 closed

[2019-03-28 17:23] ChengyuanZhao commented on #1487
I am closing this issue; please direct this question about query performance on spanner to Cloud Spanner directly if this is still ongoing.

[2019-03-28 17:23] #1487 closed

[2019-03-28 17:24] ChengyuanZhao commented on #1502
Closing this one now. Please feel free to reopen if there is an error.

[2019-03-28 17:24] #1502 closed

[2019-03-28 18:44] meltsufin commented on #1604
@rajivml You can add custom tags using the `brave.SpanCustomizer`. Just autowire it in as the bean already exists in the application context.
You can then add tags, like this:
[code]
These will turn into labels on you traces in Stackdriver Trace, on which you can [search](https://cloud.google.com/trace/docs/trace-filters).

[2019-03-28 20:33] #1610 closed

[2019-03-28 22:23] sergeymeshkov opened #1617 "Add server response timeout to GCP Trace"
We user Stackdriver Trace and spring-cloud-gcp-starter-trace library. Under high server load, Zipkin throws an error while waiting for server response.
By default AwaitableUnaryClientCallListener timeout 5000 ms and this value can't be changed.
Is it possible to add this configuration to Spring (spring.cloud.gcp.trace*)?

[code]

Issue related to:
https://github.com/openzipkin/zipkin-gcp/issues/12

[2019-03-29 02:14] rajivml commented on #1604
@meltsufin thanks for looking into this.

may be a very novice question, right now I don't have any custom code written for generating the traces am using out of box functionalities provided by spring-cloud-gcp library. So, what are the touch points where this change has to be done, can you point to an example in case if any?

[2019-03-29 11:10] rajivml commented on #1604
The Filter based approach isn't working, will try hardcoding at each API end point and see if it's working

[code]

[2019-03-29 14:02] meltsufin commented on #1617
@sergeymeshkov It's possible to add the configuration property once zipkin-gcp exposes it to us. So, this request is blocked on https://github.com/openzipkin/zipkin-gcp/issues/121#issuecomment-477405256.
Are you planning to raise a PR for zipkin-gcp?

In the meantime, a couple of things that you can try:
1. Increase the number of executor threads: `spring.cloud.gcp.trace.num-executor-threads`.
2.

[2019-03-29 14:34] meltsufin commented on #1604
@rajivml I'm a little confused about the problem you're facing. Do you have multiple `SpanCustomizer` beans in the application context? Or, are you unable to add new beans to the application context?
Using the Spring MVC interceptors seems appropriate. I added it to our Trace example. See: #1619.

[2019-03-29 15:18] dzou commented on #1608
Hey, just an update as to why the tests were passing. It is because the hang only lasts for 6 minutes (that is the timeout that was configured in the GrpcChannel.close() code). Once the hang times out, the application starts up normally and the trace test passes.

In figure below, you can see that the hang lasts 6 minutes consistent with the timeout that was set in the google logging library.

![i

[2019-03-29 16:15] sergeymeshkov commented on #1617
@meltsufin thank you. I planned to create PR, but during my investigation, I noticed the same thing - TIMEOUT_MS is a static package-private variable, which is easily modified in tests. Since we would like to add this value as configurable, it should be replaced to non-static variable. In this case

`zipkin2.reporter.stackdriver.internal.AwaitableUnaryClientCallListener.TIMEOUT_MS`

[2019-03-29 16:15] sergeymeshkov commented on #1617
`zipkin2.reporter.stackdriver.internal.AwaitableUnaryClientCallListener.TIMEOUT_MS`

[2019-03-29 16:18] sergeymeshkov commented on #1617
@meltsufin my apologies, I accidentally closed an issue. I will check implementation and try to create simple workaround PR. For now I will try to increase number `spring.cloud.gcp.trace.num-executor-threads`

[2019-03-29 16:32] rajivml opened #1621 "Stack Driver Propagate traceId From Upstream Apps"
We have some upstream apps which are coded in Dot Net and we have some other services coded in Spring Boot which runs on top of GKE.

Now the users will interact with Upstream Apps coded in dotnet which in-turn rely on Spring Boot Services for the task to complete.

For Spring boot Apps, am using Spring Cloud Sleuth tracing to trace the service calls flow/journey, but how do I stitch the entire jo

[2019-03-29 16:58] rajivml commented on #1604
Thank you very much @meltsufin . I have just now tested it and it's working fine and I can see the tags in stackdriver trace UI.

You can resolve the issue. Appreciate the support !!

[2019-03-29 18:03] meltsufin commented on #1621
The stitching is done via trace propagation in the HTTP headers.
We rely on Zipkin with Brave (B3-) headers.
Take a look at https://github.com/openzipkin/zipkin4net to make your .NET application use Zipkin for trace propagation.

[2019-03-29 18:04] meltsufin commented on #1604
I'm glad it worked for you! Thanks for the update.

[2019-03-29 18:04] #1604 closed

[2019-03-29 18:06] don-mayur opened #1622 "Spring Data Spanner: Get commit timestamp after successful commit"
It would be great if we can get  CommitResponse and timestamp of it, whenever write happens in transaction and LastUpdateTimestamp column which has `allow-commit-timestamp=true` enabled. Google spanner have docs for RPC which suggests its available with the calls [RPC Docs](https://cloud.google.com/spanner/docs/reference/rpc/google.spanner.v1#google.spanner.v1.CommitResponse). Also it is available

[2019-03-29 18:07] meltsufin commented on #1622
@ChengyuanZhao

[2019-03-29 20:29] ChengyuanZhao commented on #1622
@don-mayur I'll look into the CommitResponse.

The  last-updated timestamp column feature is already available. Check the refdoc here
https://github.com/spring-cloud/spring-cloud-gcp/blob/master/docs/src/main/asciidoc/spanner.adoc#columns
`spannerCommitTimestamp`

[2019-03-29 20:46] don-mayur commented on #1622
@ChengyuanZhao Thanks for suggesting column option `spannerCommitTimestamp` which  is helpful and I will use it, But in this issue I was referring about ability to retrieve commitTimestamp after successful transaction commit as a CommitResponse and way to get it, without again querying the database. Please see example in [Spanner Git Repo](https://github.com/googleapis/google-cloud-java/blob/maste

[2019-04-01 04:28] rajivml commented on #1621
@meltsufin Any idea, If this library http://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Diagnostics.AspNet/index.html internally uses the one you are suggesting https://github.com/openzipkin/zipkin4net , so that by using the google-cloud-dotnet library we can push all the traces to stackdriver

[2019-04-01 13:33] meltsufin commented on #1621
The library you're referring to doesn't seem to be using Zipkin. Nonetheless, depending on how it propagates traces across requests, it may interoperate with Zipkin GCP.

cc: @SurferJeffAtGoogle

[2019-04-01 15:12] #1490 closed

[2019-04-01 15:12] #1570 closed

[2019-04-01 18:20] anz000 opened #1623 "Cloud-gcp-sql (or sql-mysql) fails to load and shows autoconfiguration issues."
When I try `mvn spring-boot:run`, the application runs absolutely fine. But, when I run `mvn appengine:run`, the application shows problem with the database/datasource configuration.

The datasource configuration persists when I'm testing with local or one setup at gcp. The spring-boot:run doesn't have issue with any of them. Any hep would be appreciated. Thanks.

My POM for GCP looks like:
` <dep

[2019-04-01 18:24] anz000 commented on #1623
My application yml looks like

[code]

[2019-04-01 18:33] dzou commented on #1623
Looks like in the error logs it indicates you are missing the `database-name` for your SQL database.

You'll need to specify that in your application.yml:
[code]

[2019-04-01 19:39] anz000 commented on #1623
The error persists even after setting up the `application.yml` as you directed.

`
2019-04-01 14:34:11.631  WARN anz --- [           main] o.s.w.c.s.GenericWebApplicationContext   : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'org.springframework.boot.autoconfigure.

[2019-04-01 20:03] meltsufin commented on #1623
@anz000 If you're specifying the full datasource URL, why are you even using the starter at all? The purpose of the starter is to construct the URL automatically for you based on instance id and database name.

[2019-04-01 20:09] anz000 commented on #1623
I was not using it initially. In the midst of all errors and scanning for solution, it got in there.

As I was trying to create a minimum copy for sharing the project, it turns anything with mysql (local dev - not involving gcp cloud) fails to build with `mvn appengine:run`

[2019-04-01 20:44] anz000 commented on #1623
`https://github.com/anz000/spring-boot-gcp-sql`
This is the bare minimum I created. It runs with `mvn spring-boot:run`, but fails with `mvn appengine:run`. Note that there is a different error with this are minimum (compared to the 1st post). I've just removed the cloud-starter-sql stuffs.

It'd be great to know some of the best practices to use sql settings/setup within appengine/spring realm. Cu

[2019-04-01 21:11] dzou commented on #1623
@anz000 - Thanks, I'll take a look and followup. Yeah at minimum I think we can come up with some recommendations for you that we can also extend our docs with; though based on what you said any code-related changes is probably outside the scope of our team.

[2019-04-02 11:06] sergeymeshkov commented on #1617
[PR](https://github.com/openzipkin/zipkin-gcp/pull/122)

[2019-04-02 14:41] dzou commented on #1623
So it looks like the AppEngine does not pick up your settings that you set in application.yml; you have to set the properties you need in the appengine-web.xml as well, like this: https://github.com/ArnaudDemarcq/MyGaeTest/blob/master/src/main/webapp/WEB-INF/appengine-web.xml

As far as recommendations go, I think your setup is fine.
- For local development, you can startup your own database like

[2019-04-02 15:45] dzou commented on #1482
Unassigning self for now as I have not been looking deeper into it. This is a followup on investigating comments made by iron mountain.

[2019-04-02 15:46] dzou commented on #1209
Marking as completed; VisionTemplate and DocumentOcrTemplate have now been provided.

[2019-04-02 15:46] #1209 closed

[2019-04-02 15:51] elefeint commented on #1482
Assigning myself because I wanted to look into it anyway.

[2019-04-02 16:14] anz000 commented on #1623
Updated the repo with the configurations in appengine-web.xml ([https://github.com/anz000/spring-boot-gcp-sql](url), I'm still getting the same issue about the drivers.

Adding `com.mysql.jdbc.GoogleDriver` to the xml file as the driver also didn't help either.

[2019-04-02 18:42] dzou commented on #1623
Just created a PR with changes that worked for me: https://github.com/anz000/spring-boot-gcp-sql/pull/1

Basically had to change the properties to match the properties in your application.yml file. I realized the appengine-web.xml file I linked you was misleading since they were setting different properties; but that is why your changes were not working.

[2019-04-02 20:19] anz000 commented on #1623
Awesome, that did the trick.

Any idea on why appengine is hesitating the pick up the information from application.yml?

Thank you very much.

[2019-04-02 20:47] meltsufin commented on #1623
App Engine Standard uses `appeninge-web.xml` by default.
If you have both files, it will prioritize `appeninge-web.xml`.

[2019-04-02 22:20] anz000 commented on #1623
Makes sense. Is it possible to have profile based configuration like we do with application.yml?
eg, application-dev.yml | application-prod.yml and so on.
Probably something like appengine-web-dev.xml | appengine-web-prod.xml?

[2019-04-03 00:44] mbenson commented on #1401
What was the actual resolution of this issue? `spring-cloud-gcp-starter-config`  is configured to skip deploy, but `spring-cloud-gcp-config`, also mentioned in `spring-cloud-gcp-dependencies`, doesn't even seem to exist.

[2019-04-03 11:22] nealeu opened #1627 "Clarify Spring Cloud GCP SQL support for Kubernetes"
I've gone around in circles a lot in this area and still stuck (and trial and error in something as complex as K8s in GCP is not fun)

I would love to be deploying just as AppEngine Custom, but that doesn't give me the ability to do request and limit for vCPUs on many apps on the same node.

However, I'm targetting Kubernetes and it's not clear what Spring Cloud GCP features work in Kubernetes vs

[2019-04-03 13:00] dkBrazz commented on #1022
Stuck with the same issue, would be nice to have such limitations documented

[2019-04-03 15:40] meltsufin commented on #1401
Right, `spring-cloud-gcp-starter-config` is not in the released versions because it's not GA, and the reason it's not GA is that the underlying [Runtime Config API is Beta](https://cloud.google.com/deployment-manager/runtime-configurator/reference/rest).

Check out the new [Spring Cloud Bus](https://cloud.spring.io/spring-cloud-gcp/spring-cloud-gcp.html#_spring_cloud_bus) support, that you can use

[2019-04-03 15:45] meltsufin commented on #1627
Although we do not have extensive testing on K8, the project is designed to run on it. We do have some special handling for App Engine standard in the project, but it's very limited, and all features are designed to be independent of the execution environment.
If you find any problems with any of the features on K8, please file a specific bug.

[2019-04-03 15:45] #1627 closed

[2019-04-03 16:24] meltsufin commented on #1623
Whatever is possible with App Engine, should be possible here. It's really more a matter of referencing App Engine documentation. I'll close the issue for now, as it seems to be resolved.

[2019-04-03 16:24] #1623 closed

[2019-04-03 16:26] anz000 commented on #1623
Thanks. Yep, you could close the issue. Many thanks.

[2019-04-03 18:07] dzou commented on #1569
Closing the issue; assuming that the solution worked for you. Please feel free to reopen if you have additional questions.

[2019-04-03 18:07] #1569 closed

[2019-04-03 21:33] nealeu commented on #1627
That was what I guessed with there being AppEngine and default impls.  I'll press on.

[2019-04-03 21:33] dkothari-clgx commented on #460
Is it possible to use the similar implementation of ResourcePatternResolver like the Spring AWS Starter has and replace with Google Storage instead of S3?

https://github.com/spring-cloud/spring-cloud-aws/blob/master/spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/io/s3/PathMatchingSimpleStorageResourcePatternResolver.java

[2019-04-04 11:10] xinoxapps opened #1628 "StackDriver logging is not working"
Error : > Could not find an appender named [STACKDRIVER]. Did you define it below instead of above in the configuration file?

Gradle has:
[code]

Resources has: logback-spring.xml
[code]
Apparently the resource file is not included due a missing configuration step which is not mentioned in the readme.

[2019-04-04 13:43] meltsufin commented on #1628
Which version of `spring-cloud-gcp-starter-logging` are you using?
The location of `org/springframework/cloud/gcp/logging/logback-appender.xml` has recently changed in the 1.2 version.

[2019-04-04 14:26] nealeu opened #1629 "Incorrect URL in error message for missing instance-connection-name"
I guess this may have been in the README prior to some refactoring, so could do with updating for wherever you want the novice users to be directed:

    IllegalArgumentException: An instance connection name must be provided.
    Refer to https://github.com/spring-cloud/spring-cloud-gcp/tree/master/spring-cloud-gcp-starters/spring-cloud-gcp-starter-sql#google-cloud-sql-instance-connection-name for

[2019-04-04 14:32] rajivml opened #1630 "spring.cloud.gcp.credentials.encoded-key Not working"
HI,

Am trying to pass the credentials via the spring.cloud.gcp.credentials.encoded-key property,

and this is command am using to convert the key file to an base64 encoded value as suggested in this blog https://cloud.google.com/kms/base64-encoding

base64 key_file.json -w 0

[code]
And my Application is crashing always with the below error, any Idea what could be the reason for this issue, and d

[2019-04-04 17:18] anz000 opened #1631 "Runs locally, deploys but fails on appEngine Flex"
I'm trying to deploy on AppEngine flex but I am running into issues with mySql / Flyway. The logs suggests that it finds it hard to find the a Suitable driver.

This is related to the issue - https://github.com/spring-cloud/spring-cloud-gcp/issues/1623
Deployment on standard has been fixed, however, I'm finding it hard to have it working on flexible.

I've uploaded a demo (skinned) project at [htt

[2019-04-04 18:13] meltsufin opened #1632 "Test assumeThat not working with @SpringRunner and @SpringBootTest"
Before today, a failing assumption in `@BeforeClass` would cause the whole test to be skipped.
However, now the Spring application context for the test starts up even if the test is disabled with `assumeThat`.

Example:
[code]

[2019-04-04 18:17] artembilan commented on #1632
See here: https://github.com/spring-projects/spring-framework/issues/18490#issuecomment-479978923

[2019-04-04 18:24] meltsufin commented on #1631
Spring Cloud GCP doesn't seem to be involved here.
Are you able to deploy a Spring Boot application to App Engine Flex without any Spring Cloud GCP dependencies? That would be a starting point. If the deployment only fails when Spring Cloud GCP is added, we can investigate further.

[2019-04-04 18:26] elefeint opened #1633 "Upgrade cloud-sql-socket-factory to 1.0.13"
1) `SslSocketFactory` got renamed to `CoreSocketFactory`.
2)  Depending on the outcome of GoogleCloudPlatform/cloud-sql-jdbc-socket-factory#131, either skip a version and depend on the constant exposed in the next version, or hardcode the user token property name in `GcpCloudSqlAutoConfiguration`.

[2019-04-04 21:42] meltsufin commented on #1632
Looks like it's fixed.

[2019-04-04 21:42] #1632 closed

[2019-04-04 22:49] wbadam commented on #1628
I'm experiencing the same issue with `org.springframework.cloud:spring-cloud-gcp-starter-logging:1.1.0.RELEASE` version, which is resolved using `mavenBom 'org.springframework.cloud:spring-cloud-dependencies:Greenwich.RELEASE'`.

An appender seems to exist on the path `org/springframework/cloud/gcp/autoconfigure/logging/logback-appender.xml` inside `spring-cloud-gcp-autoconfigure-1.1.0.RELEASE.jar

[2019-04-05 03:46] anz000 commented on #1631
I am able to deploy with or without gcp. However, the application is working fine locally (with the remote gcloud sql). However, the on flex appEngine, that's not the case. If I put appengine-web.xml, this should run on standard too.

I've updated the repo [ https://github.com/anz000/appengineFlex]( https://github.com/anz000/appengineFlex ) gcp enabled. This runs locally, but not on flex environme

[2019-04-05 04:19] rajivml commented on #1630
If I mount the same key as a file through SPRING_CLOUD_GCP_CREDENTIALS_LOCATION it's working fine but when I set the same key through spring.cloud.gcp.credentials.encoded-key so that mounting isn't required and testing locally will also become easy

But it's not working and throwing the above exception posted

[2019-04-05 11:45] xinoxapps commented on #1628
Using the latest versions:

[code]

[2019-04-05 13:17] sergeymeshkov commented on #1568
Are there any plans for this feature?

[2019-04-05 13:54] meltsufin commented on #1630
@rajivml As I understand, `SPRING_CLOUD_GCP_CREDENTIALS_LOCATION` is equivalent to `spring.cloud.gcp.credentials.location`. Have you tried using that instead of `spring.cloud.gcp.credentials.encoded-key`?

[2019-04-05 13:54] elefeint opened #1635 "GcpStorageAutoConfigurationTests break due to spring web"
Two-factor problem:
1) Spring Data Rest is broken by spring-projects/spring-framework#22543.
2) The storage test brings in lots of unnecessary autoconfigurations, including spring data rest.

[2019-04-05 14:02] meltsufin commented on #1628
Unless, you're using snapshots, you need to refer to the release version documentation [here](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.1.0.RELEASE/multi/multi__stackdriver_logging.html).
Apologies for the confusion, since the released version doesn't have the files in the new location that is recommended for the future 1.2 release. If you're looking at the sample in `master`,

[2019-04-05 14:02] #1628 closed

[2019-04-05 14:05] meltsufin commented on #1568
It might be in the future, but we're not currently prioritizing it.

[2019-04-05 14:14] meltsufin opened #1637 "Cloud Spanner Session leaks"
Customer reports:

[2019-04-05 14:18] #1629 closed

[2019-04-05 14:21] ChengyuanZhao commented on #1637
Awaiting more detail. This is unexpected since tests now cover a known issue in the template's `read` method.

[2019-04-05 14:22] meltsufin commented on #1637
We should try to understand how big is the connection pool and whether the connections are properly returned to the pool after use.

[2019-04-05 14:23] dzou commented on #460
Gonna take a look at this one.

@kohago - I've unassigned you for now since this bug has been inactive for a while.

[2019-04-05 14:40] meltsufin commented on #1637
It looks like the default pool size is 400. I suspect that the sessions are not being returned to the pool after use. This would cause the pool to be exhausted after a while, but not immediately. We can try to force it by configuring the maximum pool size to something really small, like "1".

[2019-04-05 14:46] ChengyuanZhao commented on #1637
@meltsufin Hmm trying that with our existing integration tests doesn't cause an issue (we do dozens of operations in quick succession).

I think we'll need to get more detail from the user; the number of operations and places to look is pretty large without a hint.

[2019-04-05 14:58] rajivml commented on #1630
When I am passing the key file through SPRING_CLOUD_GCP_CREDENTIALS_LOCATION  and SPRING_CLOUD_GCP_TRACE_CREDENTIALS_LOCATION, it's working fine, but I need to create a volume and mount that volume to the container for it to work.

And if am testing the app locally I need to make sure that I have the key file on my local system and my SPRING_CLOUD_GCP_CREDENTIALS_LOCATION  environment variable sho

[2019-04-05 14:59] meltsufin commented on #1637
Also, could be related to https://github.com/googleapis/google-cloud-java/issues/3616

[2019-04-05 16:25] meltsufin commented on #1630
You need the full contents of the JSON file to be base-64 encoded.
This is the code that decodes it and creates the credentials:
[code]
See: https://googleapis.github.io/google-auth-library-java/releases/latest/apidocs/com/google/auth/oauth2/GoogleCredentials.html#fromStream-java.io.InputStream-

[2019-04-05 17:18] rajivml commented on #1630
I have encoded the complete JSON file itself... will check what the below piece is returning and get back

Base64.getDecoder().decode(encodedKey)))
        .createScoped(scopes)

[2019-04-05 17:24] meltsufin commented on #1630
@rajivml I just tried using `base64 [file] -w 0` and setting the `ecoded-key`. It worked for me.

[2019-04-05 17:27] meltsufin commented on #1630
Closing, since we're unable to reproduce. Please let us know if you find out what was wrong.

[2019-04-05 17:27] #1630 closed

[2019-04-05 20:00] #1635 closed

[2019-04-07 18:45] don-mayur opened #1639 "Subscribing to multiple subscriptions from different Project IDs"
Spring Cloud GCP doesn't provide(or I am not aware of) option/configuration to subscribe to two different subscriptions which belong to two individual and separate Google Cloud Project with respective Project IDs.

Right now we use Google Cloud Pub-Sub library to do it but would like to use Spring GCP PubSub for this scenario.

[2019-04-07 19:12] rajivml opened #1640 "Spring Sleuth: How to Trace Long Running Methods Within a Service"
HI,

Right now am able to track response time across the services and I would like to extend or break down the response time within a service so that I can track response times of some long running methods within a service like DB calls, external service calls like S3/GCS uploads/downloads, docker builds etc kind of long running methods.

can you please let me know how can I achieve this, I tried

[2019-04-08 13:15] elefeint commented on #1639
It's possible to do, with some custom configuration. You'll need to define a separate [subscriber factory](https://github.com/spring-cloud/spring-cloud-gcp/blob/72d746486fedd19b16ead3cdbbcfb48c3e90c3a9/spring-cloud-gcp-pubsub/src/main/java/org/springframework/cloud/gcp/pubsub/support/DefaultSubscriberFactory.java#L78) and [PublisherFactory](https://github.com/spring-cloud/spring-cloud-gcp/blob/72d

[2019-04-08 13:50] meltsufin commented on #1640
@rajivml The Trace sample already has an example of `@NewSpan` in the `WorkService` class. Is it different from what you're trying to do?

[2019-04-08 14:47] elefeint commented on #1631
What do the logs show when you get 403 and 404 errors?

[2019-04-08 14:54] anz000 commented on #1631
```java.lang.IllegalStateException: No Available Context at com.google.cloud.runtimes.jetty9.DeploymentCheck.lifeCycleStarted(DeploymentCheck.java:46) at org.eclipse.jetty.util.component.AbstractLifeCycle.setStarted(AbstractLifeCycle.java:179) at org.eclipse.jetty.util.component.AbstractLifeCycle.start(AbstractLifeCycle.java:69) at org.eclipse.jetty.xml.XmlConfiguration$1.run(XmlConfiguration.java

[2019-04-08 17:58] meltsufin commented on #1631
@anz000 You application is not starting because you're missing the `SpringBootServletInitializer`.

Please follow the instructions here: https://docs.spring.io/spring-boot/docs/current/reference/html/howto-traditional-deployment.html and see if helps.

[2019-04-09 15:47] anz000 commented on #1631
Thanks @meltsufin . I had to put in the `SpringBootServletInitializer` as you suggested, and remove the `devtools` dependency, and add few entries into `app.yaml` config to fix timeouts to have it working. Appreciate your help. This issue could be closed.

[2019-04-09 16:03] #1631 closed

[2019-04-09 17:24] lucasoares commented on #1430
Hello. I have a question and I don't know if I should open another ticket.

Google libraries have a good class to start the emulator through java. For datastore this class is LocalDatastoreHelper.java.

With this new support for datastore-emulator the host must have to be defined statically in application.properties. The problem is the emulator helper starts search for a random free port to start

[2019-04-09 17:33] dzou commented on #1430
@lucasoares

Hey thanks for posting the question. Is it possible to startup your emulator with a [predetermined port via. --port flag](https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-datastore/src/main/java/com/google/cloud/datastore/testing/LocalDatastoreHelper.java#L64)?

I.e. in an ideal scenario you could set your emulator and application.propertie

[2019-04-09 20:49] meltsufin commented on #1430
@lucasoares Using the port flag that @dzou suggested should solve your issue.
However, maybe you're also suggesting that we should have a configuration property like `spring.cloud.gcp.datastore.emulator=true` that will then automatically start-up the emulator and configure the port. It's definitely an idea we can pursue and utilize the mentioned `LocalDatastoreHelper` to accomplish it. If you thin

[2019-04-10 15:41] lucasoares commented on #1430
@meltsufin yes, exactly that..

@dzou unfortunately the `LocalDatastoreHelper` have a hardcoded way to determine the port itself. It can not be changed outside the class so will be impossible to start the emulator with a custom fixed port as you can see in those three lines:
[LocalDatastoreHelper port usage](https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cl

[2019-04-10 15:47] meltsufin commented on #1430
`LocalDatastoreHelper` should definitely be changed to accept a user-defined port. Please link to the issue you create for it here. I will also create an issue in our repo to track auto-configuration of the Datastore emulator.

[2019-04-10 15:52] meltsufin opened #1642 "Support auto-configuration of the Datastore emulator"
Currently, we support the Datastore emulator by allowing the client to configure host and port via the `spring.cloud.gcp.datastore.emulator-host` property. However, it remains the user's responsibility to start and stop the emulator.

The proposal is to add the `spring.cloud.gcp.datastore.emulator=true` property to automatically configure the emulator, start, and stop it. `LocalDatastoreHelper` fr

[2019-04-10 15:53] meltsufin commented on #1430
@lucasoares I created the issue #1642. Contributions are always welcomed! :wink:

[2019-04-10 16:27] lucasoares commented on #1642
I created the issue on google github [here](https://github.com/googleapis/google-cloud-java/issues/4933) and I will submit the PR accepting a custom port.

[2019-04-11 22:03] lucasoares commented on #1430
Google's clients now accepts a custom port. We just need to wait for their release haha

After that I can create a PR here to auto configure the datastore emulator after using a custom properties.

[2019-04-12 07:13] rajivml commented on #1640
apologize for the late response, I just now tried with @NewSpan Annotation and am able to see response times at an Method level.  I think some rogue dependency or dependency mismatch was causing an issue earlier.

You can resolve it

[2019-04-12 07:27] sergeymeshkov commented on #1617
@meltsufin PR has been merged to master

[2019-04-12 14:22] meltsufin commented on #1640
Thanks for the update! Glad it worked for you!

[2019-04-12 14:22] #1640 closed

[2019-04-12 14:26] meltsufin commented on #1617
Thanks! Is it in a released version now?
If so, feel free to create a PR here as well to resolve this issue.
We really appreciate contributors like you!

[2019-04-12 18:02] ludoch opened #1643 "Make samples standalone"
The samples are in the same repo as the libraries...
If I check out the entire repo it is not clear how do I use a given sample with a given release (HEAD is not released)

The pom refers to the parent sample that refers to the parent...
This would not be the case for real customers apps, and they are struggling to adapt to a correct pom with the correct references to a released version of SpringB

[2019-04-12 18:05] ludoch opened #1644 "[help needed] Stackdriver logging sample configuration for Java 11 App Engine"
I cloned the GCP logging sample to my repo and adapted a bit the pom (still pointing to my project!) and the app.yaml to target GAE Java11 with fatjar mode.
After deployment, I see this cryptic error message and the server does not boot:

A  Exception in thread "main" java.lang.reflect.InvocationTargetException
A  	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
A

[2019-04-12 18:06] ludoch commented on #1644
Sample code is located at:

https://github.com/ludoch/samples/tree/master/java11/spring-cloud-gcp-logging-sample

[2019-04-12 18:11] meltsufin commented on #1643
I think it's a fair criticism, as more people are trying to use the samples directly rather than just looking at the code.

[2019-04-12 18:12] meltsufin commented on #1644
I believe this is a duplicate of https://github.com/spring-cloud/spring-cloud-gcp/issues/1628

[2019-04-12 18:24] ludoch commented on #1644
I think so as well... Thanks!
https://github.com/spring-cloud/spring-cloud-gcp/issues/1643 would have helped a bit.

[2019-04-12 18:25] ludoch commented on #1644
https://springboot-springcloud-logging-dot-openjdk11.appspot.com/log works now with GAE Java11.
I'll update the sample on my side.

[2019-04-12 18:26] ludoch commented on #1644
I had to add a second dep:

[code]
to get the autoconfigure file...

[2019-04-12 21:19] ludoch commented on #1644
Will my app break again when I switch to newer GCP integration without changing the xml config?
Would that be OK with semver?

[2019-04-15 16:01] sergeymeshkov commented on #1617
@meltsufin I'll try to implement this feature right after zipkin release.

[2019-04-15 18:57] elefeint commented on #1462
[Sample app](https://github.com/spring-cloud/spring-cloud-gcp/tree/grpc-spanner-sample/spring-cloud-gcp-samples/spring-cloud-gcp-grpc-spanner-sample) available on `grpc-spanner-sample` branch.

Putting this issue on hold for now.

[2019-04-16 03:13] meltsufin commented on #1644
`spring-cloud-gcp-starter-logging` includes `spring-cloud-gcp-autoconfigure` as a transitive dep. So, adding it explicitly shouldn't change anything. Can you share you whole `pom.xml`?

[2019-04-16 03:24] meltsufin commented on #1617
Feel free to stage a PR against the snapshot version in the mean time, if you like.

[2019-04-16 14:41] elefeint opened #1648 "Reenable tests affected by multiple DestinationResolver beans"
When Spring Cloud Stream is compatible with Spring Integration 5.2:
* `PubSubExtendedBindingsPropertiesTests`
* `SampleAppIntegrationTest` in `spring-cloud-gcp-samples/spring-cloud-gcp-pubsub-binder-sample`
*  `SampleAppIntegrationTest` in `spring-cloud-gcp-samples/spring-cloud-gcp-pubsub-polling-binder-sample`
* `LocalSampleAppIntegrationTest` in `spring-cloud-gcp-samples/spring-cloud-gcp-pubsub-

[2019-04-16 14:52] artembilan commented on #1648
The fix is here: https://github.com/spring-cloud/spring-cloud-stream/pull/1690

[2019-04-16 22:12] mmosttler opened #1651 "gcp-starter-trace in GKE is not working"
I have added the gcp starter trace to my spring boot service and after deploying to GKE I am getting the below exception.

[code]

[code]

Is there something missing that I need to add?

[2019-04-17 00:02] vineela-gampa opened #1652 "Spanner session pooling - min/max sessions along with grpc channel configuration -recommendation needed"
Hi @meltsufin @ChengyuanZhao

I want to know whats the recommended configuration required for min / max sessions on spanner. whats the ideal count of grpc channels to be configured?
Current defaults used in cloud spanner code min =10 sessions max=400
and grpc channels defaults to 10.

Inorder to handle 100 TPS with spanner node count=2  what is the recommended min / max sessions to be configured a

[2019-04-17 00:09] vineela-gampa opened #1653 "Spanner taking longer to respond sometimes -Intermittently"
Hi @meltsufin  @ChengyuanZhao

I observed spanner takes quite long sometimes to respond. It doesnt happen always but on some requests reads on a table (which has 200 records ONLY) took >2s .

i dont see any CPU Spike on spanner ?Unable to figure out why only few calls have that issues. If you have any insights to share where to start looking would greatly help.

![image](https://user-images.github

[2019-04-17 13:46] elefeint commented on #1651
This sounds like a Guava version problem; you likely have an old guava dependency on the classpath.

Trace release 1.1.1 depended on google-cloud-bom 0.84.0-alpha, so that would be compatible with guava 26.

[2019-04-17 17:37] mmosttler commented on #1651
@elefeint Looks like springfox-swagger2 was pulling in the older version (20) of guava.  I excluded that and now it is pulling in v26.  I am now getting a different error.

[code]

My service is running in GKE so I am not quite sure why it doesn't seem to know that or the project it is running in.  How can I get it to understand where it is running?  Is there another dependency missing?

[2019-04-17 19:27] elefeint commented on #1651
The project ID can be overridden by providing `spring.cloud.gcp.project-id` property (the order of project ID discovery is described in this [section in the docs](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/docs/src/main/asciidoc/core.adoc#project-id)).

This specific problem seems related to resource manager APIs not being available.  Check that [Resource Manager API ](https://co

[2019-04-17 20:57] mmosttler commented on #1651
Looks like the Resource Manager API is enabled for my project.

I added the project-id property and it got a little further, but then it looked like i needed the credentials so i added that property for a new service account I just created as well.  That then led to an issue with the gcp starter logging.  I ended up having to also add an env for GOOGLE_APPLICATION_CREDENTIALS to also point to the

[2019-04-18 00:30] vineela-gampa commented on #1652
@ChengyuanZhao @meltsufin  any update on this ?

[2019-04-18 00:30] vineela-gampa commented on #1653
@ChengyuanZhao @meltsufin do you guys have any update to share?

[2019-04-18 00:42] ChengyuanZhao commented on #1652
@vineela-gampa Please direct query and Spanner performance questions to Cloud Spanner support. We focus on the integration with Spring Data and aren't the best source of advice on this question.

[2019-04-18 00:46] ChengyuanZhao commented on #1653
@vineela-gampa Is it apparent where the hang-up is? Is it possible to debug and step through the operation to see where the time is taken? You may want to direct this question to Cloud Spanner support , as Spring Data Spanner merely sends the query to Spanner using the client lib and doesn't participate in executing it.

[2019-04-18 03:21] vineela-gampa commented on #1653
No its not apparent. Sure will take it up there.

[2019-04-18 03:21] #1653 closed

[2019-04-18 03:21] vineela-gampa commented on #1652
Sure got it.

[2019-04-18 03:21] #1652 closed

[2019-04-18 14:54] elefeint commented on #1651
For the stack trace: it's not clear that it's related to logging.

For logging without credentials: when you deploy to GKE, it runs under a "Compute Engine default service account", so in principle, you could just give permissions to that account (but then project ID and credentials discovery should have worked out of the box in the first place, so that's not necessarily helpful advice). Service a

[2019-04-19 15:45] mmosttler commented on #1651
Thanks,  I tried using the property for spring.cloud.gcp.logging.enabled=false
But seems that was not sufficient, my startup locally still seems to want to credentials which are not available locally.

[code]

Are there any other properties that are also needed to disable locally?

From: Elena Felder [mailto:notifications@github.com]
Sent: Thursday, April 18, 2019 7:55 AM
To: spring-cloud/spring-c

[2019-04-19 18:24] elefeint commented on #1651
Ah, right, trace. I gave you the logging option; try this instead: `spring.cloud.gcp.trace.enabled`

[2019-04-21 23:02] ivorcosta opened #1654 "DatastoreDataException: Unable to convert class java.util.ArrayList to class"
### Version: 1.1.1.RC2
### JDK: 8
### Spring Boot Version: 2.1.4.RELEASE

This method name is not working:
[code]

From spring [documentation:](https://docs.spring.io/spring-data/data-commons/docs/current/reference/html/#repositories.limit-query-result)
[code]

[code]

[2019-04-22 01:22] ChengyuanZhao commented on #1654
@ivorcosta
Could you share the `Click` entity class?

[2019-04-22 02:43] ChengyuanZhao commented on #1654
@dmitry-s

Actually looks like the user is trying to get the singular return type. Do you remember the key word for that? Is it "findFirst" or "findOne" or "findTop" ?

[2019-04-22 13:00] ivorcosta commented on #1654
[code]

[code]

[2019-04-22 14:54] ChengyuanZhao commented on #1654
@ivorcosta

Check out the ref doc section here : https://github.com/spring-cloud/spring-cloud-gcp/blob/master/docs/src/main/asciidoc/datastore.adoc#query-methods-by-convention

Could you try `findOne...` or `getOne....` or just `get....` ?

[2019-04-22 15:14] dmitry-s commented on #1654
It is `getOne...`

See examples [here](https://github.com/spring-cloud/spring-cloud-gcp/blob/ebd8c3cefa84cf1c19731c6297ad350860aebb37/spring-cloud-gcp-data-datastore/src/test/java/org/springframework/cloud/gcp/data/datastore/it/TestEntityRepository.java#L92) and [here](https://github.com/spring-cloud/spring-cloud-gcp/blob/ebd8c3cefa84cf1c19731c6297ad350860aebb37/spring-cloud-gcp-data-datastore/src

[2019-04-22 15:52] ivorcosta commented on #1654
Same error for these attempts:

[code]

[2019-04-22 16:08] ChengyuanZhao commented on #1654
@ivorcosta

Please try `findOneBy`  and `getBy` as shown in the ref docs.

[2019-04-22 17:14] ivorcosta commented on #1654
Same error for these attempts:

[code]

[2019-04-22 17:34] ChengyuanZhao commented on #1654
@ivorcosta Which version of the module are you using?

[2019-04-22 18:16] ivorcosta commented on #1654
Version: 1.1.1.RC2
JDK: 8
Spring Boot Version: 2.1.4.RELEASE

**My gradle script:**
[code]

[2019-04-22 18:19] ChengyuanZhao commented on #1654
@ivorcosta Ah I think support for this feature only came on Feb 25, which means you will need to use one of our v2 BUILD SNAPSHOTs to use it.

[2019-04-22 18:35] ivorcosta commented on #1654
1.1.1.RELEASE is from march 06, 2019, it is the last available version on mvnrepository.
https://mvnrepository.com/artifact/org.springframework.cloud/spring-cloud-gcp-starter-data-datastore/1.1.1.RELEASE

Where should I get this v2 build snapshot?

[2019-04-22 18:41] ChengyuanZhao commented on #1654
You will need to add this snapshots repo

[code]

[2019-04-22 19:02] ivorcosta commented on #1654
Using the above version all of these methods worked:

[code]

Thanks for the help guys. Keep rocking!

[2019-04-22 20:01] #1654 closed

[2019-04-24 12:48] markuskruse opened #1655 "Sending logs with logback appender disables custom truststore"
Our application connects to several other services that has their own root certificates. That works well with a custom truststore.

    @PostConstruct
    public void configureSSL() {
        System.setProperty("javax.net.ssl.trustStore", trustStore);
        System.setProperty("javax.net.ssl.trustStorePassword", trustStorePassword);
    }

I can import this library without problem:

    compile '

[2019-04-24 20:18] dzou commented on #1655
At a surface level, you can try upgrading the [version](
https://mvnrepository.com/artifact/org.springframework.cloud/spring-cloud-gcp-starter-logging) to see if that fixes it for you; i.e.
`compile 'org.springframework.cloud:spring-cloud-gcp-starter-logging:1.1.1.RELEASE'`

Unfortunately I don't think our team is too familiar with truststore; we might need a reproducible example to help with debu

[2019-04-24 20:57] meltsufin commented on #1655
It's very strange because logging is not involved in this stack trace at all.
If I understand correctly, the problem only appears when you use the stackdriver Logback appender.
In an effort to isolate the problem, does everything start working if you only remove this line?
[code]
Nothing in our code really touches anything related to the truststore.
Perhaps it's something in the [client library](h

[2019-04-25 07:39] markuskruse commented on #1655
Thanks for the quick response guys. I tried upgrading but it didn't help.

@meltsufin Yes, it is that exact row that breaks it.

So if I comment it out, it works. But there is no logs sent.

I am creating a little test project to show the problem in isolation.

[2019-04-25 09:47] markuskruse commented on #1655
Example application here:

https://github.com/markuskruse/truststore-example

[2019-04-25 15:05] fabiocarneiro opened #1656 "Assertions force me to define useless config property"
I think the following assertions could be replaced with log warnings because if `spring.datasource.url` is defined, they are not required or used. Ideally, the configuration would not even run, but I am not sure this is possible.

https://github.com/spring-cloud/spring-cloud-gcp/blob/ebd8c3cefa84cf1c19731c6297ad350860aebb37/spring-cloud-gcp-autoconfigure/src/main/java/org/springframework/cloud/gcp

[2019-04-25 15:29] meltsufin commented on #1655
@markuskruse Thanks for the example. I'm able to reproduce the issue, but still trying to identify the root cause. I'll give you an update soon.

[2019-04-25 20:16] meltsufin commented on #1656
If you prefer to use the URL, then you don't need this auto-configuration at all.
Try setting `spring.cloud.gcp.sql.enabled = false`.

[2019-04-26 08:24] fabiocarneiro commented on #1656
@meltsufin Fair point but I don't think to configure the URL is the only purpose of this library. It can also be used to download the other dependencies.

I don't think that because I don't want a particular bean to be autoconfigured, it makes the whole package useless.

[2019-04-26 13:54] meltsufin commented on #1656
`spring.cloud.gcp.sql.enabled` specifically applies to the auto-configuration class which currently only forms the URL with the proper credentials. If you're defining the URL, you're handling everything including the credentials file specification, if not using default credentials.
Why do you still want the `GcpCloudSqlAutoConfiguration` class to be included in the application context?

Your comme

[2019-04-26 20:14] meltsufin commented on #1655
I experimented a bit more and I still don't know what exactly is happening. It looks like GRPC, which is used for Logging and pretty much all other GCP services might be hijacking the Java SSL networking configuration that is normally based on the properties you're using `javax.net.ssl.trustStore` and `javax.net.ssl.trustStorePassword`. You may want to look for alternative ways to specify the trus

[2019-04-26 22:17] lucasoares commented on #1642
@meltsufin google cloud lauched the release if my modification accepting port on the datastore emulator:
https://github.com/googleapis/google-cloud-java/releases/tag/v0.88.0

[2019-04-29 13:49] meltsufin commented on #1642
@lucasoares Would you be interested in a contributing a PR for it?

[2019-04-29 17:20] ChengyuanZhao opened #1659 "Datastore template and converter/mapper produces fluxes"
In effort to provide reactive repositories for Datastore we need to modify the converter/mapper to produce a flux from result set instead of doing the row-by-row iteration itself.

The standard template can then also use this converter and simply consumes the entire flux before returning.

[2019-04-29 17:22] ChengyuanZhao opened #1660 "Explore Spanner converter/mapper produces flux"
This is the same effort as described for datastore in #1659

[2019-04-29 22:51] lucasoares commented on #1642
@meltsufin I can help with that but I'm not a spring contributor.. To do that I will need to change datastore client's version, but spring use the google client BOM in `spring-cloud-gcp-dependencies` and it will not let me change only the datastore version. What I should do in this case?

After that will be the easy part :)

If I continue with this contribution I will try to enter in some communit

[2019-04-30 16:06] ChengyuanZhao opened #1662 "Datastore Reactive Crud Repo boilerplate registrar and factory classes"
these are mostly boilerplate registration and factory classes for the reactive repo.

They are mirror images of the standard repo boilerplate.

includes unit tests.

[2019-04-30 16:09] ChengyuanZhao opened #1663 "Datastore reactive repo implementation"
an imply of ReactiveCrudRepo for datastore. will use the reactive datastore template.

[2019-04-30 16:10] ChengyuanZhao opened #1664 "Datastore reactive sample and integration tests. and ref doc"

[2019-04-30 16:50] ChengyuanZhao opened #1665 "Explore what to do regarding Events from Reactive Datastore Repo"

[2019-04-30 17:04] meltsufin commented on #1662
The description sounds like for a PR. :smile:

[2019-05-01 11:32] AbhinavA1990 opened #1668 "Caused by: java.lang.ClassNotFoundException: com.google.cloud.storage.Storage"
at org.springframework.boot.autoconfigure.condition.SpringBootCondition.matches (SpringBootCondition.java:47)
    at org.springframework.context.annotation.ConditionEvaluator.shouldSkip (ConditionEvaluator.java:108)
    at org.springframework.context.annotation.ConfigurationClassBeanDefinitionReader.loadBeanDefinitionsForBeanMethod (ConfigurationClassBeanDefinitionReader.java:184)
    at org.sprin

[2019-05-01 15:20] ChengyuanZhao commented on #1668
@AbhinavA1990

Could you share more about your specific usage? (How is it being used in your application? which dependencies are you using from us? how are you doing your Spring config?)

[2019-05-01 20:37] meltsufin commented on #1608
The fix [PR](https://github.com/googleapis/google-cloud-java/pull/4784) has been merged on the client libraries side, which should be available in the next `v0.90.0` release.

[2019-05-02 01:25] trisberg opened #1669 "Cloud SQL MySQL connection error with SSLHandshakeException"
Hi, I'm running Spring Boot app on GKE cluster trying to connect to Cloud SQL MySQL instance. I think I'm getting close configuring things but getting an exception when the app starts. Looks like "com.mysql.cj.jdbc.exceptions.CommunicationsException: Communications link failure" and  the message "The last packet sent successfully to the server was 0 milliseconds ago. The driver has not received an

[2019-05-02 06:27] markuskruse commented on #1655
Maybe this bug is belonging more on GRPC?

[2019-05-02 08:34] markuskruse commented on #1655
I worked around it using this answer:
https://stackoverflow.com/questions/2419791/using-webservicetemplate-with-a-keystore
Thanks for the effort guys.

[2019-05-02 14:08] meltsufin commented on #1655
Thanks a lot for the update! I'll keep the issue open though in case someone wants take on the challenge to get to the bottom of this.

[2019-05-02 14:14] meltsufin commented on #1669
Are you using the Spring Cloud GCP Cloud SQL (MySQL) Starter? It involves using the [Cloud SQL socket factory](https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory).
I believe it should just work. An alternative is to set up a Cloud SQL proxy as described [here](https://cloud.google.com/sql/docs/mysql/connect-kubernetes-engine).

[2019-05-02 14:25] trisberg commented on #1669
I am using the starters

[code]

and I was hoping that it would just work. I'm running this as a Knative app, so there is Istio involved as well. I did create ServiceEntry resources for "*.googleapis.com", "metadata.google.internal" and also for the MySQL service IP on port 3306

[2019-05-02 14:33] dmitry-s opened #1670 "Enable firestore integration CI"
1. Set up firestore project and configure tests to use it
2. Enable it.firestore in CI

[2019-05-02 14:35] dmitry-s opened #1671 "Add readme to firestore sample"
Similar to the other samples, add readme file with a brief description

[2019-05-02 14:37] trisberg commented on #1669
I just saw that it uses port 3307 here: https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory#firewall-configuration

Let me try that ...

[2019-05-02 14:46] trisberg commented on #1669
Looks like that was the problem, thanks for pointing me to the socket factory docs.

This is what I used:

[code]

[2019-05-02 14:46] #1669 closed

[2019-05-02 18:46] #1608 closed

[2019-05-03 08:07] oarshad opened #1673 "Datastore List property with NULL values throws error"
An entity with a property list which has null values throwing error:

[code]
[code]

The value in the collection in datastore is as follow: `collection=[NullValue{valueType=NULL, excludeFromIndexes=false, meaning=0, value=null}, NullValue{valueType=NULL, excludeFromIndexes=false, meaning=0, value=null}, StringValue{valueType=STRING, excludeFromIndexes=true, meaning=0, value=DUMMY}]`

Without the n

[2019-05-03 14:05] meltsufin commented on #1673
@dmitry-s @ChengyuanZhao  PTAL

[2019-05-03 14:31] ChengyuanZhao commented on #1673
@oarshad Thank you for reporting this issue! Which version of the module are you using? I'll try to replicate with our current build in the meantime.

[2019-05-03 14:34] oarshad commented on #1673
I tried `1.1.1.RELEASE` and `1.1.0.RELEASE` but same result.

[2019-05-03 15:22] ChengyuanZhao commented on #1673
@oarshad
We added this fix and it should come out with our next release of the 1.1 branch or the most-up-to-date 1.2 branch. Currently you would see the fix applied to the BUILD-SNAPSHOT versions of those 2 branches.

[2019-05-06 14:18] ChengyuanZhao commented on #1673
Closing issue as issue has been addressed in both branches.

[2019-05-06 14:18] #1673 closed

[2019-05-07 14:09] meltsufin opened #1677 "New ID column created in Datastore Entity"
From @naveenreddyalka via Gitter:

[2019-05-07 14:10] meltsufin commented on #1677
@dmitry-s @ChengyuanZhao PTAL

[2019-05-07 14:26] ChengyuanZhao commented on #1677
@naveenreddyalka Just to clarify, when you create these new java entity instances are you leaving the ID property null / unset?

[2019-05-07 14:39] ChengyuanZhao commented on #1677
@naveenreddyalka

I think I know why this is happening. The reason is in Spring Data you must choose one of your properties in your Java object to be the `Id`. If your entity in Datastore previously did not a column that held the same value as the Key for that entity, then it must show up in Spring Data as a property. When that property is then saved back to Datastore it will be saved as that new

[2019-05-07 14:53] meltsufin commented on #1677
The question is whether we should be storing the key of the entity in column at all and have this effectively duplicate storage of entity key as key and column, with a potential of them getting out of sync.

[2019-05-07 15:04] ChengyuanZhao commented on #1677
@meltsufin  that's starting to sound better to me the more i think about it. I'll think some more to see if it doesn't cause any issues and it would probably worthwhile to implement (not too huge a change actually).

[2019-05-07 17:42] naveenreddyalka commented on #1677
@ChengyuanZhao : Yes , we will be setting a string key in our code

[2019-05-07 17:44] naveenreddyalka commented on #1677
@meltsufin @ChengyuanZhao : And yes the main problem is now same value is there two times
one as a key and then other as another property called 'key'

[2019-05-08 22:02] tafypz opened #1679 "spring.cloud.gcp.sql.credentials.location does not get picked up by runtime."
Using `org.springframework.cloud:pring-cloud-gcp-starter-sql-mysql:1.1.1.RELEASE` (same problem with 1.2.0.BUILD-SNAPSHOT)
While passing the property **`spring.cloud.gcp.sql.credentials.location`**, the default service account for the machine gets picked up instead of the account specified in the json file.
Using **`spring.cloud.gcp.credentials.location`** works fine and the account is picked up f

[2019-05-09 14:07] meltsufin commented on #1679
I'm not able to reproduce this problem. I just tried using `spring.cloud.gcp.sql.credentials.location` in the [MySQL sample](https://github.com/spring-cloud/spring-cloud-gcp/tree/master/spring-cloud-gcp-samples/spring-cloud-gcp-sql-mysql-sample) and when I put an invalid file in there, it fails. So, it's clearly being picked up.

Can you try to reproduce your issue on the sample?

[2019-05-10 15:39] tafypz commented on #1679
@meltsufin The sample code works however it is not using the property specified in the [documentation](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.1.0.RELEASE/single/spring-cloud-gcp.html#_spring_boot_starter_for_google_cloud_sql):
documentation mentions **`spring.cloud.gcp.sql.credentials.location`** but the sample code uses **`spring.cloud.gcp.credentials.location`**

[2019-05-10 16:23] meltsufin commented on #1679
How does it fail? Both properties are valid options. The first one just applies to all services vs. the second just for Cloud SQL. I tried `spring.cloud.gcp.sql.credentials.location` and it worked for me.

[2019-05-10 23:54] tafypz commented on #1679
@meltsufin My apologies, I misread the logging statement that came from the default credentials provider as a statement about the SQL credentials being used.

[2019-05-10 23:54] #1679 closed

[2019-05-13 07:34] olgmaks opened #1680 "Annotated GQL Query Method has 2 tags but a different number of parameter values"
{"timestamp":"2019-05-13T07:02:09.618+0000","status":500,"error":"Internal Server Error","message":"Annotated GQL Query Method findAllArticlesIdsForAuthor has 2 tags but a different number of parameter values: 1","path":"/articles/ids"}

[2019-05-13 07:34] olgmaks commented on #1680
mavenBom 'org.springframework.cloud:spring-cloud-gcp-dependencies:1.1.1.RELEASE'

[2019-05-13 07:35] olgmaks commented on #1680
public interface ArticlesRepository extends DatastoreRepository <Article, Long> {

    List<Article> findArticleById(Long id);

    @Query("select id, name, description from articles where author = @author")
    List<Article> findArticlesByAuthor(@Param("author") Key author);

    @Query("select id from articles")
    List<Long> findAllArticlesIds();

    @Query("select id from articles where auth

[2019-05-13 14:53] meltsufin commented on #1680
@dmitry-s @ChengyuanZhao PTAL

[2019-05-13 15:22] ChengyuanZhao commented on #1680
@olgmaks Would you happen to be using this repository class query method from multiple threads at the same time?

[2019-05-13 15:23] olgmaks commented on #1680
@ChengyuanZhao yes. when bean scope=singleton and send many request the same time

[2019-05-13 15:27] dmitry-s commented on #1680
I could not replicate the issue on the latest version. Looks like this issue was fixed there.

[2019-05-13 15:28] ChengyuanZhao commented on #1680
@olgmaks  , could you give 1.2.0.BUILD-SNAPSHOT a try?

I think this may be the same issue as https://github.com/spring-cloud/spring-cloud-gcp/issues/1610 .

What's happening is that we count the number of tags in the queries on first-use and there's like a singleton query method, so it gets counted multiple times.

We have this fixed in 1.2.0.BUILD-SNAPSHOT, but haven't ported it back to 1.1.x be

[2019-05-13 18:15] #1680 closed

[2019-05-13 18:22] ChengyuanZhao commented on #1680
@olgmaks

I've merged the fix into the 1.1.x branch. It will appear in next releases of both 1.1 and 1.2 branches (we release with the Spring "release train") , but is also available in the BUILD-SNAPSHOT versions.

[2019-05-13 19:02] saturnism opened #1682 "Update App Engine app.yaml to use App Engine Java 11"
There are currently some examples that are using App Engine Flex for deployment. App Engine Java 11 can deploy fat JARs going forward. It would be great to update & test the samples to use App Engine Java 11 when it's beta.

https://github.com/spring-cloud/spring-cloud-gcp/search?q=flex&unscoped_q=flex

[2019-05-14 14:11] lucasoares opened #1683 "Unable to parse id field from an Entity that doesn't explicity has the id as a field on datastore"
Hello.

I'm facing a issue with the annotated id field which spring can not parse the field and returns it as null.

We are using the version `1.2.0.BUILD-SNAPSHOT` of `spring-cloud-gcp` to use specific features that we need.

My datastore is fully with already existing entities created using the low level api in another language (we are migrating to spring cloud the services that access this data

[2019-05-14 15:44] meltsufin commented on #1683
Duplicate of #1677?
@ChengyuanZhao Are you working on that one?

[2019-05-14 15:48] ChengyuanZhao commented on #1683
@meltsufin this looks like the same base issue. We don't consider this a bug, but based on the feedback i think it is an improvement worth having. I'll take it on now.

[2019-05-15 21:05] #1677 closed

[2019-05-15 21:05] #1683 closed

[2019-05-16 09:05] chaurasiyashikhar commented on #1061
Is Reactive Repository is available now for Spring cloud data store ?

[2019-05-16 14:08] meltsufin commented on #1061
We are looking into it, but there is nothing to try yet.

[2019-05-16 14:29] #1642 closed

[2019-05-16 14:45] saturnism opened #1685 "Spring Boot 2.2.0.M3 and Trace Starter fails to start"
Application failed to start w/ Spring Boot 2.2.0.M3, Hoxton.BUILD-SNAPSHOT, and `spring-cloud-gcp-starter-trace`.

For unknown reason, as soon as I added the trace starter, GcpConfigP'roperties is being initialized.

[code]

Looking into the initialization logic:
[code]

A couple of issues:
1. Not sure why this initialization is taking place when added `trace` starter.
1. `environment` appears to

[2019-05-16 15:07] meltsufin opened #1686 "PubSubMessageChannelBinderEmulatorTests failing on Travis"
Works fine locally.

[code]

[2019-05-16 15:31] chaurasiyashikhar commented on #1390
I am first time using Spring data store, in Entity class i have added @Id annotation in String field, when i am running the application i am getting below issue -
 "message": "Cloud Datastore can only allocate IDs for Long and Key properties. Cannot allocate for type: class java.lang.String",
    "trace": "org.springframework.cloud.gcp.data.datastore.core.mapping.DatastoreDataException: Cloud Data

[2019-05-16 15:46] ChengyuanZhao commented on #1390
@chaurasiyashikhar

We do support string IDs ;  could you share your entity class and some code around your entities and usage?

[2019-05-16 15:55] chaurasiyashikhar commented on #1390
@Entity(name = "PageData")
@JsonInclude(Include.NON_NULL)
@JsonIgnoreProperties(ignoreUnknown = true)
public class PageData {

    @Id
    private String pageDataKey;
========================
@Component
public class PageDataStoreImpl implements PageDataRepository {

    public PageGcpRepository pageGcpRepository;

    public PageDataStoreImpl(PageGcpRepository pageGcpRepository){
        this.page

[2019-05-16 16:15] ChengyuanZhao commented on #1390
@chaurasiyashikhar my apologies, I misread your question.

Indeed we can only allocate keys for Long and Key types and NOT for string. The reason is that Cloud Datastore only generates Long values when allocating keys. (they look like random numbers). It will not generate a random string for a key.

[2019-05-17 05:06] chaurasiyashikhar commented on #1390
@ChengyuanZhao

https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-samples/spring-cloud-gcp-data-datastore-sample/src/main/java/com/example/Singer.java

How this is working ?

[2019-05-17 11:51] ChengyuanZhao commented on #1390
@chaurasiyashikhar  You can use String IDs if you set it yourself. However if you leave it null we/Cloud Datastore cannot allocate one for you.

[2019-05-17 12:05] chaurasiyashikhar commented on #1390
@ChengyuanZhao Got it, working now. Thanks

[2019-05-17 19:32] ChengyuanZhao commented on #1668
I'm gonna close this because of lack of follow up in over 2 weeks. Please feel free to re-open if help is still needed.

[2019-05-17 19:32] #1668 closed

[2019-05-17 19:35] ChengyuanZhao commented on #1660
After much progress and discussion for our work in https://github.com/GoogleCloudPlatform/cloud-spanner-r2dbc it appears that we cannot use the client library's existing functionality for the Flux and Mono results.

We may end up using the grpc layer directly for the reactive support while also using the client lib for the existing non-reactive functionality ?

[2019-05-17 19:42] meltsufin commented on #1685
This probably has something to do with config running during bootstrap, but why would `GcpConfigProperties` be even initialized since `GcpConfigBootstrapConfiguration` is disabled by default.
Have you tried disabling explicitly by setting `spring.cloud.gcp.config.enabled=false`?
I'm not able to reproduce with our Trace sample though.

My best guess would be that it's a regression in Spring Boot.

[2019-05-22 10:10] ujjwal116 opened #1689 "Crud Operations Failing for an Map with enum as key"
We have an embedded entity which uses MAP, The key for Map is  Java Enum. While reading(findById) and writing(save) this entity we are receiving a converison exception.

From Spring docs it suggest Enum is supported as a datatype , so can you help understand what's going wrong here.

https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.1.0.RC2/multi/multi__spring_data_cloud_datastore.htm

[2019-05-22 13:45] meltsufin commented on #1689
@dmitry-s PTAL.

[2019-05-22 16:12] meltsufin opened #1690 "Allow using topics in different projects"
Allow fully-qualified topic specification via the `projects/<project_name>/topics/<topic_name>` format.

[2019-05-22 16:12] dmitry-s commented on #1689
Thanks for reporting the issue!
I was able to replicate it.  Will investigate.

[2019-05-22 18:26] ayushj158 commented on #1689
@dmitry-s : I am a colleague of Ujjwal and we looked into this issue together.

One interesting observation we had is
after we add read and write converters
1. conversion during read operations works fine (successful able to parse string to enumerate)
2. Write conversion of List<enum> is successful
3. only write conversion of Map<enum,Object> fails.

Thought it might help with your investigation.

[2019-05-22 21:04] #1689 closed

[2019-05-22 21:58] meltsufin opened #1692 "Datastore Sample failing"
[code]

@ChengyuanZhao @dmitry-s PTAL

[2019-05-23 03:48] ayushj158 commented on #1689
@dmitry-s  Thanks for the quick fix. In which version is this fix available to us ?

[2019-05-23 16:00] dmitry-s commented on #1689
It should be available in 1.2.0.BUILD-SNAPSHOT

[2019-05-23 17:14] ChengyuanZhao commented on #1692
I've gone as far back as this commit on master that used to work but also no longer does

![image](https://user-images.githubusercontent.com/29288945/58272460-91515300-7d5c-11e9-893e-70f67766c2dd.png)

I'll try to use some older versions of dependencies...

[2019-05-23 17:41] elefeint commented on #1692
Since my face made an appearance... Spring-boot bom upgraded to spring-data Moore-M4 recently: https://github.com/spring-projects/spring-boot/issues/16574

[2019-05-23 18:11] chaurasiyashikhar opened #1695 "Unable to convert class java.time.OffsetDateTime to Datastore supported type"
In my Pojo class i have start date and end date field which is having OffsetDateTime data type, but i am not able to save in data store. getting below exception -

"Unable to write ExperienceFragmentData.startDateTime; nested exception is org.springframework.cloud.gcp.data.datastore.core.mapping.DatastoreDataException: Unable to convert class java.time.OffsetDateTime to Datastore supported type.

[2019-05-23 18:27] ChengyuanZhao commented on #1692
hahahaha thank you Detective Elena !!

[2019-05-23 20:05] dmitry-s commented on #1695
java.time.OffsetDateTime type conversion is not supported out of the box, you would need to provide custom converters to and from Datastore supported type.

See [this section](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.1.0.RELEASE/single/spring-cloud-gcp.html#_custom_types_2) for details.

[2019-05-23 20:06] #1692 closed

[2019-05-23 20:07] #1695 closed

[2019-05-24 14:40] meltsufin commented on #1695
@mp911de Does Spring Data Commons support or have plans to support `java.time`?

[2019-05-24 14:54] mp911de commented on #1695
Spring Data has support for `java.time`. Specifically `OffsetDatetime` requires an offset to be provided along with the time date/time value and a mechanism in Datastore to store the offset in the same field.

You _could_ register a `Converter` to map `OffsetDateTime` to `String` if you think that's useful.

[2019-05-28 15:47] piotrturski commented on #1005
same here. using `google-cloud-pubsub` with default setting does work while using `spring-gcp-pubsub` with default settings does not. sping's version stops receiving messages (streaming pull) within minutes on higher traffic. i don't have time to dig which defaults are broken.
it happens even for one instance of the app so it's not related to flow control. also 90% of messages is processed under 0