[2019-05-28 15:57] meltsufin commented on #1005
We'd appreciate example code that can reliably reproduce the problem to debug further.
Also, please try the [synchronous pulling](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.1.0.RELEASE/single/spring-cloud-gcp.html#_pulling_messages_from_a_subscription).

[2019-05-31 06:51] qlodhi-clearlabs commented on #1005
Sorry to hear you're having issues.
We've switched to using newer version of spring-cloud-gcp-pubsub since the last time we had issues with it, and it has now been working fine for a couple of months. Can't say if it was underlying issue with pubsub or with previous version of `spring-cloud-gcp-pubsub`.

These are our current versions, which are working fine:

`spring-cloud-gcp-pubsub:1.1.0.RELEAS

[2019-06-04 14:23] Numbernick commented on #1685
I'm having the same issue with Spring Boot 2.2.0.M2/M3 and GCP Storage (Greenwich.SR1). We need the spring-cloud-gcp-starter-storage so it should be ok to load the properties. But I don't see a reason why the environment is null.

[2019-06-04 14:49] meltsufin commented on #1685
@Numbernick Would you be able to share a simple app that reproduces this? Thanks!

[2019-06-10 15:42] abgm opened #1698 "pom file forcing external repositories into a private build system"
This is a transitive dependency of my project that is built with a private nexus.
Build output :
[code]
https://github.com/spring-cloud/spring-cloud-gcp/blob/18778f5e77690a7038dfac9436e1b4fec3e0b388/pom.xml#L231

I already tried to turn off the spring profile via maven option but without success.
`mvn -U -V clean compile -P !spring`

related to : https://github.com/spring-cloud/spring-cloud-gcp/is

[2019-06-10 15:47] meltsufin commented on #1698
It looks like your private Nexus doesn't have some of the required dependencies for Spring Cloud GCP, like `io.grpc:grpc-core`.
Which version of Spring Cloud GCP are you using?

[2019-06-11 08:04] abgm commented on #1698
I can build with success.
But because this repositories are defined on this pom, maven try to get the maven-metadata.xml for them...
This repositories definitions shouldn't be done on the pom file but on the maven setting...

[2019-06-11 13:55] meltsufin commented on #1698
The repositories are defined in the `spring` profile.
Try running `mvn package -P '!spring'`.

[2019-06-11 14:06] abgm commented on #1698
`
C:\dev\my-services\service>mvn package -P '!spring'
[INFO] Scanning for projects...
[INFO]
[INFO] ----------< org.my:my-services >-----------
[INFO] Building my-services 0-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
Downloading from my-releases: https://nexus.tt.my.com/repository/my-releases-maven-proxy/io/grpc/grpc-core/maven-metadata.xml
Downloading

[2019-06-11 14:13] abgm commented on #1698
1.16.1
`
[INFO] +- org.springframework.cloud:spring-cloud-gcp-pubsub-stream-binder:jar:1.1.0.RELEASE:compile
[INFO] |  +- org.springframework.boot:spring-boot-autoconfigure:jar:2.1.3.RELEASE:compile
[INFO] |  +- org.springframework.cloud:spring-cloud-gcp-pubsub:jar:1.1.0.RELEASE:compile
[INFO] |  |  +- com.google.cloud:google-cloud-pubsub:jar:1.59.0:compile
[INFO] |  |  |  +- com.google.cloud:goog

[2019-06-11 15:18] meltsufin commented on #1698
You're actually using `1.1.0.RELEASE`.
In any case, I'm not sure why `!spring` is not working, but you should make sure that you actually have `grpc-core` in your private repository. If it was there, maven would not attempt to look elsewhere.

[2019-06-12 16:24] elefeint commented on #1639
As of #1678, it is now possible to publish/subscribe to topics in different projects with a fully qualified topic/subscription name.

[2019-06-12 16:24] #1639 closed

[2019-06-12 20:09] elefeint commented on #1633
Verified that using CoreSocketFactory.setApplicationName() works in version `1.0.14-SNAPSHOT`.

[2019-06-13 21:03] abgm commented on #1698
we have the jar on our nexus ... in more that one proxy for a public maven repo..
for  example:
[code]

[2019-06-13 21:13] meltsufin commented on #1698
Interesting. I'm out of ideas here. Maybe someone else could help. @artembilan ?

[2019-06-14 05:32] ujjwal116 commented on #1689
@dmitry-s When this fix will be released?

[2019-06-14 13:41] meltsufin commented on #1689
@dmitry-s Was this fix applied to `1.1.x` branch?

[2019-06-14 15:37] artembilan commented on #1698
I'm not so good with Maven to determine the issue.

@abgm ,

If you think there is a problem in our project, feel free to raise a Pull Request with the fix and we will revise the final solution together with you.

Thank you for understanding.

[2019-06-14 16:19] dmitry-s commented on #1689
@meltsufin  Yes, it was
@ujjwal116  It will be released with Spring Cloud Greenwich.SR2 relese (see https://github.com/spring-cloud/spring-cloud-release/milestones for schedule)

[2019-06-15 14:44] abgm commented on #1698
Hi guys,

If I have time I will make a pull request for a possible solution.

I leave here some interesting links to create a solution.

https://github.com/takari/maven-wrapper/issues/4
https://github.com/gzm55/project-settings-maven-extension#example

https://blog.sonatype.com/2009/02/why-putting-repositories-in-your-poms-is-a-bad-idea/

[2019-06-15 16:38] abgm commented on #1698
You should remove the activeByDefault=true. You have this option force on .mvn/maven.config
I find an ugly solution for me, I'm putting mirrors to the repos I'm inheriting
example
[code]

https://github.com/spring-cloud/spring-cloud-gcp/blob/master/pom.xml#L228
[code]

https://github.com/spring-cloud/spring-cloud-gcp/blob/master/.mvn/maven.config
[code]
**The spring-cloud-build don't have the acti

[2019-06-17 18:58] don-mayur opened #1701 "Spring Data Spanner Repositories `In` clause queries support"
Spring data spanner gives `java.lang.UnsupportedOperationException: The statement type: IN (1): [IsIn, In] is not supported.` when trying to use `IN` for selecting columns  part of a composite key in a SpannerRepository interface
`@Query("select * from <TableName> t where t.<columnName1>= @param1 AND t.columnName2 IN (@param2)")`
```Set<OnHandInventory> findBy<ColumnName1>And<ColumnName2>In(@Param

[2019-06-17 19:46] meltsufin commented on #1690
Fixed in #1678

[2019-06-17 19:46] #1690 closed

[2019-06-18 16:10] ChengyuanZhao commented on #1701
@don-mayur

By the way it looks like your example method name is actually a `@Query` annotated SQL string, which means Spring Data Spanner wouldn't be aware of the contents of the string and the IN clause at all.

It is only if you part-tree/name-convention query method like "findByCol1AndCol2In" without `@Query` annotation that the parsing would hit on that IsIn/In keyword  keyword.

[2019-06-18 17:00] don-mayur commented on #1701
@ChengyuanZhao Thanks for taking up on this issue, I have tried using method name such as findByCol1AndCol2In and then using some different name with `@Query` on top of it by referring some of Spring Data JPA examples. Unfortunately, none of the approaches worked.

[2019-06-18 20:15] ChengyuanZhao commented on #1701
@don-mayur  I added support in the referenced PR.

[2019-06-19 14:35] laszlocsontos opened #1704 "Maven cannot find artifact spring-cloud-gcp-starter-config"
**Description**

After adding `org.springframework.cloud:spring-cloud-gcp-starter-config` to `pom.xml` project fails to build. The [reference documentation states](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.1.1.RELEASE/single/spring-cloud-gcp.html#_spring_cloud_config), the coordinates for that starter, but it [doesn't seem to exist](https://search.maven.org/search?q=spring-clo

[2019-06-19 14:56] meltsufin commented on #1704
Config has not been released to Maven Central because it's still in Beta.
It's Spring Cloud policy not to publish modules to Maven Central which are not GA.
You can get it from the Spring Snapshots repository.

[2019-06-19 14:57] meltsufin commented on #1704
The other modules are not part of the 1.1 tack. They're available in 1.2 snapshots.

[2019-06-19 15:00] laszlocsontos commented on #1704
Looks this this in intentional: https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-starters/spring-cloud-gcp-starter-config/pom.xml#L31

A possible workaround might be to enable the milestones repo and specify the latest milestone manually.

[code]

I don't know yet however if that has any undesirable side effects.

[2019-06-19 15:08] meltsufin commented on #1704
That works. You can also just use the latest build snapshot version.
`1.1.2.BUILD-SNAPSHOT`.
The 1.1.x tack is very stable because it's in maintenance mode.

[2019-06-19 15:08] #1704 closed

[2019-06-19 19:21] bbzg opened #1705 "Spring Cloud Sleuth GCP: every time spans are sent, they are sent to localhost as well"
There should be a way to turn off the default ZipkinRestTemplateSenderConfiguration when using Spring Cloud GCP. I would prefer if it was turned off by default.

Currently, every time spans are being sent, a completely unnecessary call to `http://localhost:9411/api/v2/spans`, and it fails 100% of the time because there is nothing there to answer.

The only reason I saw it was because I used `loggi

[2019-06-19 20:01] meltsufin commented on #1705
What is the purpose of `ZipkinRestTemplateSenderConfiguration` and how can one turn it off?@marcingrzejszczak

[2019-06-20 15:29] #1701 closed

[2019-06-21 16:42] ChengyuanZhao opened #1707 "Spring Cloud GCP Stream module fails the build"

[2019-06-24 16:34] ChengyuanZhao opened #1709 "Add option to let users execute partitioned DML in Spanner"

[2019-06-25 12:32] himanshukumar-ayla opened #1711 "Credential passed from database at runtime for send data in pub sub / Set credential at runtime in PubSubTemplete or PubSubAdmin"
Spring boot provide feature to pass credential like : cloud.gcp.auth.location=file:/usr/local/...
i have all credential detail in my database , with multiple GCP account , i want to decide at runtime which google account i will use based on some condition.

Is there any option to pass credential at run time in PubSubAdmin or PubSubTemplete .

Thanks

[2019-06-25 13:01] meltsufin commented on #1711
`PubSubAdmin` constructor takes in a `CredentialsProvider`. You just have to create your own `PubSubAdmin` bean in your application context instead of the default one.
It's similar for `PubSubTemplate`, although there the beans are a bit more nested.

[2019-06-25 18:15] VenkataKrishnaVarmaPenumatsa opened #1712 "GCP PubSub Publisher retry settings issues"
We have the below configuration for the GCP PubSub publisher retry settings and on the GCP DEADLINE_EXCEEDED/NOT_FOUND/UNAVAILABLE exceptions the retry settings are not being considered and no attempt is made to republish the message to topic.
retry:
           max-attempts: 2
           total-timeout-seconds: 120
           initial-rpc-timeout-seconds: 60
           max-rpc-timeout-seconds: 120

[2019-06-25 21:29] dzou commented on #1712
Thanks for the report. Could you post your application config file so I can take a look?

[2019-06-25 21:40] VenkataKrishnaVarmaPenumatsa commented on #1712
Here are the properties config for the GCP:
spring:
 cloud:
    gcp:
      pubsub:
        project-id: test_Id
        publisher:
         executor-threads: 10
         batching:
          enabled: true
          element-count-threshold: 100
          flow-control:
             max-outstanding-element-count: 100
         retry:
           max-attempts: 2
           total-timeout-seconds: 120

[2019-06-26 10:11] ormanli opened #1713 "Datastore stores id as as seperate field"
I am using spring-cloud-gcp-starter-data-datastore:1.1.2.RELEASE. I have a simple object like this
[code]
When I insert a record it stores entities  like this.
[code]

It is duplicating id as another field. I will only prefer to store id under the key.
Is this expected behavior? Is there any way to prevent this?

[2019-06-26 14:43] meltsufin commented on #1713
Duplicate of #1677.
The fix is only available in version `1.2.0.BUILD-SNAPSHOT`.

[2019-06-26 16:07] dzou commented on #1712
I did some experimentation locally and I was able to confirm that the settings are being processed/propagated by us correctly.

Unfortunately, I was unable to reproduce an error condition in order to trigger a retry to occur and verify that it is being done.

Do you have instructions for how to reproduce this problem locally? Also, what environment are you running your application in?

[2019-06-27 11:06] ormanli commented on #1713
Thanks. What is the estimated release date?

[2019-06-27 14:00] meltsufin commented on #1713
This would be part of the "Hoxton" Spring Cloud release train. The date is currently set to October 17, but can potentially move. The milestones and release candidates will come before then.
See: https://github.com/spring-cloud/spring-cloud-release/milestones

[2019-06-27 14:02] #1713 closed

[2019-06-27 17:53] meltsufin commented on #934
Closing, due to low demand and high complexity.
Re-open if you care about this feature.

[2019-06-27 17:53] #934 closed

[2019-06-27 18:03] meltsufin commented on #1029
Closing, since we don't see anyone asking for it yet.

[2019-06-27 18:03] #1029 closed

[2019-06-27 18:05] meltsufin commented on #1427
Closing following team discussion.

[2019-06-27 18:05] #1427 closed

[2019-06-27 18:09] meltsufin commented on #665
Closing following discussion with the team.

[2019-06-27 18:09] #665 closed

[2019-06-27 18:28] meltsufin commented on #1711
Please reopen if this didn't answer your question.

[2019-06-27 18:28] #1711 closed

[2019-06-27 23:22] spencergibb opened #1715 "PubSubMessageChannelBinderTests.testAfterUnbindConsumer fails on master"
[code]

[2019-06-28 13:42] meltsufin commented on #1715
@artembilan Are we on the wrong version of Spring Integration somehow?

[2019-06-28 13:46] artembilan commented on #1715
See my PR https://github.com/spring-cloud/spring-cloud-gcp/pull/1714.

I think our master is definitely on wrong dependency.

[2019-06-28 14:03] artembilan commented on #1715
Fixed via: https://github.com/spring-cloud/spring-cloud-gcp/commit/85ba657b4f250fe71911100f94fca625d0149356

[2019-06-28 14:03] #1715 closed

[2019-06-28 14:03] artembilan commented on #1707
I think this is fixed via https://github.com/spring-cloud/spring-cloud-gcp/commit/85ba657b4f250fe71911100f94fca625d0149356

[2019-06-28 14:03] #1707 closed

[2019-06-28 14:04] artembilan commented on #1686
This is fixed via: https://github.com/spring-cloud/spring-cloud-gcp/commit/85ba657b4f250fe71911100f94fca625d0149356

[2019-06-28 14:04] #1686 closed

[2019-06-28 14:39] dzou commented on #1712
Hey I was doing some more digging and I found where the retry settings are propagated to: https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Publisher.java#L143

You can see this class is consuming the retry settings we provide and also provide a set of retryable codes:

[code]

I noticed one of the codes yo

[2019-06-28 19:13] meltsufin commented on #1698
Related to #1522 which was not resolved completely.
We need to apply the same fix to `pom.xml` as well.

[2019-06-28 19:19] meltsufin commented on #1665
Closing, since we decided not to pursue reactive datastore.

[2019-06-28 19:19] #1665 closed

[2019-06-28 19:19] meltsufin commented on #1664
Closing, since we decided not to pursue reactive datastore.

[2019-06-28 19:19] #1664 closed

[2019-06-28 19:20] meltsufin commented on #1663
Closing, since we decided not to pursue reactive datastore.

[2019-06-28 19:20] #1663 closed

[2019-06-28 19:20] meltsufin commented on #1662
Closing, since we decided not to pursue reactive datastore.

[2019-06-28 19:20] #1662 closed

[2019-06-28 19:21] meltsufin commented on #1659
Closing, since we decided not to pursue reactive datastore.

[2019-06-28 19:21] #1659 closed

[2019-06-28 19:24] meltsufin commented on #1656
Please re-open if you disagree with the explanation.

[2019-06-28 19:24] #1656 closed

[2019-06-28 19:27] meltsufin commented on #1655
@ejona86 Do you have any thoughts on this? Should we open an issue in the grpc-java repo?

[2019-06-28 19:28] meltsufin commented on #1651
Please re-open if the option didn't work.

[2019-06-28 19:28] #1651 closed

[2019-06-28 19:32] meltsufin commented on #1644
Re-open if the issue is not resolved.

[2019-06-28 19:32] #1644 closed

[2019-06-28 19:33] meltsufin commented on #1637
Unable to reproduce.

[2019-06-28 19:33] #1637 closed

[2019-06-28 19:34] meltsufin commented on #1633
Completed.

[2019-06-28 19:34] #1633 closed

[2019-06-28 19:35] meltsufin commented on #1622
@ChengyuanZhao Do you have an update on this?

[2019-06-28 19:36] #1621 closed

[2019-06-28 19:38] meltsufin commented on #1617
We're still not upgrading to the latest version of zipkin-gcp because it's now using a non-GA Trace API.

[2019-06-28 19:49] meltsufin commented on #1568
Closing since we're still don't think an ORM for BigQuery is appropriate.
However, we are planning some support in terms of a `BigQueryTemplate` implementation coming.

[2019-06-28 19:49] #1568 closed

[2019-06-28 19:53] meltsufin commented on #1555
Since the actual operations in the sample are very long-running, let's simplify this test to just verify that the app comes up.

[2019-06-28 19:56] meltsufin commented on #1529
See if it's still a problem on the latest versions of Spring.

[2019-06-28 19:58] meltsufin commented on #1525
@ChengyuanZhao Can this be closed now, and the PR?

[2019-06-28 20:03] meltsufin commented on #1512
@ChengyuanZhao Can you please follow-up on this one?

[2019-06-28 20:08] meltsufin commented on #1489
Re-open if the answer is not satisfactory.

[2019-06-28 20:08] #1489 closed

[2019-06-28 21:05] elefeint opened #1716 "Extract roles from IAP access level claims"
IAP JWK tokens now contain access level claims that can be used to provide role information used for authorization.

https://cloud.google.com/iap/docs/signed-headers-howto#verify_the_jwt_payload, https://cloud.google.com/access-context-manager/docs/overview#access-levels

[2019-07-01 14:42] #1525 closed

[2019-07-01 14:44] ChengyuanZhao commented on #1622
@meltsufin no response at the moment. This is a feature request we haven't looked into or implemented yet.

[2019-07-01 15:37] dzou commented on #1521
Turns out this is resolved.

GcpStorageAutoConfigurationTests fixed by Elena in #1638.
Logging integration tests consolidated to the trace sample sample test in #1676.

[2019-07-01 15:37] #1521 closed

[2019-07-01 18:05] #1698 closed

[2019-07-02 14:13] ChengyuanZhao commented on #1512
@meltsufin will take a look now.

[2019-07-02 15:06] ChengyuanZhao commented on #1512
@mp911de I'm wondering if there is some place in a config/registrar class I missed. I'm reproducing this error myself and it looks like Datastore and Spanner repositories are attempted to be created for the user's repo interface.

For example, I have `TraderRepository extends SpannerRepository<Trader, String> ` specifically extending only the SpannerRepository type. The `Trader` type is also annot

[2019-07-02 15:16] #1555 closed

[2019-07-02 15:20] dzou commented on #1643
@meltsufin, what's your recommendation to begin starting work on this? I guess we first have to figure out where to first create a new repository?

[2019-07-02 15:33] meltsufin commented on #1643
I would disconnect the samples from the project parent.
Make the parent of each sample the spring boot parent.
[code]

[2019-07-02 18:21] mp911de commented on #1512
My bad, I missed that we switched multi-store detection from pattern-based class names to `spring.factories`. You need to provide a `META-INF/spring.factories` file with an entry pointing to your `…RepositoryFactor` for each store to tell Spring Data there are multiple store modules.

See [Spring Data JPA](https://github.com/spring-projects/spring-data-jpa/blob/master/src/main/resources/META-INF/s

[2019-07-03 17:25] lucasoares opened #1720 "Error with compound repository method finding for ID and another field."
Hello.

I found an issue with the data respository interface method construction probably caused after the closure of the issue #1683

I created this repository:
[code]

This method doesn't works anymore if the object is also inserted with the new version of Spring Cloud GCP like this:

[code]

The id field is an `@Id`.

Even with the object on datastore, the repository interface method is not mat

[2019-07-03 17:58] dmitry-s commented on #1720
@lucasoares could you provide the source code for Role so we can try to reproduce the issue?

Thanks

[2019-07-03 18:05] lucasoares commented on #1720
Here you are:

[code]

[2019-07-03 18:34] vineela-gampa opened #1721 "RW Transaction across schemas"
Hi @meltsufin @ChengyuanZhao

Our current instance has 2 schemas defined on it.
Instance : core-inst
                        -schema1
                        -schema2
Does spring cloud data spanner allow to have RW transaction across schemas in an instance ? An application 1 on schema 1 wants to update a row in table in schema 2 to maintain data consistency .

[2019-07-03 18:44] ChengyuanZhao commented on #1721
@vineela-gampa by "schema" do you mean database? Spanner only has transactions on single databases.

[2019-07-03 19:07] meltsufin commented on #1720
Why aren't you just searching by ID? The ID is already unique. Try using `findById`.

[2019-07-03 19:10] meltsufin commented on #1721
Assuming that schema and database are used as synonyms, the connection and hence the transactions are bound to a particular schema/database.

[2019-07-03 19:10] #1721 closed

[2019-07-03 19:12] meltsufin commented on #1462
Leaving the sample app in a branch and closing this for now.

[2019-07-03 19:12] #1462 closed

[2019-07-03 19:17] meltsufin commented on #392
Need to verify that this is resolved by https://github.com/spring-projects/spring-boot/issues/16172.

[2019-07-03 19:24] meltsufin commented on #1424
Closing because we currently don't have plans to add async support for Datastore. Instead, we're focusing on adding reactive support for Firestore Native.

[2019-07-03 19:24] #1424 closed

[2019-07-03 19:28] meltsufin commented on #1458
We do not plan to support the App Engine Datastore. Closing.

[2019-07-03 19:28] #1458 closed

[2019-07-03 19:33] meltsufin commented on #1456
How do other modules handle the case where the user specifies the id of a new entity instead of relying on id generation? @mp911de

[2019-07-03 19:42] meltsufin commented on #1355
Fixed upstream.

[2019-07-03 19:42] #1355 closed

[2019-07-03 19:43] meltsufin commented on #1207
Fixed by #1402

[2019-07-03 19:43] #1207 closed

[2019-07-03 19:45] meltsufin commented on #1120
Please re-open if it's still an issue after grpc/grpc-java#3954.

[2019-07-03 19:45] #1120 closed

[2019-07-03 19:47] meltsufin commented on #1154
Test seems ok now.

[2019-07-03 19:47] #1154 closed

[2019-07-03 19:50] meltsufin commented on #1091
Our decision is to try not to implement database features in code.

[2019-07-03 19:50] #1091 closed

[2019-07-03 19:52] meltsufin commented on #839
Resolved in #925

[2019-07-03 19:52] #839 closed

[2019-07-03 20:00] meltsufin commented on #1250
Closing because the OP says that the issue is in Spring Data loading a lot of classes.

[2019-07-03 20:00] #1250 closed

[2019-07-03 20:02] #1244 closed

[2019-07-03 20:25] srivraokp opened #1722 "Regarding org.springframework.cloud version1.2.0.BUILD-SNAPSHOT"
Hi,

When will version 1.2.0.BUILD-SNAPSHOT will available in Release Version, we are planning to use interleaved lazy feature which is not yet available in Greenwich version.

Thanks
Sri

[2019-07-03 20:32] meltsufin commented on #1722
1.2 is part of the Hoxton Spring Cloud release train. So, it will follow the release schedule for Hoxton.
See here: https://github.com/spring-cloud/spring-cloud-release/milestones.

[2019-07-03 20:32] #1722 closed

[2019-07-03 20:40] ChengyuanZhao commented on #1720
Just to add some more detail @lucasoares , the change happened because we now store the ID directly in the Datastore Key for that entity and not as a separate field/property/column. As a result, it cannot appear in the GQL queries we generate for these query methods because there simply isn't a column name to refer to in the query. The only way to query using the ID property is to do a key-query v

[2019-07-03 20:42] mp911de commented on #1456
Spring Data abstracts this under [`IsNewStrategy`](https://docs.spring.io/spring-data/commons/docs/current/api/org/springframework/data/support/IsNewStrategy.html). Entities can either implement [`Persistable`](https://docs.spring.io/spring-data/commons/docs/current/api/org/springframework/data/domain/Persistable.html) or be versioned/use optimistic locking (see [`@Version`](https://docs.spring.io

[2019-07-03 20:56] dmitry-s commented on #1720
@lucasoares just to clarify: if you would like to find an entry and you have the ID, you do not need any extra conditions in the query, because ID is unique and entries can be uniquely identified by ID. Therefore, `findById` method should be used in that case.

Re-open the ticket if you still have questions.

[2019-07-03 20:56] #1720 closed

[2019-07-03 21:01] vineela-gampa commented on #1721
sorry about the mixup yes as schema i meant database.

[2019-07-03 21:37] srivraokp opened #1723 "Spanner Template :: Is there a way to read Bounded Staleness"
In SpannerTemplate is there a way to read records with bounded staleness instead of exact staleness

[2019-07-05 18:03] lucasoares commented on #1720
@dmitry-s I have a specific product rule on my application that I will need to manually check the `companyId` field since the `id` field has nothing to do with the company itself. Its a security check.

Previously I was using this method to query for both properties at the same time to save some code and deal with security checks directly in the database. Now I will need to get the document to my

[2019-07-06 15:39] RobMaskell opened #1725 "Gradle build issue with Greenwich.SR2 and spring-cloud-gcp-starter-trace"
I had an issue with upgrading my main project so I tried to figure our what was wrong starting with a vanilla spring cloud gateway project from start.spring.io and bumped the spring cloud version up to `greenwich.SR2` all ok.
[code]
when I add the following
[code]
it fails to build as I can't find `zipkin-tests.jar`
[code]
Flipping back to `greenwich.SR1` and it builds fine again.

[2019-07-08 13:48] meltsufin commented on #1720
@lucasoares Agreed that it's a breaking change, although we didn't think anyone was relying on the behavior where we were seemingly unnecessarily storing the id in a column. Our goal with the change was to remove the redundancy in storing the id and avoid the potential of the ids getting out of sync, which is possible, and given that it's a version jump from 1.1 to 1.2, we thougth it's an acceptab

[2019-07-08 15:15] meltsufin commented on #1723
@ChengyuanZhao Do we support bounded staleness reads?

[2019-07-08 15:25] ChengyuanZhao commented on #1723
There is not. We only have the option to use exact staleness.

[2019-07-08 15:38] dmitry-s commented on #1720
@lucasoares There is a workaround. You could use a `@Query` annotated method with a custom query, but you would need to convert your `id` to `Key` type. Something like this should work.

In the repository interface:
[code]
In the class where you use this method you'll need to autowire ObjectToKeyFactory and DatastoreMappingContext to convert `long` to `Key`:
[code]

I tested this approach and it w

[2019-07-08 15:46] meltsufin commented on #1720
Based on this workaround, it looks like we can just add support for it.

[2019-07-08 15:48] dmitry-s opened #1726 "Support find Id fields in named query methods"
follow up for #1720

[2019-07-08 17:05] lucasoares commented on #1720
Interesting! I will try that approach and yes @meltsufin its an acceptable change!!

Thank you guys.

[2019-07-08 20:27] #1512 closed

[2019-07-09 11:26] alonsoir commented on #1668
I have the same problem.

I am using:

`aironman@MacBook-Pro-Retina-de-Alonso ~/s/s/s/spring-cloud-gcp-vision-api-sample> java --version
openjdk 11.0.2 2019-01-15
OpenJDK Runtime Environment 18.9 (build 11.0.2+9)
OpenJDK 64-Bit Server VM 18.9 (build 11.0.2+9, mixed mode)
aironman@MacBook-Pro-Retina-de-Alonso ~/s/s/s/spring-cloud-gcp-vision-api-sample>
aironman@MacBook-Pro-Retina-de-Alonso ~/s/s/s/

[2019-07-09 11:47] alonsoir commented on #1668
Ok, running a dependency:tree phase, I can see that com.google.cloud.storage.Storage class is located in google-cloud-storage which is not present in actual set of dependencies. That is the problem.

[Storage class](https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java)

[dependency-tree output](htt

[2019-07-09 12:07] alonsoir opened #1729 "Caused by: java.lang.ClassNotFoundException: com.google.cloud.storage.Storage"
I have to reopen this issue, I am not sure if Chengyuan Zhao can see my latest message in the closed issue, so, I will repeat the same messages.

I have the same problem. I have just compiled full project doing clean install in root folder, with a build success, I tried with spring-cloud-gcp-vision-api-sample project, provisioning with a json file from gcp, and then springboot-run phase.
I am gett

[2019-07-09 13:12] meltsufin commented on #1729
Duplicate of #1668
@dzou Can you please take a look? We're probably just missing the storage dependency. Don't we have CI verifying this sample though?

[2019-07-09 13:43] srivraokp commented on #1723
@ChengyuanZhao
Thanks for taking up this fix,
The Scenario we have is while retrieving e-com orders we want to give a range of 5 to 10 seconds so that we get the latest modified record, instead of always going for exact

[2019-07-09 17:24] dzou commented on #1729
Yes I was able to reproduce the issue. Unusual that CI did not pick this up; I ran the test manually and it failed with the same error as well.

[2019-07-09 17:42] dzou commented on #1729
Looking a bit further, I think it's due to the fact that the `storage` dependency is listed as an `optional` dependency in the vision module. Originally we listed it as optional since we needed only OCR users to provide the storage dep. However, I think we need the dependency in order for the autoconfiguration class to compile.

Turns out -dit.vision was never enabled in the travis yml. I think I

[2019-07-09 18:35] alonsoir commented on #1729
It is not merged yet into master branch, isn't?

[2019-07-09 18:37] dzou commented on #1729
Soon! :)

We were discussing a little bit about different solution strategies. I think the current referenced PR should be satisfactory. I will wait to see if the travis build passes and move forward; should be merged in later today.

As a temporary workaround to unblock yourself, you can try adding the following to your pom.xml dependencies:
[code]

[2019-07-09 19:09] alonsoir commented on #1729
Thank you @dzou. I will wait to be merged into master branch.

[2019-07-09 19:58] #1723 closed

[2019-07-09 20:01] KamikaZeeFu opened #1732 "Cloudfoundry autoconfiguration for cloudsql is broken when java-cfenv is on the classpath"
Hi,
when using spring-cloud-gcp in cloudfoundry in combination with java-cfenv, the integration is broken and no connection to bound cloudsql instances can be established.
The root cause is that `GcpCloudFoundryEnvironmentPostProcessor` is not setting `spring.datasource.url`, which means this property is set by cfenv.
Cfenv does not know about the special format the cloudsql socketfactory needs, s

[2019-07-09 20:05] #1729 closed

[2019-07-09 20:07] dzou commented on #1729
Hi, the fix has been merged into master. Please try running it again and see if it works for you.

[2019-07-09 20:23] meltsufin commented on #1732
Is it possible to override `spring.datasource.url` to be an empty string with java-cfenv so that it's ignored?
How does it determine `spring.datasource.url` anyway?
@artembilan Anyone working on CF can advise us here?

[2019-07-10 07:00] KamikaZeeFu commented on #1732
cfenv-java is parsing VCAP_SERVICES, which contains the url to the instances public ip address.
java-cfenv is working on a feature to disable certain bindings, but that is yet to be merged.
Setting spring.datasource.url via the property source in `GcpCloudFoundryEnvironmentPostProcessor` would be the correct thing to do IMHO, since `@ConfigurationProperties` are populated from the environement's p

[2019-07-10 11:42] alonsoir commented on #1729
Hi @dzou, the ClassNotFoundException is gone, but I still have a problem. It is not related with this issue, so we can close it.

Thank you very much.

[2019-07-10 11:57] alonsoir opened #1733 "spring.cloud.gcp.credentials.location doesn't get pickup on runtime"
Hi, i have tried to configure this property using an absolut path (/Users/aironman/Downloads/TrapeDependency-dd274d8ceb38.json), a relative path (PROJECT_FOLDER/src/main/resources/TrapeDependency-dd274d8ceb38.json), another relative path (PROJECT_FOLDER/TrapeDependency-dd274d8ceb38.json), copying the json file into the static folder and I am getting a [FileNotFoundException](https://pastebin.com/V

[2019-07-10 13:54] meltsufin commented on #1733
If you are using a filesystem location, you have to prefix it with `file:`. For location on the classpath, use `classpath:`.
See [docs](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.2.0.M1/#_credentials).
Try this:
`spring.cloud.gcp.credentials.location=file:/Users/aironman/Downloads/TrapeDependency-dd274d8ceb38.json`.

Please let us know if this resolved your issue.

[2019-07-10 13:58] artembilan commented on #1732
I also don't see any problems with overriding it with the `GcpCloudFoundryEnvironmentPostProcessor`. Not sure though why VCAP_SERVICES doesn't provide a proper JDBC url in GCP environment...

I see there is an `AbstractJdbcUrlCreator` abstraction. So, maybe in case of GCP we need to introduce our own implementation and expose it as a `services`?..
See this module: https://github.com/pivotal-cf/jav

[2019-07-10 14:02] meltsufin commented on #1732
Our auto-configuration for Cloud SQL works on the assumption that if `spring.datasource.url` is provided by the user or whatever is upstream, in this case CF, that's what the application wants to use to connect.
I think the onus is on whoever is specifying the URL to get it right, or just not specify it.
I'm confused as to why the URL specified doesn't work. If it's a public IP, it should just wor

[2019-07-10 16:17] dzou commented on #1725
Looks like zipkin-tests is present on Maven Central for [Zipkin versions 2.12 and prior](https://repo.maven.apache.org/maven2/io/zipkin/zipkin2/zipkin/2.12.9/), however for [Zipkin version 2.14](https://repo.maven.apache.org/maven2/io/zipkin/zipkin2/zipkin/2.14.1/) it is no longer present. It looks like it is failing to find that jar for 2.14.

@meltsufin - Any ideas where the zipkin version numbe

[2019-07-10 17:14] ChengyuanZhao commented on #1418
It looks like this applies to all ListValue properties and not just embedded entity values. In fact the Datastore/client lib takes care of unindexing everything inside an embedded entity, so from our perspective we just need to go into the ListValue and unindex each item. I'll put up a PR shortly.

[2019-07-10 17:56] #1418 closed

[2019-07-10 17:58] meltsufin commented on #1725
That's a weird path. Maybe they changed the group id.
The new versions are in fact on Maven Central: https://repo1.maven.org/maven2/io/zipkin/zipkin2/zipkin-tests/2.15.0/

We don't directly depend on `zipkin-tests` though.

[2019-07-10 21:24] hongfei-zhou commented on #1685
Got the same issue here after adding the trace dependency.
The `spring.cloud.gcp.config.enabled=false` is not working for me.

[2019-07-11 11:01] alonsoir commented on #1733
Yes, it is working, thank you @meltsufin

[2019-07-11 11:01] #1733 closed

[2019-07-11 17:47] meltsufin commented on #1685
I'm able to reproduce with Spring Boot `2.2.0.M4` and `Greenwich.SR1` and `Hoxton.BUILD-SNAPSHOT`.
Note that everything seems to work with `Hoxton.M1`.

[2019-07-11 18:07] meltsufin commented on #1685
Possibly related to this: https://github.com/spring-cloud/spring-cloud-gcp/pull/1516

[2019-07-11 18:18] meltsufin commented on #1685
@Numbernick I think it's invalid to expect `Greenwich` release train to work with SB 2.2, since it's designed to be compatible with SB 2.1.

That being said, Hoxton should work, but it doesn't because the release train has the old version of Spring Cloud GCP in it. It brings in 1.1 instead of the current 1.2.

You can temporarily work around the issue by explicitly importing the latest version of

[2019-07-11 19:02] Alos opened #1735 "NoSuchMethodError when using Spring Cloud Sleuth"
I've started to see the following when I start my applications:

[code]

My applications use:

[code]

I saw this with `spring-cloud-gcp-dependencies` 1.0.0 and with 1.2.0.M1

[2019-07-11 19:18] spencergibb commented on #1685
It is invalid to expect Greenwich to support boot 2.2.x

[2019-07-11 19:19] #1685 closed

[2019-07-11 20:58] ChengyuanZhao commented on #1456
Thank you Mark for that explanation. It's as we saw back in February, the default checking is

[code]

This won't apply to Spanner because
- we can't generate IDs , so the ID can't be null
- 0 value numeric IDs being "new" isn't appealing to us because 0 is a valid value for a key for Spanner, and it is also a very narrow use-case considering we see many of our customers using multi-column keys.

[2019-07-11 20:58] #1456 closed

[2019-07-11 21:04] ChengyuanZhao commented on #525
After over a year of changes this actually got done incidentally.

We now have

[code]

executeRead is still private, but its method signature is actually less useful than other public methods we have that accomplish the same thing but is cleaner

[code]

[2019-07-11 21:04] #525 closed

[2019-07-11 21:09] meltsufin commented on #1735
I can't reproduce this. There's probably something here with version conflicts, but we'll need a complete `pom.xml` to debug.

[2019-07-11 21:15] ChengyuanZhao commented on #802
Outdated and no longer relevant.

[2019-07-11 21:15] #802 closed

[2019-07-11 21:18] dzou commented on #1712
Closing since there has been no response. Please reopen if the issue is still unresolved.

[2019-07-11 21:18] #1712 closed

[2019-07-11 21:47] Alos commented on #1735
Here is the parent POM:
[code]

The `<build>` does not have anything fancy except for some Jib and error prone configuration. The application is running in GKE. Here is the child pom.xml:

[code]

[2019-07-12 11:25] jeromewaibel opened #1736 "Adding spring-devtools to dependencies breaks resolving of gs://-resources"
When adding **spring-devtools** to the dependencies of a project using **spring-cloud-gcp-starter-storage** the resolution of gs://-resources won't work any more.

How to reproduce:

Simply use the gcp-storage-example at https://github.com/spring-cloud/spring-cloud-gcp/tree/master/spring-cloud-gcp-samples/spring-cloud-gcp-storage-resource-sample

If you add

    <dependency>
      <groupId>org.spr

[2019-07-12 13:45] meltsufin commented on #1736
We can keep it open here for now, but it looks like it's related to https://github.com/spring-projects/spring-boot/issues/17214.

[2019-07-12 15:09] suztomo commented on #1735
I tried reproducing your project. Here is the dependency tree that gets opencensus-api 0.15.

![image](https://user-images.githubusercontent.com/28604/61138293-3b17ab00-a495-11e9-94fe-b3126af448a9.png)

[2019-07-12 17:47] meltsufin commented on #1735
So objectify is bringing in an old version of datastore and open census.

[2019-07-12 17:50] Alos commented on #1735
Negative. Objectify was already in my POM long before any changes. I think the changes are related to the `google-cloud-containeranalysis`

To solve this problem for now I added:

[code]

to my POM file.

[2019-07-12 17:51] ChengyuanZhao opened #1738 "Look into EntityCallbacks for Spanner and Datastore"
[code]

[2019-07-12 18:03] ChengyuanZhao commented on #1738
@mp911de

Hey Mark, is it fair to say the main motivation for using EntityCallbacks is regarding mutability of entities vs the older way of using the event publisher?

[2019-07-12 18:03] #1709 closed

[2019-07-12 18:58] suztomo commented on #1735
@Alos Would you share the output of "mvn dependency:tree" as a gist for the problematic case?

[2019-07-12 22:47] Alos commented on #1735
Here is the portion of the relevant dependency tree:
[code]

[2019-07-13 00:12] suztomo commented on #1735
@Alos I assume it's not a problematic case because it picks up opencensus-api 0.23.0. Would you share the **entire** output of "mvn dependency:tree" as a gist for the **problematic** case?

[2019-07-15 14:53] meltsufin commented on #1732
@KamikaZeeFu Can you please comment on why the URL with the public IP doesn't work? Or, if you've resolved the problem, please close this issue.

[2019-07-15 19:28] #1643 closed

[2019-07-16 00:22] ejona86 commented on #1735
I took the pom snippets verbatim and see a very different from mvn dependency:tree. spring-cloud-gcp-dependencies 1.2.0.M1 doesn't exist on Maven central, so I used 1.0.0 instead, since it was said it failed too. I copied from the grpc example project for the missing parts of the pom.xml, so that's why you see io.grpc:example in there.

Lots of downgrades in the output. At a _very_ quick glance gr

[2019-07-16 00:29] ejona86 commented on #1735
For completeness, these are the pom's I used. Parent:
[code]

Child:
[code]

[2019-07-16 07:05] ayushj158 commented on #1735
@Alos @meltsufin
I faced similar issue and the problem lies due to an incompatible version of Opencensus library used by grpc-core.

Background : Started using Greenwich.SR2 Release and saw exceptions:
 java.lang.NoSuchMethodError: io.opencensus.tags.TagContextBuilder.putPropagating(Lio/opencensus/tags/TagKey;Lio/opencensus/tags/TagValue;)Lio/opencensus/tags/TagContextBuilder;

RCA :
1.  grpc-core

[2019-07-16 13:54] meltsufin commented on #1735
@ejona86 `1.2.0.M1` has much newer dependencies and is almost identical to current `master`. You can pull it from `spring-milestones` repository.
[code]

[2019-07-16 15:16] ejona86 commented on #1735
@meltsufin, in any case, it is clear that opencensus was being downgraded. An old version is getting pulled in via google-cloud-core-http via google-cloud-datastore. Updating to a newer google-cloud-datastore (1.82.0 transitively depends on opencensus-api 0.21.0) or explicitly depending on a newer version of opencensus-api seems the appropriate fix. Also adding `requireUpperBoundDeps` would detect

[2019-07-16 18:11] meltsufin commented on #737
Was probably fixed by adding timeouts. Has not been flaky for a while.

[2019-07-16 18:11] #737 closed

[2019-07-16 18:16] meltsufin commented on #538
Will be handled as part of the bigger refactoring in #501.

[2019-07-16 18:16] #538 closed

[2019-07-16 18:18] meltsufin commented on #771
We always upgrade to latest versions of everything. So, we don't need to track it specifically for zipkin-gcp.

[2019-07-16 18:18] #771 closed

[2019-07-16 18:21] meltsufin commented on #953
Closing since support was added in spring-cloud/spring-cloud-sleuth#1066.

[2019-07-16 18:21] #953 closed

[2019-07-16 18:21] #1004 closed

[2019-07-16 18:28] meltsufin commented on #984
Pull-based subscriptions should be a workable solution for this.

[2019-07-16 18:28] #984 closed

[2019-07-16 18:32] meltsufin commented on #1027
#1678 should resolve the first question, and please re-open if the second question is still an issue.

[2019-07-16 18:32] #1027 closed

[2019-07-16 18:40] meltsufin commented on #968
@saturnism What's the current recommendation on default credentials usage?

[2019-07-16 18:52] meltsufin commented on #590
@mp911de Is CDI support widely used in Spring Data?

[2019-07-16 18:58] meltsufin commented on #883
Closing due to lack of interest from the community.

[2019-07-16 18:58] #883 closed

[2019-07-16 19:05] KamikaZeeFu commented on #1732
Hello, sorry for replying so late. In order to connect through the public IP one has to configure the cloudsql instance to allow the source IP range. Since IP addresses are not known beforehand in a dynamic platform such as cloud foundry, the range if possible addresses would be quite large.
That's why so far, we've been using spring-cloud-gcp resp. the cloudsql socket factory

[2019-07-16 19:27] meltsufin commented on #1735
@ejona86 I thought that the use of BOMs should prevent this situation. We rely on the [`google-cloud-bom`](https://github.com/googleapis/google-cloud-java/tree/master/google-cloud-bom), but it doesn't manage the version of `opencensus-api`.
@suztomo @elharo WDYT?

[2019-07-16 20:24] mp911de commented on #590
That’s not a simple yes/no answer. There’s little support for Spring Data-like tools in the CDI space. The only comparable library is DeltaSpike that provides repository support for JPA. With EE servers, Spring Data usage was quite popular because of the obvious benefits. Nowadays, with a movement towards lightweight stacks, I don’t have a clue where all this is going. It makes sense for consisten

[2019-07-16 21:03] elharo commented on #1735
A BOM only manages what's listed in the BOM. google-cloud-bom covers the GCP orbit: guava, protobuf, grpc, google-http-java-client, and google-gcloud-java. It doesn't cover all the transitive dependencies, just makes sure they're compatible. opencensus wasn't a thing when we first started the BOM. We could add it now if it seems to fit, though I'm not convinced it does.

[2019-07-16 21:27] meltsufin commented on #590
Thank, Mark. We're indeed very much tied to Spring Boot. Based on your comment and the lack of any expressed interest from actual users, closing it.

[2019-07-16 21:27] #590 closed

[2019-07-16 21:41] meltsufin commented on #1732
@KamikaZeeFu I opened a PR that should resolve your issue and applies a more general change to the behavior of Cloud SQL auto-config.

[2019-07-17 07:38] saturnism commented on #1705
/cc @TYsewyn

Was discussing w/ @marcingrzejszczak in person. We think this is what's happening:
1. [TraceAutoConfiguration](https://github.com/spring-cloud/spring-cloud-sleuth/blob/master/spring-cloud-sleuth-core/src/main/java/org/springframework/cloud/sleuth/autoconfig/TraceAutoConfiguration.java) is picking up multiple `Reporter`s.
1. [ZipkinAutoConfiguration](https://github.com/spring-cloud/sp

[2019-07-17 08:48] saturnism commented on #1705
@bbzg could i trouble to share the pom? It would help to know what BOMs you are using and what direct dependencies you have as well (and the versions)

[2019-07-17 08:50] TYsewyn commented on #1705
I was about to ask the same, because I think this might already be solved with Greenwich.SR1. 🤔

[2019-07-17 08:50] marcingrzejszczak commented on #1705
Related issue - https://github.com/spring-cloud/spring-cloud-sleuth/pull/1192

[2019-07-17 08:51] saturnism commented on #1705
Follow up question is - what did it have both Zipkin Sender and Stackdriver Sender so that one of them needed to be disabled? According to @marcingrzejszczak that shouldn't be happening. We are suspecting somewhere the `spring-cloud-sleuth-zipkin` is being pulled in. Seeing the pom.xml would help.

[2019-07-17 08:56] TYsewyn commented on #1705
@saturnism this is indeed the case when you're using GCP 1.1.x or older - we couldn't align the changes in Spring Cloud Sleuth core with the ones made here for the Greenwich release.
It's the auto configuration module of GCP that's pulling in this dependency.

[2019-07-17 09:50] saturnism commented on #1705
Yeah, just confirmed that `spring-cloud-gcp-starter-trace` is pulling in `spring-cloud-sleuth-zipkin`, and thus the duplicate sender.  Up until all the `spring-cloud-sleuth` 2.1.0.RCx we've been overriding the sender (i.e., only 1 sender). But it seems like the multi-sender was changed just for the actual 2.1.0 RELEASE. With multi-sender, we should remove `spring-cloud-sleuth-zipkin` dependency fr

[2019-07-17 10:37] TYsewyn commented on #1705
I created a PR for the 1.1.x branch to verify the expected behaviour with the `ZipkinBackwardsCompatibilityAutoConfiguration` in place.
This should confirm that @bbzg is using an older version of Spring Cloud.

[2019-07-17 14:08] #1732 closed

[2019-07-17 15:15] meltsufin commented on #1705
It looks like we just need to backport #1383 to the `1.1.x` branch.

[2019-07-17 15:17] TYsewyn commented on #1705
That would indeed be the conclusion of this https://github.com/spring-cloud/spring-cloud-sleuth/issues/1400#issuecomment-512231850

[2019-07-17 15:21] meltsufin commented on #1705
We'd be happy to accept another contribution form you, since you submitted the original PR!

[2019-07-17 17:57] bbzg commented on #1705
@saturnism This is what I use:

[code]

[2019-07-17 18:48] TYsewyn commented on #1705
Oh yeah, you might want to upgrade Spring Boot to 2.1.6.RELEASE and Spring Cloud to Greenwich.SR2. :)

In the meantime we backported this functionality from 1.2.x to 1.1.x.
If you upgrade Spring Cloud you should be able to disable Zipkin with `spring.zipkin.enabled=false`.

[2019-07-18 11:59] saturnism commented on #1705
awesome! thanks all for the help! I suppose on GCP side, we need to upgrade the dependency version for the next 1.1.x revision release.

[2019-07-18 12:05] TYsewyn commented on #1705
No, it should be good for this issue. We changed things on GCP side, not on Sleuth side.

[2019-07-18 15:11] elefeint commented on #1648
There is now a new failure: ```Caused by: java.lang.NoClassDefFoundError: org/springframework/integration/endpoint/Pausable```.

I'll look into that.

[2019-07-18 15:14] meltsufin commented on #1648
Same as here: https://github.com/spring-cloud/spring-cloud-gcp/issues/1715

[2019-07-18 15:14] elefeint commented on #1648
Mm, moved packages in https://github.com/spring-projects/spring-integration/commit/2fb7554dcfd7c585eabfbeb9f4069ad307a2c028. Must be a dependency version issue somewhere.

[2019-07-18 15:23] elefeint commented on #1648
PEBCAK. I thought I pulled the latest master, but I was missing the PR that fixed this issue.

[2019-07-18 15:38] meltsufin commented on #1705
Fixed by #1744

[2019-07-18 15:38] #1705 closed

[2019-07-18 15:49] meltsufin opened #1746 "StackdriverTraceAutoConfigurationTests.supportsMultipleReporters test is flaky"
See: https://api.travis-ci.org/v3/job/560540425/log.txt

We need to increase the timeout like in `master`.

[2019-07-18 16:28] #1648 closed

[2019-07-19 14:20] elefeint commented on #1482
Can't reproduce; likely a custom dependency problem.

I tried exercising storage and pubsub functionality with just two starters: `spring-cloud-gcp-starter-storage` and `spring-cloud-gcp-starter-pubsub`.
Then I tried bringing in all of ours starters together (except IAP because it makes our sample controllers too secure, and IAP headers are not available on localhost).

For posterity, if someone w

[2019-07-19 14:20] #1482 closed

[2019-07-19 14:25] elefeint opened #1749 "Assert probability not null before instantiating ProbabilityBasedSampler."
(surfaced when looking into #1482)
Bringing in the trace starter without any configuration results in an unintuitive NPE when Sleuth's `ProbabilityBasedSampler` tries to autobox a null probability*.

A null check is needed before instantiation in spring-cloud-gcp, and ideally `ProbabilityBasedSampler` constructor should check, too.

\* now I want to write a scifi short story named "Null Probabilit

[2019-07-19 17:55] #1746 closed

[2019-07-19 18:42] elefeint commented on #1749
Added check to `ProbabilityBasedSampler` in spring-cloud/spring-cloud-sleuth#1401.

Per @meltsufin 's suggestion, will fall back to a `RateLimitingSampler` in autoconfiguration for consistency with `spring-cloud-sleuth` autoconfiguration behavior.

[2019-07-19 20:40] #1726 closed

[2019-07-21 16:31] bbzg commented on #1725
Same issue here :(

[2019-07-22 14:43] dzou commented on #1725
I'll take a look at this to see if we can get to the bottom of it.

[2019-07-22 17:16] stoan commented on #1736
I get the following error if Devtools is active

[code]

[code]

[2019-07-22 17:43] bbzg opened #1752 "Bug: GCP related common sense errors are not reported to ERROR log"
Today I wasted an inordinate amount of time to figure out why a new project was not reporting spans to Stackdriver Trace.

The error message, which was clear as day, was logged as `DEBUG` by `zipkin2.reporter.AsyncReporter$BoundedAsyncReporter`

The error that was logged was (formatted for readability):
[code]

Which tells me exactly what I need to do, but who in their right mind sets their tracin

[2019-07-22 18:41] stevenweili opened #1753 "spring-cloud-gcp-firestore-sample (1.2.0.M1) failed to start in PCF env"
I encountered issue when doing integration with firestore on PCF, I can reproduce it using the sample app:
https://github.com/spring-cloud/spring-cloud-gcp/tree/master/spring-cloud-gcp-samples/spring-cloud-gcp-firestore-sample
Base on it, I only change version to 1.2.0.M1
`<dependencyManagement>
        <dependencies>
            <dependency>
                <groupId>org.springframework.cloud</gro

[2019-07-22 18:44] meltsufin commented on #1752
@bbzg Are you using our Trace starter? Which version of `spring-cloud-gcp` are you using?
The log statement seems to be coming from [zipkin-reporter-java](https://github.com/openzipkin/zipkin-reporter-java/blob/master/core/src/main/java/zipkin2/reporter/AsyncReporter.java#L289). I don't believe Spring Cloud GCP even has a dependency on this module.

[2019-07-22 18:48] meltsufin commented on #1753
I believe this is caused by the fact that we haven't added support for Firestore in our `GcpCloudFoundryEnvironmentPostProcessor`.

[2019-07-22 19:02] bbzg commented on #1752
This is what I am using:

The library that configures the tracing:

[code]

And then these boms

[code]

Why okhttp/mysql aren't included is a story of its own, but ignore that for now I guess.

I know that there are newer versions of the dependencies, but would that really have helped?

[2019-07-22 19:17] meltsufin commented on #1752
Looks like it's coming from `zipkin-gcp`. In any case, the code is not in this repo. So, we can't really fix it here. Can you [file](https://github.com/openzipkin/zipkin-reporter-java/issues) the bug in the `zipkin-gcp` repository?
Thanks!

[2019-07-22 19:27] meltsufin commented on #1753
@stevenweili I opened #1754 to fix this. Would you mind testing it?

[2019-07-22 19:31] #1671 closed

[2019-07-22 19:59] stevenweili commented on #1753
that's super fast, not at all, I would love to give it a test.

[2019-07-22 20:28] meltsufin commented on #1725
I created a reproduction of this issue using our Trace Sample #1755. I suspect something is going on with the `io.spring.dependency-management` plugin.
@artembilan Do you know of anyone who can help debugging this?

Interestingly, `zipkin-tests` doesn't even show up when you run `gradle dependencies`.

[2019-07-22 20:42] artembilan commented on #1725
Paging @wilkinsona .

Thanks

[2019-07-22 22:19] dzou commented on #1725
I think we need to upgrade our zipkin-gcp parent version. Or at least there is an unusual situation with the versions right now.

In the latest version (0.13.2), you can see that the dependency for zipkin-tests is set correctly. https://github.com/openzipkin/zipkin-gcp/blob/d87dde37b2e0e90b2d79bb0dfb88b9043e901926/pom.xml#L127

However, in older versions of zipkin-gcp parent (0.11.3), the zipkin-t

[2019-07-22 22:52] stevenweili commented on #1753
it works! Mike! thanks~

[2019-07-23 05:52] wilkinsona commented on #1725
I don't think the problem is related to the `io.zipkin.zipkin2:zipkin-tests` artifact. It's the `io.zipkin.zipkin2:zipkin` artifact with the `tests` classifier that cannot be resolved. That artifact exists on Central for [2.12.9](http://repo1.maven.org/maven2/io/zipkin/zipkin2/zipkin/2.12.9/) but does not exist for [2.14.2](http://repo1.maven.org/maven2/io/zipkin/zipkin2/zipkin/2.14.2/) or [2.14.1

[2019-07-23 06:07] wilkinsona commented on #1725
[Here](https://github.com/openzipkin/zipkin-gcp/blob/73cdcd4343bc8e19d779e66ceecf8fa56c5942ef/translation-stackdriver/pom.xml#L45-L49) is the culprit:

[code]

`io.zipkin.gcp:zipkin-translation-slackdriver` had a compiled-scoped dependency on the test jar published by `io.zipkin.zipkin2:zipkin`. An upgrade from 0.9.0 to 0.12 or later should fix the problem.

[2019-07-23 14:18] meltsufin commented on #1725
Thanks @wilkinsona! Unfortunately, we're unable to upgrade from `zipkin-gcp:0.9.0` becuase versions `0.10.0+` use a non-GA Stackdriver API V2. See: https://github.com/openzipkin/zipkin-gcp/issues/116.

Until that is resolved, we need to exclude `io.zipkin.zipkin2:zipkin`. I verified that this works:
[code]

[2019-07-23 14:20] artembilan commented on #1725
@meltsufin ,

can't we exclude that directly on our side, so any target projects don't suffer of such an issue?

[2019-07-23 14:21] meltsufin commented on #1725
We can for the future releases, but not for the current `Greenwich.SR2`.

[2019-07-23 14:37] meltsufin commented on #1725
@wilkinsona It still baffles me that this doesn't cause problems for Maven, but only for Gradle.

[2019-07-23 15:14] ChengyuanZhao commented on #1289
@meltsufin @dmitry-s

I can take this one.

What do you guys think about the idea we discussed and agreed before for Spanner: we  accept a bean for a `NamespaceProvider` that the user can implement on his own for multi-namespace/multi-tenant use. The default bean we provide just behaves with the single namespace as we do now.

[2019-07-23 15:31] ChengyuanZhao commented on #1289
Just wanted to give some more detail about things work now and what it would look:

-  the namespace is kept in the Datastore client object.
-  this client object is how we execute operations AND generate new keys.  That's how we know what namespace new keys we create belong to.

As a result we need to:
- accept from the user a provider of namespace. (the thought is the user could do anything here

[2019-07-23 15:35] wilkinsona commented on #1725
On closer inspection, this guess was a bit wide of the mark.

The problem isn't related to dependency management, but to the difference in how Maven and Gradle resolve a version conflict. In Maven, the version that's found nearest the root of the dependency graph wins. In Gradle, the highest version wins.

In the dependency graph there are dependencies on `io.zipkin.zipkin2:zipkin:2.11.11` and `io

[2019-07-23 15:56] meltsufin commented on #1289
@ChengyuanZhao  What do you think of the ideas below? Do we really need multiple Datastore clients, or is it enough to control the key creation?

[2019-07-23 16:00] ChengyuanZhao commented on #1289
@meltsufin We can make keys of other namespaces, but have queries and operations on whole kinds that don't involve keys, and in those cases the client just uses its configured namespace.

[2019-07-23 17:43] meltsufin commented on #1289
Got it. So, then we kind of need to go with the approach we adopted for Spanner, where we have a `Supplier` for `DatabaseClient`.

[2019-07-23 18:01] dzou commented on #962
Just tried running this; this appears to still be an issue.

[2019-07-23 18:03] meltsufin commented on #962
They still need to fix it in https://github.com/googleapis/google-cloud-java/issues/3573.

[2019-07-23 19:31] saturnism opened #1761 "Stackdriver Monitoring Exporter for Micrometer"
Explore/add idiomatic integration w/ Stackdriver Monitoring and custom metrics. Typically in GKE deployments, users can use Micrometer and export metrics via Prometheus, and have Prometheus agents scrape & propagate metrics to Stackdriver Monitoring.

However, there are cases where it's better to propagate metrics directly to the service (e.g., when running in App Engine/serverless environment) to

[2019-07-24 20:31] meltsufin opened #1763 "Clearly document that we only support Spring Boot 2.0 and up"
Some folks are still getting confused thinking that our integrations should work with Spring Boot 1.5.

[2019-07-24 20:55] dzou opened #1764 "Create BigQuery integration with Autoconfiguration and Template"
Create support for BigQuery through adding Autoconfiguration and a Template.

This a reduced-scope version of #1568.

[2019-07-25 15:18] dzou opened #1766 "Add Bigquery to GcpCloudFoundryEnvironmentPostProcessor"
Add Bigquery to GcpCloudFoundryEnvironmentPostProcessor.

Context: https://github.com/spring-cloud/spring-cloud-gcp/pull/1765#pullrequestreview-266655409

[2019-07-25 15:37] dmitry-s opened #1767 "Prototype FirestoreTemplate"
A part of Firestore-native support effort.

[2019-07-25 15:39] dmitry-s opened #1768 "Create a project for Spring Data Firestore-native"

[2019-07-25 16:17] ChengyuanZhao commented on #1670
Looks like we're gonna need to make another project since our current main CI project uses Datastore.

I'm thinking we don't need to touch our travis config or anything. We'll just use the existing service account and grant it access to the new project ID

[2019-07-25 21:31] #1289 closed

[2019-07-26 14:35] ChengyuanZhao opened #1769 "Datastore Pageable/Page Cursor JSON serializing"
The issue is that the Cursor in our DatastorePageable can't automatically be serialized into JSON.

Two things we discussed:

1. looks like the Cursor is just a wrapper for some bytes and can be created from bytes easily. So if we store bytes inside the Pageable instead of Cursor then Jackson might automatically handle it.
2. just annotate the cursor property to not be included in the JSON. this m

[2019-07-26 14:51] #1670 closed

[2019-07-26 15:01] dzou commented on #1752
@bbzg - Hey, I filed a bug for you with Zipkin here: https://github.com/openzipkin/zipkin-gcp/issues/129

We will wait to see the Zipkin team's response and if there might be a fix for this issue.

[2019-07-26 15:26] elefeint commented on #1749
This approach is complicated by `RateLimitingSampler` not being public (asked question in spring-cloud/spring-cloud-sleuth#1409).

[2019-07-26 20:18] #392 closed

[2019-07-27 07:35] bbzg commented on #1752
Thank you @meltsufin and @dzou, I appreciate your hard work!

[2019-07-27 08:08] adriancole commented on #1752
a better way to solve this problem is to not wait until runtime to find it. I opened this in sleuth about that https://github.com/spring-cloud/spring-cloud-sleuth/issues/1411

if there is a flaw in the health check of the stackdriver sender, better to focus energy there in making it more robust

[2019-07-27 08:08] adriancole commented on #1752
FWIW I think probably 1/100 people even know there's a health check function on all senders :P

[2019-07-27 10:18] sumitkanoje opened #1773 "Convertor for Key to String & vice versa"
Problem: Unable to convert String to Key while using `spring-cloud-gcp-data-datastore-sample`

Basically I'm writing `InstrumentRepository` as below

[code]

which will allow datastore operations on Instrument Entity.
https://github.com/spring-cloud/spring-cloud-gcp/blob/8f233f616e4647403177e49549e6aa081b108b8b/spring-cloud-gcp-samples/spring-cloud-gcp-data-datastore-sample/src/main/java/com/examp

[2019-07-29 14:10] elefeint commented on #1749
@marcingrzejszczak fixed this in #1774 (importing functionality, rendering logic duplication unnecessary).

[2019-07-29 14:10] #1749 closed

[2019-07-29 14:14] meltsufin commented on #1752
Here's the implementation of the health check function in `StackdriverSender`:
[code]
Not particularly useful. :smile:

[2019-07-29 14:15] meltsufin commented on #1773
@dmitry-s @ChengyuanZhao

[2019-07-29 14:34] meltsufin opened #1775 "spring-cloud-gcp-pubsub-binder-sample failing with ClassCastException"
https://api.travis-ci.org/v3/job/564180517/log.txt

[code]

@artembilan Did something change in Spring Cloud Stream recently?

[2019-07-29 14:39] artembilan commented on #1775
See Oleg’s comment in your closed issue in Sleuth: https://github.com/spring-cloud/spring-cloud-sleuth/issues/1412#issuecomment-516017327

BTW, I’m on vacation for next two weeks, so bear with my rare answers.

Thanks for understanding

[2019-07-29 15:09] meltsufin commented on #1775
We'll try not to bother you unnecessarily!
Enjoy your vacation!

[2019-07-29 15:13] ChengyuanZhao commented on #1773
I see the error when trying to read an instrument in the browser.

[code]

![image](https://user-images.githubusercontent.com/29288945/62059787-ddec5b00-b1f1-11e9-802c-e46ffe3bcb2f.png)

I'll try to figure it out.

[2019-07-29 15:27] ChengyuanZhao commented on #1773
What's happening is Spring Data REST repo stuff will read the Instrument entities available in the database and will parse the Key values and gives you these URLs you can visit , such as

[code]

If you try to visit that URL then Spring Data REST will parse that URL into this:
[code]

Notice how all the ancestors and such are in that string. But this is just a JSON representation of the original K

[2019-07-29 15:33] ChengyuanZhao commented on #1773
Wait! actually looks like we solved this issue in the Spanner module.

We just need to make a bean that is  `ConditionalOnClass({BackendIdConverter.class,`

[2019-07-29 19:58] #1769 closed

[2019-07-29 20:01] sumitkanoje commented on #1773
Hi @ChengyuanZhao, thanks for the prompt reply,

tried to figure out how this can be achieved with `ConditionalOnClass({BackendIdConverter.class,`
Can you please come up with an example to show its usage?

Also I came across a spring technique for handling such scenarios but not sure if it's applicable here,

I found someone writing a `SingerController` which can expose more endpoints for updating

[2019-07-29 20:08] ChengyuanZhao commented on #1773
@sumitkanoje I'll make the fix to the repo. I'll let you know when it's up.

[2019-07-29 21:02] dmitry-s opened #1777 "Implement a utility to read and set Id for Firestore native entities"
On write, we  need to extract Id value from  a POJO so we can use it as a key.
On read, we need to extract the id from a key and put it to the Id field of a POJO.

[2019-07-29 21:03] dmitry-s opened #1778 "Implement findById/findAllByid for firestoreTemplate"

[2019-07-29 21:04] dmitry-s opened #1779 "Implement save/saveAll for firestoreTemplate"

[2019-07-29 21:09] dmitry-s opened #1780 "Autowire FirestoreTemplate"

[2019-07-30 00:19] adriancole commented on #1752
@meltsufin maybe raise a pull request? not all senders have great ones but most have something better than this. As this code is literally for a commercial product it could help that one of the vendors helps fix that vs expecting labor from volunteers for everything

[2019-07-30 14:09] meltsufin commented on #1752
@adriancole Sure, we can look into it.

[2019-07-30 18:21] #1773 closed

[2019-08-01 20:40] elefeint opened #1786 "Call AsyncReporter.check() when creating stackdriver beans"
spring-cloud-gcp does not rely on `spring-cloud-sleuth-zipkin` (historical reasons?), so after openzipkin/zipkin-gcp#131 is done, we'll have to implement our own version of spring-cloud/spring-cloud-sleuth#1411 when instantiating the [reporter bean](https://github.com/spring-cloud/spring-cloud-gcp/blob/2d33d096546cdf935c3ac3e5e701a9f167f2ef2a/spring-cloud-gcp-autoconfigure/src/main/java/org/spring

[2019-08-01 20:53] meltsufin commented on #1786
We don't use `spring-cloud-sleuth-zipkin` because its purpose is to provide a reporter for the Zipkin Server. We instead create a reporter for Stackdriver Trace.
You're right that we will have to implement a check on bean creation in our own `StackdriverTraceAutoConfiguration` similar to https://github.com/spring-cloud/spring-cloud-sleuth/pull/1413.

[2019-08-02 16:30] dmitry-s opened #1787 "Firestore @Entitry default collection name should be the class name"
Currently, we throw an exception if `collectionName` is not set for Firestore entity. Instead, we should use the class name as a collection name in that case.

[2019-08-02 20:33] swathi-Hv opened #1788 "Add feature to read datastore entity name from application.properties/external files with @Entity annotation"
While using the @Entity annotation for defining the kind in datastore, the "name" field as part of the annotation only accepts on constants. Is there a possibility to add a feature where this "name" can be read from a config file? Right now this support doesn't exist.
The query to the datastore just returns empty values.

[2019-08-05 09:26] amarflybot opened #1789 "Datastore saving random metadata"
I used spring-cloud-gcp-starter-data-datastore in spring boot Application.

Used DatastoreRepository to have CRUD functionality.
[code]

Customer Class:
[code]

ContentId Class:
[code]

Why is the save statement saving the entity with metadata info, and this is random in nature:

`cidList
[{"partitionId":{"projectId":"sampleProjectId","namespaceId":"test-namespace"},"path":[{"kind":"contentId","na

[2019-08-05 14:21] ChengyuanZhao commented on #1789
@amarflybot do the `rank` and `cid` appear properly on Cloud Datastore and in your entities when you read them back ?

What you're pasting there looks like the dummy keys of the embedded entities which need to be created by Spring Data Datastore to furnish to the client library for saving.

[2019-08-05 14:49] ChengyuanZhao commented on #1788
We can implement SpEL for the entity name so anything in the application context can be used in the kind name.

[2019-08-05 14:58] dmitry-s opened #1790 "Create compound indexes from annotations for Datastore entities"
We could have an annotation that would list the compound indexes that we would create.

[2019-08-05 18:11] #1789 closed

[2019-08-05 18:22] ryanjbaxter opened #1791 "Spring Cloud GCP Build Fails When Using JDK 13"
Looks like this is due to the error-prone plugin not being compatible https://github.com/google/error-prone/issues/1106

[2019-08-06 18:11] #1767 closed

[2019-08-06 18:11] #1777 closed

[2019-08-06 18:11] #1768 closed

[2019-08-06 18:14] dmitry-s opened #1794 "Add unit tests for FirestoreTemplate"

[2019-08-06 18:16] dmitry-s opened #1795 "Add documentation for FirestoreTemplate"

[2019-08-06 20:45] ChengyuanZhao opened #1796 "Firestore update/updateAll"

[2019-08-06 20:45] meltsufin commented on #1788
Please re-open if the suggestion didn't answer your question.

[2019-08-06 20:45] #1788 closed

[2019-08-07 14:32] ChengyuanZhao opened #1798 "Use write(WriteRequest) for batch DeleteAll in Firestore"
the current implementation issues multiple single-delete requests. There seems to be the generic write(WriteRequest) method for batch update/delete/save

[2019-08-07 15:02] ChengyuanZhao commented on #1779
Regarding saveAll there are actually 2 cases in ReactiveCrudRepository.

- saveAll of a publisher
- saveAll of an iterable

The first case of the publisher I think we should just be reusing the singular save method we already have since we have no idea how long we would need to buffer the incoming entities before saving. We might as well save as we go.

The second case I think we should be using t

[2019-08-07 15:34] meltsufin commented on #1779
I think we should use `write(WriteRequest)` in both cases. It's just that for iterable, you'll only have to make a single call. For the publisher, you would send a series of batches, each one of size 1.
It's a streaming RPC. So, it should be pretty efficient.
[code]

[2019-08-07 15:41] ChengyuanZhao commented on #1779
sorry if this is a dumb question, but are you saying that calling `write` with WriteRequests that have an array of only 1 document (https://cloud.google.com/firestore/docs/reference/rpc/google.firestore.v1#google.firestore.v1.WriteRequest) repeatedly is automatically very efficient?

[2019-08-07 15:48] meltsufin commented on #1779
Right, I don't see a problem with that. The reason it should be efficient is because it's streaming. The fact that there's only one document in the array should not matter much. The point is that the series of `WriteRequest`s is streamed.

[2019-08-07 15:58] #1270 closed

[2019-08-07 17:00] #1794 closed

[2019-08-07 17:16] ChengyuanZhao commented on #1779
@meltsufin  For my curiosity: what does it mean that it's "streaming" ?
From the docs it looks like they give you back a token/id you pass back and forth with each subsequent request. They look like just regular discrete requests physically and that the "streaming" part of it is more of abstract meaning given by one of the parameters (the stream token/id) .

[2019-08-07 17:24] meltsufin commented on #1779
Although the explanations are not very deep, GRPC docs describe streaming here: https://grpc.io/docs/guides/concepts/.
The idea is that backpressure is supported and there is no need for a round-trip for each request.

[2019-08-07 17:29] meltsufin opened #1801 "Pub/Sub integration uests failing due to short timeout (10s)"

[2019-08-07 19:11] #1801 closed

[2019-08-08 19:49] dzou commented on #1766
Also make a starter for it

[2019-08-08 20:29] meltsufin commented on #1766
Starter?

[2019-08-09 22:33] saturnism opened #1804 "Ability to configure gRPC keep alive time for Pub/Sub, w/ a reasonable default"
In google-cloud-java pubsub, the gRPC transport sets a default keep alive time of 5min
[https://github.com/googleapis/google-cloud-java/blob/34b20f871844ecc6c0aaf1497e2d5df220e99e3d/google-cloud-clients/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Subscriber.java#L411](source)

In Spring Cloud GCP, the transport does not have this configuration.

Propose that:
1. match the google-c

[2019-08-10 13:08] sumitkanoje commented on #1773
Hi @ChengyuanZhao

After I upgraded my codebase to `1.2.0.BUILD-SNAPSHOT` (latest one),
I was forced to change `@Reference` type from `org.springframework.cloud.gcp.data.datastore.core.mapping.Reference` to `org.springframework.data.annotation.Reference` due to which `@Reference` properties of any entity are not getting exposed in REST response, which was happening earlier,

Also whenever I post J

[2019-08-11 12:49] sumitkanoje opened #1806 "Filter on Referenced entities"
I was trying to implement filter on referenced entities like below

[code]
Above function throws `Unable to convert class Band to Datastore supported type` exception

So I changed type of `@Param` to `String` & wrote below query which will filter Singers based on Band id

[code]

After going through logs it show `@SpELtag1` is correctly calculated as key literal ex. `key(bands, 'General Band')`

B

[2019-08-12 14:26] elefeint opened #1808 "Differentiate TransportChannelProvider beans for different GCP services"
We create a `TransportChannelProvider` bean in Pub/Sub, but it's such a generic gRPC bean that if any other configuration defines it, the outcome could be unintuitive.
(I thought Firestore also used it, which would result in Firestore using the Pub/Sub `TransportChannelProvider` bean, but it looks like the bean is injected optionally and [never used](https://github.com/spring-cloud/spring-cloud-gc

[2019-08-12 14:37] elefeint commented on #1804
As the customer mentioned, #1005 likely related to this.

[2019-08-12 14:40] meltsufin commented on #1005
@qlodhi-clearlabs I think we found the underlying issue and it has to do with the keep-alive setting. See the PR above.

[2019-08-12 18:34] #1804 closed

[2019-08-12 18:45] meltsufin opened #1809 "Support @CreatedDate for Datastore auditing"
Currently we only support `@LastModifiedDate`, and do not support `@CreatedDate` because it's difficult to know if the entity is being created when saving unless we do a second request to check if that ID already exists. We also cannot rely on the entity ID being NULL, because the users can set the ID for new entities as well.

The proposal is to support `@CreatedDate` based on the NULL ID, and cl

[2019-08-12 20:29] dmitry-s opened #1810 "Convert entities to Key when they are used for @Query annotated methods"
This will enable such query methods:
[code]
See #1806 for details

[2019-08-12 20:31] dmitry-s commented on #1806
In order to make it work you could convert the object id to a key and make your method param `Key`:
[code]
You would need to autowire `DatastoreTemplate` into the class where you use this query method:
[code]
After that you can use it like this:
[code]
I created an issue for making object to key conversion automatic: #1810

Please reopen if that doesn't help.

[2019-08-12 21:15] dmitry-s commented on #1773
Hi @sumitkanoje

Could you provide the JSON that you post? I'll try to replicate the issue.

Thanks

[2019-08-13 04:59] sumitkanoje commented on #1806
Working, thanks 👍

[2019-08-13 04:59] #1806 closed

[2019-08-13 15:38] dzou opened #1812 "Modify Documentation to reuse spring-cloud-build"
It was recommended to us on gitter by Spring folks that we ought look into reusing spring-cloud-build for our documentation.

See: https://github.com/spring-cloud/spring-cloud-build#reusing-the-documentation

Reusing the Spring docs infrastructure should make our lives easier ? Or be better ? Investigate what this means exactly.

Followup to #1811

[2019-08-13 16:06] meltsufin opened #1813 "Make ObservableReactiveUtil.streamingBidirectionalCall Asynchronous"
See https://github.com/spring-cloud/spring-cloud-gcp/pull/1800/files/ff256cb1c085516f08691f307583dff30079cbef#r313129168

[2019-08-13 16:08] averikitsch opened #1814 "Docs Page is Broken"
Link to [spring-cloud-gcp](https://cloud.spring.io/spring-cloud-gcp/reference/html/) gives a 404.

[2019-08-13 16:16] meltsufin commented on #1814
Yep, https://github.com/spring-cloud/spring-cloud-gcp/pull/1811

[2019-08-13 17:00] dzou commented on #1814
Just in case you were looking for the docs, you can try this link which works: https://spring.io/projects/spring-cloud-gcp#overview

[2019-08-13 17:10] dzou commented on #1814
Ok, the link should be working now: https://cloud.spring.io/spring-cloud-gcp

[2019-08-13 17:10] #1814 closed

[2019-08-13 18:20] dmitry-s commented on #1773
@sumitkanoje I suspect that the issue is not related to `@Reference`. Could you try removing that annotation and see if it works as expected?

[2019-08-13 18:30] meltsufin commented on #1773
Note that properties annotated with `@Id` are by default ignored by Spring Data REST. Also, please make sure that all other properties in the entity have public accessors.

[2019-08-14 09:17] JoePacman opened #1815 "NoSuchMethodError when using Spring Spanner starter"
Hi there,

Been trying to fix an error for the last couple of days in a microservice I'm building to interact with spanner in app engine standard (built in Spring and using cloud endpoints). The error I'm getting looks very similar to https://github.com/spring-cloud/spring-cloud-gcp/issues/1735.

The error looks like this in appengine:

[code]

Following that thread I've tried upgrading the spring

[2019-08-14 13:07] elefeint commented on #1815
It looks like a mismatch between the OpenCensus version that Spanner uses and the one that you have in the project.

What happens when you run this command?
[code]

[2019-08-14 14:11] JoePacman commented on #1815
It shows what looks like the same version of opencensus-api:0.21.0:

[code]

[2019-08-14 14:13] meltsufin commented on #1815
Looks like another diamond dependency problem involving opencensus and gRPC.
@suztomo @elharo

[2019-08-14 17:55] meltsufin opened #1819 "Convert entities to Key when they are used for method-based queries"
This will enable such query methods:

[code]
Follow-up to #1810.

[2019-08-14 19:50] suztomo commented on #1815
I found artifact `com.google.endpoints:endpoints-management-control-appengine-all:1.0.11` contains old `io.opencensus.tags.TagContextBuilder`.

@JoePacman Would you try setting priority to `opencensus-api-0.23.0.jar`? [Java 8 Runtime Environment: Class loader JAR ordering](
https://cloud.google.com/appengine/docs/standard/java/runtime#Java%208_Class_loader_JAR_ordering)

[2019-08-15 12:19] JoePacman commented on #1815
@suztomo many thanks for your response. That has fixed the opencensus exception that was been thrown :)

Now my deployment gets a timeout waiting on Spanner Sessions, but I imagine that is something related to how I've integrated cloud endpoints with Spring and I need to do some further investigation.

[2019-08-15 14:17] suztomo commented on #1815
Glad to hear it fixed the problem. Feel free to create a new issue if you need any help.

[2019-08-15 14:49] #1810 closed

[2019-08-16 13:18] alexeenka commented on #1610
sorry, in what version that fix is apply?
i use?
<spring-cloud-gcp.version>1.1.2.RELEASE</spring-cloud-gcp.version>

[2019-08-16 13:20] alexeenka opened #1824 "Spring GCP - Datastore performance: Batch processing, iteration through all entity list is very slow"
Following code is work really slow, almost 30 second to process 400 entities:

[code]
I use following instead, 4-6 sec per 400 entities (gcp lib to work with datastore)

[code]
Why I can't use spring to do that batch processing?

related question on stackoverflow: https://stackoverflow.com/questions/57524992/spring-gcp-datastore-performance-batch-processing-iteration-through-all-enti

[2019-08-16 13:54] meltsufin commented on #1824
@dmitry-s How's what we're doing in the library different that causes the dramatic performance degradation?

[2019-08-16 13:56] meltsufin commented on #1824
@alexeenka Also please verify which version you're using. If you're not using `1.2.x`, please try `1.2.0.BUILD-SNAPSHOT` because we've made quiet a few performance improvements in 1.2.

[2019-08-16 21:02] dzou opened #1827 "Performance of firestoreTemplate.saveAll() seems slower than Client Libraries"
I noticed while testing firestoreTemplate.saveAll changes, it seems like client libraries are much faster at performing a saveAll() than the reactive pattern.

See experiments: https://github.com/spring-cloud/spring-cloud-gcp/pull/1826

[2019-08-16 21:25] meltsufin commented on #1827
This is possibly caused by our write batch always being of size 1.

[2019-08-17 15:11] vtnlinh95 opened #1828 "Can not write to local datastore emulator"
Hi,
I am trying to save an entity to the local datastore emulator but there is nothing happen when I use Postman sending a request to my REST API. I have debugged the API and I could see that the entity is created and my datastore is my localhost:8081.
There is no error log and the local_db.bin is not created.
I try to query the datastore and there is nothing.

One more point: I can access to loca

[2019-08-18 02:40] #1828 closed

[2019-08-19 10:00] alexeenka commented on #1824
I try 1.2.0.M2 version, it works better,

first query work really long, that piece:
`slice = repo.findAll(PageRequest.of(page, 400, Sort.by("date")));
`
next query, work fast:
`slice = repo.findAll(slice.nextPageable());
`

[code]
Is it possible to make first query work faster, is it scanning all data, i have more than 120k records of that kind

[2019-08-19 20:57] dmitry-s commented on #1828
@vtnlinh95
Was the issue resolved? If not, please provide more details on how to replicate the issue.

Thanks!

[2019-08-19 21:37] dmitry-s commented on #1824
@alexeenka
I replicated the issue. Turns out, the problem is  `findAll` method returns a `Page`.
As we mentioned in our documentation, `Page` is inefficient because it requires a total count of records, and this is expensive. We recommend using methods that return `Slice`, which is similar to `Page` but does not require a total count.

So you would need to create a method in your repository that a

[2019-08-20 08:19] alexeenka commented on #1824
@dmitry-s
It works nice, thanks
[code]
Final code:

[code]

Code in repo:

[code]

[2019-08-20 14:39] #1824 closed

[2019-08-20 20:01] saturnism opened #1829 "Trace Propagation w/ Client Library"
Spring Cloud GCP Trace works well w/ Spring Boot ecosystem and its existing tracer w/ Brave. Our client libraries, however, uses gRPC, and by default, OpenCensus, for trace.

For some customer issues, we need to see the trace spans that calls into our service (thus, gRPC).

The proposal is to have auto-configuration capability to configure our clients to propagate the trace context from Spring Clo

[2019-08-21 07:28] jan-schumacher opened #1830 "Storage: Reload credentials provided by environment variable"
This is more a question then a bug: I wonder if it is possible to hot reload credentials at runtime and how to make it possible to do so?
We're using vault to auto generate service account keys and to auto invalidate them after a certain amount of time. The connection stays alive for a while (don't know how long) when the credentials are invalidated.

[2019-08-21 15:30] elefeint commented on #1830
The fast answer is:  by using `@RefreshScope` from `spring-cloud-context`. I've modified our [`spring-cloud-gcp-storage-resource-sample`](https://github.com/spring-cloud/spring-cloud-gcp/blob/refreshable-credentials/spring-cloud-gcp-samples/spring-cloud-gcp-storage-resource-sample/src/main/java/com/example/GcsApplication.java) on `refreshable-credentials` branch to show how to inject a bean that w

[2019-08-21 18:31] dmitry-s opened #1831 "Implement ReactiveRepository"

[2019-08-22 07:20] jan-schumacher commented on #1830
@elefeint Thanks allot mate! `this.refresh.refresh("scopedTarget.refreshableCredentials");` Thats a nice one, didn't know about that capability! I will try it out by myself :)

[2019-08-22 12:17] elefeint commented on #1830
Use the real bean name; the "scopedTarget" prefix is just a Spring implementation detail to differentiate the scoped real bean from the proxy bean. Spring will [add it automatically](https://github.com/spring-cloud/spring-cloud-commons/blob/c76e026c196d236de9a1b1e3d19be6c170ab173a/spring-cloud-context/src/main/java/org/springframework/cloud/context/scope/refresh/RefreshScope.java#L145).

I've upda

[2019-08-22 16:31] dmitry-s opened #1832 "@Unindex with Map"
Currently we don't support `@Unindexed` for Map.
`com.google.cloud.datastore.DatastoreException: Exclude from indexes cannot be set on a list value at org.springframework.web.servlet.FrameworkServlet.processRequest(FrameworkServlet.java:1013) ~[spring-webmvc-5.1.3.RELEASE.jar:5.1.3.RELEASE]`

In order to support that we need to mark every property in the map as unindexed.

[2019-08-23 16:39] #1819 closed

[2019-08-23 20:09] #1832 closed

[2019-08-25 04:06] meltsufin commented on #1829
I'm not sure if we always configure the `ManagedChannel` directly, but in cases where we do, this should be fairly easy to add in our auto-configuration. The more involved part would be testing it though.

[2019-08-27 09:24] MichalNowakowski opened #1835 "pubsubPublisherThreadPool could not be injected as ThreadPoolTaskScheduler"
Application fails to start when using GCP Pub/Sub after upgrading Spring Boot and Spring Cloud.

Versions used:
Spring Boot 2.1.7
Spring Cloud Greenwich.SR2
JDK: 11.0.3

[code]

I have tried with setting proxyTargetClass to true, tried both EnableAsync and EnableCaching.

It only works fine when I manually create the `publisherExecutorProvider` and `subscriberExecutorProvider`:

[code]

[2019-08-28 09:04] NicolaSpreafico opened #1838 "AppEngine SDK is required using 1.1.2.RELEASE with Cloud SQL"
Hello,

I have a Google App Engine project based on Spring Boot (https://github.com/GoogleCloudPlatform/getting-started-java/tree/master/appengine-standard-java8/springboot-appengine-standard)

I'm using the provided configuration in this page: https://github.com/spring-cloud/spring-cloud-gcp
[code]

to connecto to Cloud SQL, this is the content for application.properties file:
[code]

During serv

[2019-08-28 13:12] MichalNowakowski commented on #1835
@meltsufin I have also tried with ```spring.aop.proxy-target-class=true```, no difference.

@artembilan this is the piece of code that injects it to the executor providers:

[code]

It is in spring-cloud-gcp-autoconfigure module in GcpPubSubAutoConfiguration file.

@elefeint: In a simple project created from scratch the problem does not occur. I will try to isolate it and provide you an example.

[2019-08-28 13:21] MichalNowakowski commented on #1835
It seems the reason for the proxy being created is shedlock-spring (https://github.com/lukas-krecan/ShedLock)!

[code]

Usage:
[code]

After removing the above annotations, the project correctly starts up.

[2019-08-28 13:46] NicolaSpreafico commented on #1838
This is the result:
![image](https://user-images.githubusercontent.com/12278553/63861221-c946e280-c9aa-11e9-80c9-4e8ff3308927.png)

I'm now getting a different type of error:
[code]

[2019-08-29 01:14] vineela-gampa opened #1842 "Batch processing of stores"
Hi @ChengyuanZhao / @meltsufin

We have a blocker where we are currently processing an excel - which attributes to 60000 mutations. Ask from business is do a flush and fill. (so we are using deleteAll and insertAll as part of RW transaction by chunking 20,000 each) due spanner limitation.

links {
  description: "Cloud Spanner limits documentation."
  url: "https://cloud.google.com/spanner/docs/li

[2019-08-29 07:24] NicolaSpreafico commented on #1838
Hello,
first of all I can confirm that with the online App Engine environment there is no problem. Using `` version the connection is properly made:
[code]
<profiles>
      <profile>
         <id>localhost</id>
         <dependencies>

            <dependency>
               <groupId>com.google.appengine</groupId>
               <artifactId>appengine-api-1.0-sdk</artifactId>
            </dependen

[2019-08-29 12:37] MichalNowakowski commented on #1835
To sum up: shedlock-spring creates a proxy on ThreadPoolTaskScheduler and GCP pub/sub module requires ThreadPoolTaskScheduler.

Solution: Switch shedlock-spring to AOP proxy mode:
[code]

Docs: https://github.com/lukas-krecan/ShedLock#scheduled-method-proxy

[2019-08-29 14:03] ChengyuanZhao opened #1843 "Custom query in SpannerRespository doesn't seem to honor ORDER BY without including a LIMIT clause"

[2019-08-29 14:08] ChengyuanZhao commented on #1842
If I'm understanding your situation correctly I think you can simply have T1 and T2 both operate in their own transactions  (either by submitting the chunking work all within an anonymous function or using the Transactional annotation).

If you are deleting and inserting those 60k rows from both threads and T2 starts its transaciton before T1 closes its transaction then  any of the rows touched by

[2019-08-29 14:19] meltsufin commented on #1838
@etanshaul who works on Cloud Tools.
It looks like the local App Engine emulator is just not quiet the same as the real one in this respect.

[2019-08-29 14:42] turboT4 opened #1844 "PubSub creating consumer group and not picking existing subscription"
Been trying to deploy my service recently and just noticed that I may be not understading some concepts well...

`spring.cloud.stream.bindings.output.destination=output-topic
spring.cloud.stream.bindings.output.binder=pubsub
spring.cloud.stream.bindings.input.destination=input-topic
spring.cloud.stream.bindings.input.group=input-subscription
spring.cloud.stream.bindings.input.binder=pubsub`

I hav

[2019-08-29 14:46] ChengyuanZhao commented on #1843
Ok upon further inspection it appears to be a strangeness in Spanner itself.

What's happening is the user was reporting a query method annotated `@Query("select * from table order by id desc")` doesn't actually order by id desc as desired but "select * from table order by id desc limit 1000000" does.

What's happening is we're wrapping his query in a further `SELECT * FROM (<his query>)`
always (

[2019-08-29 17:36] meltsufin commented on #1844
Please see [this section](https://cloud.spring.io/spring-cloud-gcp/reference/html/#_consumer_destination_configuration) in the reference documentation.
There is a note there clarifying it:

If you want to make sure that resources are not created automatically, set this property:

[code]

[2019-08-29 17:36] #1844 closed

[2019-08-29 17:59] #1838 closed

[2019-08-29 21:01] #1843 closed

[2019-08-30 14:34] #1842 closed

[2019-08-30 20:30] dmitry-s opened #1847 "Add tests for FirestoreReactiveRepository"
follow up for #1831

[2019-08-30 20:36] dmitry-s opened #1848 "Implement PartTreeQuery for Firestore"

[2019-08-30 20:38] dmitry-s opened #1849 "Switch to new public object mapping in firestore"

[2019-09-02 00:16] vtnlinh95 commented on #1828
Yes, the problem is resolved because the datastore has option not to write on disk. That is the reason why I can not find the local_db.bin file

[2019-09-03 14:23] turboT4 commented on #1844
My bad for not looking enough into the docs! Going fast while developing is clearly not the solution :)

Just a quick doubt  @meltsufin regarding the conversion, and being a conversion wouldn't make much of a point to ask this but... Is there any option to change the delimiter so that the `.` becomes a `-` or any other char?

[2019-09-03 17:14] meltsufin commented on #1844
There isn't really an easy way to override it. You'd have to extend `PubSubChannelProvisioner` and make the changes there.

[2019-09-03 21:22] #1813 closed

[2019-09-04 07:17] turboT4 commented on #1844
Got you @meltsufin , thanks a lot!

[2019-09-04 17:51] #1479 closed

[2019-09-04 18:13] meltsufin opened #1854 "Create a separate starter for Cloud Foundry"
Follow up to #1852.
@eddumelendez

[2019-09-05 11:25] johannesgiani opened #1857 "Cannot connect to Cloud SQL Postgres because of UnsatisfiedDependencyException/IncompatibleClassChangeError"
When I deploy my App to GAE standard / Java 11 I get the following warning which in turn let the app context  fail to start:
[code]
This was working before (begin of august) and now it is broken using the same dependencies ( `Greenwich.SR2` as `spring-cloud-dependencies`). I did a little research what changed in the last month and found that there is a newer version of `postgres-socket-factory` wh

[2019-09-05 13:54] #1831 closed

[2019-09-05 14:01] meltsufin commented on #1857
@kurtisvg Do you know what might have changed on the App Engine Standard side to cause this, since our code didn't change.
@johannesgiani Can you try with the latest `1.2.0.BUILD-SNAPSHOT` of Spring Cloud GCP?

[2019-09-05 14:55] johannesgiani commented on #1857
Works with latest snapshot build. Cannot reproduce the issue anymore.

[2019-09-05 14:55] #1857 closed

[2019-09-05 20:51] #1108 closed

[2019-09-09 12:28] elefeint opened #1862 "Upgrade to Stackdriver Trace API v2 and latest zipkin-gcp"
Stackdriver Trace API v2 is still in Beta, but it's stable, and Zipkin GCP already upgraded. We are missing out on Zipkin GCP improvements such as healthchecks until we upgrade.

[2019-09-09 14:31] ryanjbaxter opened #1863 "Update docs to use absolute urls using asciidoc attributes"
See contract commit spring-cloud/spring-cloud-sleuth@590ffa3

[2019-09-09 15:11] elefeint commented on #1752
`zipkin-gcp` is now fully set up to report errors. `spring-cloud-gcp` can take advantage of the enhancements once we upgrade (tracked in #1862).

[2019-09-10 01:57] #1254 closed

[2019-09-10 14:14] #1468 closed

[2019-09-10 14:41] elefeint opened #1865 "Some Spanner integration test is not cleaning up data"
`org.springframework.cloud.gcp.data.spanner.core.it.SpannerTemplateIntegrationTests` runs fine by itself, but fails locally when all tests in ` spring-cloud-gcp-data-spanner` run. I assume it succeeds on Travis because test order there ends up different.

[2019-09-10 14:52] meltsufin commented on #1865
@dmitry-s @ChengyuanZhao PTAL

[2019-09-10 15:17] ChengyuanZhao commented on #1865
Hmmm I'm not able to recreate. I'm running `./mvnw clean install -am --projects=spring-cloud-gcp-data-spanner -Dit.spanner=true` and running all the tests and it builds for me.

The tables the integration tests use have SpEL in the names that translates to a timestamp, so there shouldn't be a concern about cleanup since a new table is created every time.

@elefeint how are you running these tests?

[2019-09-10 15:58] elefeint commented on #1865
It was
[code]
But here is a targeted command that reproduces:
[code]

[2019-09-10 17:07] ChengyuanZhao commented on #1865
unable to reproduce :/ If the linked PR fixes your issue then that's a pure win  :D

[2019-09-10 18:00] #1863 closed

[2019-09-10 18:06] #1865 closed

[2019-09-10 21:49] #1798 closed

[2019-09-11 13:52] meltsufin opened #1872 "Re-enable FirestoreTemplateTests after it's fixed"
Follow-up to #1871.

[2019-09-11 14:48] #1862 closed

[2019-09-11 15:07] dzou commented on #1779
I believe this is now resolved.

[2019-09-11 15:07] #1779 closed

[2019-09-11 15:21] dzou commented on #1796
@ChengyuanZhao - Is this just the same as saveAll()?

[2019-09-11 15:31] #1854 closed

[2019-09-11 15:35] ChengyuanZhao commented on #1796
@dzou

The updateall portion is done. However the update is not done because `save` needs to be rewritten to use saveall. Right now `save` uses the separate createdocumentrequest that is create-only. I don't think it works as an update-or-insert.

[2019-09-11 15:37] dzou commented on #1796
Ohh ok. I can take this task then - (if you are not goign to work on this)

[2019-09-11 19:14] dzou commented on #1786
See https://github.com/spring-cloud/spring-cloud-sleuth/issues/1411

[2019-09-11 22:27] ChengyuanZhao commented on #1796
It is yours my friend

[2019-09-12 03:50] srivraokp opened #1877 "Can PubsubTemplate cubscribe to 2 GCP projects within same SpringBoot App"
I have requirement where we have a common subscriber microservice, which has multiple Subscriber to subscribe from different GCP projects.

If I use Google API i can create ,  new ProjectSubscriptionName for each Subscriber

How can I achieve same using pubsubTemplate.

Can you please guide me on this

Thanks

[2019-09-12 21:27] dmitry-s opened #1884 "Firestore Part tree count queries"
e.g. `Flux<Long> countByName(String name)`

[2019-09-12 21:32] dmitry-s opened #1885 "Firestore - add pagination and sort support for PartTree methods"

[2019-09-12 21:33] dmitry-s opened #1886 "Firestore - find by example support"

[2019-09-13 02:30] srivraokp opened #1887 "Calls to spanner are hung from java docker"
We are having issues in Spring Boot microservice, when app tries to get data from spanner, there is no error in the logs but it just hangs, all other service call which is not connecting to Spanner works fine

This issue is similar to #969 & #1637

The app works fine for a week and then it stops responding for DB calls, we are noticing this in all of our apps which has Spanner inetractions

We are

[2019-09-13 15:11] meltsufin commented on #1887
I wonder if this could potentially be related to this issue in the client library: https://github.com/googleapis/google-cloud-java/issues/6164.
Have you tried increasing `spring.cloud.gcp.spanner.maxSessions` to see if the app can go longer without hanging? Or, alternatively decreasing the number of sessions to see if the app fails sooner?

Another thing you can try in debugging this, is to set th

[2019-09-13 15:12] meltsufin commented on #1887
cc/ @olavloite in case you have some thoughts on this.

[2019-09-13 15:13] #1848 closed

[2019-09-13 15:23] olavloite commented on #1887
This sounds very much like a session leak that builds up over time and in the end will exhaust the session pool. The `SessionPoolOptions` contains the option `setFailIfPoolExhausted`. If you set this for the session pool, a session leak will be easier to detect as you will get an `RESOURCE_EXHAUSTED` error instead of a process that waits indefinitely. Closing the session pool after such an error w

[2019-09-13 15:26] #1786 closed

[2019-09-13 15:43] meltsufin commented on #1887
Thanks @olavloite!
Currently it's not exposed, but one can configure it by providing their own `SessionPoolOptions` bean in the Spring application context.
@srivraokp Can you try this please and report back?

[2019-09-13 15:49] dzou commented on #1827
Resolved after implementing batching.

[2019-09-13 15:49] #1827 closed

[2019-09-13 16:02] #1796 closed

[2019-09-13 17:09] srivraokp commented on #1887
@meltsufin
Please find below code I did:

@Bean
	public SpannerTransactionManager transactionManager() {
		SessionPoolOptions sessionPoolOptions = SessionPoolOptions.newBuilder()
                .setFailIfPoolExhausted()
                .setMinSessions(1)
                .setMaxSessions(2)
                .build();
		SpannerOptions options = SpannerOptions.newBuilder()
				 .setSessionPoolOption(s

[2019-09-13 17:21] olavloite commented on #1887
@srivraokp Could you share the code that is using the `SpannerTransactionManager`? Could it be that the transaction that your method is returning is never committed or rolled back in your code? That would (as far as I can tell) cause a session leak.

[2019-09-13 17:32] srivraokp commented on #1887
@olavloite
Please find below code, this is a readonlyTransaction call to get all entities based on a filter

I have attached Service, DAO and repository

[Code.txt](https://github.com/spring-cloud/spring-cloud-gcp/files/3611157/Code.txt)

[2019-09-13 17:59] ChengyuanZhao commented on #1887
@olavloite You're right about why we get the read/write transaction in `doGetTransaction`. Unfortunately Spring doesn't give the detail about if it's read-only until later on in `doBegin`.
I'm not sure if Spring calls our `doCommit` if the method was annotated as readonly, but I would be really surprised if they didn't (after all how else do we know when to clean up! )

[2019-09-13 18:09] saturnism opened #1891 "Document pub/sub emulator host"
https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.2.0.M2/reference/html/spring-cloud-gcp.html#pubsub-configuration

The configuration for emulator-host is missing. It would be awesome to have completeness in the section.

[2019-09-13 18:39] meltsufin opened #1892 "Stackdriver Trace health check is failing with PERMISSION_DENIED"
[code]

[2019-09-13 18:44] meltsufin commented on #1892
Never mind, it's just the output of a passing test.

[2019-09-13 18:44] #1892 closed

[2019-09-13 19:12] srivraokp commented on #1887
@olavloite
just using 	@Transactional is working it is closing the session

[2019-09-13 19:13] srivraokp commented on #1887
@meltsufin
Can you please let us know in which release will this fix be available

[2019-09-13 19:16] ChengyuanZhao commented on #1887
@meltsufin hmmm this might mean we need to disable read-only access. There is no read-only transaction manager.

[2019-09-13 19:55] meltsufin commented on #1887
From what I can see, `doTransaction()` is only called from `getTransaction(TransactionDefinition definition)`, where the read-only status is already known. It's just that it's not passed into the `doTransaction()` method. We can just abandon using `AbstractPlatformTransactionManager` and implement `PlatformTransactionManager` directly to get around the limitation.

[2019-09-13 20:12] ChengyuanZhao commented on #1887
@meltsufin There's still the challenge of not having a transaction-context that auto-closes without a call to doCommit. When we wrote this (and i think still the case), the only transaction manager the client lib has is read-write.

[2019-09-13 20:13] meltsufin commented on #1887
@ChengyuanZhao Actually, I don't think `doGetTransaction()` should even be creating new transactions. That's the job of `doBegin()`.

[2019-09-13 20:18] ChengyuanZhao commented on #1887
@meltsufin I was under the impression that Spring calls doGetTransaction on our behalf to provide the TransactionObject to doBegin and that there is no way in doBegin to create a transaction and somehow feed it back to the other way for Spring to keep track of.

[2019-09-13 20:35] meltsufin commented on #1887
Looking a bit more into this, for read-only transactions, we create a new transaction that is disconnected from the current transaction context. So, in the `doCommit()` we forget to call `close()` on it.

[2019-09-16 04:08] naivegeek commented on #1887
@ChengyuanZhao @meltsufin @olavloite  we are currently using pubsub, spanner and spring cloud gcp spanner data libraries, our application is using the latest spring boot version 2.1.3.RELEASE and Greenwich.SR1 version for spring cloud release train. We also facing similar issues as above to be specific, spanner

com.google.cloud.spanner.SpannerException: CANCELLED: io.grpc.StatusRuntimeException:

[2019-09-16 05:14] olavloite commented on #1887
@naivegeek This is a different problem and not related to this issue.

Based on the above stack trace, it looks like the connection to Cloud Spanner has been closed (i.e. your instance of `com.google.cloud.Spanner` has been closed). Could it be that some other part of your application has already closed it?

[2019-09-16 05:32] naivegeek commented on #1887
@olavloite  sorry, we only started experiencing all this after we upgraded to spring boot version 2.1.3.RELEASE and Greenwich.SR1 version for spring cloud release train.
Thina where much more stable before.

[2019-09-16 13:45] meltsufin commented on #1887
@naivegeek `Greenwich.SR3` is about to be released. Please try `Greenwich.SR2` first, and if you're still having problems, please create a separate issue from this one. Thanks!

[2019-09-16 14:38] meltsufin opened #1894 "Firestore tests failing on Jenkins"
We see an error like this:
[code]
[Example build](https://jenkins.spring.io/blue/organizations/jenkins/spring-cloud-gcp-master-ci/detail/spring-cloud-gcp-master-ci/2560/pipeline).

Currently, unable to reproduce locally or on Travis.

[2019-09-16 14:51] meltsufin opened #1896 "PubSubTemplateIntegrationTests.testPullAndAck integration test failing"
The ack'ed message seems to get redelivered as though ack'ing doesn't work.

[2019-09-16 18:08] #1896 closed

[2019-09-16 20:21] #1887 closed

[2019-09-16 21:25] meltsufin commented on #1894
It looks like `Corrupted STDOUT...` is just a red herring. The real problem is that the test simply hangs.

[2019-09-17 15:59] #1894 closed

[2019-09-17 16:55] Alos opened #1902 "Datastore Schema Migration Feature"
It's typical for users to want to update their models and change the "schema" of the data stored. Currently adding new (primitive) values to an entity already stored will cause the application to throw an exception. For example:

[code]

Store a few Dogs on your database and then modify the Entity:

[code]

Fetching one of these objects from the datastore will cause an NPE:

[code]

A potential so

[2019-09-17 19:46] meltsufin commented on #1902
If this was a traditional relational database with an actual schema, the problem would be that the new column would be storing `NULL` values for the existing rows, and it would be incorrect to convert `NULL`s to a boolean value on load.
Since, in Datastore, there is no strict schema, when you add a new property, the corresponding "column" for those rows simply doesn't exist in Datastore. So, we ca

[2019-09-17 19:52] meltsufin opened #1904 "Spring Data Spanner Leaking Sessions"
Follow-up to: #1887, #1897, #1901, and specifically [this comment](https://github.com/spring-cloud/spring-cloud-gcp/pull/1901#issuecomment-532352484).

@ChengyuanZhao @srivraokp

[2019-09-18 06:46] honnel opened #1907 "Please provide a changelog"
Is there any way to see the differences between released versions?
Additionally whats the current stable version?
https://spring.io/projects/spring-cloud-gcp says 1.2.0
https://github.com/spring-cloud/spring-cloud-gcp/releases says 1.1.3

[2019-09-18 13:42] meltsufin commented on #1907
You're right we need to do better with release notes.
The current GA (stable) version is `1.1.3`.
Version 1.2.0 is not GA yet, but it's close. If you want the latest changes, use `1.2.0.M2`.
We'll work on the release notes. I believe we can just generate them from the closed issues list.

[2019-09-18 14:09] #1904 closed

[2019-09-18 15:01] dzou opened #1908 "Add a sample for Firestore module"

[2019-09-18 20:55] lucasoares opened #1910 "Pub/Sub documentation for polling is wrong."
The [PubSubReactiveFactory](https://github.com/spring-cloud/spring-cloud-gcp/blob/v1.2.0.M2/spring-cloud-gcp-pubsub/src/main/java/org/springframework/cloud/gcp/pubsub/reactive/PubSubReactiveFactory.java) doesn't have the method createPolledFlux like documented [here](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.2.0.M2/reference/html/spring-cloud-gcp.html#_reactive_stream_subscrip

[2019-09-18 21:08] elefeint commented on #1910
Good catch, thank you!

[2019-09-18 21:09] lucasoares commented on #1910
I'm going to fix this right now!

[2019-09-18 21:15] #1910 closed

[2019-09-18 21:25] naivegeek commented on #1887
@meltsufin and @olavloite I will try upgrading to Greenwich.SR2 and see if we have any issues. Thanks for looking into it

[2019-09-19 14:05] elefeint opened #1913 "Make PubSubMessageSource typed"
When writing `PubSubMessageSource`, I made it extend `AbstractFetchLimitingMessageSource<Object>`. But a message source can be typed, so it should be typed properly. Especially since we have a concept of message payload type.

[2019-09-19 14:19] elefeint opened #1914 "Consider creating PubSubInboundChannelAdapterFactory"
Right now, users have to get hold of an autoconfigured `SubscriberFactory` in order to create a `PubSubInboundChannelAdapter`. It seems like an implementation detail that users don't necessarily need to know about.

Instead, we could create and autoconfigure `PubSubInboundChannelAdapterFactory` that would be aware of the current default `SubscriberFactory`. Default settings such as `ackMode` could

[2019-09-19 14:50] praveen4463 opened #1915 "missing artifact "spring-cloud-gcp-logging" in "spring-cloud-gcp-starter-logging""
I am using spring-cloud-gcp's **stackdriver logging** component. After adding the following starter, it turned out that one of the artefact `spring-cloud-gcp-logging` is missing as maven couldn't find and download it.

Due to this, the resource like `org/springframework/cloud/gcp/logging/logback-appender.xml`is missing. I believe the artefacts published to maven central needs to be fixed.

spring

[2019-09-19 15:08] meltsufin commented on #1915
@praveen4463 Spring Cloud GCP version `1.1.x` doesn't have the `spring-cloud-gcp-logging` module. It was introduced in `1.2.x`. Please refer to the [version-specific documentation](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.1.3.RELEASE/multi/multi__stackdriver_logging.html#_log_via_api), which explains that you should use `org/springframework/cloud/gcp/autoconfigure/logging/log

[2019-09-19 15:08] #1915 closed

[2019-09-19 22:09] #1884 closed

[2019-09-20 12:31] johkin opened #1917 "Support for Cloud Tasks?"
Do you have any plans of adding support for the Cloud Tasks service? In that case, when could that be expected?

[2019-09-20 13:39] meltsufin commented on #1917
@johkin Can you please provide more details on what kind of support for Cloud Tasks you have in mind? Are you using Spring Batch, Spring Cloud Stream, or Spring Cloud Task?

[2019-09-20 14:46] elefeint opened #1919 "Remove stream autodiscovery workaround from binder sample"
Remove workaround introduced in #1918 when spring-cloud/spring-cloud-function#409 is resolved.

[2019-09-20 15:24] #1908 closed

[2019-09-20 15:25] dzou commented on #1847
Done in #1918.

[2019-09-20 15:25] #1847 closed

[2019-09-20 17:58] dzou commented on #1885
Is this feature relevant for Reactive?

Apparently the paginating/sorting functionality is something that does not necessarily fit in with reactive patterns: https://stackoverflow.com/questions/46384618/how-apply-pagination-in-reactive-spring-data

[2019-09-20 18:01] dzou commented on #1872
Resolved by @meltsufin in #1900.

[2019-09-20 18:01] #1872 closed

[2019-09-22 19:39] johkin commented on #1917
Sorry, didn't think of the ambiguity. I'm interested in using GCP Cloud Tasks (https://cloud.google.com/tasks/).
I guess the implementation could be somewhat similar to PubSub?

[2019-09-23 13:32] meltsufin commented on #1917
We also have several integrations for Pub/Sub. I guess the more basic one would be `CloudTasksTemplate` and the Spring Integration channel adapter built on top of that.

[2019-09-23 14:30] #1919 closed

[2019-09-23 20:36] dmitry-s commented on #1902
I think we can add annotations for default values. That shouldn't be too hard.

[2019-09-23 20:53] elefeint commented on #1835
I am going to close this issue, since you've found the root cause.

[2019-09-23 20:53] #1835 closed

[2019-09-24 14:44] ewirch opened #1925 "traceExecutorProvider provides a executor service which is not shutdow on context.close()"
When `context.close()` is invoked (f.e. by invoking `org.springframework.boot.actuate.context.ShutdownEndpoint`), the executor service created by `org.springframework.cloud.gcp.autoconfigure.trace.StackdriverTraceAutoConfiguration.traceExecutorProvider()` stays alive, keeping the whole JVM alive.

https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-autoconfigure/src/main/

[2019-09-24 15:28] dmitry-s opened #1926 "Count queries optimization in Firestore Part Tree"
Count queries should use id projection and avoid conversion.

[2019-09-24 15:49] #1926 closed

[2019-09-24 15:50] #1506 closed

[2019-09-24 15:50] #1925 closed

[2019-09-24 16:45] jfinci1 opened #1930 "help request: datastore & spring batch: no transaction aspect-managed TransactionStatus in scope spring batch item reader reading datastore"
This is a help request.

Leveraging Datastore with Spring Batch

I've implemented a custom item reader which reads from an API. I intended to weave in data from Datastore during the read step- but as soon as I attempt to query the DatastoreRepository I get an error:

`org.springframework.transaction.NoTransactionException: No transaction aspect-managed TransactionStatus in scope`

Spring batch is

[2019-09-24 18:04] dzou commented on #1930
Hey @jfinci1, thanks for posting an issue. Do you have any code snippets or examples we could look at to help us understand more? (ideally a reproducible sample!) Our team is not too familiar with Spring batch.

[2019-09-24 18:23] jfinci1 commented on #1930
Sure, I've switched to a tasklet based approach, but here's some code:

the batch configuration, where i've configured a datasource (using cloud SQL) to back Spring Batch execution metadata

[code]

The configuration for the batch job:

[code]

and the tasklet:

[code]

The repo is just:

`public interface SyncJobRepository extends DatastoreRepository<SyncJob, Long> {
}`

[2019-09-24 18:28] elefeint opened #1932 "Remove custom brave version"
This is follow up to #1870
Related: openzipkin/zipkin-gcp#146

Needs to be done in both 1.2 and 1.1 branch.

[2019-09-24 18:39] dmitry-s commented on #1930
Hi @jfinci1

could you provide the stack trace?

Thanks

[2019-09-24 18:43] jfinci1 commented on #1930
yes:

[code]

[2019-09-24 18:46] meltsufin commented on #1932
I don't think we'll be upgrading in the 1.1.x branch.

[2019-09-24 20:51] meltsufin commented on #1930
My guess is that your tasklet is already in a transaction because of Spring Batch, but it's not in a Datastore transaction, and our transaction retrieval code doesn't detect this situation correctly. Instead, it thinks that there is a Datastore transaction and tries to get a reference to it.
This code is probably not correct:
`DatastoreTransactionManager.java`:
[code]
@mp911de Can you please advis

[2019-09-25 07:25] mp911de commented on #1930
The approach using `TransactionAspectSupport` doesn't seem right because it limits functionality to `@Transactional` methods only. The programmatic control with `TransactionTemplate` isn't covered.

Typically, you would rather use `TransactionSynchronizationManager.getResource(datastore)` (assuming `datastore` is a sort of factory for `DatastoreReaderWriter`) to retrieve the transaction-bound reso

[2019-09-25 13:50] meltsufin commented on #1930
Thanks @mp911de! I started looking into this as well yesterday and came to the same conclusion while looking at the [MongoTransactionManager](https://github.com/spring-projects/spring-data-mongodb/blob/master/spring-data-mongodb/src/main/java/org/springframework/data/mongodb/MongoTransactionManager.java).
We'll need to make the change for Spanner and Datastore. I'll tag you on the PR, once it's up

[2019-09-25 16:43] lucasoares opened #1933 "Documentation question for Pub/Sub of `spring.cloud.gcp.pubsub.subscriber.parallel-pull-count`"
Hello.

The documentation says that the number of parallel-pull-count for Subscriber is the number of available cores:
![image](https://user-images.githubusercontent.com/10624972/65621376-04343a00-df9a-11e9-8180-c4664f529156.png)

Looking at the code the default number for Google's Subscriber lib is 1.
![image](https://user-images.githubusercontent.com/10624972/65621400-0eeecf00-df9a-11e9-9865-d42

[2019-09-25 19:41] meltsufin commented on #1933
Spring Cloud GCP simply doesn't set this parameter, when it's not specified in configuration. So, it relies on the default in the Google Cloud Java Pub/Sub client library.
It used to be the number of cores, but has changed [here](https://github.com/googleapis/google-cloud-java/pull/3147/files#diff-5c59d3b131c625ad32cdcbf7e4b3ea53L452).
We just need to update our documentation.

@lucasoares Thanks

[2019-09-25 20:51] dmitry-s opened #1934 "Transactions support in Firestore"
see https://spring.io/blog/2019/05/16/reactive-transactions-with-spring for reactive transactions in Spring

[2019-09-25 20:55] dmitry-s opened #1935 "Resolve conflicts between our @Id annotation and @DocumentId"
see https://developers.google.com/android/reference/com/google/firebase/firestore/package-summary for `@DocumentId` annotation

[2019-09-26 20:48] elefeint opened #1937 "Stackdriver starter needs a brave dependency override in spring-cloud-gcp:1.1.3.RELEASE"
`spring-cloud-gcp:1.1.3.RELEASE` depends on `spring-cloud-sleuth:2.1.3.RELEASE` from Greenwich.SR3 release train. This version of `spring-cloud-sleuth` needs functionality from `io.zipkin.brave:brave:5.7.0`.
However, `spring-cloud-gcp:1.1.3.RELEASE` brings an old transitive version of the brave library, causing the following message at run time:

[code]

To work around the issue, override the brav

[2019-09-27 10:25] szisiu opened #1938 "Error handlers in Spring Cloud GCP Stream Binder for Google PubSub are not invoked"
Hi,

I've created a small app based on [the Spring Cloud GCP Stream Binder for Pub/Sub code sample](https://github.com/spring-cloud/spring-cloud-gcp/tree/v1.1.3.RELEASE/spring-cloud-gcp-samples/spring-cloud-gcp-pubsub-binder-sample) to play with error handling. I followed [the Spring Cloud Stream application error handling docs](https://cloud.spring.io/spring-cloud-static/spring-cloud-stream/2.1.4

[2019-09-27 11:00] szisiu commented on #1938
As a side note, for a test, I tried `spring-cloud-gcp-pubsub-stream-binder:1.2.0.M2` which has a `spring-cloud-stream:2.2.1.RELEASE` dependency -  **error handlers are not executed as well**. Additionnaly, I checked a new [Polled Consumers](https://cloud.spring.io/spring-cloud-static/spring-cloud-stream/2.2.1.RELEASE/spring-cloud-stream.html#spring-cloud-streams-overview-using-polled-consumers) fe

[2019-09-27 13:17] meltsufin commented on #1938
@artembilan Is this a Spring Cloud GCP issue or something in Spring Cloud Stream?

[2019-09-27 13:43] meltsufin opened #1939 "Use TransactionSynchronizationManager to hold transaction state"
We need to apply the same fix as in Datastore. See #1936, #1930.

[2019-09-27 14:12] dzou opened #1940 "Add Sort support for PartTree methods"
Add Sort support for parttree methods.

Followup to #1885.

[2019-09-27 14:12] #1885 closed

[2019-09-27 15:37] artembilan commented on #1938
This looks like a bug for in the Pub/Sub Binder implementation:
[code]

Meanwhile all other binder implementations has also a logic like this:
[code]
See Kinesis Binder: https://github.com/spring-cloud/spring-cloud-stream-binder-aws-kinesis/blob/master/spring-cloud-stream-binder-kinesis/src/main/java/org/springframework/cloud/stream/binder/kinesis/KinesisMessageChannelBinder.java#L297
See Kafka Bi

[2019-09-27 15:48] #1930 closed

[2019-09-27 16:48] dmitry-s opened #1945 "Add Spring Data Firestore documentation"

[2019-09-27 19:25] #1939 closed

[2019-09-30 09:48] szisiu commented on #1938
Thanks for the info. Waiting for the fix.

[2019-09-30 17:25] clementohNZ opened #1948 "Multiple Spring Cloud GCP libraries in single project causes NoClassDefFoundError"
Hi Spring Team :)

If I use a single Spring Cloud GCP library e.g. `implementation("org.springframework.cloud:spring-cloud-gcp-starter-sql-postgresql:1.1.1.RELEASE")` and the property: `spring.cloud.gcp.credentials.encoded-key=` for credentials... everything works fine.

But if I also want to say add pub/sub to my project via: `implementation("org.springframework.cloud:spring-cloud-gcp-starter-pub

[2019-09-30 18:33] meltsufin commented on #1948
It looks like you're mixing two different versions `1.1.1.RELEASE` and `1.1.3.RELEASE`. Please use the same version for all Spring Cloud GCP libraries. In fact we recommend using the Spring Cloud BOM to manage the versions.

[2019-09-30 18:52] clementohNZ commented on #1948
oh my.... that's some good spotting @meltsufin Thanks for that. Will close the issue.

yep was using `spring-cloud-gcp-dependencies` in the original project, but version mismatch.

Should probably stop the late-night coding sessions.

[2019-09-30 18:52] #1948 closed

[2019-09-30 23:20] Alos opened #1949 "Spring Cloud GCP Storage"
Would love to have documentation to use Google Cloud Storage with dynamic buckets (ie. not fixed and injected from a `@Value` annotation):

[code]

[2019-10-01 14:52] dzou commented on #1938
I can take a look at this.

[2019-10-01 18:29] meltsufin opened #1950 "Add UserAgentHeaderProvider for BigQuery autoconfiguration"

[2019-10-02 13:50] #1933 closed

[2019-10-02 13:55] #1891 closed

[2019-10-02 14:09] lucasoares opened #1955 "Spring cloud GCP should use plainText to communicate with a PubSub emulator"
Hello.

I'm getting lots of errors trying to use the PubSub emulator with Spring Cloud GCP lib.

For example trying to use the `PubSubAdmin` to check if a topic exists, I get this message:
```Status{code=UNIMPLEMENTED, description=Method not found: google.pubsub.v1.Publisher/GetTopic, cause=null}```

Apparently the PubSub emulator can't receive all gRPC messages correctly.

Google's example of Pub

[2019-10-02 15:52] dmitry-s opened #1956 "Firestore implement/document emulator support"

[2019-10-02 15:53] dmitry-s opened #1957 "Document supported data types"

[2019-10-02 15:55] dmitry-s opened #1958 "FirestoreTemplate documentation"

[2019-10-02 15:56] dmitry-s opened #1959 "Test/document RestRepository support"

[2019-10-02 16:01] lucasoares commented on #1955
I created this question on StackOverflow: https://stackoverflow.com/questions/58204646/error-using-pubsub-emulator-with-spring-cloud-gcp-unimplemented-method-not-fou because I'm having big issues trying to use the Spring Cloud GCP PubSub to connect to an emulator.

[2019-10-02 21:01] #1945 closed

[2019-10-03 17:44] meltsufin opened #1962 "Support fetching batches of Pub/Sub messages in SI channel adapters"
Currently our channel adapters only support working with individual messages, but significant performance gains can be achieved by supporting batches of messages.

[2019-10-03 19:43] meltsufin commented on #1958
Duplicate.

[2019-10-03 19:43] #1958 closed

[2019-10-03 19:44] meltsufin commented on #1534
The Spring Data support for Firestore has been added in 1.2.0. Please create new issues based on testing of the new features.

[2019-10-03 19:44] #1534 closed

[2019-10-03 21:04] #1935 closed

[2019-10-03 21:37] spencergibb opened #1966 "relative paths in adoc files are wrong when built with maven"
Commits like 3918a82678a5aa18c3c3fdf0d4612e052182c66e revert changes required for `./mvnw clean package -P docs` to create the docs that get published on release. Likely this is done so locally includes work, but it breaks the release.

See #1965 and #1764

[2019-10-03 22:41] clementohNZ opened #1967 "Spring Cloud GCP SQL creates new connection to CloudSQL every few seconds even when there are no requests"
Not sure why but the library is creating a new connection to CloudSQL every few seconds. There are no requests to this application.

[code]

When I connect to the CloudSQL (PostgreSQL) instance using the ip address and `spring.datasource.url=jdbc:postgresql://<IP_ADDRESS>:5432/<DB_NAME>` there are no logs in the console. I'm not sure if this means the error is not occuring when using just a standa

[2019-10-04 13:09] vy opened #1969 "Replace the official Pub/Sub driver with reactor-pubsub"
The official Google Cloud Pub/Sub driver is not implemented with a reactive-first design in mind and incurs [serious backpressure issues](/spring-cloud/spring-cloud-gcp/pull/1461#discussion_r274541998) among many other things. I have recently released a new project, [reactor-pubsub](https://github.com/vy/reactor-pubsub), where Reactor is a first-class citizen and the internals are dramatically sim

[2019-10-04 13:28] meltsufin commented on #1969
Hi Volkan! How did you get around the issue that `StreamingPull` RPC returns a batch of messages, and you cannot control the size of that batch? This is at the GRPC level. So, it has nothing to do with the client library, or "the driver". That has always seemed like the sticking point for implementing backpressure. So instead, we use the synchronous pull, which allows you to specify the size of th

[2019-10-04 13:51] vy commented on #1969
Thanks for the prompt response @meltsufin!

Yes, I am aware of the existing Reactive Pub/Sub support, but it still uses the official GCP driver which contains the following explosive: `messages.forEach(sink::next)`. Further, it requires a poll period, whereas `reactor-pubsub` supports both long and periodic polling. (Let me know if I am mistaken.)

`reactor-pubsub` has no GCP library dependencies

[2019-10-04 14:01] elefeint commented on #1966
@spencergibb We want the release to work, but also, when people look for our docs, they find the local github instance, and it's not great to have broken code snippets there, too.

Is there something with base directories we could do to make both work?

[2019-10-04 14:15] elefeint commented on #1966
@meltsufin pointed out that users should be reading refdocs. Guess I'll change my habits...

[2019-10-04 14:34] clementohNZ commented on #1967
Update: CloudSQL instance has 1000 connections (db-g1-small) and still maxed out with same error `FATAL: remaining connection slots are reserved for non-replication superuser connections`.

[2019-10-04 14:38] meltsufin commented on #1967
Thanks for the issue report. We'll look into it soon.

[2019-10-04 14:39] clementohNZ commented on #1967
awesome ~ thanks @meltsufin 😁

[2019-10-04 14:52] meltsufin commented on #1967
Can you clarify which version of Spring Cloud GCP you're using? And if you have code that reproduces it, it would be even better. Thanks!

[2019-10-04 14:54] clementohNZ commented on #1967
Currently using version `1.1.3.RELEASE`. I don't have a repo at the moment that I can link to. But I can create a bare bones spring project and see if it can be reproduced.

[2019-10-04 14:58] meltsufin commented on #1967
We have the spring-cloud-gcp-sql-mysql-sample. I just ran it on `master`, and I don't see this issue.
[code]
The number of connections created should depend on the connection pool configuration. Can you share you application config properties?

[2019-10-04 15:01] clementohNZ commented on #1967
management.endpoint.health.show-details=never

spring.jpa.properties.hibernate.format_sql=false

spring.cloud.gcp.sql.enabled=true
spring.cloud.gcp.sql.database-name=<db_name>
spring.cloud.gcp.sql.instance-connection-name=<instance_name>
spring.cloud.gcp.sql.credentials.encoded-key=<base64_encoded_json>

spring.datasource.username=<db_username>
spring.datasource.password=<db_password>

environment

[2019-10-04 15:02] meltsufin commented on #1967
I don't see anything obvious in this config. Can you try running `spring-cloud-gcp-sql-mysql-sample`?

[2019-10-04 15:35] clementohNZ commented on #1967
I changed to `postgresql` library because that's what my cloudsql db type is.

Same error:

[code]

Only dependency I changed.
[code]

[2019-10-04 15:41] clementohNZ commented on #1967
### Update:

Managed to get it connecting. It doesn't continuously spin up connections to connect to cloudSQL (at least from logs)

[2019-10-04 15:45] clementohNZ commented on #1967
Ok... I think this is a Spring Boot Starter Data JPA issue or a combination of that library plus this one.

As soon as I add the dependency:
[code]

The original issue comes back again where it endlessly creates connections.

[2019-10-04 15:59] meltsufin commented on #1967
Can you try reproducing with `spring-cloud-gcp-mysql-sample`?
I just tried adding
[code]
And still don't see the issue.

[2019-10-04 16:08] clementohNZ commented on #1967
yep above comments were done using the `spring-cloud-gcp-mysql-sample`.

Just replaced mysql with postgres version of library.

[2019-10-04 16:58] meltsufin commented on #1967
@clementohNZ We also have the `spring-cloud-gcp-sql-postgres-sample`. I just tried running it after adding
[code]
to the `pom.xml`, and still no luck reproducing the issue.
Can you create a fork of the sample with your changes, and share it?

[2019-10-06 08:34] clementohNZ commented on #1967
@meltsufin going to close this issue. Thanks for your assistance throughout :)

After more monitoring of the DB and closer inspection of the docs, found out that CloudSQL PostgreSQL allows a much lower number of connections. 50 instead of 1000 for MySQL with the same instance tier.

Each Spring Boot app with Data JPA spins up 10 connection pools by default. I had 5 microservices connected to that

[2019-10-06 08:34] #1967 closed

[2019-10-06 22:00] dzou commented on #1938
Hey @szisiu; we just submitted the fix, let me know if the change is satisfactory or if there are still remaining issues.

[2019-10-06 22:08] dzou commented on #1955
Hey @lucasoares, could you provide a reproducible sample for us?

[2019-10-07 14:19] lucasoares commented on #1955
Hello @dzou

I executed the same test today and it passes without any error.
I really don't know if it was my environment or any dependency issue.

I will close this issue now and re-open if necessary. Sorry for the inconvenience.

[2019-10-07 14:19] #1955 closed

[2019-10-07 15:26] dzou commented on #1955
No worries, thanks for asking; we really appreciate users posting issues and asking questions.

[2019-10-07 19:06] elefeint opened #1974 "update spring cloud stream sample to not use annotations"
spring cloud stream is stream-lining.

[2019-10-09 01:52] meltsufin opened #1975 "Dependency conversion issues in 1.1.3.RELEASE"
Including `spring-cloud-gcp-starter-storage` results in the following dependency convergence issues:
[code]
Reported by: @nhmarujo

[2019-10-09 09:01] nhmarujo commented on #1975
That is actually not the full report (gitter snippet truncated the full report). The full report is:

[code]

Apart from the **Guava** dependency that shows some conflicts with the **Swagger** dependency I have on my project. All the remaining conflicts happen all inside **spring-cloud-gcp-starter-storage**.

Thanks

[2019-10-09 13:25] elharo opened #1976 "DatastoreHealthIndicator.doHealthCheck should throw a checked exception"
Running tests I noticed this in the logs:
[code]

This is exactly the case for which checked exceptions were designed, an external condition that cannot be prevented in the project's code.

The `doHealthCheck` method that this method overrides is declared to throw java.lang.Exception  so there's no problem with the signature here.

[2019-10-09 13:29] elharo commented on #1975
Dependency convergence is a very strong condition and I wouldn't try for it in a project this complex. Upper bounds is a weaker, useful condition you might be able to satisfy. And linkage errors are the worst case that you really do need to fix if they occur. I'd try checking for those instead:

https://github.com/GoogleCloudPlatform/cloud-opensource-java/tree/master/enforcer-rules

[2019-10-09 13:37] elharo commented on #1976
Stackdriver AsyncReporter seems to have the same issue, probably elsewhere too

on - Error when performing Stackdriver AsyncReporter health check.
java.lang.RuntimeException: null
	at org.springframework.cloud.gcp.autoconfigure.trace.StackdriverTraceAutoConfigurationTests.testAsyncReporterHealthCheck(StackdriverTraceAutoConfigurationTests.java:152)

[2019-10-09 19:37] elharo opened #1977 "CONTRIBUTING.adoc incomplete"
It seems there's a gap between CONTRIBUTING.adoc and getting `mvn test` to pass. At a minimum, one also needs to install the Cloud SDK and the cloud datastore emulator. There might well be other setuup steps to perform. We should document these in sufficient detail that a developer can go from `git clone` to `mvn test` passing without having to contact the development team.

[2019-10-09 20:42] meltsufin opened #1978 "Trace Sample generates extra traces"
When running the sample, we expect to just see one trace per user request, but instead we see many addition traces called `async` that seem to have nothing to do with the request.

![image](https://user-images.githubusercontent.com/17732492/66518509-0672ba00-eaab-11e9-8754-e7f6af37439a.png)

[2019-10-09 21:17] meltsufin commented on #1978
@adriancole FYI

[2019-10-09 21:19] meltsufin commented on #1978
One workaround is to exclude the `traceSenderThreadPool` bean from being traced by setting this property:
[code]

[2019-10-09 21:25] meltsufin commented on #1978
Ultimately we need to make sure that all of our thread pool beans are not instrumented by Sleuth.

[2019-10-10 17:23] meltsufin commented on #1977
Ah, yes, we have neglected that document and need to bring it up to date. We should make sure that all emulator tests can be easily disabled so that gcloud would not be required for unit tests.
Thanks for reporting this!

[2019-10-10 17:44] meltsufin commented on #1976
I don't see any point in wrapping the runtime exception produced by the datastore client library into a checked exception because `doHeathCheck` is a protected method and is only used internally by `AbstractHealthIndicator.health()`. All exceptions get swallowed and turned to a "down" status there anyway. See [source](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/s

[2019-10-10 17:49] meltsufin commented on #1976
I think this has more to do with the mocks in the test. @elefeint @dzou WDYT?

[2019-10-10 17:55] meltsufin opened #1979 "Add Linkage Checker Enforcer Rules"
Follow-up to #1975.
See: https://github.com/GoogleCloudPlatform/cloud-opensource-java/tree/master/enforcer-rules
Experimentation started in #1658.

[2019-10-10 17:58] meltsufin commented on #1975
I opened #1979 to track our application of the linkage checker enforcer rules. I believe we currently pass those rules.
I'll close this issue because it doesn't seem to be a real problem as pointed out by @elharo.

[2019-10-10 17:58] #1975 closed

[2019-10-10 19:01] elharo commented on #1976
No, I don't think the mocks are at issue here. The problem I'm reporting is not that an exception is thrown but that the wrong exception is thrown. Looking at the signature of these methods they aren't declared to throw any checked exception. Unless the health checks always pass (in which case why perform them)  a failing health check for an external service should be a checked exception, not a ru

[2019-10-10 19:18] meltsufin commented on #1976
The public API of the health indicator does not throw any exceptions. Instead it returns a `Health` object that indicates whether the service is `UP` or `DOWN`. See: https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-actuator/src/main/java/org/springframework/boot/actuate/health/AbstractHealthIndicator.java#L79

The exception, whether checked or not, is an i

[2019-10-10 19:43] elharo commented on #1976
`DatastoreHealthIndicator.doHealthCheck` is a protected method in a public class, so it's part of the published API. Thus the exceptions it throws are not internal implementation details.

Even if they were internal implementation details, though, it's still useful to use checked exceptions for external sources of error to guarantee that handlers are in place where they need to be. Internal code i

[2019-10-11 06:17] srivraokp opened #1980 "@Transactional not rolling back Spanner Transactions"
@Transactional is not rolling back the transaction

Attached is the code,

[Code.txt](https://github.com/spring-cloud/spring-cloud-gcp/files/3715887/Code.txt)

@ChengyuanZhao @meltsufin can you please help me on this

[2019-10-11 07:18] srivraokp commented on #1980
This is working fine in 1.1.3.RELEASE but failing in 1.2.0.M3

[2019-10-11 11:14] johannesgiani opened #1981 "PubSub: cannot cast AckReplyConsumer with 'ORIGINAL_MESSAGE' header"
Since `GcpPubSubHeaders.ACKNOWLEDGEMENT` is deprecated, messages should not be acknowledged anymore using this peace of code, which is used also in the documentation:
[code]
Now when casting the `ORIGINAL_MESSAGE` header there is an exception thrown, so none of these two approaches work:
[code]
[code]

Please update the documentation and provide a solution not using the deprecated header

[2019-10-11 13:48] meltsufin commented on #1976
Agreed regarding the general case. However, the source of the exception is the Datastore API and the exception is unchecked there. Furthermore, there are dozens of other `AbstractHealthIndicator` implementations in Spring, and not one that I looked at uses a checked exception. So, I assume that's a stylistic choice that Spring made, which we may disagree with but should probably still follow.

[2019-10-11 14:34] meltsufin opened #1982 "Duplicate records returned across pages in Spring Data Spanner"
Example of the problem:

What's probably going on:

Every time you request a new page, it's a completely new query and the results are not guaranteed by Spanner to be the same every time. For example, new records might be added. However, in this case, more importantly, the order of the results is not guaranteed, unless a sort is specified.
Something like this should resolve the issue:

[code]

Thi

[2019-10-11 14:39] elharo commented on #1976
Possibly a bug in the datastore API too then. What's the call?

AbstractHealthIndicator itself does use a checked exception.

[2019-10-11 14:45] meltsufin commented on #1976
`Datastore.run()` [method](https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-datastore/src/main/java/com/google/cloud/datastore/Datastore.java#L446).
The `DatastoreException` is not checked.

[2019-10-11 15:12] meltsufin commented on #1980
@srivraokp We have [an integration test for rollback](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-data-spanner/src/test/java/org/springframework/cloud/gcp/data/spanner/repository/it/SpannerRepositoryIntegrationTests.java#L269), and it seems to be passing.

I find the code you use to create `SpannerTransactionManager` problematic:

You are basically binding the tra

[2019-10-11 15:29] meltsufin commented on #1981
Our current documentation doesn't mention `GcpPubSubHeaders.ACKNOWLEDGEMENT` header at all. Which version of the docs are you looking at and which version of the project are you using?

Here's [the documentation](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.2.0.M3/reference/html/#inbound-channel-adapter-using-pubsub-streaming-pull) on how to use `GcpPubSubHeaders.ORIGINAL_MESSAGE

[2019-10-11 15:41] dmitry-s commented on #1982
Enabling default sort order might have performance drawbacks.

[2019-10-11 15:43] meltsufin commented on #1982
Right, but why would you ever do pagination without a sort when duplicates can happen? I guess only if you care about one page of results.

[2019-10-11 16:05] srivraokp commented on #1980
@meltsufin
I tried the same but it does not work, the first update is done DB and the second one failed

@Bean
	public SessionPoolOptions sessionPoolOptions() {
		return SessionPoolOptions.newBuilder()
				.setFailIfPoolExhausted()
				.setMinSessions(0)
				//.setMaxSessions(2)
				.build();
	}

I am using .setFailIfPoolExhausted() as I noticed spring.cloud.gcp.spanner.failIfPoolExhausted=true
is

[2019-10-11 16:10] meltsufin commented on #1980
Can you share your `pom.xml`? Can you reproduce the issue within the integration test I pointed to?

[2019-10-11 16:14] srivraokp commented on #1980
@meltsufin
Please find attached pom

[pom.txt](https://github.com/spring-cloud/spring-cloud-gcp/files/3718611/pom.txt)

I have to try the integration test cases,

[2019-10-11 16:37] meltsufin commented on #1980
I don't see anything obviously wrong in the `pom.xml`. Please let us know how the integration test repro goes.

[2019-10-11 17:15] srivraokp commented on #1980
@meltsufin

in 1.2.0.M3

private TransactionContext getTransactionContext() {
		if (TransactionSynchronizationManager.isActualTransactionActive()) {
			SpannerTransactionManager.Tx tx = (SpannerTransactionManager.Tx) TransactionSynchronizationManager
					.getResource(this.databaseClientProvider.get());
			if (tx != null && tx.getTransactionContext() != null) {
				return tx.getTransactionContext(

[2019-10-11 17:34] meltsufin opened #1984 "Vision OCR integration test failing on Travis"
DocumentOcrTemplateIntegrationTests.testDocumentOcrTemplate:72 » InvalidProtocolBuffer

[2019-10-11 17:53] meltsufin commented on #1980
We did change how we manage transactions in 1.2.0.M3, but we didn't observe any of our tests failing. I wonder what exactly in your setup is causing the transaction holder to not work.
Is there any other transaction management in the app besides Spanner?

If you're debugging your application, can you put a breakpoint [here](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-

[2019-10-11 18:37] srivraokp commented on #1980
@meltsufin
no we are just using spanner and the code is pretty straight forward
Controller --> Service --> DAO

Service has @Transactional and calls 2 different methods on DAO

As I debugged it does not pick the existing transaction when it calls the second method on DAO, where as in older versions the same is retained

[Screen.docx](https://github.com/spring-cloud/spring-cloud-gcp/files/3719155/S

[2019-10-11 19:08] dzou commented on #1976
Yeah, the tests will always produce these logs because the test intentionally produces a failure condition and verifies that a warning was indeed logged if the health check failed.

We did things this way because this is like a Spring convention/style to log things like this rather than throw checked exception; like the main guy working on Spring Cloud Sleuth told us to implement the stackdriver h

[2019-10-11 19:11] meltsufin commented on #1980
@srivraokp Thanks for the screenshots!
The transaction should be picked up as long as the key is the same in both places.
`TransactionSyncrhonizationManager.getResource(this.databaseClientProvider.get())` is returning null. This makes me suspect that the value returned by `this.databaseClientProvider.get()` is not the same as `tx.getDatabaseClient()` in the begin transaction. Can you verify that b

[2019-10-11 19:48] johannesgiani commented on #1981
Thank you, perfect 👌

It is stated in the getting started guide: https://spring.io/guides/gs/messaging-gcp-pubsub/

[2019-10-11 19:59] srivraokp commented on #1980
@meltsufin
It is different, I was trying to say the same in my earlier post too

Attached is the screen
[Screen2.docx](https://github.com/spring-cloud/spring-cloud-gcp/files/3719416/Screen2.docx)

[2019-10-11 20:05] meltsufin commented on #1981
Thanks! I filed an issue under the quick start guide.

[2019-10-11 20:05] #1981 closed

[2019-10-11 21:08] RonaldLaeremans commented on #1982
We might investigate adding a more automated way to support a stale read at a timestamp similar to how we use UrlSafeCursor for the Datastore Pageable support. For the use cases that want a guaranteed consistent resultset.

[2019-10-12 01:03] srivraokp commented on #1980
@meltsufin
Thanks for your inputs, I was able to find the defect in my code corrected and it is working fine

The way SpannerTransactionManager  was created in my code was the problem, I will close this issue

[2019-10-12 01:03] #1980 closed

[2019-10-12 01:24] meltsufin commented on #1980
Hi @srivraokp. Thanks for the update.
Can you share more about what was the mistake, so that others would know how to fix it, if they make the same one?

[2019-10-12 02:33] srivraokp commented on #1980
Below is the corrected code
@meltsufin
Please find below corrected code, Thanks again

@Autowired
private Supplier<DatabaseClient> databaseClientProvider;

@Bean
public SpannerTransactionManager transactionManager() {
	return new SpannerTransactionManager(databaseClientProvider);
}

Rollback and Commits are working fine

[2019-10-12 04:31] singh09iet opened #1985 "Stack Driver is not able to send Traces from Local System Running"
[code]

and i already set environment variable in my local machine GOOGLE_APPLICATION_CREDENTIALS
and when i am putting some load it is not generating traces

[code]

[2019-10-12 20:55] eddumelendez commented on #1956
@dmitry-s shall we expect something like `LocalDatastoreHelper` from https://github.com/googleapis/google-cloud-java?

[2019-10-14 01:55] meltsufin commented on #1985
Can you make sure that the service account key you pointed to via `GOOGLE_APPLICATION_CREDENTIALS` actually has the permissions to write to Stackdriver Trace?
Also, please try setting the `spring.cloud.gcp.credentials.location=file:/usr/local/key.json` property in `application.properties` to point to your key.

[2019-10-14 16:26] #1984 closed

[2019-10-15 06:57] AbhinavAtul commented on #1630
if using multiple profiles, in the same application.yml in particular, make sure the profile that you are running locally has the credentials configured

[2019-10-15 09:48] TalgatN commented on #1938
Hi @dzou the fix didn't work a Stream listener is still not invoked.

[2019-10-15 14:36] dzou commented on #1938
As a reference for how this is done, you can check out our [pub/sub binder sample application](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-samples/spring-cloud-gcp-pubsub-binder-sample/src/main/java/com/example/SinkExample.java).

[2019-10-15 14:39] TalgatN commented on #1938
Thank you for your reply I'll have a look at it

On Tue, Oct 15, 2019 at 3:36 PM Daniel Zou <notifications@github.com> wrote:

[2019-10-15 14:40] dzou commented on #1938
No problem, let me know if it works; if you still find issues please let me know and we'll apply a fix for it.

[2019-10-15 15:41] TalgatN commented on #1938
HI Daniel,

I've tried the sample code but it didn't work for me.
Below is how I use it:
Subscriber class:

@EnableBinding(Sink.class)
//@Service
@Slf4j
public class SubscriberServiceImpl implements SubscriberService {
    private final FileRetrieverService fileRetrieverService;
    private final SFTPChannel sftpChannel;
    @Value("${luma.sftp.subscriber.name}")
    private String subscriberName;

[2019-10-15 15:42] TalgatN commented on #1938
Ps: it's not picking up the message even.

On Tue, Oct 15, 2019 at 4:41 PM Talgat Nurlanov <developer.talgat@gmail.com>
wrote:

[2019-10-15 15:50] dzou commented on #1938
Hmm, if it's not picking up the message then maybe you might be missing something with the code that is sending messages to your `Sink`. Can I see your code that is annotated `Source`?

In our [pub/sub stream binder sample](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-samples/spring-cloud-gcp-pubsub-binder-sample/src/main/java/com/example/SinkExample.java)), it is

[2019-10-15 15:53] TalgatN commented on #1938
is SourceExample above publishes a message? The below is how I publish messages to pubsub:

@Service
public class PublisherService {
    @Value("${luma.sftp.topic.name}")
    private String topicName;

    @Bean
    @ServiceActivator(inputChannel = "outputChannel")
    public MessageHandler messageSender(PubSubTemplate pubsubTemplate) {
        return new PubSubMessageHandler(pubsubTemplate, topic

[2019-10-15 17:03] lucasoares opened #1988 "No 1.2.0.M3 spring-cloud-gcp-data-firestore on Spring Milestone repository"
Hello.

I was trying to use Spring Cloud GCP for Firestore with this dependency management:
[code]

Looking at spring milestone repository I was unable to find the 1.2.0.M3 version for `spring-cloud-gcp-data-firestore` artifact. The repository have only the version 1.2.0.M2.

[2019-10-15 17:59] dzou commented on #1938
Yeah I'm not sure; if you use `@ServiceActivator` to send the messages from your `PublisherService`, then you should probably use `@ServiceActivator` to receive the messages from the topic like this: https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-samples/spring-cloud-gcp-integration-pubsub-json-sample/src/main/java/com/example/ReceiverConfiguration.java

I am not too

[2019-10-15 17:59] #1938 closed

[2019-10-15 18:01] artembilan commented on #1938
There is no difference. You have to be sure that your `luma.sftp.topic.name` is resolved to a Pub/Sub topic your are going to consume on the other side.
I mean that should be like yours `my-topic` in other place.

P.S. Please, learn how to comment on GitHub: https://help.github.com/en/articles/creating-and-highlighting-code-blocks
It is hard to understand your code here.

Thanks

[2019-10-15 18:49] dmitry-s commented on #1988
It was removed by mistake. We'll put it back in so it's available in the next release.

[2019-10-15 21:25] #1988 closed

[2019-10-16 09:37] TalgatN commented on #1938
@artembilan my topic name is luma-sftp
my subscription name is luma-sftp-subscription
Messages are being picked up however, errors are not being picked up here:
[code]
It keeps retrying to process messages after the RuntimeException is thrown in here:
[code]
My properties file has:
[code]

[2019-10-16 09:44] TalgatN commented on #1938
@dzou does your fix has a new version? I'm currently using 1.1.3.RELEASE

[2019-10-16 13:08] lucasoares commented on #1988
Thanks!

[2019-10-16 13:09] TalgatN commented on #1938
@dzou I've tried the sample spring-cloud-gcp-pubsub-binder-sample and it didn't work for me. The pom updated to use:

[code]

[2019-10-16 14:26] artembilan commented on #1938
@TalgatN ,

All the `RELEASE` artifacts are *immutable*, so any new changes are indeed in some new versions already.
Therefore:
[code]
with an appropriate `https://repo.spring.io/snapshot` repository.
Although the name for the property is wrong: there is general Spring Cloud project, but you talk here only about Spring Cloud GCP one.
Anyway that is IMHO.

You should be good when you use a proper v

[2019-10-16 15:03] meltsufin opened #1992 "Investigate Firestore streaming queries as a Cloud Stream Binder implementation"

[2019-10-16 15:28] artembilan commented on #1938
https://repo.spring.io/snapshot/org/springframework/cloud/spring-cloud-gcp-pubsub/1.2.0.BUILD-SNAPSHOT/

Sorry, the version must be `1.2.0.BUILD-SNAPSHOT`

[2019-10-16 15:41] TalgatN commented on #1938
sorry @artembilan but it's not resolving:
[code]

[2019-10-16 15:44] artembilan commented on #1938
Hm. Have no idea what is wrong with your environment then.
The BOM is here: https://repo.spring.io/snapshot/org/springframework/cloud/spring-cloud-gcp-dependencies/1.2.0.BUILD-SNAPSHOT/ and as you see it is fully available on-line.

The problem might be something else, not artifact resolution. Try also to use a `-U` when you run Maven command.

[2019-10-16 15:52] TalgatN commented on #1938
@artembilan the error I see is
[code]

[2019-10-16 15:56] artembilan commented on #1938
Thank you for the error!
We indeed had to ask you for it in the beginning.
Now it's getting clear 😉

This one is really out of *snapshot* and *release* scope. It is a *milestone*.
You need to add this repository:
[code]

Let us know how this works for you!

[2019-10-16 16:10] TalgatN commented on #1938
[code]

[2019-10-16 16:13] TalgatN commented on #1938
[code]

[2019-10-16 16:15] artembilan commented on #1938
Yeah... You have a mess of dependencies in your application.

You should consider to fully move it into a Spring Boot 2.2 base line.
Only  that way you will be able to consume this Spring Cloud GCP 1.2.0

[2019-10-16 16:21] TalgatN commented on #1938
@artembilan just to confirm having
`<version>2.2.0.BUILD-SNAPSHOT</version>`
worked for me and error handler was able to pick up an error. Thanks guys!

[2019-10-16 16:26] artembilan commented on #1938
This release is going to include Spring Cloud GCP 1.2.0: https://github.com/spring-cloud/spring-cloud-release/milestone/68

[2019-10-16 16:46] TalgatN commented on #1938
@artembilan this is what has worked for me:

[code]
is now able to pickup an error. Thank you for you responses and help!

[2019-10-16 19:41] #1907 closed

[2019-10-17 21:16] Alos opened #1993 "Add the ability to pass enums to @DiscriminatorValue"
Currently there is a way to use annotations to handle [inheritance with Datastore](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/docs/src/main/asciidoc/datastore.adoc#inheritance-hierarchies). One of the annotations allows you to pass a String to act as the discriminator. Instead of accepting only Strings, I wish I can pass an enum:

[code]

and then

[code]

[2019-10-17 21:18] stevenweili opened #1994 "[The project ID can't be null or empty ] issue only in 1.2.0.M3 app in PCF failed to start"
after upgrade from 1.2.0.M2 to 1.2.0.M3, we got this issue, downgrade it to 1.2.0.M2, the issue is gone.
the pcf bind the pubsub service, the env map seems good.

[code]

[2019-10-17 21:21] meltsufin commented on #1993
What we have is consistent with `javax.persistence.DiscriminatorValue`, which also works with `String`.
How would we implement what you're proposing?

[2019-10-17 21:36] Alos commented on #1993
I guess its infeasible :(

[2019-10-17 21:36] #1993 closed

[2019-10-18 14:00] meltsufin commented on #1994
I wonder if this has anything to do with https://github.com/spring-cloud/spring-cloud-gcp/pull/1855 and the switch to `java-cfenv`.
Would you be able to reproduce the issue in a test?
See: https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-cloudfoundry/src/test/java/org/springframework/cloud/gcp/cloudfoundry/GcpCloudFoundryEnvironmentPostProcessorTests.java

[2019-10-18 14:17] #1977 closed

[2019-10-18 18:31] dzou commented on #1994
Hey I looked into this issue a bit and I saw that the starter for cloudfoundry was introduced in #1855, prior to this, the CloudFoundry starter was included in the base autoconfigure module. So now you must explicitly specify the Cloud foundry starter for those autoconfigurations to be loaded.

I think you now have to add the `spring-cloud-gcp-starter-cloudfoundry` dependency to your pom.xml when

[2019-10-18 19:44] meltsufin commented on #1994
Yes, that would be a starting point!

[2019-10-18 22:20] stevenweili commented on #1994
thanks @dzou @meltsufin after add spring-cloud-gcp-starter-cloudfoundry dependency, problem solved, thanks guys!

[2019-10-18 22:20] #1994 closed

[2019-10-21 21:12] lucasoares opened #1996 "Firebase is a project to be supported on this repository?"
Hello.

I'm looking at Firebase implementation for Spring and I found nothing like the Spring Cloud GCP.

What about create the implementation of libs like [firebase-admin](https://firebase.google.com/docs/admin/setup) here?

This is the right repository to create such lib implementation? If so I will create a new issue and start by my own.

Thank you and sorry if this is the wrong place to this q

[2019-10-22 13:25] elefeint opened #1997 "Consider hiding pubSubReactiveScheduler in Pub/Sub autoconfig"
The scheduler is a cached scheduler, which implements a `Supplier`. Since Spring Cloud Stream autodiscovers functional beans, it always finds `pubSubReactiveScheduler`, meaning that any SCS app that uses the Cloud Pub/Sub binder will not be able to take advantage of autodiscovery and will have to specify `spring.cloud.function.definition` property to disambiguate.

[2019-10-22 13:43] meltsufin commented on #1997
@artembilan What would you recommend we do here?

[2019-10-22 13:52] meltsufin commented on #1996
Quite honestly we haven't thought of any integrations for Firebase Admin.
What kind of Spring support are you looking for in regards to it?
Are you looking for something like `FirebaseAdminTemplate` to make it easier to use, or something as simple as auto-configuration?

[2019-10-22 13:57] artembilan commented on #1997
I don't think this issue is still valid. As long as your `@Bean` definition explicit type is **not** a `Supplier`, `Consumer` or `Function`, this bean is not going to be discovered by Spring Cloud Function logic.

I'm not sure why you bring this issue again since it has been fixed in Spring Cloud Function some time ago: https://github.com/spring-cloud/spring-cloud-function/issues/409

[2019-10-22 14:00] elefeint commented on #1997
This bean is secretly a `Supplier`. It no longer breaks the build after the fix, but it still exists in the context, so applications that actually *want* this SCS behavior can't get the default "single functional bean exists in context, therefore just use that" behavior.

[2019-10-22 14:11] artembilan commented on #1997
Sorry, @elefeint , you last comment is not clear to me.

We don't need to fix anything in this project since that was fixed in the Spring Cloud Function. Please, let's stop talk about Spring Cloud Stream: functions is not its responsibility.
Even if your bean essentially implement `Supplier` somehow, it is not present in the function catalog, therefore any function magic is not applier to it.

One

[2019-10-22 14:11] meltsufin opened #1998 "Support consistent pagination using stale reads in Spring Data Cloud Spanner"
Follow-up to #1982.

[2019-10-22 14:12] meltsufin commented on #1982
Closing, in favor of #1998.

[2019-10-22 14:12] #1982 closed

[2019-10-22 15:31] elefeint commented on #1997
That's fair; both the `spring.cloud.function.definition` property and the autodiscovery logic are within Spring Cloud Function's purview. I keep mentioning Spring Cloud Stream because the current usecase (illustrated with a new sample app in #1990) happens to be with any Spring Cloud Stream app that uses our Pub/Sub binder.

For 1:  `pubSubReactiveScheduler` bean is instantiated as a [`Schedulers.

[2019-10-22 15:38] artembilan commented on #1997
@elefeint ,

Does your explanation mean that the fix for spring-cloud/spring-cloud-function#409 is not full or there is something missed?
Are you sure that you use the latest Spring Cloud Function in your sample?

/CC @olegz

[2019-10-22 15:58] elefeint commented on #1997
The fix was good for addressing the severe issue of the scheduler bean being misidentified as a valid SCF target.
It could perhaps be enhanced by removing such beans from even becoming candidates for autodiscovery. For example, this [validation block of code ](https://github.com/spring-cloud/spring-cloud-function/blob/fa1b9c69c3deb9ca951cd2ea536fdd8812411ecf/spring-cloud-function-context/src/main/

[2019-10-22 16:01] artembilan commented on #1997
Sounds like plan to go!

I really don't see reason to pursue some workaround here, when we definitely could fix upstream.

Let's raise an issue in Spring Cloud Function and see what @olegz thinks about that!

[2019-10-22 16:12] elefeint commented on #1997
Will do. I'll commit the sample first, so we have something to talk about.
My original plan was to ask for a new `@DisableFunctionalAutodiscovery` annotation in Spring Cloud Function, but perhaps that is not actually necessary if only the true functional beans are discovered.

[2019-10-22 17:21] lucasoares commented on #1996
Both to be honest.

The auto configuration will be nice to use the same authentication other spring libs use (we just act as a facade for the google authentication, but the spring properties helps to configure the project and the unit tests).

I will use the Firebase Admin just to create custom tokens for now on my projects, but the firebase admin SDK has lots of features that could help Firebase

[2019-10-22 17:34] meltsufin commented on #1996
I see. Let's keep it as a feature request then.
Contributions are welcomed as always!

[2019-10-23 13:58] meltsufin commented on #1978
We need to add `spring.sleuth.scheduled.enabled=false` to our sample and also document this in refdocs.

[2019-10-24 23:27] materemias commented on #1617
@meltsufin do you have an update on this?

[2019-10-25 12:00] #1974 closed

[2019-10-25 13:50] meltsufin commented on #1617
We've upgraded to the latest version of `zipkin-gcp`. So this issue is no longer blocked.
Contributions are welcome!

[2019-10-25 18:49] meltsufin commented on #1962
More context from customer:

[2019-10-25 18:56] meltsufin commented on #1962
I think  that using the SI Aggregator is the right approach for this use case.
However, we can make it easier by making sure that when we pull a batch using `PubSubMessageSource`, we add a batch ID header that can be used in a correlation strategy to reconstruct that batch.

@artembilan WDYT?

[2019-10-25 19:14] artembilan commented on #1962
I think the story is indeed about a pulling batch of messages exactly from the Pub/Sub.
An aggregator just simulate a behavior and if there is really no batch support in Pub/Sub, there is nothing we can do unless simulate it similar way on the consumer level in the framework.
But doesn't it worth that if we can have the same behavior with already existing components?
Is it really a Pub/Sub Inbound

[2019-10-25 19:39] elefeint commented on #1962
`PubSubMessageSource` already [gets baches](https://github.com/spring-cloud/spring-cloud-gcp/blob/480747b2b4e575e55e5a82292bd3ea4745c0556c/spring-cloud-gcp-pubsub/src/main/java/org/springframework/cloud/gcp/pubsub/integration/inbound/PubSubMessageSource.java#L103), though. But because `AbstractFetchLimitingMessageSource` contract is to receive one object at a time, we cache the rest.

We could imp

[2019-10-25 19:40] meltsufin commented on #1962
+1 to creating a `PubSubBatchMessageSource`.
@artembilan What are you thoughts on that?

[2019-10-25 19:47] artembilan commented on #1962
Yes, that could be a clean solution. My point though was about a `PubSubInboundChannelAdapter` which doesn't look like comes with a batch option possible.
I somehow believe that was a request from end-user.
We need to keep in mind that pollable `MessageSource` is not always a solution for end-users...

[2019-10-25 19:49] meltsufin commented on #1962
`PubSubInboundChannelAdapter` doesn't because it's push-based (async).
`PubSubMessageSource` is our pull-based (sync) "inbound channel adapter".

[2019-10-25 20:02] artembilan commented on #1962
I know what you mean, but we need to be sure that we are on the same page with end-user.
So, if `BatchPubSubMessageSource` is good with them, we can proceed with an implementation.

No objections from my side!

[2019-10-26 20:47] ashesfall opened #1999 "Recursive Relationships Are Not Supported by Descendants"
If you have an object with Descendants of the same class type:

[code]

When you try to retrieve this object using a Repository findById method, the List children will be populated with a single element: the parent itself.

[2019-10-26 21:44] ashesfall commented on #1999
This bug has to do with the way that HAS ANCESTOR works.

If you do run:

HAS ANCESTOR Key(x, idForX, y, idForY)

you will get back the record idForY itself, not the record with idForY as a parent.

To get the record you want, you need to use:

HAS ANCESTOR Key(y, idForY)

The code that executes this is found in MultitenantDatastoreTemplate.java (line 545 in my code, but I think it is outdated a b

[2019-10-28 13:32] meltsufin commented on #1999
@ashesfall Thanks for the report.
@dmitry-s Please take a look.

[2019-10-28 18:15] dmitry-s commented on #1999
We actually retrieve all the descendant entities, but also the parent entity. This is actually how Datastore works, for example when I'm running this query:
[code]
I'm getting all the descendants plus the parent. It seems like the entity is it's own ancestor.

What we can do is remove the parent entity on our end.

[2019-10-28 18:26] ashesfall commented on #1999
In my experiment with it, only the parent was returned, not the children. This is because the generated query is not:

select * from sameClassDescendantsTestEntity where __key__ HAS ANCESTOR key(sameClassDescendantsTestEntity, 5663113651159040)

It is instead:

select * from sameClassDescendantsTestEntity where __key__ HAS ANCESTOR key(parentClassDescendantsTestEntity, 12345678, sameClassDescendan

[2019-10-28 19:23] dmitry-s commented on #1999
@ashesfall could you clarify which version you use? In the current version this test:
[code]

Produces the following:
[code]

As you can see, the `clidren` list contains 3 objects, one of which is the entity itself (aka ancestor) and the other two are the actual descendants.

[2019-10-28 19:36] ashesfall commented on #1999
That test fails in my version, so I guess I am just out of date.

However, there is one more thing you should confirm. What if the tree is itself a descendant of a different type. This is where the ancestry issue I described in the comment at 1 hr ago comes into play because the has ancestor clause contains a mention of a different class type prior to the mention of the same class type. Running th

[2019-10-29 14:35] dmitry-s commented on #1999
I was able to replicate it in that way:
[code]

We will look into it. @ashesfall thanks for reporting the issue!

[2019-10-29 15:32] gredwhite commented on #1005
Which PR you are speaking about?

I experience the same issue in my spring boot application.

I use springBootVersion = "2.2.0.RELEASE"
spring-cloud-gcp-starter-pubsub-1.1.3.RELEASE.jar
com.google.cloud:google-cloud-pubsub:1.98.0

In my case application(library code) accepts message but

inside com.google.cloud.pubsub.v1.MessageDispatcher#processOutstandingMessage

line      ` executor.execute(del

[2019-10-29 17:49] meltsufin commented on #1005
I was referring to #1384
Please try version `1.2.0.RC1`. That fix didn't go into the 1.1.x branch.

[2019-10-29 17:56] ashesfall commented on #1999
Anytime. Our team is anxiously awaiting a solution for an active project.

[2019-10-29 18:37] aditya2007 commented on #1999
@Entity(name = "addresses")
public class AddressEntity {

    @Id
    private Key addressId;

    @Descendants
    private List<AddressEntity> children;

    @Query("SELECT * from addresses where __key__ = Key(addresses, 6330296060346368)")
    AddressEntity findByParentId(String id);

I'm able to get Parent and all its children, only issue I'm facing is not bale to replace id value dynamically us

[2019-10-29 18:50] aditya2007 opened #2000 "Is spring-gcp-datastore, supports a EntityGroup feature of gcp datastore"
Hi,

Not able to find a support for EntityGroup feature of gcp datastore. Is the EntityGroup feature available in spring-gcp-datastore?

[2019-10-29 18:53] dzou commented on #1999
Thank you for proposing the solution with the bug report too. I've created a PR https://github.com/spring-cloud/spring-cloud-gcp/pull/2001; let me know if this change is satisfactory. It now passes the reproduced test case by dmitry-s.

[2019-10-29 19:30] meltsufin commented on #2000
Isn't that what [Ancestor-Descendant relationship](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.2.0.RC1/reference/html/#ancestor-descendant-relationships) support is all about?
@dmitry-s

[2019-10-31 04:00] ashesfall commented on #1999
Thank you.

[2019-11-01 01:16] eddumelendez commented on #1996
hi, what kind of support are we expecting? Just create the bean for `FirebaseApp` or do we also expect provide beans for `Firestore`, `Storage`?

[2019-11-01 06:03] sateekot opened #2003 "Add original event details in CallbackListener (ListenableFutureCallback<String>)."
If anyone wants to have fail back mechanism on failures to publish event to Pub/Sub, We should be able to access original message details along with the exception. As of now, we can access only exception details.
Ex:
com.google.api.gax.rpc.NotFoundException: io.grpc.StatusRuntimeException: NOT_FOUND: Resource not found (resource=).
[code]

[2019-11-01 13:41] meltsufin commented on #2003
@sateekot Thanks for the report! Contributions are welcomed! 😉

[2019-11-01 16:40] dmitry-s opened #2004 "Declarative Reactive transactions in Firestore"
Implement `@Transactional` support for reactive template and repositories.

[2019-11-01 16:47] dmitry-s commented on #2004
I looked at spring-data-mongodb but I'm not sure how exactly it supports declarative transactions.
In https://github.com/spring-projects/spring-data-mongodb/blob/master/spring-data-mongodb/src/test/java/org/springframework/data/mongodb/ReactiveTransactionIntegrationTests.java

I see this:
[code]
Do you have to use `TransactionalOperator` even if the method is annotated with `@Transactional`?
I was

[2019-11-01 18:31] elefeint opened #2005 "gcp-pubsub-subscriber thread starts on PubSubTemplate creation; never stops"
This is a continuation of #1503. There is also a similar (but unrelated, as Spring Cloud GCP creates its own `SubscriberStub`) issue in the client library googleapis/google-cloud-java#6570.

`PubSubSubscriberTemplate` constructor creates a `SubscriberStub`, which starts at least one thread. The `SubscriberStub` is never closed. For a web application, this is not noticeable, but for a terminal app

[2019-11-01 18:31] #1934 closed

[2019-11-01 19:04] meltsufin commented on #2005
I think the problem is that `PubSubSubscriberTemplate.subscriberStub` is not a Spring-managed bean. So, it's not automatically closed when the context shuts down.
The simplest (and proper) thing to do would be to call `this.subscriberStub.close()` in the `destroy()` method in `PubSubSubscriberTemplate`. Exactly as you're suggesting in (2).

[2019-11-01 20:01] dmitry-s commented on #1959
This feature is not currently supported in spring. See [https://jira.spring.io/browse/DATAREST-933](this ticket) for updates.

[2019-11-01 20:04] #1959 closed

[2019-11-01 21:06] dmitry-s opened #2007 "Switch to public Internal class"

[2019-11-02 00:42] senthilmk opened #2009 "JPA EMF fails to initialize"
I am trying to use Spring GCP - Postgres template based project but facing a weird error...

[code]

My maven dependencies
[code]

[2019-11-02 00:42] senthilmk commented on #2009
If you need to whole stack trace , let me know

[2019-11-04 15:04] meltsufin commented on #2009
It looks like a dependency conflict. Specifically, the fact that you're defining your own version for `postgres-socket-factory` is suspect. You should instead use the version that is specified in the BOM and is known to be compatible with `1.1.3.RELEASE`.
Please try using dependency management:

[code]

[2019-11-04 16:41] mp911de commented on #2004
Once a `ReactiveTransactionManager` bean is available, you don't have anything to do to make reactive `@Transasctional` work.

Not in the first place. You could start the transaction via `TransactionalOperator` and then you call somewhere in the call chain a `@Transactional` method to propagate the transaction to another method that wants to participate in the same transaction (or open a new one).

[2019-11-04 19:09] meltsufin commented on #2004
Thanks @mp911de! This great. It means we just need to document the usage.

[2019-11-04 21:56] #2005 closed

[2019-11-05 14:44] #1978 closed

[2019-11-05 18:01] elefeint opened #2014 "Subscription-based non-web application gracefully shuts down without waiting for messages"
The yak shaving, it continueth.

After #2010 went in, the Pub/Sub starter thread pools get shut down a little too cleanly. I've planned to document (#2012) the behavior for non-web apps, but it so happens that Spring Cloud Stream's sinks are often non-web apps. So, if you start the sink app from our samples now, it starts up, looks around, does not find anything interesting, and shuts down.

@arte

[2019-11-05 18:09] elefeint opened #2015 "Pub/Sub newly daemonized thread pools shut down too well"
After #2010, the Pub/Sub subscriber thread pool no longer keeps an application alive. This is good, expected behavior for simple `PubSubTemplate` users, but it results in very unintuitive behavior for Spring Cloud Stream sinks and (haven't tested it, but pretty sure) Spring Integration apps with service activators. Basically, if a Spring application is not a web application, it starts up, looks ar

[2019-11-05 18:18] artembilan commented on #2015
This is not something what has to be the framework responsibility.

In our samples we use a trick like this:
[code]

That's all: I wouldn't abuse non-managed threads in the framework.

[2019-11-05 18:34] meltsufin commented on #2015
I agree with @artembilan. If we need to keep any of our console apps from shutting down in this scenario, the trick above would be totally fine. I think most developers have encountered this kind of thing before.

[2019-11-05 19:11] elefeint commented on #2015
Sounds good; I'll update the samples then.

[2019-11-05 20:37] #1997 closed

[2019-11-05 20:54] senthilmk commented on #2009
This needs to be a lot better than wading through class-path and dependency management issues at this point...

[2019-11-05 21:03] elefeint opened #2016 "Hide traceSenderThreadPool in trace autoconfiguration"
* Make changes similar to #2013.
* Check documentation from #2011; it may need to change.

[2019-11-05 21:16] meltsufin commented on #2009
Can you please elaborate? We have the BOM to help alleviate any potential dependency management issues. This is a common practice in Spring projects.

[2019-11-06 05:20] vineela-gampa opened #2018 "Several daemon threads getting created"
Hi @ChengyuanZhao  @meltsufin

Recently we are observing several GAX- threads are getting created. We didn't have this issue before but have hit this issue with recent changes. Do you happened to know why these threads are getting created ?

Daemon Thread [Gax-138] (Suspended (breakpoint at line 53 in InstantiatingExecutorProvider))
	InstantiatingExecutorProvider$1.newThread(Runnable) line: 53
	Th

[2019-11-06 11:40] ChengyuanZhao commented on #2018
@vineela-gampa Could you provide more detail about what operations you're doing that cause these threads to be created that weren't before? Any idea which update in version caused these? GAX threads come from the underlying grpc layer under the client lib, so they're a few layers removed from Spring Data Spanner.

[2019-11-06 14:41] elefeint commented on #2018
Do you only use Spanner, or also Pub/Sub, by any chance?
Are you on the snapshot versions of spring-cloud-gcp?
Also, could you qualify "recent" - days/weeks/months?

Thanks!

[2019-11-06 17:28] vineela-gampa commented on #2018
we use spanner, pubsub (sync/async) pull subscribers.

[2019-11-06 17:28] vineela-gampa commented on #2018
@ChengyuanZhao we are using latest released milestone of spanner
with session (min : 10 max `10) and channels : 35

[2019-11-06 17:55] ChengyuanZhao commented on #2018
@vineela-gampa please share the operations you're using. Please also
isolate the usage from the pubsub usage to confirm it is from Spring Data
Spanner.

On Wednesday, November 6, 2019, vineela-gampa <notifications@github.com>
wrote:

[2019-11-07 00:22] viniciusccarvalho commented on #2003
If you look into the contract of `ListenableFuture`, there's two callbacks: `SuccessCallback<T>` and `FailureCallback`.
If your Task completes successfully you receive the result, but in case of error the contract shows that you only receive the Exception.

If you want to keep track of what message originate that, you can do it on your code, after all you are the invoker of `publish(final String t

[2019-11-07 01:59] sateekot commented on #2003
Thank You Vinicius. I have already started working on generic fix. I will raise pull request once I am done.

[2019-11-07 18:25] #2007 closed

[2019-11-07 20:04] meltsufin commented on #2003
@artembilan What do you think of @viniciusccarvalho suggestion vs. supporting it directly in the callback. I think it can be a little more convenient to have the original message in the exception, but is that a good practice?

[2019-11-07 20:32] artembilan commented on #2003
Well, it's really unfortunate that Pub/Sub API doesn't correlate request with reply/exception in the `publish` logic, but at least we can do that in our `PubSubPublisherTemplate.publish()` logic.

The point is that with a `result.addCallback()` you don't have that flexibility to propagate a `Future` to upstream or even compose them.
So, what @viniciusccarvalho shows (welcome back, my friend, BTW!

[2019-11-07 20:42] viniciusccarvalho commented on #2003
Hey @artembilan Thank you my friend, it's good to be back :) I think your suggestion is what the PR #2020 was about 👍

[2019-11-07 20:48] artembilan commented on #2003
Yes, it looks like.
So, what is the question to me then, @meltsufin ? 😄

Unfortunately I don't monitor the project closely any more, therefore may not see the whole picture. Sorry for inconvenience.
So, if you would like me to review the PR, you need to request that explicitly from the PR.

Thanks

[2019-11-07 20:51] meltsufin commented on #2003
You answered our question. Just wanted to hear your opinion on that approach in the PR. Sounds like you're onboard. It's nice to have @viniciusccarvalho back, contributing now from the other side. :smile:

[2019-11-11 16:17] #2003 closed

[2019-11-11 16:25] sateekot commented on #2003
Thank you @meltsufin @artembilan @viniciusccarvalho for guiding me.

[2019-11-11 16:48] meltsufin commented on #2003
@sateekot Thanks for you contribution! Looking forward to more from you!

[2019-11-11 16:58] elefeint commented on #2014
I thought GitHub outage ate this issue forever. Closing it, as it's a duplicate of #2015 that has the actual discussion.

[2019-11-11 16:58] #2014 closed

[2019-11-12 11:38] marcingrzejszczak opened #2025 "Don't use relative paths in the documentation"
Example https://raw.githubusercontent.com/spring-cloud/spring-cloud-gcp/73b1245ad73525788cc25d9d8fa91e9c2beadf59/docs/src/main/asciidoc/pubsub.adoc

Please use the `{project-root}` attribute that points to the root of your project and then continue to the appropriate folder where e.g. your tests lay.

Without this change the release train documentation (we're trying to build a single page and pdf

[2019-11-12 15:02] elefeint opened #2027 "Consider integrating reactor error checking"
At test time:
https://github.com/reactor/BlockHound

At compile/validation time:
https://github.com/lhotari/reactor-error-prone

[2019-11-12 16:56] #2025 closed

[2019-11-12 21:58] elefeint opened #2028 "disable checkstyle for sample apps"
Working with someone on setting up a sample app, and import order is tripping us up. Sample apps don't need to follow the strict spring style.

[2019-11-12 22:07] elefeint commented on #2028
We'd still want checkstyle when writing code and creating PRs... Not sure how to combine usability and quality here.

[2019-11-12 22:39] meltsufin commented on #2028
I don't think we should disable checkstyle for sample apps. We want to maintain some level of style consistency even in the sample apps. However, some rules can be relaxed for sample apps, as we've already done. See [checkstyle-suppressions.xml](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/src/checkstyle/checkstyle-suppressions.xml). It should be possible to automatically fix impor

[2019-11-12 22:53] elefeint commented on #2028
Right, but potential contributors are a small subset of the people who copy sample apps.

[2019-11-13 10:39] veereshwaran opened #2030 "Spring actuator shows GCP Pub/Sub health 'UNKNOWN'"
Hi,
In my application, I am using following versions
Spring cloud version 'Finchley.SR2'
Spring-cloud-gcp-starter-pubsub version '1.1.0.RELEASE'
Spring-cloud-gcp-pubsub-stream-binder version '1.1.0.RELEASE'
Spring version '5.1.2.RELEASE'

When I getting health from spring actuator,

Pub/Sub health mentioned as 'UNKNOWN'
"binders":{"status":"UNKNOWN","details":{"pubsub":{"status":"UNKNOWN"}}}

Is t

[2019-11-13 11:01] veereshwaran opened #2031 "Is Spring cloud Pub/Sub library automatically reconnects to GCP Pub/Sub API, If GCP Pub/Sub service goes down come back again?"
I am using Spring cloud Pub/Sub library in our micro-services

Our micro-services listening respective Pub/Sub subscriptions.

After GCP service outage on 11th Nov, our any micro-service not listening topic and message stayed subscriptions and not received in our micro-service.

After restart only, our micro-services start receiving messages from GCP Pub/Sub subscriptions.

I am using default spri

[2019-11-13 14:24] #2015 closed

[2019-11-13 14:54] elefeint opened #2032 "Error when shutting down spring-cloud-gcp-pubsub-binder-sample"
Ctrl-C on running binder sample server results in this error:

[code]

And then, because shutdown failed, it takes the application a few minutes to time out and shutdown:
[code]

The error handling logic itself seems to work fine.

[2019-11-13 15:11] meltsufin commented on #2031
@veereshwaran It's a good question. Since Spring Cloud GCP simply delegates to the Pub/Sub client library which handles the connection details, it's more of a question for them. I posted it there:
https://github.com/googleapis/google-cloud-java/issues/6763

[2019-11-13 15:14] meltsufin commented on #2030
We do not have a health indicator implemented for Pub/Sub.
I'm not sure why it's even listed in Spring Actuator. Is this some built-in feature in Spring Cloud Stream?
@artembilan?

[2019-11-13 15:26] artembilan commented on #2030
I have similar request in AWS Kinesis Binder: https://github.com/spring-cloud/spring-cloud-stream-binder-aws-kinesis/issues/105

So, yeah... It looks like there is a composite in Spring Cloud Stream Core scanning all the available binders in the classpath, but it looks like afterwards it fully depends on the implementation provided by the binder.
Since we don't have a `HealthContributor` for Pub/S

[2019-11-13 15:32] meltsufin commented on #2030
OK, then we'll accept it as a feature request. Contributions are welcomed, as always!
cc/ @viniciusccarvalho

[2019-11-13 16:27] viniciusccarvalho commented on #2030
@meltsufin I'll gladly contribute with an implementation, will look into it today

[2019-11-13 17:04] dmitry-s opened #2034 "Fix flaky tests in Datastore sample app tests"
[code]

[2019-11-13 17:05] dmitry-s commented on #2034
We need to add a check with a timeout to avoid latency-related issues.

[2019-11-13 19:55] #2034 closed

[2019-11-14 09:21] materemias opened #2037 "Pub/Sub: 1.2.0 RC1, RC2 autoconfigure failure with spring.cloud.gcp.pubsub.enabled=false"
Hi,

In local  dev environment we use `spring.cloud.gcp.pubsub.enabled=false` to skip auto configuring of pubsub resources, this worked properly with 1.1.3.RELEASE.
When upgrading of 1.2.0 (RC1 or RC2) this causes the following error on application start:

[code]

I think this is a regression (in terms of `spring.cloud.gcp.pubsub.enabled=false` should disable autoconfigure). In the meanwhile I'd b

[2019-11-14 13:32] elefeint commented on #2037
@materemias, thank you for catching the issue before GA release!

As a temporary workaround, you can set the following additional property:
[code]

[2019-11-14 17:33] #2037 closed

[2019-11-14 17:38] elefeint commented on #2037
`spring.cloud.gcp.pubsub.enabled=false`  should now work as expected with snapshot version `1.2.0.BUILD-SNAPSHOT`.

[2019-11-14 20:16] viniciusccarvalho commented on #2030
Just as an FYI I was unable to reproduce this error on the `1.2.0.BUILD-SNAPSHOT` the health comes up when using that build. So chances are that this got fixed anyways by the `BindersHealthIndicator`.

However, if there's an issue, say your service account does not have access to pubsub, it would still come up as healthy, which I think its wrong.

I have a PR ready to go to at least implement the

[2019-11-15 17:02] s13o opened #2041 "The SpannerConverters#JAVA_TO_SPANNER_TIMESTAMP_CONVERTER is wrong"
The [SpannerConverters#JAVA_TO_SPANNER_TIMESTAMP_CONVERTER](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-data-spanner/src/main/java/org/springframework/cloud/gcp/data/spanner/core/convert/SpannerConverters.java) use a `com.google.cloud.Timestamp.of(timestamp)` method to convert timestamps but it is bugly.
See https://issuetracker.google.com/issues/144522470

The re

[2019-11-15 18:31] #2041 closed

[2019-11-18 13:51] ChengyuanZhao opened #2044 "Spanner REST Repo PUT operation not supported"
I think this is actually similar to the Datastore issue we encountered a few months ago:
https://github.com/spring-cloud/spring-cloud-gcp/issues/1773

The source is this SO issue : https://stackoverflow.com/questions/58815607/setting-the-primary-key-directly-via-the-key-id-property-is-not-supported-span

In there the user is doing a PUT request to write a new entity to Spanner, but because the new

[2019-11-18 15:24] meltsufin commented on #2044
Thanks, @ChengyuanZhao!

[2019-11-18 20:53] Alos opened #2046 "Allow GcpProjectIdProvider to provide the numerical value for the project"
GcpProjectIdProvider currently only provides the string value that contains the name of the project, it would be useful to have it also contain the numerical value associated with the project.

[2019-11-18 21:48] meltsufin commented on #2046
I think in that in terms of the single responsibility principle, we should keep `GcpProjectIdProvider` simple. However, we might want to provide a template for the Project Metadata Service. How common is the need for the project number?

[2019-11-18 22:04] stephen-harlow commented on #2046
I'd say that it's somewhat common, but not as common as the `project-id`. For example, if you want to know what the name of the service account is for a specific GCP project (The one that is automatically created for Builds and Compute Engine.), the only way to currently do that is through something like: [this](https://stackoverflow.com/questions/52307471/get-google-cloud-project-number-using-its

[2019-11-18 22:17] meltsufin commented on #2046
Sounds like auto-configuration for the Resource Manager API or even a template for it can be useful in case like this one.

[2019-11-18 22:24] stephen-harlow commented on #2046
Yeah, having a way to ask the Resource Manager API directly `What is the Project Number?` would be useful.

[2019-11-19 12:42] vy commented on #1969
Hey @meltsufin! Would you mind sharing some thoughts on how to proceed with this issue, please?

[2019-11-19 15:08] meltsufin commented on #1969
We're committed to fixing problems with the current implementation which is based on the official Pub/Sub client library (gRPC-based). We welcome reports of specific bugs and performance issues with the current implementation.

Frankly, I still don't see a compelling reason to switch the project to something like the JSON-based Pub/Sub API. GRPC should be faster in principle. Do you have any metri

[2019-11-19 16:19] dmitry-s commented on #2044
The conversion works just fine. The real issue is ConvertingPropertyAccessor tries to set SpannerCompositeKeyPropert on the entity object instead of setting the String Id field.

[2019-11-19 22:46] dmitry-s opened #2049 "RepositoryRestResource GET request issues"
RepositoryRestResource GET requests are failing if the id type is not Key. For example this would fail:

[code]
Error:

[code]

To make it work, use Key for id type.

[code]

[2019-11-20 14:35] elefeint opened #2052 "Figure out how an old version of Guava crawled back in"
Noticed it tripping checks on #2051
It seems that the latest version of com.google.cloud:google-cloud-core is bringing in an ancient evil that is Guava 20.

 https://app.snyk.io/org/artembilan/project/1a2faade-6eb3-4e42-9835-80ac62d68a1c/pr-check/5817bf53-c12b-436a-9250-5ee82448e794?refs=b3b24486af9d45a2ee05b048092920fe37a6c9d7..600626f32ea52c6c8cf013dc97148d69f6c16c50&fromGitHubAuth=true

[2019-11-20 14:57] meltsufin commented on #2052
com.google.protobuf:protobuf-java:jar:3.10.0:compile

[2019-11-20 15:11] meltsufin commented on #2052
I think this is yet another bug in Snyk. I'm only seeing guava version `28.1-android` when running `mvn dependency:tree`. I think it's a fairly recent version of Guava.

[2019-11-20 16:21] elefeint commented on #2046
Note that Resource Manager API is disabled by default, so if we provide an autowired object, we should at minimum document it as the most common issue.

There is an example of [acquiring ResourceManager](https://github.com/spring-cloud/spring-cloud-gcp/blob/28e4aeb61c7da2b2a11f46d0df396eeb527bec57/spring-cloud-gcp-security-iap/src/main/java/org/springframework/cloud/gcp/security/iap/AppEngineAudie

[2019-11-20 16:24] meltsufin commented on #2046
I think most APIs are disabled by default.

[2019-11-21 16:14] #2044 closed

[2019-11-21 16:29] #2004 closed

[2019-11-21 22:06] dmitry-s commented on #2049
The problem is we use a custom `BackendIdConverter` to enable String to Key conversion. But the rest repository could have different ID type. We support 'virtual` keys in order to allow composite keys.
Because of that we allow users to create repositories with the following id types:
`Key`
`Object[]`
`Iterable`

Also we support regular id types, such as String.

`BackendIdConverter` doesn't know w

[2019-11-25 15:28] elefeint commented on #2052
Closing the false positive.

[2019-11-25 15:28] #2052 closed

[2019-11-25 20:47] dmitry-s opened #2054 "Add IN queries support in Firestore"
Firestore supports IN queries now, so we can add support for that in name-based queries.

[2019-11-25 21:03] meltsufin opened #2055 "Make PublicClassMapper a bean and have non-static methods"

[2019-11-25 21:07] dmitry-s commented on #1849
fixed in #2008
duplicate of #2007

[2019-11-25 21:07] #1849 closed

[2019-11-26 05:44] gautamdey opened #2056 "com.google.cloud.firestore.annotation.DocumentId class not found"
when I am trying to use the example for firestore with spring data spring boot we are running into issue
com.google.cloud.firestore.annotation.DocumentId class not found

gradle
 firestoreMilestoneVersion = '1.2.0.RC2'

  implementation "org.springframework.cloud:spring-cloud-gcp-starter-firestore:${firestoreMilestoneVersion}"
    implementation "org.springframework.cloud:spring-cloud-gcp-data-fir

[2019-11-26 14:56] meltsufin commented on #2056
Hi @gautamdey! Can you please provide more details about which example you're running? All of our samples are automatically tested.
Also, `1.2.0.RELEASE` is now available. So, give it a try.

[2019-11-26 22:25] #2055 closed

[2019-11-27 18:50] gautamdey commented on #2056
Hi @meltsufin  I am trying out the example
https://github.com/spring-cloud/spring-cloud-gcp/tree/master/spring-cloud-gcp-samples/spring-cloud-gcp-data-firestore-sample

I have updated to 1.2.0 release still same error .
Just for information the project where iam using this is webflux and it also uses postggres for which I am using non-rx driver .

[2019-11-27 19:18] meltsufin commented on #2056
Have you tried running the example separately to see if it works for you?
If it does, then we need another way to reproduce your issue.
cc/ @dmitry-s

[2019-11-27 19:58] elefeint commented on #1937
This has been fixed in 1.1.4.RELEASE.

[2019-11-27 19:58] #1937 closed

[2019-11-27 20:27] elefeint commented on #1932
This was done in #2019.
We should keep the `brave` [exclusion](https://github.com/spring-cloud/spring-cloud-gcp/blob/c4c3256be7da01e0800bae14239ab981df9cdb3e/pom.xml#L128) in `brave-propagation-stackdriver` because the version should consistently come from `spring-cloud-sleuth`.

[2019-11-27 20:27] #1932 closed

[2019-11-28 20:30] szisiu commented on #1938
Checked again with `spring-cloud-gcp:1.2.0.RELEASE` and it works. Thanks guys.

[2019-12-02 10:43] ayancancode opened #2064 "Unable to convert java.sql.Timestamp to com.google.cloud.Timestamp in Spring Data Cloud Spanner"
https://stackoverflow.com/questions/59136904/unable-to-convert-java-sql-timestamp-to-com-google-cloud-timestamp-in-spring-dat

[2019-12-02 15:59] #2028 closed

[2019-12-02 19:42] dmitry-s commented on #2064
I was able to replicate the issue. Looking into it.

[2019-12-03 21:19] dmitry-s opened #2067 "java.util.Date should not be converted to spanner Date type"
java.util.Date represents an instant in time, with millisecond precision, while Spanner Date represents a date without time.

[2019-12-03 22:11] #2064 closed

[2019-12-04 12:13] ayancancode commented on #2067
So, we have to use Timestamp as a column  in spanner Database and we are forced to use com.google.cloud.Date as a type in Entity if we want to put column type as Date. Please let me know if my understanding is correct.

[2019-12-04 14:43] meltsufin commented on #2067
`LocalDateTime` seems to be the perfect match for the Spanner `DATE`. Both are just dates with no timezone.

[2019-12-04 16:13] #1976 closed

[2019-12-05 04:00] ayancancode commented on #2067
Thanks @meltsufin . I guess that makes sense.

[2019-12-05 15:42] meltsufin commented on #2067
@ayancancode You're absolutely right, I meant to say `LocalDate`.

[2019-12-05 18:41] #2054 closed

[2019-12-06 15:22] meltsufin opened #2071 "Add Firestore support mention to landing pages"
Firestore support is currently not listed on the `README.md`, [project site](https://spring.io/projects/spring-cloud-gcp), and [refdoc intro](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.2.0.RELEASE/reference/html/#introduction).

[2019-12-06 17:00] elefeint opened #2072 "PubSubReactiveFactory should allow overriding the pull batch size"
Add an option controlling batch size, so that `poll()` does not [always request a max int](https://github.com/spring-cloud/spring-cloud-gcp/blob/8df2a6bb91af4a8d6517d62b2b23387296670157/spring-cloud-gcp-pubsub/src/main/java/org/springframework/cloud/gcp/pubsub/reactive/PubSubReactiveFactory.java#L174) number of messages from Pub/Sub for unbounded demand.

It was a follow up task from original impl

[2019-12-07 00:49] #2067 closed

[2019-12-08 20:54] wyattewaylon commented on #1609
Be sure abtract data is combined with parttree Data store query

[2019-12-10 10:07] mauraborean opened #2073 "Spring Sleuth / GCP PubSub integration"
**Is your feature request related to a problem? Please describe.**
I'm using Spring Sleuth in a Spring Boot project and I'd like to include received PubSub events in my metrics. I've read that is it possible to trace RabbitMQ, Kaftka, JMS messages, but I'm having some trouble finding some integration for PubSub.

**Describe the solution you'd like**
I'd like to have some guidance on how to trace t

[2019-12-10 10:31] radivojen opened #2074 "AckMode.AUTO_ACK acks the message even if the processing exception occurs"
From the doc:
The framework acks the PubsubMessage after it is sent to the channel and processed successfully. The framework does not immediately nack the message when the exception occurs, and allows the eventual redelivery to take effect.

The actual behavior:
Processing exception occurs and the message is still acked.

You can see in code that messageNacked = true is only set for AckMode.AUTO a

[2019-12-10 12:33] szisiu commented on #2032
Hi, do you know when it will be solved?

[2019-12-10 12:35] radivojen commented on #2074
Also, even without nack, throwing PubSubException causes immediate redelivery by the google pubsub client

[2019-12-10 15:01] elefeint commented on #2074
Thanks for the report! Which mode does your application use -- is it AUTO_ACK?

[2019-12-10 15:20] meltsufin commented on #2074
I believe the bug was introduced in this PR #1951.
@dzou Do you want to take a look?

[2019-12-10 15:22] radivojen commented on #2074
For now doing a POC with AUTO_ACK.
But is as pasted before in PubSubInboundChannelAdapter.
By changing the code like this works as expected:
`catch (RuntimeException re) {
			if (this.ackMode == AckMode.AUTO) {
				message.nack();
			}
			// marking as nacked if processing problem occured
			messageNacked = true;
			// if exception thrown causes immediate redelivery
			//throw new PubSubException(

[2019-12-10 15:26] dzou commented on #2074
Yeah let me take a look at this; I remember working on that issue.

[2019-12-10 19:46] meltsufin commented on #2073
@mauraborean Can you link to the documentation that references this for other providers like Kafka and RabbitMQ? Can you describe a bit more about how you're using Pub/Sub? Are you using Spring Integration channel adapters or the `PubSubTemplate`?
Tracing context should already be carried through with messages sent via Spring Integration.

[2019-12-10 21:21] dzou commented on #2074
@radivojen - So when running in AUTO_ACK mode, you are proposing we do not throw the PubSubException if an error occurs? (And leave the message not acked nor nacked?)

I just feel that we don't want to swallow the error either though. If we take this approach, should we instead log the error at warn/error level? @elefeint @meltsufin, what are your thoughts?

[2019-12-10 21:34] radivojen commented on #2074
@dzou I'm using this library through spring cloud stream with '@StreamListener' that already logs an error. So this one is redundant for me. Of course, if used as standalone at least warn level logging would be good.

[2019-12-10 22:53] elefeint commented on #2074
There are two issues discussed here; let's split them up:
1) exception causing message to be acked instead of nacked in AUTO_ACK mode: definitely valid issue; we need to fix it.
2) message redelivery when no ack() was sent. This is expected behavior in MANUAL and AUTO_ACK modes -- your default ack deadline will determine how quickly Pub/Sub will attempt to redeliver the message if it did not get a

[2019-12-11 07:11] mauraborean commented on #2073
Can you link to the documentation that references this for other providers like Kafka and RabbitMQ?
Here are the links:
https://cloud.spring.io/spring-cloud-sleuth/reference/html/#spring-rabbitmq
https://cloud.spring.io/spring-cloud-sleuth/reference/html/#spring-kafka

Can you describe a bit more about how you're using Pub/Sub? Are you using Spring Integration channel adapters or the PubSubTemplat

[2019-12-11 15:59] elefeint opened #2076 "Status of security vulnerabilities"
A _time-unit_-ly overview of current security vulnerabilities affecting the project, courtesy of Snyk.

There is only one valid alert -- IAP dependency `com.nimbusds:nimbus-jose-jwt` has a medium severity validation crash ([snyk](https://app.snyk.io/vuln/SNYK-JAVA-COMNIMBUSDS-536068)).
*Action:* Wait for [Spring Security](https://github.com/spring-projects/spring-security/blob/bc2aedac69d30585e18f

[2019-12-11 16:49] meltsufin commented on #2073
@mauraborean Thanks for providing the references.
We definitely do not automatically instrument `PubSubTemplate` to propagate the traces.
This support would probably need to go into the `zipkin-gcp` project, where we handle HTTP trace header propagation.
@artembilan @adriancole WDYT?