[2019-12-11 17:13] artembilan commented on #2073
May be that should go here: https://github.com/openzipkin/brave/tree/master/instrumentation?
I have had a brief with Marcin, and he suggests to go similar instrumentation configuration model here in this project since Spring Cloud Sleuth can't have a cyclic dependency to this one.
The Brave project may provide low-level API for instrumenting a `Publisher`, which could be used in our project for in

[2019-12-11 18:59] meltsufin commented on #2073
@artembilan I'm not sure I fully understand your suggestion. This project also depends on Brave. So, wouldn't there be a cyclic dependency as well if Brave becomes dependent on Spring Cloud GCP? Is it not a problem because the `spring-cloud-gcp-pubsub` module specifically doesn't depend on Brave?
Previously we put trace propagation logic into this project:
https://github.com/openzipkin/zipkin-gcp/

[2019-12-11 19:09] artembilan commented on #2073
Well I didn't say that Brave should depend on SC-GCP. I just said that they need to instrument a `Publisher`, therefore `google-cloud-pubsub` - nothing about Spring.

The AWS is done in the SC-Sleuth since there is nothing like Stackdrive over there in the SC-AWS. Although I see there is AWS X-Ray: https://aws.amazon.com/xray/, which just has to be supported in the SC-AWS. So, the story may change

[2019-12-11 21:17] elefeint commented on #2032
szisiu@, the issue has been fixed in `spring-cloud-stream`.

Out of curiosity, did you encounter this problem when trying our samples, or did you run into this problem elsewhere and found this GitHub issue through search?

[2019-12-11 21:21] meltsufin commented on #2073
Basically, this is going to require some analysis. We'll accept it as a feature request, but no one is scheduled to work on it yet.

[2019-12-11 21:49] elefeint commented on #1913
I am going to close this as infeasible because we pass around an actual type as method parameter to `PubSubTemplate`, and keeping `payloadType` and parameterized type is added maintenance without any value for users.
Implementing this change would also mean not having `byte[]` default payload type and force users to specify type in all cases, which is a breaking change.

[2019-12-11 21:49] #1913 closed

[2019-12-11 21:57] szisiu commented on #2032
Hi @elefeint, I use spring-boot v. 2.2.1.RELEASE with `spring-cloud-gcp-pubsub-stream-binder:1.2.0.RELEASE` and `spring-cloud-stream:3.0.0.RELEASE` from spring cloud Hoxton.RELEASE.

My small pubsub consumer app looks like:

[code]

application.properties:

[code]

...and the error on CTRL-C or app termination (note the timeout, sending and receiving through pubsub works):

[code]

[2019-12-11 22:06] elefeint commented on #2032
Please try `spring-cloud-stream:3.0.1.BUILD-SNAPSHOT`. The fix will be in the next service release.

[2019-12-11 22:07] szisiu commented on #2032
ok. will try.

[2019-12-12 11:23] joris-desmedt opened #2077 "Spring context shuts down after context startup in pubsub 1.2.0"
When using the spring-cloud-gcp-starter-pubsub dependency if your on version 1.1.3 and have set up a method of receiving messages the context keeps running and listening for messages, even if you don't have the web dependency (important since I'm creating a non webApp for processing messages). Which is what you want, I think.
But if you go to 1.2.0 it shut down immediately after startup.

Create t

[2019-12-12 11:34] joris-desmedt commented on #2077
I suspect the reasons is the use of daemon threads in pubsub 1.2.0
https://stackoverflow.com/questions/37754410/how-to-prevent-spring-app-context-shutdown-until-shutdown-hook-is-fired

[2019-12-12 14:05] elefeint commented on #2077
You are correct about the causes. The new behavior is intentional, though -- it's described in the [changelog](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/CHANGELOG.adoc):

There is more detail on how we came to this decision in #2015.

[2019-12-12 15:29] joris-desmedt commented on #2077
@elefeint ok thanks

[2019-12-12 15:32] #2077 closed

[2019-12-12 18:30] elefeint commented on #2074
@radivojen For issue (2), you can prevent the exception from bubbling to the client library by providing a Spring Integration error channel.

Specify the error channel when you create a `PubSubInboundChannelAdapter` bean:
[code]

And then create the handler on this channel:

[code]

On our side, we need to at minimum document this better.

[2019-12-12 20:24] dmitry-s commented on #2071
It is listen on refdoc info:  https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.2.0.RELEASE/reference/html/#spring-data-reactive-repositories-for-cloud-firestore

[2019-12-12 21:37] meltsufin commented on #2071
I meant the Introduction section.

[2019-12-13 12:03] radivojen commented on #2074
I already tried with an error channel even before. An exception is no longer in the logs of course, but the redelivery never happens. I waited for more than 10 min which is the maximum ack deadline.

[2019-12-13 13:04] elefeint commented on #2074
That was caused by the acking-instead-of-nacking bug, right? Could you try with the latest snapshot, now that #2075 went in?

[2019-12-13 14:05] radivojen commented on #2074
I tried the latest code and the first issue is fixed of course.
But the problem with error handling still remains. No matter if the PubSubException is thrown if I have the error handler there is no redelivery. Without the error handler and with exception commented out I get the correct behavior.

[2019-12-13 15:02] elefeint opened #2079 "Pub/Sub Spring Cloud Stream binder should support ackMode customization"
**Is your feature request related to a problem? Please describe.**
Currently stream binder creates a `PubSubInboundChannelAdapter` in default AUTO acknowlegement mode. As discussed in #2074, this does not allow a message to expire naturally -- a message will be acked in normal execution or in exception scenario where an error handler is declared, and a message will be nacked if an unhandled error

[2019-12-13 15:03] elefeint commented on #2074
I've re-read the thread, and realized that you are using Spring Cloud Stream. Pub/Sub SCS binder always operates in `AUTO` mode so both acking and nacking are automatic. When you have an error handler, it prevents an exception from bubbling up, causing all messages to be acked. Pub/Sub then assumes they were delivered correctly and does not attempt re-delivery.

I've filed #2079 as a follow up, si

[2019-12-13 15:24] radivojen commented on #2074
That is true. Spring Cloud stream current default is AUTO. But I have already changed the Spring cloud stream myself just to set the AUTO_ACK mode instead (no other changes). And this is the behavior I get. Thank you for filling the ticket since that option will also be very helpful, no to have to override the config.

[2019-12-13 17:46] dzou commented on #2074
I'll pick up #2079 just to finish what we started here.

Just to clarify @radivojen and @elefeint , so is it a satisfactory solution for there to be a way to configure the PubSub inbound channel adapter so that you can specify the ack mode via property? Like through `application.properties`?

[2019-12-13 21:27] elefeint commented on #2074
We might have to revisit throwing that exception in AUTO_ACK and MANUAL modes. @radivojen 's original suggestion of suppressing the exception may be the way to go.

With error handler, the exception is prevented (after all, Spring Integration processed the message successfully), and so we end up acking in the adapter.
If the user throws an exception from message handler, the adapter rethrows it in

[2019-12-13 21:37] elefeint commented on #2074
Because supporting AUTO_ACK and MANUAL modes in the binder is a new feature that we have not previously supported, this does not need to go into SR1.
The bug in spring integration adapter that was acking instead of nacking for AUTO_ACK has been fixed.

@radivojen Are you blocked by the lack of AUTO_ACK support in Pub/Sub SCS binder? We'll determine priority next week.

[2019-12-13 22:10] #2071 closed

[2019-12-16 09:40] radivojen commented on #2074
@elefeint supped it up nicely. I'm not blocked since I have overridden the components I need for the proper AUTO_ACK behavior. Of course, once these issues are fixed my code will be much cleaner.

[2019-12-16 09:56] BenDol opened #2083 "DatastoreTemplate#convertEntitiesForRead very slow (17 second delay)"
**Version:** 1.2.0.RC2
I am making a call with the DatastoreTemplate that freezes for ~17 seconds every call.

EDIT: Removed the code, the issue is that I have a lot of recursive references in some of my table definitions. What I would like to know is if there is a way to tell Spring not to do a deep search for every reference on an entity. I haven't been able to find one and projection still seem

[2019-12-16 09:58] BenDol commented on #2083
Actually this might not work since I removed all the references, I will need to include all the references from these entities in an archive.

[2019-12-16 10:12] BenDol commented on #2083
Is there a way to exclude deep entity references being pulled in a query? I'm looking at Projection atm, but it would be nice if it was possible to ignore deep References on a given call.

[2019-12-16 15:03] meltsufin commented on #2083
We support [projections](https://cloud.spring.io/spring-cloud-gcp/reference/html/#projections-2) and that's probably the most appropriate solution at the moment.
The performance you're quoting still sounds pretty bad. Are there many roundtrips to the database? @dmitry-s Any thoughts on this?

[2019-12-16 15:30] #2049 closed

[2019-12-16 15:37] dmitry-s commented on #2083
Yes, there are additional database calls for entity reference resolution. Let me see if there is a way to workaround that.

[2019-12-16 15:53] dmitry-s commented on #2083
Lazy loading could help with that issue.
@meltsufin what do you think?

[2019-12-16 16:00] meltsufin commented on #2083
Sure, it makes sense. We already have an issue for it: #1101.

[2019-12-18 19:54] elefeint commented on #2076
Spring Security upgraded; the new version will pulled in with the next `spring-cloud-build` -> `spring-boot` -> `spring-security` set of patch releases.

[2019-12-18 21:27] elefeint opened #2088 "Spring data page size behavior change breaks a test"
[This commit](https://github.com/spring-projects/spring-data-commons/commit/6ce19956ab4ad450d9dc36578914db9b45c72ce6) changed non-pageable size behavior.

This broke the test `PartTreeDatastoreQueryTests.pageableQueryNoPageableParam()`.

Our build was only affected today because `spring-cloud-build` was upgraded to Spring Boot 2.2.2.RELEASE, which came with `spring-data-commons:2.2.3.RELEASE`, whi

[2019-12-19 16:36] #2088 closed

[2019-12-19 19:43] elefeint commented on #2076
The `nimbus-jose-jwt` vulnerability was also a false positive -- the issue got fixed in version 7.8.1, but the CVE did not get updated, and so listed the minimum safe version as 7.9.

[2019-12-19 19:43] #2076 closed

[2019-12-20 17:03] elefeint opened #2094 "Spring Cloud version for 1.2.x branch seems wrong"
The Spring Cloud Build parent version [on 1.2.x branch](https://github.com/spring-cloud/spring-cloud-gcp/blob/b90faa3527d79f4c138532cc81e97e198199bf61/pom.xml#L9) is the same as on [master](https://github.com/spring-cloud/spring-cloud-gcp/blob/6c029b249a567f39063cb45fe947a6381b99eb6a/pom.xml#L9) -- `2.2.1.BUILD-SNAPSHOT`.

It should probably be Greenwich `spring-cloud-build:2.1.10.BUILD-SNAPSHOT`

[2019-12-26 20:41] elefeint opened #2097 "Storage integration should provide ability to provide initial file contents"
To fit into Spring Resource idiom, `GoogleStorageResource` [creates a new file](https://github.com/spring-cloud/spring-cloud-gcp/blob/72d746486fedd19b16ead3cdbbcfb48c3e90c3a9/spring-cloud-gcp-storage/src/main/java/org/springframework/cloud/gcp/storage/GoogleStorageResource.java#L306) before returning the output stream to a now-existing file.

But GCP Storage treats the act of overwriting a file as

[2019-12-27 16:07] meltsufin commented on #2097
What does it look like in the client library code? Can we configure the append mode so that it doesn't view it as "overwriting"?

Although useful for the `GoogleStorageResource` abstraction, I'm not sure if this really addresses the issue, since the problem is in the `getOutputStream()` method which is part of the `WritableResource` abstraction.

[2019-12-27 16:55] meltsufin commented on #2097
Never mind about the "append" idea, since Google Cloud Storage treats all objects as immutable.
See: https://cloud.google.com/storage/docs/key-terms#immutability.
Thanks @elefeint for the pointer!

[2019-12-27 17:00] meltsufin commented on #2094
Spring Cloud Build 2.2.x corresponds to the Hoxton release AFAIK, which is aligned with our 1.2.x release. We should probably just upgrade to 2.2.2 snapshots.

[2019-12-27 20:38] elefeint commented on #2094
[spring-cloud-release wiki](https://github.com/spring-cloud/spring-cloud-release/wiki/Supported-Versions) says that Hoxton will support both Spring Boot 2.2.x and 2.3.x. So I spring-cloud is not doing a version bump...

Here is my current understanding:

|spring-cloud-gcp|spring cloud release train|spring-cloud-build|spring-boot
|---|---|---|---|
|1.2.x|Hoxton|2.2.1|2.2.x and 2.3.x
|1.3.x|Ilford|2

[2019-12-27 20:38] #2094 closed

[2019-12-27 22:36] #2097 closed

[2019-12-30 16:35] meltsufin opened #2101 "Partition DML support for Spanner Repositories"
Currently, Spanner repositories execute DML statements as non-partitioned. We should think of adding an option to execute them as [partitioned DML](https://cloud.google.com/spanner/docs/dml-partitioned) to improve efficiency.
Related to #1737.

[2019-12-30 19:35] elefeint opened #2102 "Backport Storage write-only fix"
Backport #2099 into the 1.2.x branch.

[2019-12-30 20:59] dmitry-s opened #2104 "Datastore lazy retrieval of reference collections"

[2019-12-30 21:03] meltsufin commented on #2104
Duplicate of #1101

[2020-01-03 16:14] #2079 closed

[2020-01-03 21:49] indian9 commented on #2056
@meltsufin we are checking as requested.

[2020-01-06 21:32] #2104 closed

[2020-01-07 23:57] AClarkie opened #2107 "spring-cloud-gcp doesn't appear to work with Workload Identity"
Workload Identity is the recommended way to access Google Cloud services from within GKE due to its improved security properties and manageability:
https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity

Has anyone tested that this feature works with Spring Boot applications

[2020-01-08 14:39] AClarkie commented on #2107
Can confirm it does work, so ignore this request

[2020-01-08 14:39] #2107 closed

[2020-01-08 19:59] suztomo opened #2109 "Use Google Cloud Platform Libraries BOM"
[Google Cloud Platform Libraries BOM](
https://github.com/GoogleCloudPlatform/cloud-opensource-java/wiki/The-Google-Cloud-Platform-Libraries-BOM) helps to align the library versions. This will help to prevent unwanted runtime errors such as `NoSuchMethodError`.

**Describe the solution you'd like**
~~Gradle version 5 or newer can use a BOM.~~

For Maven,

[code]

**Describe alternatives you've con

[2020-01-08 20:02] suztomo commented on #2109
Trying to create a PR.

[2020-01-08 20:22] suztomo commented on #2109
Initial attempt failed: https://gist.github.com/suztomo/661e80e1c371a1aa0c3b5ae6f9c06a65 . There seems to be missing element between `google-cloud-bom:0.119.0-alpha` and `libraries-bom:3.3.0`. Will troubleshoot further.

CC: @elharo @meltsufin .

[2020-01-08 20:24] suztomo commented on #2109
The same error occurs for `google-cloud-bom:0.120.2-alpha` (latest as of now).

[2020-01-08 20:36] suztomo commented on #2109
Locally installing the `google-cloud-bom:0.121.0-alpha` (not yet released) solved the undefined version problem. Note that `google-auth-library-oauth2-http.version` had to be updated to 0.19.0 to avoid NoClassDefFoundError.

I'll revisit this issue once libraries-bom incorporates `google-cloud-bom:0.121.0-alpha`.

[2020-01-09 18:45] s13o opened #2110 "@Interleaved(lazy=false) should use Joins for Spanner"
Spanner Template always retries an interleaved properties of an entity by an additional query per each row instead of using joins. It causes huge query performance degradation and makes "@Interleaved(lazy=false)" useless - it actually always "more or less lazy" now.

[2020-01-09 19:09] meltsufin commented on #2110
Indeed, this is a useful feature request for eagerly loaded relationships.
One way around it is to create a separate repository for the child entity and query them by parent ID.
Alternatively, this is a feature already supported in Hibernate. See: https://github.com/GoogleCloudPlatform/google-cloud-spanner-hibernate.

[2020-01-09 19:39] s13o commented on #2110
A separate child-repository did not help too much when we querying for a collection.
Well, the Spring Data for Spanner is basically enough. But this "permanent lazy loading" with the method "queryAndResolveChildren" dramatically affects find-methods of the SpannerRepository implementation together with custom @Queries. It forced us to use directly `template#query(Function<Struct, A>, Statement, op

[2020-01-10 14:55] viniciusccarvalho opened #2111 "Implement support for FirebaseAuth"
Firebase has released an admin SDK that makes it very easy to integrate with its fantastic Authentication service.

The fact that we can use firebase auth to manage different oauth providers, password reset, password encryption, user validation and many other cool stuff is what make it a very interesting alternative to implement our own OAuth2 server.

I'd like to propose and submit a PR to add a

[2020-01-10 15:08] meltsufin commented on #2111
@viniciusccarvalho Thank you for bringing it to our attention. This sounds great! Note that we already have [Spring Security support for IAP](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.2.1.RELEASE/reference/html/#cloud-identity-aware-proxy-iap-authentication). I haven't looked at Firebase Auth enough to know what kind of usecases it addresses vs IAP.

cc/ @elefeint who worked o

[2020-01-10 15:35] meltsufin commented on #2111
Related to: #1996.

[2020-01-10 15:57] elefeint commented on #2111
@viniciusccarvalho What would the application flow look like, something like this?

[code]

Spring Security OAuth starters, both server and client, come with a JWT token parsing library (Nimbus), which we used for IAP authentication. But by the time you pull in the OAuth server dependency, you might not even need the admin SDK.

[2020-01-10 16:05] lukasGemela opened #2113 "update time can be null"
**Describe the bug**
when using in-memory gcs storage for testing (google-cloud-nio lib) BlobInfo for stored files is initialized without any update time:`

https://stackoverflow.com/a/46692017/2152207

That leads to null pointer from GcsPersistentAcceptOnceFileListFilter -> null Long value can't be unboxed to any primitive long value.

**Sample**
https://stackoverflow.com/a/46692017/2152207

[2020-01-10 16:16] #2113 closed

[2020-01-10 16:48] viniciusccarvalho commented on #2111
@elefeint That is the flow indeed. And the JWT parsing is what my point has been on the comment of verifying tokens. You can use plain JWT libraries to validate the token but you need to acquire the public key to check the signature. I don't think the out of box Spring Security JWT implementation would be able to do that. So in order to enable FirebaseAuth a custom TokenFilter would need to be imp

[2020-01-10 17:13] elefeint commented on #2111
Nimbus does check the registry at token parsing stage. In IAP module, the registry is [configured](https://github.com/spring-cloud/spring-cloud-gcp/blob/72d746486fedd19b16ead3cdbbcfb48c3e90c3a9/spring-cloud-gcp-autoconfigure/src/main/java/org/springframework/cloud/gcp/autoconfigure/security/IapAuthenticationProperties.java#L33) to `https://www.gstatic.com/iap/verify/public_key-jwk`.

I have no iss

[2020-01-10 17:31] dmitry-s commented on #2110
It can be implemented to execute queries like this in case when lazy=false
`SELECT Singerid, Name, ARRAY(SELECT AS STRUCT * FROM ALBUMS WHERE `Singerid` = Singerid) FROM Singers`

[2020-01-10 17:44] #2083 closed

[2020-01-11 20:40] s13o commented on #2110
That is how we are doing now. But I'm not sure about the performance of it compare to JOIN. Which way is preferable?

[2020-01-13 01:12] rohanliston opened #2115 "Add support for Google Cloud Secret Manager"
**Is your feature request related to a problem? Please describe.**

Google Cloud have recently added a service called [Secret Manager](https://cloud.google.com/secret-manager), which provides secure, centralised storage for application-level secrets such as API keys, DB credentials, and so on. This service is comparable to [AWS Secrets Manager](https://aws.amazon.com/secrets-manager/).

It is curr

[2020-01-13 09:45] lukasGemela opened #2117 "it's not possible to pass comparator to GcsStreamingMessageSource"
**Is your feature request related to a problem? Please describe.**
we would like to process files in defined order

**Describe the solution you'd like**
see https://github.com/spring-cloud/spring-cloud-gcp/pull/2116

[2020-01-13 15:00] meltsufin commented on #2115
@rohanliston Thanks for the feature request. I'ts been on our radar and we're planning to start working to implement Spring Cloud Vault support for the GCP Secret Manager.

[2020-01-13 16:37] dzou commented on #2117
Fix is provided by #2116; I will add the unit test and doc update to close out this issue.

[2020-01-13 16:58] dmitry-s commented on #2110
That's something we would have to test. From the implementation viewpoint it is much better to use this query then JOIN, but only makes sense if the performance is about the same. I will post results when I have them.

[2020-01-14 16:08] #2117 closed

[2020-01-14 16:30] meltsufin opened #2121 "API-based logging does not work on Cloud Run"
Blocked by: https://github.com/googleapis/java-logging/issues/71.

[2020-01-14 19:23] meltsufin opened #2122 "Structured JSON logging doesn't work on Cloud Run (managed)"
It mostly works. However, `TRACE` and `WARN` severity levels are not recognized correctly.

The reason for this seems to be the fact that Cloud Run doesn’t actually use `fluent-plugin-google` to do severity level [translation](https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud/blob/ed11fb17beaa129910e60308011c8be93d31e830/lib/fluent/plugin/out_google_cloud.rb#L1851). Instead it does

[2020-01-15 00:06] anguillanneuf opened #2123 "Question: when to use `Autowired`?"
Why is there not a need to annotate this messaging gateway with `@Autowired` as described in this [Codelab](https://codelabs.developers.google.com/codelabs/cloud-spring-cloud-gcp-pubsub-integration/index.html?index=..%2F..index#4)? @ChengyuanZhao

https://github.com/spring-cloud/spring-cloud-gcp/blob/a706b9bc9937652e824c70cdd3a6a865b43cbf46/spring-cloud-gcp-samples/spring-cloud-gcp-integration-pub

[2020-01-15 14:32] elefeint commented on #2123
This code is using [constructor injection](https://docs.spring.io/spring/docs/current/spring-framework-reference/core.html#beans-constructor-injection) instead of autowiring the field directly as the codelab does.
Any classes annotated with `@Controller`, `@RestController` or `@SpringBootApplication` act as configuration classes -- they can declare and consume Spring beans. With [Java-based config

[2020-01-15 16:56] anguillanneuf commented on #2123
Thank you @elefeint for the great explanation!

[2020-01-15 16:56] #2123 closed

[2020-01-16 11:01] vy commented on #1969
- `pubsub-reactor` doesn't suffer from [the back-pressure issues of the official client ](#1461#discussion_r274541998)
- `pubsub-reactor` [can pull+ack ~8GB in ~4sec on a single core](/vy/reactor-pubsub#how-fast-is-reactor-pubsub)

Do you have any certain "metrics" in mind that I need to provide?

[2020-01-16 15:09] meltsufin commented on #1969
If you are making a claim that `pubsub-reactor` has better performance, then what we want to see would be a direct comparison with [our implementation](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.2.1.RELEASE/reference/html/#reactive-stream-subscription). Otherwise, I'm not sure how to interpret these numbers.

If the advantages are more about the ease of use around JSON vs. prot

[2020-01-16 17:32] dmitry-s commented on #2110
I made some tests and they show that the sub-query approach is more efficient than the corresponding join-based query.

[2020-01-16 18:09] viniciusccarvalho commented on #2111
Hi @elefeint I decided to move away from using the admin sdk. However the firebase token validation does not seem to use the jwks format. Instead the public keys need to be retrieved from here: https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com.

Working on it now, should have a PR by early next week.

[2020-01-17 16:41] sethvargo commented on #2115
Hi @meltsufin - let us (Secret Manager) know if we can help. I just published some Java samples at: https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/secretmanager

[2020-01-17 16:45] eddumelendez commented on #2115
Hi, I will be glad to help too :)

[2020-01-17 18:14] meltsufin commented on #2115
This is great! Thanks for volunteering to help. We can definitely benefit from some suggestions and code reviews from the community.
cc/ @dzou

[2020-01-17 18:38] dzou commented on #2115
Hey thanks for the interest and support all, I'll be starting work on this shortly and keep you updated on progress along the way.

[2020-01-17 20:48] saturnism opened #2125 "Update Spring Cloud GCP Home Page"
**Describe the bug**
https://spring.io/projects/spring-cloud-gcp can use an update to document the newest modules.

**Sample**
E.g., Firestore is missing.

[2020-01-18 17:29] s13o opened #2127 "The method SimpleSpannerRepository#existsById fetches all fields and interleaved child objects"
The method SimpleSpannerRepository#existsById could be implemented by a simple query like `SELECT EXISTS (SELECT 1 FROM %s WHERE %s)` instead of fetching of too many fields and interleaved objects from the database.

[2020-01-21 21:00] suztomo commented on #2109
Update. I'll figure out this compilation failure:

[code]

[2020-01-21 21:14] elefeint commented on #2109
This has [changed](https://github.com/grpc/grpc-java/commit/7af2373a0316c40b79b819978aa8dd113e3f3ae4) in gRPC 1.26.

[2020-01-21 21:36] suztomo commented on #2109
@elefeint Thank you!

[2020-01-22 00:29] elefeint opened #2129 "Spanner integration test never cleans up its tables"
`initializeAttempts` is always positive, so teardown never runs.

Ideal state for this test is probably to do a static setup/teardown, store prefix as a static variable, and then do instance setup/teardown on only the table prefix.

https://github.com/spring-cloud/spring-cloud-gcp/blob/72d746486fedd19b16ead3cdbbcfb48c3e90c3a9/spring-cloud-gcp-data-spanner/src/test/java/org/springframework/cloud/gc

[2020-01-22 21:46] suztomo commented on #2109
This `start()` never returns in `org.springframework.cloud.gcp.autoconfigure.datastore.it.GcpDatastoreEmulatorIntegrationTests`...

![image](https://user-images.githubusercontent.com/28604/72937038-5f9eea80-3d36-11ea-858a-fa08c500d80f.png)

@elefeint Do you happen to know how to debug this problem? https://github.com/suztomo/spring-cloud-gcp/tree/libraries-bom ?

[2020-01-22 21:52] suztomo commented on #2109
This seems not specific to the change.

[2020-01-22 22:02] suztomo commented on #2109
The tests pass in my Linux.

[2020-01-23 17:48] meltsufin commented on #2115
Question for those of you asking for this support:
Are you looking to use HashiCorp’s Vault with GCP Secrets Manager as a backend or do you just need a bootstrap property source that will load secrets into the `Environment`?

[2020-01-23 17:51] #2109 closed

[2020-01-23 23:14] rohanliston commented on #2115
@meltsufin We would prefer to use GCP Secret Manager as a bootstrap property source directly.

[2020-01-24 16:11] s13o commented on #2110
I also have a PR for it, ready for 80-90%, remained to update tests and plan future improvements - we need an option to manage sql-where for "interleaved".
It will be nice to coordinate our efforts, for me, it is a billable time in DaVita

[2020-01-24 16:23] dmitry-s commented on #2110
@s13o
My pr is done, minus the docs update.
Please let us know if you are working on something, so we can reduce efforts duplication, and I will notify you when I'm working on issues created by you.

As for future improvements, could you create an issue for that so we can discuss?

Thanks

[2020-01-24 16:30] meltsufin commented on #2110
@s13o We definitely need to communicate better going forward to avoid duplicating effort with community contributors.
We appreciate your involvement and would be interested in you helping us review the PR that @dmitry-s put up.

[2020-01-24 16:35] dmitry-s commented on #2127
@s13o I'm working on this issue

[2020-01-24 17:17] Flexy-recruitment-backend opened #2133 "Projection and Slice return type"
Hello,
I am trying to use projection in order to query an entity in the datastore. I don't manage to use Slice as return type with my projection. The same thing works fine with a Page return type :

My entity is called "Customer" and have a lot of fields.
I have created a projection interface called CustomerProjection  :

`public interface CustomerProjection {
    String getLastName();
}`

And in

[2020-01-24 17:23] mickeyadlg87 opened #2134 "How to set attributes on pubsub message using gcp cloud project"
Hi,

I created a producer application to send messages to a topic on pubsub, I followed the outbound channel adapter approach you show here https://spring.io/guides/gs/messaging-gcp-pubsub/ and it works fine, but I'm not sure how to set attributes and not only the payload on the data message element.

`
    @MessagingGateway(defaultRequestChannel = "pubsubOutputChannel")
    public interface Pubsu

[2020-01-24 17:39] s13o commented on #2127
I'm too. I did as You recommend
pls take a look on https://github.com/spring-cloud/spring-cloud-gcp/pull/2135

[2020-01-24 17:46] s13o commented on #2110
I have no idea how to do it better, but the comments are not the best way. Can you suggest me what to do?
I'd seen the PR (but nit detailed yet) of Dmitry-s about this issue - we even used similar names in our branches :)

[2020-01-24 18:33] dmitry-s commented on #2133
It looks like a bug, I'll take a look.

[2020-01-24 19:34] meltsufin commented on #2134
@mickeyadlg87 Try switching the gateway to `Message<string>`.

[code]

[code]

[2020-01-24 20:26] elefeint commented on #2134
Spring Integration gives you a lot of options -- @meltsufin 's approach give you the most flexibility over the message you are sending, but there are also some shortcuts if you want to add only a single header, or a known [map of headers](https://docs.spring.io/spring-integration/reference/html/gateway.html#gateway-mapping).

[This example](https://github.com/elefeint/examples/tree/master/pubsub-w

[2020-01-24 21:08] dmitry-s commented on #2127
@s13o I decided to take a different approach. I'm using a read call, as it was done originally; but instead of retrieving all the fields, I only fetch one.
I understand that you put a lot of work in #2135, but I thought you were not going to work on that PR when you closed it.

Going forward we will coordinate our efforts!

[2020-01-24 21:30] s13o commented on #2127
well, I did a force-push for a batter commit history and it closed the PR
Basically I'd planned to resolve the #2127 and then #2132 because I thought they depend on each other in a part of the building of sql-where for KeySet.
So, will see after the merge - probably I'll be able to suggest some improvements

[2020-01-25 08:51] Flexy-recruitment-backend opened #2137 "Performance fetch 4000 entities"
Hello,
We have to fetch a great number of entities of one kind in the datastore. Actually we have performance problem because it seems that a query which return 4000 entites take about between 4 and 5 seconds to return the list of java objects. Moreover we could have to request more entities (max 35 000 entites)
Here is the repository which execute the request :

[code]

Is it a normal time? or is

[2020-01-25 09:26] wilkinsona opened #2138 "Dependencies bom manages dependencies that do not exist"
The dependencies bom contains dependency management for `spring-cloud-gcp-trace` but the module no longer exists.

[2020-01-25 09:33] wilkinsona commented on #2138
`spring-cloud-gcp-config` has the same problem.

[2020-01-25 09:35] Flexy-recruitment-backend opened #2139 "Projection with @Query"
I am trying to use projection via a GQL request and the annotation @Query to request entities in the datastore. Unfortunately I get an error and I don't understand what is wrong in my request :

Here is my entity class :

[code]
Here is my projection class :
[code]
Here is my repository :

[code]
When the request is played, I obtain a nullPointerException. I have thought that there was something w

[2020-01-25 14:09] Chefkuneed commented on #2139
*Best Regard,*

*Shamsul Anuar Bin Ishak*

Pada Sab, 25 Jan 2020 pada 5:36 PTG Flexy <notifications@github.com>
menulis:

[2020-01-25 15:58] mikkelbd commented on #2115
Same use case here. Would be nice to use GCP Secret Manager directly to load secrets into the `Environment` without having to setup and manage Vault.

[2020-01-27 03:03] dzou commented on #2115
Thanks for flagging this, we'll be prioritizing this work in the next couple of weeks; will get this out shortly.

[2020-01-27 14:47] meltsufin commented on #2137
This may be normal, but we want to make sure that our Spring Data Datastore code is not adding additional overhead. So, it would be interesting to see how this compares to fetching the same 4000 entities directly through the Datastore Client Library.

cc/ @dmitry-s

[2020-01-27 14:54] meltsufin commented on #2138
You're absolutely right about the `spring-cloud-gcp-trace` one because it's a module we removed at some point. However, `spring-cloud-gcp-config` and `spring-cloud-gcp-starter-config` are modules that we do not promote to Maven Central because we consider them as "beta", but we do want them to be published to snapshots and milestones.
I guess we just have to use the `central` profile for that.

[2020-01-27 15:03] meltsufin commented on #2138
Actually, I'm not sure how we could use a Maven profile for this. I guess, we'll just have to tell the users of `spring-cloud-gcp-starter-config` to specify the version.
Oh, and `spring-cloud-gcp-config` doesn't exist.

[2020-01-27 15:56] dmitry-s commented on #2137
@Flexy-recruitment-backend
could you clarify what kind of objects you are working with? Is every individual record large in size? Do they have related entities/descendants?

[2020-01-27 16:03] dzou commented on #2139
Hey thanks for the report; I'll help you take a look this one and #2133 which may be related. Will get back to you shortly...

[2020-01-27 16:44] mickeyadlg87 commented on #2134
Thanks a lot, it works pretty well, now I'm using `@Headers` tag to pass attributes in the message :D

[2020-01-27 16:44] #2134 closed

[2020-01-27 19:50] #2138 closed

[2020-01-27 21:32] dmitry-s opened #2142 "class com.google.auth.oauth2.UserCredentials cannot be cast to class com.google.auth.oauth2.ServiceAccountCredentials"
**Describe the bug**
IT tests fail with
[code]

**Sample**
[code]

The issue  is a bug in `google-cloud-core:1.92.0` that is pulled from `com.google.cloud libraries-bom`. The bug was fixed in `1.92.2`.

https://github.com/googleapis/java-cloud-bom/issues/271

[2020-01-27 21:56] meltsufin commented on #2142
`google-cloud-bom` doesn't seem to be up to date with the latest releases, and consequently the `libraries-bom` as well.

cc/ @elharo @suztomo @saturnism

[2020-01-27 22:47] suztomo commented on #2142
Memo: https://github.com/googleapis/java-core/issues/123 is the problem fixed in google-cloud-core:1.92.2.

[2020-01-28 08:36] Flexy-recruitment-backend commented on #2137
Hello, here is the code of the entity.
As you can see, we have several "descendants" but I have linked them with the Key type in order to avoid that Spring plays two queries each time I want to fetch a Customer

[code]

[2020-01-28 10:51] Flexy-recruitment-backend commented on #2137
Hello,
We have made a test with the native cloud datastore API and we have about the same performance time. I think the overhead added by Spring data is limited.
However do you have any idea to optimize this type of request?
Regards
CG

[2020-01-28 14:48] meltsufin commented on #2137
@Flexy-recruitment-backend thanks for the clarification!

There are some general Datastore performance tips [here](https://cloud.google.com/datastore/docs/best-practices), but I would recommend contacting GCP Support regarding the performance question. They should be able to take a close look at your Datastore configuration and give advice on query performance.

cc/ @eddavisson

[2020-01-28 14:55] meltsufin commented on #2142
@suztomo how can we ensure that we get such releases quickly into the `libraries-bom`?

[2020-01-28 15:26] elharo commented on #2142
We need much faster code reviews and releases. Currently it can take weeks
to push a deep fix through the chain. I have fixes for this sort of thing
that have been waiting 7+ days for someone to look at. And that's before we
even think about releasing an artifact.

On Tue, Jan 28, 2020 at 9:55 AM Mike Eltsufin <notifications@github.com>
wrote:

--
Elliotte Rusty Harold
elharo@macfaq.com

[2020-01-28 16:41] dmitry-s opened #2143 "DatastoreTemplate.saveAll should not cast Iterable to List"
**Describe the bug**
`DatastoreTemplate.saveAll(Iterable<T> entities, Key... ancestors)` converts entities to `List`
which leads to type cast exception if it's not a list.

**Sample**
[code]

[2020-01-28 18:40] Flexy-recruitment-backend opened #2144 "@Transactional don't work"
Hello,
I am trying to use transaction in a service class with spring cloud gcp and the datastore. It seems that transaction is "understood" by Spring-data because I constat that we pass in the the DatastoreTemplateManager doRollback method when a runtimeException is thrown in my code. Unfortunately, the entity doesn't go back to its old state (the one before the transaction) after the rollback..

[2020-01-28 19:29] dzou opened #2145 "Datastore Projections should restrict query to contain only the necessary fields"
When a user creates a Datastore query using a Projection object, the underlying query should contain only the necessary fields to satisfy the projection.

I think this should be done using the Projection Query: https://cloud.google.com/datastore/docs/concepts/queries#projection_queries

First determine if this being done right now (I think not..)? If not, we can investigate if this is possible.

[2020-01-28 20:01] dmitry-s commented on #2137
I ran my own tests and got identical results. There is very small difference between client and spring-data-gcp-data-datastore.
One thing to try is using projections if you don't need all the fields, but currently projections fetch all fields anyway (we are working to resolve the issue).

[2020-01-28 20:36] dmitry-s commented on #2144
Spring uses AOP internally for transactions handling. I suspect that your pointcut might be affecting this behavior.
Could you try your method without the pointcut?

[2020-01-28 22:19] #2127 closed

[2020-01-29 08:12] Flexy-recruitment-backend commented on #2144
I have tried the transaction without the poincut and the problem is still present.
In order to make the test, I have to keep the DatastoreNamespaceProvider. Maybe, the behavior could be linked to this settings?

[2020-01-29 14:08] elefeint opened #2147 "Add @ConditionalOnProperty to GcpContextAutoConfiguration"
**Is your feature request related to a problem? Please describe.**

@ssoydan-strands reported not being able to fully turn off pubsub starter on Gitter

I want to disable/enable pubsub with a property (not with a profile) but even when I think it is disabled, I see "failed to detect whether we are running on Google Compute Engine" info log.
I tried different properties like below but none of them

[2020-01-29 14:43] meltsufin commented on #2147
Have you considered using the [built-in mechanism in Spring Boot to disable specific auto-configuration classes](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#using-boot-disabling-specific-auto-configuration)?

[code]
or in `application.properties`:
[code]

[2020-01-29 14:45] elefeint commented on #2147
We don't make our users exclude on per-class basis in our scenarios and instead provide a documented property; why is this different?

[2020-01-29 14:55] meltsufin commented on #2147
Yes.
Let's add `spring.cloud.gcp.core.enabled`.

[2020-01-29 15:02] ssoydan-strands commented on #2147
@elefeint Thanks for the feedback and creating the issue. The second workaround only clears the "Failed to detect whether we are running on Google Compute Engine" log but I can see some more logs like below. I would like to disable them all with a property.

WARN  (1)main [DefaultCredentialsProvider.java:128]: No core credentials are set. Service-specific credentials (e.g., spring.cloud.gcp.pubsub

[2020-01-29 15:04] ssoydan-strands commented on #2147
@meltsufin Thank you also for the feedback. The workaround works with the property below but it is obvious that there should be a specific property which disables them all.

spring.autoconfigure.exclude=org.springframework.cloud.gcp.autoconfigure.core.GcpContextAutoConfiguration

[2020-01-29 16:03] #2133 closed

[2020-01-29 17:05] JBodkin-LH opened #2148 "Disabling auto-configuration of instrumenting executor beans reduces visibility"
**Describe the bug**
The documentation for 1.2.1 recommends to disable `spring.sleuth.scheduled.enabled=false` to prevent many traces appearing with the name `async`. This is problematic for applications that use executors under the hood, which can be commonly used in reactive programming when running IO requests or running asynchronous code.

The workaround to exclude the thread pool bean created

[2020-01-29 18:14] elefeint commented on #2148
I opened #2016 a couple of months back to completely hide the internal scheduler pool from the spring context.
This might be a good first issue, actually, since #2013 provides an example of hiding a scheduler in another one of our autoconfigurations.

Would you be interested in contributing the code?

[2020-01-29 18:26] Flexy-recruitment-backend commented on #2145
Thanks for the merge!! how can I test the change without waiting for a release?

[2020-01-29 18:53] dzou commented on #2145
No problem -

Just add the Spring Snapshots repo to your POM:

[code]

Then you can depend on the `1.3.0.BUILD-SNAPSHOT` version of this project.

[2020-01-29 22:14] Flexy-recruitment-backend commented on #2133
I confirm that the correction of the issue #2146 solve the problem!
Thank you.
Regards
CG

[2020-01-29 22:27] #2142 closed

[2020-01-30 08:41] Flexy-recruitment-backend commented on #2139
The #2133 is another issue I have posted myself. The #2133 is now fixed but the solution doesn't fix the present issue.

[2020-01-30 15:18] elefeint opened #2151 "Document core properties"
`spring.cloud.gcp.credentials.location`, `spring.cloud.gcp.credentials.encoded-key`, `spring.cloud.gcp.project-id`, and `spring.cloud.gcp.credentials.scopes`

Follow up to #2150

[2020-01-30 15:35] dzou commented on #2139
Gotcha, this one we're still working on too; will followup when we figure out the solution.

[2020-01-30 15:51] #2147 closed

[2020-01-30 16:13] #2110 closed

[2020-01-30 20:02] #2143 closed

[2020-01-31 04:38] chaudharydeepak commented on #2151
Hi @elefeint , if this issue is still open, I will be more then happy to help out. Let me know. Thank you.

[2020-01-31 10:31] ErolPeel opened #2155 "Spring allows declaration of invalid method with keyword "contains" in Firestore repository"
This is our Firestore repository:

[code]

Our Firestore document looks like this:
[code]

However, when we call the method "findAllByEventTypesContainsAndOrgIdsContains", we get this error:

Why doesn't Spring throw an exception on startup when a method is declared that can't be executed?

[2020-01-31 14:38] elefeint commented on #2151
Go ahead, thank you!

[2020-01-31 15:44] dzou commented on #2139
Hey @Flexy-recruitment-backend - Thanks for your patience on this. I submitted #2152 which I believe should fix the problem. You should be able to test this out in the snapshot build shortly; perhaps in a day or so when the snapshot build is refreshed.

[2020-01-31 15:51] dmitry-s commented on #2155
We check that when the method is executed, you can see the exception we throw:

[code]

I'm not sure if it's possible to  check that on startup. @mp911de any ideas how that could be implemented?

Thanks

[2020-01-31 16:14] s13o commented on #2110
Nice job!
When we can have a release of it?

[2020-01-31 17:02] dmitry-s commented on #2110
The next Spring Cloud release is Hoxton.SR2 and it is scheduled for February 28, 2020.
See [this page](https://github.com/spring-cloud/spring-cloud-release/milestones) for updates.

Currently you should be able to use a `1.3.0.BUILD-SNAPSHOT` release which includes these changes. You'll have to add this to your pom file:
[code]
Let us know if you have any questions.

Thanks

[2020-01-31 17:07] mp911de commented on #2155
We currently have no way to discover whether a query keyword is supported by a store or not. The `PartTreeQuery` creator is the component that decides over the implementation. Invoking the query creator requires actual arguments. What we check is whether the keyword matches a known keyword from `PartTree`. You could perform a check yourself when constructing `PartTreeFirestoreQuery` by iterating o

[2020-01-31 17:16] dmitry-s commented on #2155
Thanks @mp911de !

I'll look into this approach.

[2020-01-31 18:49] #2148 closed

[2020-01-31 19:43] mickeyadlg87 opened #2162 "Support for Firestore emulator"
Hello guys,

I just want to know if your spring-cloud-gcp-starter-firestore dependency supports integration with Firestore emulator https://cloud.google.com/sdk/gcloud/reference/beta/emulators/firestore/ , because I was checking your documentation and I wasnt able to find some property to notify application that I need to use firestore emulator

Thanks

[2020-01-31 19:48] meltsufin commented on #2162
I believe we only have support for it in Spring Data Datastore.
@dmitry-s Can it be added for Firestore as well?

[2020-01-31 20:23] meltsufin commented on #2162
Duplicate of #1956.

[2020-01-31 20:23] #2162 closed

[2020-01-31 21:48] s13o opened #2165 "@Interleaved(lazy=false) is still lazy for SqlSpannerQuery"
There is one more place where `@Interleaved(lazy=false)` still not supported even after the merge of  #2110. The method `SqlSpannerQuery#executeReadSql` will execute a raw SQL without injection of `ARRAY (SELECT AS STRUCT ...)` for Interleaved lists. But we can do it more or less safely in a method `SpannerStatementQueryExecutor.applySortingPagingQueryOptions` line 151 by replacing the
[code]
with

[2020-02-02 10:23] Flexy-recruitment-backend commented on #2139
Hello, is the correction merged ? Could you confirm that the snapshot is
updated dithyrambique the changes?
Regards
CG

Le ven. 31 janv. 2020 à 16:44, Daniel Zou <notifications@github.com> a
écrit :

--

[image: flexy] <https://www.flexy.co/>

Godefroy Cédric

*Engineering Manager*
cedric.godefroy@flexy.co | 01 79 72 55 05 <0179725505>
10 rue du Faubourg Montmartre, 75009 Paris

[image: Facebook]

[2020-02-03 15:47] dzou commented on #2139
@Flexy-recruitment-backend - Yup, the change should be merged in. The latest snapshot was refreshed February 1st: https://repo.spring.io/libs-snapshot-local/org/springframework/cloud/spring-cloud-gcp-data-datastore/1.3.0.BUILD-SNAPSHOT/

[2020-02-03 15:58] dzou commented on #2115
Hey guys, I have sent out PR #2168 which does the initial work of loading secrets from secret manager into the environment at bootstrap time.

At present, this implementation will load the _latest version_ of all the secrets in your GCP project in the environment.

Are there additional features that would interest you? I.e:
- Do you want to be able to specify by secret ID which secrets you want to

[2020-02-03 16:10] dzou commented on #2139
Reopening because it does not appear to solve the original problem: https://github.com/spring-cloud/spring-cloud-gcp/pull/2152#issuecomment-581426469

[2020-02-03 16:37] dmitry-s commented on #2165
`@Query` annotation is intended to be used with custom projection queries. I don't think we want to modify a user provided query, because users might want to retrieve a limited set of fields for performance reasons.

@s13o could you clarify your use case? Is it possible to use name-based query method instead of `@Query` annotated one?

Thanks

[2020-02-03 16:50] #2155 closed

[2020-02-03 17:51] s13o commented on #2165
1. We do modify the SQL provided by the `@Query`. Please, take a look on `SqlSpannerQuery#executeReadSql` line 245.
2. We can at least add a "fetchEagerInterleaved" option into the `@Query`. But, as for me, more natural will be to have `skipInterleaved` with default value `true` to skip fetching any Interleaved at all. But if `skipnterleaved=false` we should fetch them as expected from the definit

[2020-02-03 18:50] dmitry-s commented on #2165
`eagerInterleaved` will be retrieved lazily in that case. You can see that here https://github.com/spring-cloud/spring-cloud-gcp/blob/9ce0a8094825c4cccc7433ab9aed4d942d594058/spring-cloud-gcp-data-spanner/src/main/java/org/springframework/cloud/gcp/data/spanner/core/SpannerTemplate.java#L588

If you want to give it a try, feel free to propose a PR. By default we would prefer to have the eager fetc

[2020-02-03 19:14] Alos opened #2169 "Issues with Datastore deleteBy methods"
**Describe the bug**
Using Spring Cloud GCP 1.2.1.RELEASE the following method is not implemented:

[code]

Using this method produces the following error:
[code]

In addition:

[code]

Works but it only deletes one entity from datastore. The following correctly removes all the entities that match the query:

[code]
The returned `int` contains the count of the entities removed. I'm not quite sure

[2020-02-03 19:53] dzou commented on #2139
Hey @Flexy-recruitment-backend, I dug into it and found the underlying problem.

The issue is that your query only returns the lastNames of the entities and not other information (like `isActive`).

[code]

However, the projection query still will instantiate the full `Customer` object, but it will not populate the fields that are not provided by the projection query. The consequence is that the v

[2020-02-03 19:55] #2030 closed

[2020-02-03 19:57] dzou commented on #2145
So the solution of this should also allow users to not have to create object-only constructors for their entities; see this: https://github.com/spring-cloud/spring-cloud-gcp/issues/2139#issuecomment-581588585

[2020-02-03 20:03] dmitry-s commented on #2145
That isn't so. Object-only constructors will be required anyway.

[2020-02-03 20:13] dzou commented on #2145
@dmitry-s - I don't quite agree. I think it's possible to not have object-only constructors if we simply convert `nulls` to sensible values for primitives (like `false`, `-1`, etc.). These placeholder values will not matter since the projection proxy prevents users from accessing them.

[2020-02-03 21:35] dmitry-s commented on #2145
@dzou what I meant is it is not related to  this issue. This issue is about querying only the fields used in the projection interface.

[2020-02-03 21:36] s13o commented on #2165
I'm not sure that I understood right why `propertyValue == null` means that the property was not loaded - what if the field of the bean has default value with an empty list? But I'll try.

[2020-02-03 22:38] dmitry-s commented on #2145
Since Datastore projection queries require all properties specified in the projection to be included in an index, this feature is not backwards compatible.
We would have to introduce some way to switch it on and off.

[2020-02-04 04:27] rohanliston commented on #2115
@dzou I can't think of an instance where we would want to load different versions of the same secret. Others may have a use case for it, though.

My assumption is that updating a secret in GCP would require a restart of the application for the change to take effect locally. Is that correct? Is there any way to detect changes and reload without restarting? It's not an issue if not, I'm just curious

[2020-02-04 14:54] meltsufin commented on #2145
As you can see we downgraded the priority of this. If we ever decide to do this, we will want to make it a configurable option because setting up indexes for each projection could be quite unfriendly to the users.

[2020-02-04 15:16] meltsufin commented on #2115
Typically that would be the case, but Spring supports refreshing without restart too with `@RefreshScope`. See: https://spring.io/guides/gs/centralized-configuration/. @dzou This is something we should test with our implementation.
Alternatively, we're thinking of providing a `SecretManagerTemplate.getSecret()` which you can then use to directly retrieve secret values at any time and get the lates

[2020-02-04 15:44] dzou commented on #2139
@Flexy-recruitment-backend - Can you create a new Github issue to describe further problems/feature requests you have? This way we can triage your issues and prioritize your issues and feature requests better; right now I see we are having discussions in multiple places which is hard to keep organized.

I think for the scope of the issue defined here it is resolved; please post a followup if you w

[2020-02-04 15:44] #2139 closed

[2020-02-04 15:53] Flexy-recruitment-backend opened #2170 "Projection with the @query"
Hello,
I have managed to use Projection with the @query with the last snapshot but I think there still are some issues :

I have to pass all my boolean fields in my entity from boolean type to Boolean. If I don't do that I have the error I have send in my last post.
I have to use a query which return Page and not Slice. If I don't do that, I have the following error :
2020-02-04 16:24:46,378 ERROR

[2020-02-04 16:20] dmitry-s opened #2171 "@Query projection with Slice issues"
From #2170:

I have to use a query which return Page and not Slice. If I don't do that, I have the following error :
[code]

[2020-02-04 16:21] dmitry-s opened #2172 "Primitives with projection issues"
From #2170:

I have to pass all my boolean fields in my entity from boolean type to Boolean. If I don't do that I have the error I have send in my last post.

[2020-02-04 16:42] meltsufin commented on #2170
Closing in favor of #2171 and #2172.

[2020-02-04 16:42] #2170 closed

[2020-02-05 09:11] #2031 closed

[2020-02-05 12:49] Flexy-recruitment-backend commented on #2144
Do you have any news on this subject?

[2020-02-05 13:08] elefeint commented on #2031
@veereshwaran I believe this issue was resolved in #1807.

You can use `spring.cloud.gcp.pubsub.keepAliveIntervalMinutes` property to control the frequency of the keepalive ping.

[2020-02-05 14:08] veereshwaran commented on #2031
Hi @elefeint

Previously I used spring-cloud-gcp-starter-pubsub version 1.1.0.RELEASE

Now I upgraded pubsub version to 1.2.1.RELEASE

In the latest version, It will wait 5 mins to attempt reconnect after connection broken.

Now I got a clear answer why it take 5 mins to re-establish connection, after seeing the PR #1807.

For now 5 mins interval time enough.

Thanks for your update

[2020-02-05 15:23] don-mayur opened #2175 "Reactive support for RxJava/Spring Reactor with Google Cloud Storage"
Is there any way to use this library with project reactor/ RxJava or any implementation which we can use to make it reactive?

For firestore [this Github](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/docs/src/main/asciidoc/firestore.adoc) doc provides details about reactive firestore

**Describe the solution you'd like**
Use google-cloud-storage with reactive frameworks like spring

[2020-02-05 15:30] elefeint commented on #2175
Could you describe your use-case a bit more? Is it to stream files with Spring Integration? Or to consume a single file's contents as a reactive stream?

[2020-02-05 15:33] don-mayur commented on #2175
Its about consuming single file or may be iterate through bucket, also adding new objects to the bucket which is supported by spring webflux. In the particular use case, we are trying to expose an endpoint to insert some files into GCS in a reactive manner.

[2020-02-05 15:34] don-mayur commented on #2175
But not looking for spring integration support for this in current use case

[2020-02-05 16:53] dmitry-s commented on #2144
Hi @Flexy-recruitment-backend,

we have a test for `@Transactional`  in the `DatastoreIntegrationTests` class and it works as expected. Could you try and see if it works for you?

Thanks

[2020-02-05 16:55] dzou opened #2176 "Secret Manager Support Tasks Tracking"
This thread will be used to track the tasks/feature requests associated with https://github.com/spring-cloud/spring-cloud-gcp/issues/2115 .

The tasks include:
- [x] Add Refdocs
- [x] Add Sample App
- [x] Enable Secret Manager on travis.
- [x] Verify that `@RefreshScope` works --- This doesn't work...
- [x] Add Secret Manager Template (if need is present)
- [x] Split code into separate module from

[2020-02-05 22:17] #2169 closed

[2020-02-06 12:23] bbzg commented on #1761
Does anyone know the status of this? Is it still not provided out of the box? Thanks.

[2020-02-06 15:23] meltsufin commented on #1761
I haven't tired it, but there's [Stackdriver integration in the Micrometer project](https://github.com/micrometer-metrics/micrometer/tree/master/implementations/micrometer-registry-stackdriver/src/main/java/io/micrometer/stackdriver).

[2020-02-06 20:49] elefeint opened #2178 "Allow `projectId` override in Firebase authentication"
The new Firebase authentication should allow users to override the default `projectId`, similarly to [Pub/Sub](https://github.com/spring-cloud/spring-cloud-gcp/blob/8d8adbe6a1fa32a17058ad9e45f22e3bb15c7018/spring-cloud-gcp-autoconfigure/src/main/java/org/springframework/cloud/gcp/autoconfigure/pubsub/GcpPubSubProperties.java#L50), since it's possible to need Firebase in one project and, say, Datas

[2020-02-06 21:09] elefeint opened #2179 "Reduce code duplication in FirebaseJwtTokenDecoderTests"
Follow up to #2157.

[2020-02-06 21:11] #2111 closed

[2020-02-06 22:00] elefeint opened #2181 "Add integration test for the FirebaseAuth sample"
Follow up to #2111, #2157.

We can probably reuse the firestore CI GCP project (we cannot reuse the main CI because that has datastore).

[2020-02-06 22:02] elefeint opened #2182 "Add refdoc for Firebase authentication"
Follow up to #2111, #2157.

Some of the contents can be derived from README on the sample app.

[2020-02-07 22:06] #2171 closed

[2020-02-08 11:27] bbzg commented on #1761
Yes I am using those, but I can't get them to "autowire" by just having them on the class path like other spring-cloud-gcp things. Would be nice if they could be detected and autowired. Unless someone already did that and I just missed some dependency...

[2020-02-10 15:20] meltsufin commented on #1761
We certainly don't have a Spring Boot Starter for it yet.
Contributions are welcomed!

[2020-02-10 15:52] dmitry-s opened #2189 "Add tests and documentation for child entities collection in Firestore"
Currently it is not obvious if we support that feature. We should clarify that we do in docs. Also, we should have tests and/or samples.

[2020-02-10 15:59] elefeint commented on #2175
@meltsufin Did you explore reactive APIs for Storage when you did the initial research?

[2020-02-10 16:01] meltsufin commented on #2175
Nope.

[2020-02-13 23:06] dzou commented on #2115
Hey all, if you want to start experimenting with this, you can try the feature of using secret manager as a bootstrap property source on the `1.3.0.BUILD-SNAPSHOT`.

Here is a sample we wrote: https://github.com/spring-cloud/spring-cloud-gcp/tree/master/spring-cloud-gcp-samples/spring-cloud-gcp-secretmanager-sample

Let us know if there's any adjustments or features you think make sense. Tracking

[2020-02-14 16:06] meltsufin commented on #2144
Please re-open if you're still having this issue.

[2020-02-14 16:06] #2144 closed

[2020-02-14 17:37] #2189 closed

[2020-02-14 20:44] hari79 opened #2197 "PCF Service Binding for GCP Spanner is not working with Hoxton.RELEASE"
**Describe the bug**
we have a spring cloud app which is deployed on GCP thru PCF
our app has a service binding in pcf where GCP spanner instance is automatically bound by PCF in startup

the binding works on Greenwich.SR3
but not on org.springframework.cloud:spring-cloud-dependencies:Hoxton.RELEASE

[2020-02-14 23:27] hari79 commented on #2197
Caused by: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.springframework.cloud.gcp.autoconfigure.spanner.GcpSpannerAutoConfiguration$CoreSpannerAutoConfiguration': Bean instantiation via constructor failed; nested exception is org.springframework.beans.BeanInstantiationException: Failed to instantiate [org.springframework.cloud.gcp.autoconfigure.spanne

[2020-02-14 23:47] hari79 commented on #2197
just fyi if i replace the spring cloud dependency in my gradle file to Greenwich.SR3 the service binding works

[2020-02-17 11:43] alok-prasad opened #2198 "Firestore Data reactive support for query method naming for nested properties"
I am trying to use query method naming to access nested property and query back the results. But I only get back an empty array. Below is an example of spring data

Person -> Address -> ZipCode

findByNameAndAddress_ZipCode()

findByAddressZipCode()

findByAddress_ZipCode()

I tried this but its not working. Please help.

[2020-02-17 22:15] michael-mcgovern-greater-com-au opened #2199 "PlatformTransactionManager for GCP PubSub"
** Does a PlatformTransactionManager make sense for GCP PubSub? **

We're looking at RabbitMQ versus GCP PubSub.

Spring AMQP/RabbitMQ impl has a PlatformTransactionManager that allows the channel to be transacted and commit/rollbacks to ack/nack the channel.

I'm not aware of GCP Pub Sub having one and so am wondering if a PlatformTransactionManager for GCP PubSub make sense?

Given Pubsub appear

[2020-02-17 23:39] busches opened #2200 "[pubsub] Getting io.grpc.StatusRuntimeException: UNKNOWN: channel closed"
This is likely related to this [https://github.com/istio/istio/issues/19728](issue) but we were able to work around it by downgrading from 1.2.1 to 1.1.2. Unfortunately, on the next deploy to the cluster we're again getting the same issue.

Issue: When Spring starts, we're getting the following stacktrace:

[code]

Versions used: We've never had `org.springframework.cloud:spring-cloud-gcp-starter-

[2020-02-18 14:26] s13o opened #2201 "A `@SpannerAttributeOverride` feature is needed"
A `@SpannerAttributeOverride` (like JPA `@AttributeOverride`)  would be very helpful to use for fields of `@Embedded` type. Today we are were limited with re-use of `@Embedded` and can't do it in many cases because we can't redesign ` @Column` definitions of it.

[2020-02-18 14:41] s13o opened #2202 ""Soft-delete" filter support for Interleaved collections"
The "soft-delete" is a very common practice in relational databases when records just marked "as deleted" but remain in the database for historical or audit needs. The Spanner has`@Interleaved` annotation as good support of one-to-many relation. Unfortunately, there is no way exists to exclude "soft-deleted" children from Interleaved lists at fetching from the database.

It will be nice to add sup

[2020-02-18 15:01] meltsufin commented on #2201
Can you give an example?

[2020-02-18 15:02] s13o opened #2203 "Enhance support of the PENDING_COMMIT_TIMESTAMP"
The support of "PENDING_COMMIT_TIMESTAMP" is enough primitive in SpringData for Spanner today. We actually can't use it with only a Spring Data in a business logic when we need to have several timestamp fields in different objects be consistently filled by an actual commit timestamp value on reaching some business condition. It is possible only with DML statements like `UPDATE Singers SET LastUpda

[2020-02-18 15:12] meltsufin commented on #2200
Would you be able to upgrade to `1.2.1`?

[2020-02-18 15:14] busches commented on #2200
This error occurred with both 1.2.1 and 1.1.2, 1.1.2 was the only version that we were able to get working correctly, but both are back to not working.

[2020-02-18 15:16] s13o commented on #2201
Sure. I have already in my project
[code]
and
[code]
Then I have to declare an abstract class like
[code]
Then I should always extend it like this
[code]
and use it like

[code]

It is overkill, sure, but for me, it still has since I have 10 objects with a structure of `EmbeddableRef`

I want to use a `@SpannerAttributeOverrides` on a field instead of declaring one more java type that used only on

[2020-02-18 15:19] meltsufin commented on #2199
Cloud Pub/Sub does not support the concept of transactions. Once a message is published to a topic, Pub/Sub guarantees at-least-once delivery to the subscribers. On the receiving side, you can think of ack as a commit, and nack as a rollback. Note that acking and nacking can be done in a [batch](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-pubsub/src/main/java/org/

[2020-02-18 15:43] meltsufin commented on #2197
@hari79 Are you adding the Cloud Foundry Spring Boot Starter? This is new in Hoxton:

[code]

[2020-02-18 16:17] elefeint commented on #2200
Just to confirm, 1.1.2 worked some of the time and failed some of the time?

[2020-02-18 16:18] busches commented on #2200
Correct, we had numerous failures with 1.2.1, others had success with 1.1.2, swapped to that and it worked for two deploys, then it started failing, even rolling back the code changes, but it's the only one we have proven to actually work.

[2020-02-18 16:19] meltsufin commented on #2200
So, do you think it's an issue in Spring Cloud GCP or Istio, or somewhere else?
If you think it's Spring Cloud GCP, I would try using the Pub/Sub client library directly.

[2020-02-18 16:26] busches commented on #2200
Given that we had two successful deploys with 1.1.2, likely newer versions of Spring Cloud GCP, but now that we can't get 1.1.2 to work either, maybe it's only Istio and it was a fluke that it worked twice. We can see if we can quickly swap to using the PubSub library otherwise, we have a (bad) workaround for Istio that has worked for another app.

[2020-02-18 16:32] meltsufin commented on #2203
Have you tried passing in epoch for the timestamp? It looks like that's what `Value.COMMIT_TIMESTAMP` is.

[2020-02-18 16:54] s13o commented on #2203
I did my investigation a half of year ago. I know that `SpannerConverters` has been changed since that. Even when the option to use `Value.COMMIT_TIMESTAMP` exists now it is still not clear, undocumented and untrivial I believe.

If I'm wrong (it will be nice btw), please, close this issue and provide a link on the documentation or some example how to use it.

[2020-02-18 16:54] meltsufin commented on #2201
Thanks for a detailed explanation!

But you're still defining the `MeetingStateRef` class. It's just that you are able to extend `EmbeddableRef`.

It looks like a niche use case, but if you already have the code and would like to contribute it to the project, we would be happy to consider it.

[2020-02-18 17:05] s13o commented on #2201
Yes, you right - I would like to create an RP for it sometime later and to link this PR with a description of the problem posted here.

The biggest problem of the code I have that should always extend my "abstract class" when a child has slightly another column names. This caused a lot of extra code.
As I can remember, the problem was in an internal cache of PersistentProperties - the only way to

[2020-02-18 17:11] s13o commented on #2202
Well, I have no worked example for this one but I believe we can do it enough fast after all improvements of eager-interleaved we have gotten.

[2020-02-18 17:16] dmitry-s commented on #2198
@alok-prasad
This feature is currently not supported. Our team needs to discuss if and when we want to implement it.
We will let you know!

cc/ @meltsufin

[2020-02-18 17:22] s13o commented on #2203
I think I can do a PR for it enough fast at least to discuss what I'm talking about but, please, after the merge of #2165 :)

[2020-02-18 19:25] marcosstefani opened #2204 "DataStore - Dynamic Namespace"
I can't use the library even though I consider it fantastic. I definitely need the namespace to be dynamic. My need is to deal with immense volumes of data and the variable namespace helps a lot in that sense. I believe that if we put some kind of field with a specific annotation (like @Id for example, it could be @Namespace) it would facilitate and assist in the development of those who depend on

[2020-02-18 19:30] meltsufin commented on #2204
@marcosstefani Are you accessing entities from different namespaces in the same project? Notice that we do allow the default namespace to be changed via a property or the `DatastoreNamespaceProvider`.

[2020-02-18 19:52] dmitry-s opened #2205 "Spanner - document eager fetching with @Query annotated methods"
Follow up for #2174

[2020-02-18 22:15] hari79 commented on #2197
thank you @meltsufin .
it works now

[2020-02-18 22:15] #2197 closed

[2020-02-18 22:19] michael-mcgovern-greater-com-au commented on #2199
Thanks meltsufin

I understand it is not transactional as such but doing Spring transaction synchronisation would allow ack/nack in commit/rollback processing such that there would only a small chance that a database update commits and a message is not published or consumed.

Does the AcknowledgeablePubsubMessage allow for ack/nack of published messages in commit/rollback processing?

Does the Ack

[2020-02-18 22:59] dmitry-s commented on #2204
@marcosstefani could you describe your use case in more details?

[2020-02-19 16:00] meltsufin commented on #2199
Once it's published, it's published and can be already processed by a subscriber before you even commit your database transaction.
One thing you can do is delay publishing the message until you commit the db transaction.
Another thing to consider, is to have an "undo" message in case of a rollback.

[2020-02-19 16:55] ramonparisg opened #2206 "GcpCloudSqlAutoConfiguration adds "useSSL=false" for Cloud SQL Postgres but should be "ssl=false""
I have a Spring boot project that should connect with an instance of Cloud SQL with `spring-cloud-gcp-starter-sql-postgresql` in order to avoid the explicit use of an IP in the project.

So far, It connects well but it delayed a lot (around 30 seconds to start) because it tries to connect via SSL socket and after a lot of tries, it connects.

In the logs there is a line that says:
[code]

As long

[2020-02-19 18:50] meltsufin commented on #2206
@ramonparisg If you're trying to set the JDBC URL explicitly, you can provide your own bean of type `CloudSqlJdbcInfoProvider`.

Regarding `ssl=false` vs `useSSL=false`, we have to look into it.

[2020-02-19 18:58] meltsufin commented on #2206
The [cloud-sql-jdbc-socket-factory docs](https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory/blob/7f59cc797cda555644cec6a40a1e245fba6919de/README.md#postgres) don't mention that the Postgres URL requires any SSL setting. I wonder if adding it is interfering with the connection somehow. We probably should just remove this part of the URL for Postgres in our autoconfiguration.
cc/ @

[2020-02-19 20:02] #2165 closed

[2020-02-19 20:41] michael-mcgovern-greater-com-au commented on #2199
@meltsufin thanks - delay publish until commit looks like something for us to try.

[2020-02-19 20:41] #2199 closed

[2020-02-20 01:13] kurtisvg commented on #2206
+1 to removing. I think this is left over from when we thought we needed to to avoid applying SSL twice, but I believe we've confirmed the SSL application is a no-op in the current version of the socket factory.

[2020-02-20 01:20] dmccobra opened #2209 "consumer.concurrency setting is a no-op in cloud streaming with Pub/Sub"
My application is receiving messages using Spring Cloud Stream bound to GCP pubsub. I'm experimenting with the following configuration parameters:

spring.cloud.gcp.pubsub.subscriber.executor-threads
spring.cloud.stream.bindings.<channelName>.consumer.concurrency

The application has 3 different channels, each of which has a consumer group defined. Multiple instances of the application will be run

[2020-02-20 02:06] ramonparisg commented on #2206
@meltsufin Is there a property to explicitly set the JDBC URL for the `CloudSqlJdbcInfoProvider`? It ignores the `spring.datasource.url` property. If not, you have any snippet that creates the bean manually? Thanks in advance!!

[2020-02-20 02:59] ramonparisg commented on #2206
**UPDATE: I created successfully the mentioned bean as below:
[code]

[code]

And the bean creation:
[code]

But is still not working. I debugged deeply and I think the SSL is used in proxy's connection but I don't know how to improve it in order to accelerate the project start. I saw that the log's line `2020-02-19 23:51:11.152  INFO 8645 --- [           main] c.g.cloud.sql.core.CoreSocketFactory

[2020-02-20 13:37] elefeint commented on #2209
You are correct -- we never implemented the stream binder property handling, relying on application-global [Pub/Sub properties](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/docs/src/main/asciidoc/pubsub.adoc#configuration) instead. This is simpler but limits ability to adjust these settings per-consumer.

There is one more Pub/Sub property you may be interested in -- `spring.cloud.

[2020-02-20 14:55] meltsufin commented on #2209
@dmccobra May I ask you, why aren't you using the 1.2.x version of the project?

[2020-02-20 15:11] meltsufin commented on #2206
@ramonparisg It's trying to connect several times because there is a connection pool. See [Spring Boot Database documentation](https://docs.spring.io/spring-boot/docs/current/reference/html/spring-boot-features.html#boot-features-connect-to-production-database).
According to the maintainers of the socket factory, the connection should always be over SSL. So, there might be another reason for why y

[2020-02-20 21:47] dmccobra commented on #2209
@meltsufin 1.1.1 is what we have running in production. We are using Bigtable, spanner and pubsub and if I recall correctly we were having problems with getting all three of these to work correctly when updating everything to latest versions. Another group is responsible for some of these areas - I'm not sure when the last time they tried an updgrade was.

[2020-02-20 21:49] dmccobra commented on #2209
@elefeint Thanks for the insight and for information on `spring.cloud.gcp.pubsub.subscriber.parallel-pull-count`

[2020-02-25 20:31] marcosstefani commented on #2204
My scenario is as follows:

Google Cloud has a limited resource per project. And one of the limitations is the number of composite indexes allowed within a namespace. To address this limitation, we have the alternative of creating a different namespace for each of our clients. So, we have one namespace per customer but they all have the same tables. I did not find in the documentation a more preci

[2020-02-25 21:56] #2203 closed

[2020-02-26 16:09] meltsufin commented on #2204
I think a custom `DatastoreNamespaceProvider` is exactly what you need. You can write is such that it produces a different namespace name depending on the user state. See a similar discussion in #1289.

[2020-02-26 16:27] elefeint opened #2216 "Identify and speed up all unit tests running in > 500ms"
Some of our unit tests seem to interact with environment. I definitely see some stackdriver healthcheck mesages in the logs.

We should eliminate accidental environment interaction and make intentional interaction official by turning those tests into integration tests. But I think it's all accidental.

[2020-02-26 17:05] #2205 closed

[2020-02-29 02:20] busches commented on #2200
The pub/sub library was updated to retry this error: https://github.com/googleapis/java-pubsub/commit/d702a5caa2a1da7a160a449fd91681e38c034afc do we know when the next release will be to see if the retry will help the issue? Currently we don't have a way to capture the error and retry it that we can see.

[2020-02-29 03:54] meltsufin commented on #2200
A release is coming on Monday, but you don't have to wait for it.
Have you tried just forcing the version of Pub/Sub in your application using:
[code]

[2020-02-29 14:22] marcosstefani commented on #2204
obrigado, verei sim

[2020-02-29 14:24] marcosstefani commented on #2204
Thank you, I saw what you sent. Answer it, but it's not automatic. I always need a command to change the namespace. I would really like it to be dynamic, passing through only one property of my class, just as the ID is.

[2020-03-02 15:23] meltsufin commented on #2204
If I understand you correctly, you would like something like this?

[code]

This might be feasible on the write side, but how will we know which namespace to read from when you call something like `userRepository.getAll()`?

The approach I've seen before is to use a thread-local to store the namespace, if all access should be bound to the same namespace depending on which customer is logged in.

Y

[2020-03-03 08:09] mzeijen opened #2229 "`PubSubReactiveFactory.poll` doesn't handle exceptions thrown by the `PubSubSubscriberOperations`"
**Describe the bug**
If you use the `PubSubReactiveFactory` to get a Flux of messages using poll, and the underlying  `SubscriberOperations.pull` fails with an unexpected runtime exception then it doesn't correctly deal with this exception.

With both the NonBlockingUnlimitedDemandPullTask and BlockingLimitedDemandPullTask the exceptions aren't passed upstream to the sink. This means that the flux

[2020-03-03 09:00] mzeijen commented on #2229
I created the #2230 pull request, that fixes the issues where the exception is passed to the Flux sink.

[2020-03-03 13:47] elefeint opened #2231 "Did checkstyle stop enforcing `this.` prefix on class members?"
Make sure checkstyle is not borked in general. If only `this.` enforcement got relaxed, can't say I'll miss it.

[2020-03-03 13:52] #2229 closed

[2020-03-03 15:35] meltsufin commented on #2231
Are you saying checkstyle checks are not working anymore?

[2020-03-03 21:08] hari79 opened #2234 "Issue with binding User Managed Spanner Service in PCF in spring cloud Hoxton"
we have a spring cloud app which is deployed on GCP thru PCF
our app has a service binding in pcf where GCP spanner instance is automatically bound by PCF in startup
- if my spanner service is added from PCF marketplace it works
- but if i create a user managed service out of the same the app does not start up as spanner binding fails

[2020-03-03 21:25] marcosstefani commented on #2204
That is exactly the point. I believe that anyone using this approach will not be able to use getAll in this way, but passing the namespace as a parameter.

[2020-03-03 21:48] meltsufin commented on #2234
What's the difference with the user-managed Spanner service?
What does it look like in `VCAP_SERVICES`?

[2020-03-03 21:52] meltsufin commented on #2204
Which approach are you referring to? The `@namespace` in the entity or the `DatastoreNamespaceProvider`?

[2020-03-03 23:01] hari79 commented on #2234
@meltsufin this is how the vcap_services looks like for the user managed service.a user managed service might point to a shared spanner service that is used across orgs or foundations

{
  "staging_env_json": {},
  "running_env_json": {},
  "system_env_json": {
    "VCAP_SERVICES": {
      "user-provided": [
        {
          "label": "user-provided",
          "name": "supply-spanner-service",

[2020-03-03 23:11] hari79 commented on #2234
this is the error in startup

Cannot resolve reference to bean 'spannerTemplate' while setting bean property 'spannerTemplate'; nested exception is org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'org.springframework.cloud.gcp.autoconfigure.spanner.GcpSpannerAutoConfiguration$CoreSpannerAutoConfiguration': Bean instantiation via constructor failed; nested exc

[2020-03-04 03:30] p595285902 commented on #1956
Wondering if the test in the [sample](https://github.com/spring-cloud/spring-cloud-gcp/tree/master/spring-cloud-gcp-samples/spring-cloud-gcp-data-firestore-sample) is using the real database.

[2020-03-04 03:35] meltsufin commented on #1956
@p595285902 Yes it does. Are you looking for instructions on how to run it with an emulator?

[2020-03-04 03:44] p595285902 opened #2235 "How to write custom query with Spring FirestoreReactiveRepository"
Just wanted to make sure the question opened in [stackoverflow ](https://stackoverflow.com/questions/60518350/how-to-write-custom-query-with-spring-firestorereactiverepository) will get your attention.

[2020-03-04 04:08] p595285902 commented on #1956
Yeah, or something guide on how to run my end to end tests without impacting the real data. Was thinking if I need set the `spring.cloud.gcp.firestore.project-id` to a test only project.

[2020-03-04 15:52] meltsufin commented on #1956
You can definitely set a different project id for the tests, until we add the emulator support/documentation.

[2020-03-04 16:16] meltsufin commented on #2234
I'm not very familiar with the user-provided option in PCF, but looking at our `GcpCloudFoundryEnvironmentPostProcessor` there's no handling for it. In fact, the `VCAP_SERVICES` you pasted doesn't even identify your user-provided service as a Cloud Spanner instance. How can we make the connection that it is a configuration for Spanner?

@artembilan Can you connect us to someone who is more familia

[2020-03-04 16:16] dzou commented on #2074
I think this was resolved by the documentation updates of https://github.com/spring-cloud/spring-cloud-gcp/pull/2103. Let us know if this is still an issue.

[2020-03-04 16:16] #2074 closed

[2020-03-04 16:18] dzou commented on #1764
Completed. https://github.com/spring-cloud/spring-cloud-gcp/pull/1916

[2020-03-04 16:18] #1764 closed

[2020-03-04 17:47] scottfrederick commented on #2234
It looks like detection of GCP services is only done by [checking the `label` field](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-cloudfoundry/src/main/java/org/springframework/cloud/gcp/cloudfoundry/GcpCloudFoundryEnvironmentPostProcessor.java#L127) from `VCAP_SERVICES` . In the case of a user-provided service instance, the `label` is always `user-provided`.

One

[2020-03-04 17:52] elefeint opened #2237 "Remove api-client workaround when cloud libraries bom releases"
The fix for googleapis/google-api-java-client#1487  has already been released in `com.google.api-client:google-api-client-bom:1.30.9` and brought into `com.google.cloud:google-cloud-core-bom:1.93.1`.

When libraries bom upgrades [`google-cloud-core-bom` dependency ](https://github.com/googleapis/java-cloud-bom/blob/8c13533065da1d867407fb9aca598a7ded3a70fb/pom.xml#L184)to `1.93.1` and releases, we

[2020-03-04 18:25] meltsufin commented on #2234
@scottfrederick Thanks a lot for the suggestion! We can definitely implement this support with the tags.

[2020-03-04 19:23] elefeint commented on #962
Underlying issue seems to have been fixed?

[2020-03-04 21:06] meltsufin commented on #962
It looks like it's fixed, but we should probably re-run the test to confirm before closing.

[2020-03-04 22:06] dzou commented on #2234
Hey @hari79 @scottfrederick - I made a PR to process the tags as you suggested: https://github.com/spring-cloud/spring-cloud-gcp/pull/2238

It will now check the PCF name for the google service as a tag for the app and so deploying it with the tag should configure the library correctly now. Let me know if this is a satisfactory solution for you.

[2020-03-05 13:42] dmitry-s commented on #2204
@marcosstefani do you suggest we introduce `userRepository.findAll(String namespace)` method?

[2020-03-05 15:58] #2234 closed

[2020-03-05 16:17] dzou commented on #962
Hmm I don't think they ended up changing anything. The recommendation they provided in the comment https://github.com/googleapis/google-cloud-java/issues/3573#issuecomment-578985763 suggested that we could modify our RPC timeout setting for our `topicAdminClient` to 30 seconds instead of 10 minutes tho which would eventually allow it to return if the credentials file is invalid.

Is this something

[2020-03-05 16:34] meltsufin commented on #962
Do we expose this as a configuration property?

[2020-03-05 17:21] meltsufin opened #2240 "CNF: sun.security.tools.keytool.CertAndKeyGen that RSAKeyGeneratorUtils uses"
`sun.security.tools.keytool.CertAndKeyGen` might have been removed in JDK 11?
This is only affecting `FirebaseJwtTokenDecoderTests`.

cc/ @viniciusccarvalho

[2020-03-05 17:32] dzou commented on #962
No, but it is a bean the user can override: https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-autoconfigure/src/main/java/org/springframework/cloud/gcp/autoconfigure/pubsub/GcpPubSubAutoConfiguration.java#L351

Still tho it doesn't feel quite right to ask the user to override the setting just so they'll time out quicker if they accidentally use an incorrect auth config

[2020-03-05 17:46] dzou commented on #962
Let me dig into the client library code, see if there is something we could change to deal with this better. Otherwise I would recommend maybe setting the timeout from 10 mins to 1 minute for topic admin?

[2020-03-05 17:56] elefeint commented on #962
Can we pre-check if the key is valid? Or will it require resourcemanager permissions or something...

[2020-03-05 18:23] dzou commented on #2235
Hey @p595285902 - will take a look at this for you shortly...

[2020-03-05 19:04] dmitry-s commented on #2235
@p595285902 we don't support `@Query` custom queries because there is no query language in Cloud Firestore. I could recommend using name based query methods:
[code]
See [documentation](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.2.0.RC1/reference/html/#spring-data-reactive-repositories-for-cloud-firestore) for more details.

[2020-03-05 19:34] dzou commented on #962
Posted question in GRPC; hopefully can get a reaction there: https://github.com/grpc/grpc-java/issues/6808

[2020-03-05 19:39] hari79 commented on #2234
@dzou thank you for promptly adding the feature. appreciate it

[2020-03-05 19:40] hari79 commented on #2234
@dzou should the tags look like this for the binding to work?

          "name": "supply-spanner-service",
          "tags": ["supply-spanner-service"],

[2020-03-05 19:50] dzou commented on #2234
@hari79 - No problem.

1. Not quite, you'll need the tags like this:

[code]

2. Since the change is new, you'll have to rely on the snapshot version of our library to begin using the change.

Might take a day for the change to be propagated to the snapshot; it will be available in version `1.2.3.BUILD-SNAPSHOT`.

Also will have to add the following repo to your maven build file:

[code]

[2020-03-05 21:03] dzou opened #2241 "Foreign Key Support in Spanner Spring Data"
Spanner recently introduced support for foreign keys: https://cloud.google.com/spanner/docs/foreign-keys/overview

Research, identify, and implement areas that need to be updated to support this feature in Spring Data Spanner.

[2020-03-05 22:18] p595285902 commented on #2235
Thanks for the quick reply.

Is OR going to come anytime soon?

[2020-03-06 02:49] p595285902 commented on #2235
Thank you.

[2020-03-06 02:49] #2235 closed

[2020-03-06 12:22] ssoydan-strands opened #2242 "PubSubHealthIndicator in 1.2.2.RELEASE fails with versions of Spring Boot below 2.2.0"
**spring-cloud-gcp**: 1.2.2.RELEASE
**spring boot**: 2.1.4.RELEASE (anything below 2.2.0)

With the dependency of "**spring-cloud-gcp-starter-pubsub**", the projects that runs with SpringBoot versions below 2.2.0 (example: 2.1.4) gets errors like below.

I think it is because "**HealthContributorAutoConfiguration**" class used in "**PubSubHealthIndicatorAutoConfiguration**" is added to SpringBoot

[2020-03-06 13:12] baole opened #2243 "Cloud trace monitoring crashed and stopped working"
**Describe the bug**

I integrated `spring-cloud-gcp-starter-trace` in our project for Google Cloud App Engine Flexible/Java. It started working nicely. However, after sometime, it crashed and stopped working.

Here is the crash stacktrace:
[code]

And Trace list on Google Cloud console.

![image](https://user-images.githubusercontent.com/1460168/76086478-6f0b8780-5fb4-11ea-818f-cf09c30515c7.png)

[2020-03-06 14:47] meltsufin commented on #2243
Which version of Spring Cloud GCP are you using?
Do you have any indication that the application as a whole continued running?

cc/ @adriancole

[2020-03-06 14:51] meltsufin commented on #2242
@ssoydan-strands Thanks for the report and the workaround.

The 1.2 release targets Spring Boot version 2.2. So, it's possible that some things won't work with SB 2.1.

cc/ @viniciusccarvalho

[2020-03-06 14:53] baole commented on #2243
Spring Cloud version: 1.2.1.RELEASE
Spring Boot version: 2.2.5.RELEASE

Yes, the application is still running and handling incoming requests,  just no new data is sent to Google Cloud Trace console

[2020-03-06 15:01] meltsufin commented on #2243
You may try `1.2.2.RELEASE`. Can you reproduce the issue consistently?

[2020-03-06 15:11] viniciusccarvalho commented on #2242
It's weird that we are getting an annotation post processor error, but things sometimes will have compatibility issues. I agree with @meltsufin since 1.2 targets Boot 2.2, I would stick with it or use version 1.1 if you can't upgrade to Boot 2.2 for the moment.

I'll check this later on a sample project just to get to the bottom of it, but most likely we should stick to the matching version of the

[2020-03-06 15:19] baole commented on #2243
I just deployed `1.2.2.RELEASE`. I will keep you posted.

[2020-03-06 16:16] elefeint commented on #2243
It should work. Your issue is likely the same as openzipkin/zipkin-gcp#127, which was fixed and pulled in to `1.2.2.RELEASE`.

[2020-03-08 08:21] baole commented on #2243
There are still some exception logs, however, Cloud Trace is working pretty well.

[2020-03-08 08:21] #2243 closed

[2020-03-11 14:37] elefeint opened #2245 "Streamline Pub/Sub ack executors"
1) Replace default Pub/Sub ack executor with same-thread Runnable::run
2) Create a custom executor only if `max-acknowledgement-threads` is specified

Per @mzeijen's [comment](https://github.com/spring-cloud/spring-cloud-gcp/pull/2227#discussion_r390798043).

[2020-03-11 14:42] meltsufin commented on #2245
We can also just remove `max-acknowledgement-threads` because it was never documented anyway.
The main unanswered question is whether direct executor (`Runnable::run`) will cause serious performance issues. If so, it shouldn't be the default.
For reference, the change was originally introduced in #1349.

[2020-03-11 15:04] elefeint opened #2246 "Consider removing the custom `Scheduler` from `PubSubReactiveFactory`"
After #2227 is merged, the scheduler will only be used to trigger `Flux.interval()`, which already uses `Schedulers.parallel()` by default. The chained operations are an async call to Pub/Sub and a flat map, but these are executed on `PubSubSubscriberTemplate.asyncPullExecutor`.

`GcpPubSubReactiveAutoConfiguration` after #2227 would use `Schedulers.parallel()` unless a custom `pubSubReactiveSched

[2020-03-11 15:31] elefeint opened #2247 "Deprecate `returnImmediately` option in PubSub template"
* Deprecate all methods with customizable returnImmediately
* Provide counterpart methods without the extra parameter that assumes `returnImmediately=false`
* Update documentation to note that this field should not be used. Make sure timeout is well documented, too.
* Handle any `DeadlineExceededException` where applicable (`PubSubReactiveFactory`, sample apps), mention in docs.
* Get the paramete

[2020-03-12 15:12] mzeijen opened #2248 "The maxMessage argument in the PubSubTemplate pull method must be a positive number"
The PubSubTemplate pull methods have a nullable maxMessage argument, which allows `null`. However, according to the Google PubSub API docs the pull request maxMessage must always have a positive number (see: https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#pullrequest).
Currently if null is provided via PubSubTemplate then 0 is send to PubSub, which is wrong.

[2020-03-12 17:10] elefeint commented on #2240
This is crimping my style; tired of switching to 8. I'm going to fix the test.

[2020-03-12 17:22] viniciusccarvalho commented on #2240
Sorry did not had any spare cycles to look at it. It should be very simple to just load a cert in memory, one that has already been pre created. I was just avoiding that approach (lots of people use) just to avoid cert expiration issues on tests, but I guess we could set it to a very long time in the future.

[2020-03-12 18:17] dzou commented on #2248
I can fix this.

[2020-03-12 18:27] dzou commented on #2248
@meltsufin, @elefeint - do you guys recall why we used an object Integer type instead of primitive for the maxMessages param [in the interface](https://github.com/spring-cloud/spring-cloud-gcp/blob/2adf4328c819a634a3ad7a1627426badf198c4fb/spring-cloud-gcp-pubsub/src/main/java/org/springframework/cloud/gcp/pubsub/core/subscriber/PubSubSubscriberTemplate.java#L265)?

[2020-03-12 18:53] elefeint commented on #2248
Dates back to #283; unlikely to be intentional.
My first reaction was that we can't change it now because old working code would now NPE on unboxing, but a `null` parameter will lead to an unset required proto field, causing a cryptic error, so it's not a regression so much as exchanging a misleading exception for a meaningful one.

[2020-03-12 18:56] dzou commented on #2248
I see. If null means "absent" could it be reasonable to set the maxMessages field to MAX_INT then if the field is provided? I.e. if there is no maximum, then any number of messages is allowed.

[2020-03-12 19:12] elefeint commented on #2248
That's an interesting idea! Nothing we do right now contradicts it.
@meltsufin ?

[2020-03-12 21:09] meltsufin commented on #2248
It's nullable because it's an optional parameter to PullRequest.
In `DefaultSubscriberFactory.createPullRequest` we have this logic.
[code]

So, I actually don't see any issue with it being nullable.

[2020-03-12 21:29] elefeint commented on #2248
`maxMessages` is a required field in `PullRequest`, so the service call will fail if it's not set.

Sources: [docs](https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#pullrequest) and bitter experience.

[2020-03-12 22:15] elefeint commented on #2240
@viniciusccarvalho I'm too lazy; found an MIT-licensed library that required minimal changes to your code.
Could you take a look at #2249 when you get a chance? I can't set you as an official reviewer because of project settings.

[2020-03-12 22:16] elefeint commented on #2231
Checkstyle definitely works in general. It just got me on a non-standalone-brace in a catch block, which is good.

[2020-03-12 22:49] elefeint commented on #2231
So, `this.` enforcement on class members was disabled a [loooong time ago](https://github.com/spring-cloud/spring-cloud-build/commit/58cbac5e860713bf9b3462fc6da019cc0bc007b5) in Spring Cloud.

[2020-03-12 22:49] #2231 closed

[2020-03-13 01:41] viniciusccarvalho commented on #2240
LGTM, thank you @elefeint

[2020-03-13 14:41] dzou commented on #2248
Yup, the `maxMessages` is a required field in the proto.

[2020-03-13 14:50] meltsufin commented on #2248
In that case, the MAX_INT idea makes sense. Let's make sure we document it though. Thanks!

[2020-03-13 16:55] #2240 closed

[2020-03-16 16:34] a-wrobel opened #2250 "In AUTO_ACK mode message is immediately nack when exception occurs."
**According to AckMode.AUTO_ACK docs:**

The framework acks the {@link com.google.pubsub.v1.PubsubMessage} after it is
sent to the channel and processed successfully.
<p>The framework does not immediately nack the message when the exception occurs,
and allows the eventual redelivery to take effect.

**Actual behaviour:**

The message is immediately redelivered when the exception occurs.
For any ex

[2020-03-16 17:24] elefeint commented on #2250
You are correct; the documentation is wrong.

In order to get the neither-acking-nor-nacking behavior, set up a Spring Integration error channel, like so:
[code]

For our reference, what version of the Pub/Sub starter are you using?

[2020-03-16 17:40] meltsufin commented on #2250
Documentation fix is pending here: https://github.com/spring-cloud/spring-cloud-gcp/pull/2078

[2020-03-16 18:15] #2248 closed

[2020-03-17 09:32] a-wrobel commented on #2250
Sadly after apply a error channel message has not been redelivered. I have used 1.2.2.RELEASE version.

[2020-03-17 13:47] meltsufin commented on #2250
@a-wrobel How long did you wait? Redelivery can happen up to 10 minutes later or so.

[2020-03-17 13:50] elefeint commented on #2250
I'll investigate in the afternoon. I remember looking into it with Dan, and with error channel the default acking behavior got triggered (because there was no exception).
What I don't remember is whether we realized that before or after I wrote that documentation PR.

[2020-03-17 16:04] a-wrobel commented on #2250
A message was not redelivered for 15 min. For testSubscrition I have set 60sec ack deadline.
A sample code can be found under https://github.com/a-wrobel/pub-sub.

[2020-03-17 21:14] sb-cloudscience opened #2252 "Spring Cloud GCP Google Kubernetes Engine - https://cloud.google.com/kubernetes-engine"

[2020-03-17 21:15] sb-cloudscience opened #2253 "Spring Cloud GCP/Serverless/Google Cloud Run - https://cloud.google.com/run"
### Spring Cloud GCP and Google Cloud Run Abstractions

**Google Cloud Run Serverless Platform builds on KNative to run stateless containers on a fully managed environment.**

Spring Cloud GCP should be able to provide the abstractions to the Cloud Run for Spring Cloud runtime on Cloud Run.

- [ ] Spring Cloud Observability with CloudRun
- [ ] Spring Cloud Function Composition with CloudRun
- [ ]

[2020-03-17 21:36] #2202 closed

[2020-03-18 02:26] meltsufin commented on #2252
@sb-cloudscience Can you please provide a bit more context on what features you're looking to have?

[2020-03-18 02:27] meltsufin commented on #2253
@sb-cloudscience Please add more context.

[2020-03-18 15:33] olssonoskar opened #2254 "FirestoreReactiveRepository yields GRPC-errors after enabling Trace"
**Describe the bug**
Spring boot version: 2.2.5
Spring Cloud version: Hoxton.SR3

Queries via FirestoreReactiveRepository results in error with root cause "UNIMPLEMENTED: GRPC target method can't be resolved" if using trace. Enabling/disabling trace in configuration will change between expected/normal behavior and this error.

Expected behavior would be to get the document back and tracing-informa

[2020-03-18 21:35] sb-cloudscience commented on #2253
Please see the context added. Thank you.

[2020-03-19 17:12] dmitry-s commented on #2254
It fails on google.firestore.v1.Firestore/RunQuery request.
@meltsufin @elefeint any ideas why it would fail when tracing is enabled but works otherwise?

[2020-03-19 17:33] elefeint commented on #2254
Certainly a trace issue, based on this (the new reactor stack traces are awesome):
`checkpoint ⇢ org.springframework.cloud.sleuth.instrument.web.TraceWebFilter [DefaultWebFilterChain]`

Likely something with stream instrumentation in Zipkin GCP. Let me dig into that.

[2020-03-19 17:48] nbrinks opened #2257 "Firebase Security Auto Configuration conflict"
**Describe the bug**
Using both Spring Cloud GCP and Okta Spring Boot Starter (com.okta.spring:okta-spring-boot-starter:1.4.0) in the same application produces the following:
[code]

Okta Starter:
[code]

Firebase Security
[code]

I understand I can turn off the Firebase Security auto configuration by setting `spring.cloud.gcp.security.firebase.enabled=false`but I am wondering if this is just inev

[2020-03-19 17:56] meltsufin commented on #2254
I don't really have any ideas without looking deeper into this. The first thing I would try would be to update to the latest versions of everything and make sure there are no diamond dependency issues.
@elefeint Thanks for helping out.

[2020-03-19 18:50] meltsufin commented on #2257
If you haven't added the `spring-cloud-gcp-starter-security-firebase`, the auto-configuration shouldn't kick in. However, I think we have a bug in the conditionality of the auto-configuration class.

[2020-03-19 19:00] saturnism opened #2259 "spring.cloud.gcp.secretmanager.bootstrap.enabled is not autocompletable"
**Describe the bug**
When using IntelliJ, Spring Cloud GCP properties are usually autocompletable from within the .properties file, but this isn't the case for `spring.cloud.gcp.secretmanager.bootstrap.enabled`

![image](https://user-images.githubusercontent.com/1998883/77104392-55296600-69f2-11ea-9a26-a0afde571ef2.png)

[2020-03-19 19:02] saturnism opened #2260 "SecretManager - ability to configure version/label to select"
**Is your feature request related to a problem? Please describe.**
SecretManager allows me to create a key/value pair but with different versions. I'd like to be able to be explicit to which version to use in case I need to rollback my application to a previous configuration.

**Describe the solution you'd like**
in bootstrap.properties, ability to configure `...secretmanager.version`?

Secret Man

[2020-03-19 19:41] dzou commented on #2260
Thanks for the request Ray, yes will definitely look into this.

Just as a first thought, would it be reasonable to allow users to specify the version they want for each secret individually and default to latest if not specified? I.e. something like:

[code]

[2020-03-19 20:06] nbrinks commented on #2257
Nope, no `spring-cloud-gcp-starter-security-firebase` included in the project.
Thanks for looking into this, @meltsufin!

[2020-03-20 01:15] #2259 closed

[2020-03-20 01:17] #2257 closed

[2020-03-21 22:07] s13o opened #2266 "The `@Where` is applied in wrong order at SpannerStatementQueryExecutor#applySortingPagingQueryOptions"
**Describe the bug**
When an Entity has `@Where` and fetched from `@Query` with `Sort` or `Pageable` parameters the `@Where` will be applied after `ORDER BY` and the SpannerStatementQueryExecutor will generate a wrong SQL query

**Sample**
[code]
will be crushed with an exception like
[code]

[2020-03-23 11:59] olssonoskar opened #2268 "Whitelisted MDC keys in Sleuth are not present when Trace is enabled"
**Describe the bug**
Cloud version: Hoxton.SR3
Boot version: 2.2.5

We configure Sleuth to include request headers in the mdc (for logs). It works well with the StackdriverJsonLayout by default, but after enabling trace, these headers are not populated anymore.

The expected behavior is that the population of MDC should work and be included in logging statements no matter if trace is enabled or no

[2020-03-23 17:54] dzou opened #2269 "Remove Version Numbers for spring-cloud-stream-binder-test"
Once Spring Cloud Stream updates their dependency versions from 3.0.4.B-S to 3.1.0.B-S, we can remove the dependency version of `spring-cloud-stream-binder-test` in `spring-cloud-gcp-stream-binder`.

See https://github.com/spring-cloud/spring-cloud-gcp/pull/2264 for additional context.

[2020-03-23 19:58] dzou commented on #2268
Thanks for the report and the reproducible example @olssonoskar . I will take a look at this for you and hope to followup shortly.

[2020-03-24 15:29] materemias opened #2271 "Pub/Sub: 1.2.2 RELEASE autoconfigure failure with spring.cloud.gcp.pubsub.enabled=false"
and yet again as with #2037 now the `pubSubTemplate` is broken when `spring.cloud.gcp.pubsub.enabled=false`. This was working with 1.2.1.

error message:
[code]

@elefeint I have tried using `spring.cloud.gcp.pubsub.reactive.enabled=false`, but this time it did not help.

[2020-03-24 16:34] dzou commented on #2268
@meltsufin - Some initial first thoughts after debugging - I think this might be related to zipkin code since the traces bring in Zipkin; maybe there is some code in our Zipkin dependencies that is not forwarding the MDC headers correctly.

[2020-03-24 16:48] abgm opened #2272 "Exception from the Google credential lib is been lost on a try catch"
**Describe the bug**
I'm using spring cloud lib on a GKE cluster with workload identity. And I have a issue that I can debug correctly because the important exception for me is been lost by this lib. See commit below.

The application fail on the context initialization... The the only information is that log that is changed on this commit

Will be great have this fixed on the new version of this l

[2020-03-24 17:09] saturnism commented on #2260
thnx @eddumelendez!

btw, for labels, is there a way to limit the secrets using labels as well?

[2020-03-24 18:16] dzou commented on #2260
Oh yes, that is a good idea; we can definitely add a label filter to filter only adding secrets with a certain label.

[2020-03-24 20:22] dzou commented on #2271
Thanks for the report.

Are you running any code that uses the health indicator stuff? The criteria that triggers our health indicator autoconfiguration is shown below:

[code]

Looks like the only condition guarding it is the `@ConditionalOnEnabledHealthIndicator("pubsub")` which [is here](https://docs.spring.io/spring-boot/docs/current/api/org/springframework/boot/actuate/autoconfigure/health/Co

[2020-03-24 21:47] saturnism opened #2273 "Doc: Secret Manager properties should go into bootstrap.properties"
**Describe the bug**
https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.2.2.RELEASE/reference/html/#secret-manager-property-source

It isn't immediately clear that the configuration properties belongs to `bootstrap.properties`

[2020-03-24 21:51] saturnism opened #2274 "Documentation Structure Clean Up"
**Describe the bug**
Spring Cloud GCP documentation structure is drifting from consistency.

For example:

* Google Cloud Pub/Sub
  * Sample
  * Pub/Sub Operations & Templates

* Stackdriver Logging
  * ...
  * Sample

* Cloud IAP
  * Configuration
  * Sample

* Secret Manager
  * Dependency Setup
  * Secret Manager Property Source. (that contains configuration)
  * ...
  * Sample Application

**

[2020-03-24 23:29] meltsufin commented on #2272
Are you asking to include the exception in the log message like it was before this commit?

[2020-03-25 01:04] #2254 closed

[2020-03-25 01:39] elefeint commented on #2271
@dzou Yes to checking for `ConditionalOnBean` in addition to `ConditionalOnClass`. The former would indicate that base autoconfiguration has been triggered. We could also replicate `ConditionalOnProperty` off switch, but `ConditionalOnBean` seems more reliable, since it would guarantee the needed dependency is present. For the larger issue, it's that we need to get into a habit, when reviewing aut

[2020-03-25 11:27] materemias commented on #2271
@dzou thanks for the prompt reply, We use PubSubTemplate and Actuator which can possibly trigger this behavior, but no direct health indicators afaik.

@elefeint thanks for sharing the details, actually setting `management.health.defaults.enabled=false
` in dev profile solved the issue for the moment, so I at least have a workaround.

I am sure many use `spring.cloud.gcp.pubsub.enabled=false` in d

[2020-03-25 12:38] olssonoskar commented on #2254
Thanks @elefeint for resolving this issue!
Anyway to use a snapshot just to verify that this solves our issue as well?
I tried to use the one from spring snapshot repo but seems some dependencies are not available and I'm uncertain if this is on my side or not.
I'd just like to know that everything works as intended in the next release!

[2020-03-25 13:33] elefeint commented on #2254
You should be able to use the snapshots repository by adding the following repo to the pom file, and setting the spring-cloud-gcp dependency version to `1.2.3.BUILD-SNAPSHOT`.
[code]

[2020-03-25 13:34] elefeint commented on #2254
Let us know which dependencies are having trouble!

[2020-03-25 14:16] meltsufin commented on #2271
I just looked at the original PR, and we had a [comment](https://github.com/spring-cloud/spring-cloud-gcp/pull/2040#discussion_r348034004) related to this that slipped through the cracks.

More importantly, reference documentation was never added for this feature. We can at least describe how to turn it on and off there.

[2020-03-25 15:09] abgm commented on #2272
Yes please.

[2020-03-25 15:14] saturnism opened #2276 "Doc: Secret Manager - clarify prefix property"
**Describe the bug**
the description for `spring.cloud.gcp.secretmanager.secret-name-prefix` can be misunderstood. the sample code does show what it does.

Current verbiage:

Propose verbiage:

[2020-03-25 15:35] meltsufin commented on #2268
@adriancole Do you have hints for us on how to investigate this?

[2020-03-25 15:48] olssonoskar commented on #2254
The problem was on my side, the build snapshot included a milestone dependency, so i had to add the milestone repository as well.
But this seems to be working just fine now. 👍
Thanks again to all of you!

[2020-03-25 19:52] #2272 closed

[2020-03-25 20:53] #2273 closed

[2020-03-25 20:54] #2276 closed

[2020-03-26 00:35] eddumelendez opened #2281 "Add annotation which bring support to test against spanner"
**Is your feature request related to a problem? Please describe.**

Make easy to test using spanner

**Describe the solution you'd like**

Looking into [testing-code-that-uses-cloud-spanner](https://github.com/googleapis/google-cloud-java/blob/master/TESTING.md#testing-code-that-uses-cloud-spanner) I think the project can provide the infrastructure with `@DataSpannerTest` annotation. There are sim

[2020-03-26 01:21] adriancole commented on #2268
@olssonoskar can you make a fork of this branch and add your changes to it (without gcp in use) I'd like to see if this is sleuth in general or specifically when -gcp is involved https://github.com/openzipkin/sleuth-webmvc-example#spring-webflux-tracing

when done, post your fork back here which has a commit of your changes. it makes it really easy to validate. cheers!

[2020-03-26 01:21] adriancole commented on #2268
@meltsufin first trying to see if this has to do with the assembly hooks added by sleuth

[2020-03-26 08:29] santpandey123 opened #2282 "Allow Language to be added in CloudVisionTemplate"
**Is your feature request related to a problem? Please describe.**
We are actually using SpringCloud to use GoogleVision for OCR(Optical Character Recognition) purpose. We are using  CloudVisionTemplate to interact with Google's OCR.

However there is a limitation in analyzeImage method in CloudVisionTemplate. The limitation is:
1. We can't pass ImageContext object to analyzeImage method.

Sometim

[2020-03-26 15:07] meltsufin commented on #1761
Related: https://github.com/micrometer-metrics/micrometer-docs/pull/115

[2020-03-26 15:13] guillaumeblaquiere opened #2283 "Allow to select the source projectId when using secret"
I would like to load easily secrets from more than 1 project. Today, only the default project, or the project set in the properties can be easily used by the SecretManagerTemplate bean

**Describe the solution you'd like**
The capability to create and read secrets from default project (like today) but also to have the capability to set a projectId for reading the secrets in another project

This i

[2020-03-26 17:02] dzou opened #2285 "Consider using underscores to be the namespace-separating character in Secret Manager"
If users are interested in naming their secret id's to match the property keys used in Spring, they need a workaround solution since periods are not allowed to be in the secret ID in secret manager.

We can consider offering the option of converting underscores to periods in the secret ID.

[2020-03-26 17:16] dzou commented on #2283
Thanks for your PR.

Yeah I like this idea a lot; would be in favor of letting users specify a custom project id.

[2020-03-26 18:11] dzou commented on #2282
Thanks for the report!

Yes, we can definitely add this in, I'll share with you a PR shortly.

[2020-03-26 18:21] #2266 closed

[2020-03-26 19:13] meltsufin commented on #2268
I tried `spring.sleuth.log.slf4j.whitelisted-mdc-keys=req-id` instead of `log.slf4j.whitelisted-mdc-keys=req-id` as recommended in the [documentation](https://cloud.spring.io/spring-cloud-static/spring-cloud-sleuth/2.1.0.RELEASE/single/spring-cloud-sleuth.html) and it worked for me.

See: https://github.com/openzipkin/sleuth-webmvc-example/pull/34

@olssonoskar Can you give a try?

[2020-03-26 19:22] meltsufin commented on #2268
Never mind, my mistake. You actually have the right property in your example.
Continuing to investigate...

[2020-03-26 20:01] dzou commented on #2282
Hey, just made a PR to add this in; let me know if you have any comments: https://github.com/spring-cloud/spring-cloud-gcp/pull/2286

[2020-03-26 20:07] meltsufin commented on #2268
The difference I'm seeing is in the default extractor in the `HttpServerHandler`.

`ExtraFieldPropagation$ExtraFieldExtractor`
vs.
`CompositeExtractor` with `B3Propagation` and `XCloudTraceContextExtractor`.

[2020-03-26 20:11] meltsufin commented on #2268
I guess we need to add  `ExtraFieldPropagation` extractor [here](https://github.com/openzipkin/zipkin-gcp/blob/8b2462c054737259bdd707de49da0cc32aaa6806/propagation-stackdriver/src/main/java/zipkin2/propagation/stackdriver/StackdriverTracePropagation.java#L86).

[2020-03-26 20:20] meltsufin commented on #2268
It looks like the same issue as https://github.com/openzipkin/zipkin-gcp/issues/167.
cc/ @elefeint @adriancole

[2020-03-27 00:08] adriancole commented on #2268
should be a bit easier to workaround as this has come up before.

From TraceAutoConfiguration
[code]

So, if you provide a bean like this.

[code]

should work I think

[2020-03-27 00:09] adriancole commented on #2268
because you just need to wrap your factory. I wouldn't do any more engineering than this because the concept of how correlation fields work is likely to change anyway at some point.

[2020-03-27 03:14] elefeint opened #2288 "Remove reactor-test version override when spring-cloud is on v3.3.4"
I put in a workaround in #2221 and forgot to file a tracking issue in this repo. Reactor  v3.3.4.RELEASE fixes the underlying problem, but it still needs to propagate through spring boot and spring cloud releases.

https://github.com/spring-cloud/spring-cloud-gcp/blob/d0de2b9cdb74d44ce316764583c809d4cd4d845c/spring-cloud-gcp-pubsub/pom.xml#L46

[2020-03-27 09:36] guillaumeblaquiere commented on #2283
I created a new PR for bootstrap: #2289

Integration test relevance to discuss. TODOs in code where updates are required.
Open to discuss.

[2020-03-27 14:47] #2282 closed

[2020-03-27 14:58] meltsufin commented on #2268
@adriancole Thanks for the suggestion! This is perfect because we would no longer skip all of the logic in `TraceAutoConfiguration.sleuthPropagation()`.

[2020-03-27 16:36] NickChapman opened #2291 "Add option to explicitly request separate session context for new Spanner requests"
**Is your feature request related to a problem? Please describe.**
I am trying to send parallel requests to Spanner, but even though my requests queue up asynchronously, they are executed sequentially. I believe (and I could be wrong here) that this is because they are being executed using the same session.

**Describe the solution you'd like**
In `SpannerTemplate`, add an option to explicitly req

[2020-03-27 17:17] dzou commented on #2283
Regarding property source loading, how would you handle the case where if two projects had 2 secrets with the same secret ID?

[2020-03-27 18:47] dzou commented on #2283
Hey I took a look at the PR, my bad; so my comments about name collisions are incorrect; this is like specifying the project-id similar to specifying a version over the default.

Could you describe your use-case a bit more? Just want to learn more about it; right now I guess my only concern is that the feature increases the complexity of the settings, and then also there might be unexpected intera

[2020-03-27 19:41] guillaumeblaquiere commented on #2283
In my context, and for cost reason, we have 1 shared project for test and dev environment with 1 Cloud SQL MySQL and 1 Cloud SQL PostGreSQL database. We chose to store the passwords in the secret manager of this shared project.

Then, the developer and the other projects can use this database by using the password stored in SecretManager, in addition of other secret stored in their project (like A

[2020-03-27 21:21] meltsufin commented on #2291
We don't manage Spanner sessions directly. The Spanner Client Library does. We simply configure the session pool for it. You can try playing with the `spring.cloud.gcp.spanner.minSessions` and `spring.cloud.gcp.spanner.maxSessions` as [documented](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.2.2.RELEASE/reference/html/#cloud-spanner-settings). I'm surprised you're seeing requests

[2020-03-27 21:43] meltsufin commented on #2032
Closing. Please reopen if you still see the issue with the new release.

[2020-03-27 21:43] #2032 closed

[2020-03-27 21:52] #2016 closed

[2020-03-28 13:21] meltsufin commented on #2268
@olssonoskar We're waiting for the next Brave release to be added to Sleuth, but in the meantime, you can just add this bean to your application configuration to get the extra fields working.
[code]

[2020-03-29 03:34] elefeint opened #2292 "Refactor HealthIndicator autoconfiguration"
For 1.3.x, as this is a backwards-incompatible change.
Follow up to #2280.

`PubSubHealthIndicatorAutoConfiguration` and `DatastoreHealthIndicatorAutoConfiguration` ought to be embedded in the overall product autoconfig.

See [discussion](https://github.com/spring-cloud/spring-cloud-gcp/pull/2040#discussion_r347659326) in original PubSub implementation for background.

This refactoring for Pub/Sub

[2020-03-29 09:30] andrebrait opened #2293 "spring-cloud-gcp-dependencies: threetenbp versions do not converge"
**Description**
When using the BOM, `org.threeten.threetenbp` version does not converge.
I realize it's not the most standard usage of this Spring Cloud BOM, but the BOM should have everything converging, ideally.

**Sample**
[code]

**Result**
[code]

[2020-03-29 11:34] elefeint commented on #2293
I believe we are targeting upper bound convergence, not strict convergence -- see [this comment](https://github.com/spring-cloud/spring-cloud-gcp/issues/1975#issuecomment-540001211) for an explanation.

[2020-03-30 06:01] olssonoskar commented on #2268
I see, still great that the issue was resolved!
Any possibility that this will not be included in the release of 1.2.3 since awaiting brave release?

[2020-03-30 13:51] meltsufin commented on #2268
`1.2.3` is currently scheduled for March 11 along with the rest of the Spring Cloud release train.
It should make it in. We're waiting for the next Brave release and the Sleuth release that would follow.

[2020-03-30 16:05] andrebrait commented on #2293
@elefeint Perfect. Thanks for the explanation and the link. Closing this.

[2020-03-30 16:05] #2293 closed

[2020-03-30 20:29] #2271 closed

[2020-03-30 20:34] elefeint commented on #2271
@materemias This fix will go into the 1.2.3 release in May.

I am glad you found a good workaround; another workaround if you'd like to keep non-Pub/Sub healthcheck endpoints active is to exclude the offending autoconfiguration class explicitly in a property file specific to dev profile:

[code]

[2020-03-30 20:58] dzou commented on #2283
Hmm I see, yeah it makes sense to support this use-case. Let me circle back with our team to discuss more how to best do this; there are some design things I think we need to work out.

I see what you're saying with the `projectId/secretId` key; we can let users load secrets from other projects and then load them into the environment with property key:
<external-project-id>.<secret-id>

But we hav

[2020-03-30 21:26] guillaumeblaquiere commented on #2283
Great. Let me know what is the preferred design. No problem for working on it on my side.

[2020-03-31 20:47] meltsufin opened #2296 "Rename Stackdriver (Trace, Logging) to Cloud (Trace, Logging)"
The product name has been recently updated. We need to match our documentation to the updated names. However, we cannot update existing modules and class names because it would cause breaking changes.

[2020-04-01 11:01] deiveehan opened #2297 "PCF with spring cloud gcp (unable to bind vcap services)"
**Describe the bug**
I am using google storage service in Pivotal cloud, my application uses spring cloud gcp.

My application works fine when I hardcode the gcp json in the application.yml, however when I use PCF, it is supposed to take the value that is defined in the PCF env.

tried binding the vcap services to the application.yml as follows

gradle file:
id 'org.springframework.boot' version '

[2020-04-01 14:01] #2274 closed

[2020-04-01 14:16] meltsufin commented on #2297
First off, do you have the `spring-cloud-gcp-starter-cloudfoundry` in your application dependencies?
Second, you don't need to modify your `application.yml`. The starter will automatically populate the credentials for Storage.

The exception is saying that there is an illegal base64 character. So, I suspect that your `encoded-key` is not configured correctly in PCF.

I hope this gives you some lea

[2020-04-01 14:59] elefeint commented on #2074
The second part of the `PubSubInboundChannelAdapter` issue (pure spring integration, not spring cloud stream related) was never resolved -- the exception propagages up to client library in AUTO_ACK and MANUAL modes, and so the messages that meant to be redelivered after expiry are instead nacked and redelivered immediately.

This is now tracked in #2250.

[2020-04-01 15:37] elefeint commented on #2250
@dhoard when you originally implemented AUTO_ACK in Spring Cloud GCP with Spring Integration in #856, did it behave as you expected? Or did you create googleapis/java-pubsub#20 because it was still not possible to set up "message neither acked nor nacked, and instead allowed to expire and get redelivered" logic?

Looking at the code, there are two possible uses of AUTO_ACK when the downstream proc

[2020-04-01 16:25] dzou commented on #2283
Hey so I have some ideas for supporting this, I think I will need to rework it quite a bit though. I will implement this in the next few days if my team agrees.

In order to support loading secrets from multiple projects, my ideas are to:

1. Currently the code will load all the secrets in your project as properties eagerly; however I think we need to move to a lazy model of loading secrets if we

[2020-04-01 16:47] dhoard commented on #2250
@elefeint ... haven't used GCP Pub/Sub in over a year/no longer at the company using the calling code.

https://github.com/spring-cloud/spring-cloud-gcp/pull/856 was oriented around the use of  Spring / `PubSubInboundChannelAdapter`

https://github.com/googleapis/java-pubsub/issues/20 was oriented around the use of the core GCP Pub/Sub client.

I don't remember any issues... but we used a combinat

[2020-04-01 17:21] elefeint commented on #2250
Thank you! This helps. I'll use @radivojen's suggestion.

[2020-04-01 19:20] guillaumeblaquiere commented on #2283
Hey.

1.
I don't know what imply the lazy load (in code) but if you can load secret not at start up but later, it could help cold start duration (and Spring is really not good in it!). But it's a nice to have.
However, I don't catch what is the relation between the multi-project secret and the lazy loading.

2.
You are right for the fully qualified name. But the lazy convenience to omit the curren

[2020-04-01 19:21] eddumelendez opened #2298 "Support for Spanner Emulator"
cloud sdk version 287.0.0 has release a beta spanner emulator. I am wondering if the project can start with the support for it.

[2020-04-01 19:25] elefeint commented on #2298
Related: we have a Pub/Sub emulator rule that only lives in Spring Cloud Streams tests. I wonder if we should create a `spring-cloud-gcp-test-support` project to put those emulator rules in.

[2020-04-01 19:26] guillaumeblaquiere opened #2299 "Secret Manager: Useful sample files?"
Not a bug, more a question.

In my tests, I removed the file [MyApplicationProperties](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-samples/spring-cloud-gcp-secretmanager-sample/src/main/java/com/example/MyAppProperties.java) and [this line](https://github.com/spring-cloud/spring-cloud-gcp/blob/820a5dcd0f7e1c0937958ac8c14bfc30072950c0/spring-cloud-gcp-samples/sprin

[2020-04-01 20:01] eddumelendez commented on #2298
I like the idea.

Also, this tasks will help to find a place for #2281

[2020-04-02 13:07] deiveehan commented on #2297
I tried with Spring cloud dependency related jars in my build and that was not able to inject the vcap into my app configuration.

After I added the spring-cloud-gcp-starter-cloudfoundry, the vcap configurations were able to inject into my application, it works fine now - thanks for your suggestion.

This can be closed.

[2020-04-02 13:07] #2297 closed

[2020-04-02 14:27] dzou commented on #2299
Ah, that field was just used to demonstrate you can also `@Autowire` a properties class if needed. But that is a good point; I guess because the field is not being used that no error was produced.

[2020-04-02 14:45] spencergibb opened #2301 "DiscoveryClient support for Google Service Directory"
https://cloud.google.com/blog/products/networking/introducing-service-directory

It might be an interesting feature.

[2020-04-02 18:50] guillaumeblaquiere commented on #2299
Anyway, it's a good example, I didn't know this capability! But not really in relation with secret manager!!

[2020-04-02 22:50] #2198 closed

[2020-04-03 00:08] adriancole commented on #2268
fyi for the moment, 2.x sleuth will stay with ExtraFieldPropagation eventhough it is deprecated. made changes here in brave 5.11 https://github.com/spring-cloud/spring-cloud-sleuth/pull/1595

3.x sleuth will move to the new BaggageField type for configuration, including BaggagePropagation. This is a lot more flexible, but the main difference for you is using that builder as an entrypoint instead o

[2020-04-03 01:46] eddumelendez commented on #2298
@elefeint thinking about having `spring-cloud-gcp-test-support` and moving the emulators auto-configuration doesn't seems right due to can be also apply for local development. `spring-boot` provides database, ldap and mongo for local development but in the `test-support` we can provide another kind of stuff like annotations which help and improve the emulators autoconfiguration for test specifical

[2020-04-03 13:49] elefeint commented on #2298
Right, there are two separate things. One is making emulator work for general case (@dmitry-s is looking into that; it might Just Work because we don't instantiate a transport channel ourselves, relying instead on the client library's default behavior).
The other one is easing use of emulator in integration tests; that's what the test support could help with.

[2020-04-03 14:42] meltsufin commented on #2268
Is Sleuth 2.2.x going to move to Brave 5.11.1? If so, are you expecting to release it soon? Thanks!

[2020-04-03 19:30] dzou commented on #2283
Thanks for your feedback Guillaume. We recently had a discussion with the Secret Manager team that gave us some guidance as well. Based on what you said and their feedback I think we may converge on the following solution:

So we are planning for users to be able to specify secrets in their application.properties like this:

application.properties
[code]

Following the model of Secret Manager on G

[2020-04-03 19:54] guillaumeblaquiere commented on #2283
Great feedback!

Is it possible to "reserve" the `project_id` "default" for specifying the current project? The idea is the following:

[code]

Like this, you can specify the `version-id` without locking the `project-id` name.
_Only the account that owns the `default` project will be limited with this feature_

Another solution is to reserve the 2 keywords to the `secret-id` and `version-id` on th

[2020-04-03 19:58] dzou commented on #2283
I see, good point. Yeah, since I also foresee most people working within the default project, it makes sense to adopt one of your two suggestions. Will make a note of this.

[2020-04-03 23:25] avdLuna commented on #2285
Hello, i want to contribute with this issue. There`s something i should know first besides Google Cloud and Springboot ?

[2020-04-03 23:35] dzou commented on #2285
Hey @avdLuna - Thanks for your interest!

Unfortunately this issue might not be a good one to start with; we're actually starting new work for [building a new way of specifying secrets](https://github.com/spring-cloud/spring-cloud-gcp/issues/2283#issuecomment-608619326) which may make this feature obsolete.
I think it will be more clear in the next week or two whether we still want to pursue this

[2020-04-04 00:03] avdLuna commented on #1949
Hello, are this still open? I would really like to contribute to this project and I'm looking for issues with the good first issue tag to get started. If this issue is already closed, could you tell me where to start?

[2020-04-04 00:27] adriancole commented on #2268
It is already 5.11.1 I'm not sure the next release of 2.2.x. I know 3.0 milestone (boot 2.3.x) seems to be blocking on me for monday.

https://github.com/spring-cloud/spring-cloud-release/milestones

@marcingrzejszczak do you know?

[2020-04-06 13:55] svachmic commented on #835
@artembilan what would you recommend as a scalable architecture for multiple inbound channels with message handling across various services/repositories? I would like to avoid a massive master pubsub configuration file with routing, having autowired loads of services/repositories for completely different tasks.

When using [this example](https://github.com/spring-cloud/spring-cloud-gcp/blob/master

[2020-04-06 14:39] meltsufin commented on #1949
Hi @avdLuna!
Thank you for your interest in contributing to this project.
Yes this is still open and refers to documentation improvements that would go in to [this file](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/docs/src/main/asciidoc/storage.adoc#cloud-storage-objects-as-spring-resources).
Basically, we want to add an example of using  `GoogleStorageResource` class and some of

[2020-04-06 15:38] artembilan commented on #835
@svachmic ,

your question sounds like a big story and deserves it's own issue or thread on StackOverflow.

This one is closed already.

Thanks for understanding.

[2020-04-06 16:58] svachmic commented on #835
Understood, makes sense! I'll add a link here when I've put it together to connect it. I've come across this github issue when googling my options. I expect others will be looking for answers as well.

[2020-04-06 18:07] elefeint commented on #835
Just to round this issue out, it's possible to publish/subscribe to a different project's resources at a lower level than Spring Integration -- `PubSubTemplate` supports publishing and subscribing using a fully qualified topic/subscription name -- `projects/<project_name>/topics/<topic_name>` or `projects/<project_name>/subscriptions/<subscription_name>`.

[2020-04-06 22:38] dmitry-s opened #2305 "Datastore - add nested properties support for PartTree methods"

[2020-04-08 13:54] #2299 closed

[2020-04-08 19:18] meltsufin opened #2308 "CSRF protection with Secret Manager"
We should provide an implementation of `CsrfTokenRepository` that would allow developers to use CSRF tokens generated by the Secret Manager. We have to also think about token rotation. A sample application should also be provided.

cc/ @sethvargo @saturnism

[2020-04-08 20:19] sethvargo commented on #2308
Ping @tam7t

[2020-04-09 01:57] fekair-abdelmadjid opened #2310 "java.sql.SQLNonTransientConnectionException: Could not create connection to database server"
**Pom.xml**

    <properties>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>
        <spring-cloud.version>Greenwich.RELEASE</spring-cloud.version>
        <java.version>1.8</java.version>
        <maven.compiler.source>1.8</maven.compiler.source>
        <maven.compiler.target>1.8</maven

[2020-04-09 13:43] meltsufin commented on #2310
The exception is indicating that it's an authentication issue. Where are you running the application and how are you setting credentials?
See [reference documentation](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.2.2.RELEASE/reference/html/#credentials).

[2020-04-09 13:43] #2310 closed

[2020-04-09 13:58] #2305 closed

[2020-04-09 14:43] fekair-abdelmadjid commented on #2310
I run the application locally with mvn `spring-boot:run` command and for the credentials I do it by gcp sdk with `gcloud auth login `command  and It authenticates successfully.

[2020-04-09 14:54] fekair-abdelmadjid commented on #2310
I run the application locally with `mvn spring-boot:run` command and for the credentials I do it by gcp sdk with `gcloud auth` login command and It authenticates successfully.

[2020-04-09 15:23] meltsufin commented on #2310
Are you using `cloud auth application-default login`?
You also have to make sure that your account has access the specific Spanner instance you're connecting to.
Try connecting to the database via `gcloud` by running [this command](https://cloud.google.com/sdk/gcloud/reference/spanner/databases/ddl/describe),

[2020-04-09 15:35] fekair-abdelmadjid commented on #2310
yes i try to work with `spring.cloud.gcp.credentials.location` and the connection is establishing thank you but another error arose:
[code]

[2020-04-09 15:51] fekair-abdelmadjid commented on #2310
i remove `spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect` for the last error and its worked thank you so much @meltsufin.

[2020-04-09 16:31] meltsufin commented on #2310
No worries, thanks for the update!

[2020-04-10 19:05] dzou commented on #2285
Gonna close this; I think it will be obsolete with #2302 in.

[2020-04-10 19:05] #2285 closed

[2020-04-10 19:08] dzou commented on #2283
Hey @guillaumeblaquiere, we recently submitted #2302 which should offer an easier way of specifying secrets across projects. It introduces the new syntax as we discussed, full docs here: https://github.com/spring-cloud/spring-cloud-gcp/blob/a81143bbd26db0ae7760e8d9aa3147565232f034/docs/src/main/asciidoc/secretmanager.adoc#secret-manager-property-source

And should be available in the `1.2.3.BUILD-

[2020-04-10 19:08] #2283 closed

[2020-04-10 23:37] acet opened #2312 "Cannot inject custom FirestoreMappingContext"
**Describe the bug**
A `FirestoreMappingContext` is created in autoconfiguration at
https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-autoconfigure/src/main/java/org/springframework/cloud/gcp/autoconfigure/firestore/GcpFirestoreAutoConfiguration.java#L128

However `FirestoreTempate` creates a `new FirestoreMappingContext` instead of allowing the configured bean to be in

[2020-04-10 23:54] acet commented on #2312
Created https://github.com/spring-cloud/spring-cloud-gcp/pull/2313

[2020-04-11 17:11] meltsufin opened #2314 "Secret Manager throws NullPointerException when a secret is not found"
[code]

We should instead throw a helpful exception.

[2020-04-11 17:18] meltsufin commented on #2314
Never mind, this is just in a test that is using mocks.
The actual exception looks something like this:

[code]

[2020-04-11 17:18] #2314 closed

[2020-04-13 19:34] tyczj opened #2315 "Error creating bean with name 'firebaseJwtDelegatingValidator' with Cloud Firestore"
I am trying to setup a Spring Boot REST API that connects to Google Cloud Firestore.

Following this [guide](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.2.0.M1/#_cloud_firestore) it looked simple enough but I quickly found of that there is stuff not mentioned here that needs to be done to run locally such as manually adding the json credentials file to the project.

I have run i

[2020-04-13 19:48] elefeint commented on #2315
Could you turn off the following property:
[code]

I believe this issue was resolved in #2258, which will make it into version 1.2.3 in a month.

[2020-04-13 19:58] tyczj commented on #2315
When I do that I get this error

main] onfigReactiveWebServerApplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'loginController': Unsatisfied dependency expressed through field 'userService'; nested exception is org.springframework.beans.factory.Unsat

[2020-04-13 20:01] tyczj commented on #2315
Is there another dependency that I need to add because adding that line to my application.properties it says

[2020-04-13 20:12] #2312 closed

[2020-04-13 20:14] #2315 closed

[2020-04-13 20:18] elefeint commented on #2315
Just to follow up on your second question -- all `spring-cloud-gcp` starters can derive credentials from the environment or a property. Check [this section](https://cloud.spring.io/spring-cloud-static/spring-cloud-gcp/1.2.0.M1/#_credentials) for a longer discussion, but generally if you are logged into `gcloud` with an account that has sufficient access, authentication should Just Work.

[2020-04-13 22:57] mirjalal opened #2316 "Getting a single entry findBy... results in EmptyResultDataAccessException"
Hi *.

**Version: 1.2.2.RELEASE
JDK: 8
Spring Boot Version: 2.2.6.RELEASE
Kotlin: 1.3.71**

I have a simple repository like this:

[code]

But when that method called (**AND** there is **no data** related with the username in datastore) the exception thrown:
`org.springframework.dao.EmptyResultDataAccessException: Expecting at least 1 result, but none found`

The exception message comes from [here

[2020-04-13 23:09] dmitry-s commented on #2316
Hi @mirjalal,

It works as expected. In order to allow find method to return `null` you need to annotate it with `@Nullable` annotation.

Example from our docs:
[code]

Feel free to reopen if that didn't help.

Thanks,
Dmitry

[2020-04-14 08:09] mirjalal commented on #2316
Hi @dmitry-s

I am so sorry but I should reopen the issue.

I have already marked find method as nullable. The function return type is `ApiUser?` which `?` symbol stands for nullable type.

I hope I gave clear explanation.

p.s. The same code works well with `JpaRepository`.

Thanks,
Mirjalal

[2020-04-14 13:41] meltsufin commented on #2316
@dmitry-s Can you look into how Spring Data JPA supports this in Kotlin?

[2020-04-14 16:03] dmitry-s opened #2318 "Create a test rule for Spanner emulator"
The rule should automatically start and stop the emulator.

[2020-04-14 16:04] dmitry-s commented on #2298
Closed in favor of #2318

[2020-04-14 16:04] #2298 closed

[2020-04-14 21:28] elefeint opened #2321 "refactor PubSubChannelAdaptersIntegrationTests to avoid teardown duplication"
This block repeats across integration tests because currently teardown requires knowledge of application context to find topic/subscription name to tear down.

Moving the topic/subscription setup into `@Before`/`@After` would allow us to get rid of the custom `PublisherFactory` and `SubscriberFactory`.

[code]

[2020-04-15 09:53] senthilmk commented on #2009
What I meant was that the cloud app was a very rudimentary app and has to wade through dependency hell to make it work or not work.

Let me see if I can follow your advice and see if it works...

[2020-04-15 16:31] #2250 closed

[2020-04-16 21:36] sxg370 opened #2326 "Pub/Sub Asynchronous pull retry mechanism for failure handling"
We have spring application consumes messages from a pubsub topic through asynchronous pull subscription and makes REST(post) call to a target application. For the happy path scenario, flow is working as expected. But we want to have more control over resent messages because of any failures, for that we wanted to use retry configurations. Failed messages come back within 10 sec as per acknowledgmen

[2020-04-17 02:40] meltsufin commented on #2326
See similar question here: https://stackoverflow.com/questions/54534403/what-are-the-retry-settings-for-subscriber-in-pubsub-and-how-to-set-them-correct

These retry settings are low level GRPC retry settings. They do not relate to the actual behavior of Pub/Sub. What you are describing sounds more like a need for a dead-letter queue which is not currently supported by Pub/Sub. You can implement i

[2020-04-17 02:45] elefeint commented on #2326
The retry settings' naming is a bit misleading here -- they refer to the retries performed when a gRPC call to the Pub/Sub service fails for a retryable reason (such as network timeout).

To implement a "please do not redeliver this message, as it cannot be processed due to a downstream issue" strategy, you'd need to programmatically extend the acknowledgement deadline.

To extend the deadline on

[2020-04-17 02:55] elefeint commented on #2326
If you'd like to do exponential backoff on your HTTP application (and perhaps only ack the Pub/Sub message when the HTTP call succeeds), this helper library might be of use: http://googleapis.github.io/google-http-java-client/exponential-backoff.html

[2020-04-21 04:56] sxg370 commented on #2326
@meltsufin @elefeint Thanks for the quick response!

Thanks for the quick response! That is great to know. Do you have any idea when it will be released? Even we can start using it if it is in beta.

[2020-04-21 05:02] sxg370 commented on #2326
@elefeint Thanks for the details! I will try implementing these and once Dead Letter Queue support is added then I will switch to using that .

[2020-04-21 13:50] meltsufin commented on #2326
Apparently it's GA as of yesterday. So, feel free to start using it.

[2020-04-21 13:58] #1956 closed

[2020-04-21 14:09] #2316 closed

[2020-04-21 14:13] romani commented on #1195
@meltsufin or @elefeint ,
issue is closed but there are bunch of violations in codebase from checkstyle, look at details of our try to hook your project in our no-regression testing - https://github.com/checkstyle/checkstyle/pull/8106 .
Please explain why it happening. We need no violations on each commit to make collaboration efficient. It would be awesome if your CI failing on non-resolved chekc

[2020-04-21 14:25] elefeint commented on #1195
@romani Your checkstyle rule set seems stricter than the Spring Cloud one. For example, `LineLength` is more of a general suggestion than strict rule in Spring Cloud projects; it's been [disabled](https://github.com/spring-cloud/spring-cloud-build/blob/a2532c63b0668cb49c9ea031aca131282d278c71/spring-cloud-build-tools/src/main/resources/checkstyle.xml#L32) in the build project for a while.

Is it p

[2020-04-21 14:36] meltsufin opened #2328 "Add Support for Pub/Sub Dead Letter Queues"
We need to update `PubSubAdmin` to allow creation of dead letter queues.
Also, we may need to add support for wiring Spring Integration error channels to the dead letter queue.

Ref: https://cloud.google.com/pubsub/docs/dead-letter-topics
Ref: https://cloud.google.com/sdk/gcloud/reference/alpha/pubsub/subscriptions/create

[2020-04-21 18:35] meltsufin commented on #2326
Closing in favor of #2328.

[2020-04-21 18:35] #2326 closed

[2020-04-21 20:29] dzou commented on #2115
With the completion of https://github.com/spring-cloud/spring-cloud-gcp/pull/2302, this is done.

[2020-04-21 20:29] #2115 closed

[2020-04-21 20:37] dzou commented on #2176
The tasks in this bug have all been completed (with the exception of the parallelized-loading feature).

Not 100% the parallel-loading idea is possible, I was doing some thinking and I think for this to work, there would need to be a way for the properties to be mapped to `ListenableFutures` and then the user to access these in a call-back oriented way. For now to keep things simple lets just keep

[2020-04-21 20:38] #2176 closed

[2020-04-22 18:37] dzou commented on #2326
@sxg370 - Hey we're interested in adding support for deadletter queues (tracking here #2328). Just to understand more your use pattern - Are you using Pub/Sub template through Spring Integration or Spring Cloud Stream? Or just through standard PubSubTemplate usage?

[2020-04-22 19:18] sxg370 commented on #2326
We are using the Spring cloud stream followed this [example](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-samples/spring-cloud-gcp-pubsub-binder-sample/src/main/java/com/example/SinkExample.java) to implement. To make our app resilient, we have two requirements 1) Dead letter support 2) add retry delay. So along with the spring cloud stream, I tried other patterns

[2020-04-22 19:37] dzou commented on #2326
I see, thank you for letting us know. Yes we definitely will look into both areas you mentioned.

As a temporary solution for now - if you're interested in trying the dead letter queues I went through these instructions yesterday and it works as expected: https://cloud.google.com/pubsub/docs/dead-letter-topics

Basically if a message is sent through the topic and it gets nacked 5 times (this is co

[2020-04-23 07:17] thameenas opened #2329 "Running emulator with LocalDatastoreHelper"
I was trying to run my integration tests using LocalDatastoreHelper.But this is either using my service account credentials or the default credentials. Is there any way to run tests using LocalDatastoreHelper without the credentials?
I wanted to run these integration tests on pipeline too, but the credentials are causing it to fail.

[2020-04-23 14:53] vieirajluis commented on #2115
I apologize to post it here, but was the only support that I had found so far.
I have tried providing it directly on my bootstrap file, but seems that its not working as expected. The account service (Compute Engine default service account) has Secret Manager Secret Accessor permission granted. However, seems that is unable to read the secret value.

spring
   datasource:
       username: ${sm://p

[2020-04-23 15:12] dzou commented on #2115
@vieirajluis - No problem, thank you for asking.

This feature right now is only available in the 1.2.3.BUILD-SNAPSHOT version. Are you using the snapshot version?

To use this version you'll need to add the repository to your project as well:

[code]

[2020-04-23 15:21] vieirajluis commented on #2115
Thank you vert much for reply.
 <parent>
    <groupId>org.springframework.boot</groupId>
    <artifactId>spring-boot-starter-parent</artifactId>
    <version>2.2.6.RELEASE</version>
    <relativePath/>
  </parent>
  <groupId>myappgroup</groupId>
  <artifactId>myappartifactId</artifactId>
  <version>0.0.1-SNAPSHOT</version>
  <name>myappname</name>
  <description>myappdescription</description>

  <

[2020-04-23 15:24] dzou commented on #2115
I'm not 100% sure what version hoxton.SR3 maps to, but you can try setting the version number for `spring-cloud-gcp-starter-secretmanager` to `1.2.3.BUILD-SNAPSHOT` and also make sure you add that snapshot repository I mentioned. See if that works for you.

[2020-04-23 15:25] vieirajluis commented on #2115
Ill give a try. Thank you very much.

[2020-04-23 16:10] vieirajluis commented on #2115
Thanks, once again Daniel. We have decided to go for Vault with GCP Secrets Manager as a backend, for now. This will let GCP to manage the infrastructure.

[2020-04-23 16:55] dzou commented on #2115
@vieirajluis - Thanks, good to know. Please feel free to ask questions if you have any in the future - we're reachable via Gitter https://gitter.im/spring-cloud-gcp/Lobby or you can post a question as an Issue on Github.

[2020-04-23 18:57] dmitry-s commented on #2329
I'm looking into it.

[2020-04-23 20:43] dmitry-s commented on #2329
It is actually already implemented. See [GcpDatastoreAutoConfiguration](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-autoconfigure/src/main/java/org/springframework/cloud/gcp/autoconfigure/datastore/GcpDatastoreAutoConfiguration.java#L103).

In short, if you  have `spring.cloud.gcp.datastore.host` or `spring.cloud.gcp.datastore.emulator.enabled` properties set, the

[2020-04-23 20:43] #2329 closed

[2020-04-24 10:37] johannesgiani opened #2330 "Find a way to augment DataSourceProperties after GcpCloudSqlAutoConfiguration"
In GCP CloudSQL postgres, a password for the user has to be provided. A way to handle credentials like this password when running on App Engine is to use KMS to get an encrypted credential from somewhere and decrypt it at runtime. It would be cool to find a solution to augment the properties provided by the auto configuration like this, which is not possible right now because `GcpCloudSqlAutoConfi

[2020-04-24 14:00] meltsufin commented on #2330
@johannesgiani You should be able to provide your own bootstrap property source that contains a value for `spring.datasource.password`. In fact, this is something we do for our Secret Manager integration.

See: https://cloud.spring.io/spring-cloud-commons/multi/multi__spring_cloud_context_application_context_services.html#customizing-bootstrap-property-sources

[2020-04-24 15:32] meltsufin commented on #2330
[Here's an example](https://github.com/spring-cloud/spring-cloud-gcp/pull/2331/commits/ac7394f4dfae9ea801e0fb8281147926ba755b8b).

[2020-04-25 21:25] ashesfall opened #2334 "Custom Subclasses of Map Cannot be Stored"
This section of TwoStepsConversion.java:
[code]

Attempts to obtain type arguments from Maps. However, my custom subclass has no type arguments. It throws the following exception:
[code]

[2020-04-27 18:03] dmitry-s commented on #2334
Hi @ashesfall

could you provide the definition of your custom map class?

Thanks!

[2020-04-27 18:48] ashesfall commented on #2334
[code]

[2020-04-27 19:35] johannesgiani commented on #2330
Awesome, many thanks. I wasn't aware of those bootstrapping capabilities.

[2020-04-27 19:35] #2330 closed

[2020-04-28 03:52] eddumelendez commented on #2318
@dmitry-s have a few quesitons regarding to this. As far as I can see, there is `PubSubEmulator`. So,

* Can we use this existing rule to create `SpannerEmulator`?
* `ExternalResource` is based on JUnit 4 but I can see that `spring-cloud-gcp` is supporting `2.3.x`, have you considered moving this to JUnit 5 or support both?
* At the beginning, I though there should be a auto-configuration class to

[2020-04-28 15:24] dmitry-s commented on #2318
Hi @eddumelendez ,

At this point, Cloud Spanner Emulator set up and start is a multi step process, as it requires installing components of gcloud, installing docker, and also configuring gcloud and creating instances. Because of that I am not sure if we can/should create a rule for  Cloud Spanner Emulator.

@meltsufin what do you think?

[2020-04-28 18:33] meltsufin commented on #2318
@dmitry-s Docker is only required on Mac and Windows.
Assuming that all of the components are installed, what are your concerns?
Does it make sense to just focus on starting and stopping the emulator, as the issue originally intended.

[2020-04-28 21:01] #2145 closed

[2020-04-28 23:17] dmitry-s opened #2339 "Refactor Datastore PartTreeQuery.execute(...)"
follow up for #2335

[2020-04-29 00:58] meltsufin commented on #2145
@dmitry-s What about the note in this issue regarding this not being backwards compatible??

[2020-04-29 15:53] dmitry-s commented on #2145
@meltsufin while it is true, the error message is clear and suggests the index that needs to be created, so all you have to do is to copy the index definition and deploy it.

[2020-04-29 17:58] thameenas commented on #2329
Thanks, it worked. But why does localDatastoreHelper class say "This class is unstable"?
Also, Ive been noticing that the integration test sometimes fails, but re running the test would make it pass. Is there any reason for this flaky behaviour?

[2020-04-29 18:01] #1940 closed

[2020-04-29 19:04] dmitry-s commented on #2329
Hi @thameenas

I guess it's unstable because it can change in the future.

As for flakiness, the reason is most likely in the latency. After you write something to the Cloud Datastore, sometimes it would take a couple of seconds to propagate this change to all backends. This is happening because global queries in Datastore are [eventually consistent](https://cloud.google.com/datastore/docs/concept

[2020-04-29 19:10] #2339 closed

[2020-04-29 21:53] dzou opened #2347 "Undo Surefire Settings after fixing Jenkins build"
I added a property to log surefire output to stdout instead of file to help with debugging the Jenkins build in #2346.

After Jenkins build is fixed, this issue is a reminder to remove that setting (or if useful move it to the root-level pom).

[2020-04-30 00:24] #2347 closed

[2020-04-30 10:00] kioie commented on #2115
@dzou added the repo and dependency, and got the following error

`Could not resolve dependencies for project com.gcp.springboot:inventorymanagement:jar:1.0.0.0: Failed to collect dependencies at org.springframework.cloud:spring-cloud-gcp-starter-secretmanager:jar:1.2.3.BUILD-SNAPSHOT: Failed to read artifact descriptor for org.springframework.cloud:spring-cloud-gcp-starter-secretmanager:jar:1.2.3

[2020-04-30 11:10] johannesgiani commented on #2115
When will this be available in a Service Release?

[2020-04-30 15:47] dzou commented on #2115
@kioie - Sorry for the confusion on this. You also need an additional spring milestones repository. The following pom.xml snippet should work:

[code]

@johannesgiani - We follow the Spring Cloud release train, and I believe the next scheduled release for our 1.2.3 will be in Hoxton SR5, [tenatively scheduled for May 18](https://github.com/spring-cloud/spring-cloud-release/milestones).

[2020-04-30 19:59] dmitry-s opened #2351 "Make PubSub emulator rule public"
Creating new module for the future emulators support.

[2020-05-01 16:59] #2334 closed

[2020-05-02 17:06] ashesfall commented on #2334
What release will include this fix?

[2020-05-02 21:49] jed-meyer opened #2353 "Separate credentials per PubSub topic or subscription"
We got two separate credentials for two pubsub topics of the same project-id and there doesn't seem to be an obvious way to provide credentials per topic/subscription.

Is this possible using Spring Boot with Spring Cloud GCP?

[2020-05-04 14:21] meltsufin commented on #2353
`DefaultSubscriberFactory` has a setter for `CredentialsProvider`. That might help depending on your specific use case. Are you using the `PubSubTemplate` directly? It's bound to a single `CredentialsProvider`. So, it's not going to be super straightforward.

Have you considered creating a service account that has permissions on both topics? GCP IAM is very flexible that way.

[2020-05-04 14:25] meltsufin commented on #2334
Hoxton.SR5 / 1.2.3 scheduled for May 18th currently.
See: https://github.com/spring-cloud/spring-cloud-release/milestones

[2020-05-04 16:32] jed-meyer commented on #2353
Yes, we currently use `PubSubTemplate` directly.

A single service account with all needed permissions is something we asked for in the first place but since it's an _ultraflexible_ microservices approach we are coding against the other party is very reluctant to provide any.

Will head over to SO for further help, might need some more kickstart to get things rolling.

Thank you very much for your

[2020-05-05 08:19] #2353 closed

[2020-05-05 13:30] elefeint commented on #2353
It seems that you've worked it out, but in case it helps: you'd need to create two separate `PublisherTemplate` objects, similar to how we create the default one in the [autoconfiguration](https://github.com/spring-cloud/spring-cloud-gcp/blob/2adf4328c819a634a3ad7a1627426badf198c4fb/spring-cloud-gcp-autoconfigure/src/main/java/org/springframework/cloud/gcp/autoconfigure/pubsub/GcpPubSubAutoConfigu

[2020-05-05 19:34] jed-meyer commented on #2353
Thank you for your help! Kind of eager to try that out, but since we'll need at least four different credentials with more on their way, this will probably make some nasty code. We finally convinced the other party to provide us with a single account solving our issue.

Feature request, though: let users pass pubsub credentials per topic

[2020-05-05 21:09] elefeint commented on #2353
Since credentials are tied to a gRPC stub, this would require creating a separate publisher/subscriber factory equivalent in autoconfiguration code. So this code duplication would have to exist somewhere, and since it's not the most typical usecase, we are unlikely to add multiple objects for each topic to the context...

[2020-05-06 06:33] jed-meyer commented on #2353
Fine with me, had to ask nevertheless :) Thanks again @elefeint and @meltsufin, keep up with your great work!

[2020-05-08 16:10] saturnism commented on #2073
Following up on this - the trace id is not carried through to the Spring Integration processor/thread properly.

E.g., A sends B w/ trace ID `123`, and B uses Spring Integration and Pub/Sub, B receives the message but the trace context has trace ID `somethingelse`.

[2020-05-08 17:27] saturnism commented on #2073
Before processing the message, we may need to setup the current span first, e.g., https://github.com/openzipkin/brave/blob/master/brave/README.md#working-with-callbacks-that-occur-on-different-threads

[2020-05-08 21:13] saturnism commented on #2318
can we/combine this work w/ @eddumelendez 's Testcontainer modules? https://github.com/eddumelendez/testcontainers-java/tree/gcloud/modules/gcloud/src/main/java/org/testcontainers/containers

[2020-05-11 14:02] #2102 closed

[2020-05-11 14:03] elefeint commented on #2321
Fixed in #2323.

[2020-05-11 14:03] #2321 closed

[2020-05-11 14:44] meltsufin commented on #2318
@saturnism The test containers look pretty cool! However, we're providing emulator support here without the use of containers (except for Spanner).
Maybe there is still some code we can reuse, I don't know.

[2020-05-11 14:56] #2288 closed

[2020-05-12 12:51] deep-cloud2208 opened #2361 "Unable to create Cloud Spanner instance"
**Describe the bug**
This is in continuation with Issue #701 and #704 where it was mentioned that Spanner Admin scope has been added. But I am getting the same error again. I am trying to create a spanner instance from my compute engine instance using the following command -
`gcloud spanner instances create gcloud-instance --config=us-central1 --description=pg-
test-instance --nodes=1 --project=gc

[2020-05-12 15:03] meltsufin commented on #2291
Re-open if you have further questions.

[2020-05-12 15:03] #2291 closed

[2020-05-12 15:06] meltsufin commented on #2281
We are already developing support for testing with Spanner emulator.
See: #2357
Do you still think we need to add support for `@DataSpannerTest`?

[2020-05-12 15:16] meltsufin commented on #2260
Obsolete.

[2020-05-12 15:16] #2260 closed

[2020-05-12 15:18] meltsufin commented on #2253
Please re-open if you have more specifics.

[2020-05-12 15:18] #2253 closed

[2020-05-12 15:19] meltsufin commented on #2252
Please re-open if you have more specifics.

[2020-05-12 15:19] #2252 closed

[2020-05-12 15:23] meltsufin commented on #2246
Decided not to do this.

[2020-05-12 15:23] #2246 closed

[2020-05-12 19:47] meltsufin commented on #2361
@deep-cloud2208 How is this issue related to Spring Cloud GCP?
I would recommend asking the question on StackOverflow or contacting GCP support: https://cloud.google.com/support-hub.

[2020-05-12 19:47] #2361 closed

[2020-05-12 23:06] saturnism opened #2362 "add secret manager bootstrap enabled for autocompletion"
**Describe the bug**
the property needs to be added to https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-autoconfigure/src/main/resources/META-INF/additional-spring-configuration-metadata.json

[2020-05-13 14:43] #2242 closed

[2020-05-13 14:46] meltsufin commented on #2209
Please re-open if you have further questions/comments.

[2020-05-13 14:46] #2209 closed

[2020-05-13 14:47] #2206 closed

[2020-05-13 14:48] meltsufin commented on #2204
Please re-open if you have further feedback on this issue.

[2020-05-13 14:48] #2204 closed

[2020-05-13 14:51] meltsufin commented on #2200
Please re-open if you're still having issues with the new versions of the project.

[2020-05-13 14:51] #2200 closed

[2020-05-13 14:53] meltsufin commented on #2182
@elefeint What should be the priority on this?

[2020-05-13 14:58] meltsufin commented on #2151
Already done.

[2020-05-13 14:58] #2151 closed

[2020-05-13 14:58] #2137 closed

[2020-05-13 15:06] meltsufin commented on #2018
Obsolete.

[2020-05-13 15:06] #2018 closed

[2020-05-13 15:09] meltsufin commented on #1815
This should have been resolved with the addition of the libraries-bom.

[2020-05-13 15:09] #1815 closed

[2020-05-13 15:19] meltsufin commented on #2125
@artembilan We have already updated this in our source. Can we run the update on the web site? Thanks!

[2020-05-13 15:20] meltsufin commented on #1812
Obsolete.

[2020-05-13 15:20] #1812 closed

[2020-05-13 15:27] meltsufin commented on #1808
@elefeint Can you please check if this is still relevant and assign a priority? Thanks!

[2020-05-13 15:49] artembilan commented on #2125
Sure! Give me a text and I'll post it on the project page!

[2020-05-13 19:44] dmitry-s commented on #2125
@artembilan the updated text is here: https://github.com/spring-cloud/spring-cloud-gcp/blob/master/docs/src/main/asciidoc/sagan-index.adoc

[2020-05-13 20:16] artembilan commented on #2125
Fixed: https://spring.io/projects/spring-cloud-gcp

[2020-05-13 20:16] #2125 closed

[2020-05-13 20:44] dmitry-s opened #2365 "Document which property should be used for spring-cloud-gcp credentials"
Follow up for #2364
Currently we document `spring.cloud.gcp.credentials` as the property, but we probably should mention that `spring.cloud.gcp.sql.credentials` would work as well. Or maybe we should just remove `spring.cloud.gcp.sql.credentials`.

[2020-05-13 21:13] meltsufin commented on #2365
We generally allow a product-specific property like `spring.cloud.gcp.sql.credentials` to overwrite the general `spring.cloud.gcp.credentials`.

[2020-05-14 11:16] irvifa commented on #2365
Probably we can give an explanation in the `README` that both could works, and give an option of using each product specific application `properties`.

[2020-05-14 14:23] meltsufin commented on #2121
Has been resolved upstream.

[2020-05-14 14:23] #2121 closed

[2020-05-14 14:26] #2056 closed

[2020-05-14 14:28] meltsufin commented on #2009
Please re-open if you're still having issues with this.

[2020-05-14 14:28] #2009 closed

[2020-05-14 14:29] meltsufin commented on #1985
Please re-open if needed.

[2020-05-14 14:29] #1985 closed

[2020-05-14 14:31] meltsufin commented on #1969
Thank you for your proposal. We decided not to proceed with it for the time being.

[2020-05-14 14:31] #1969 closed

[2020-05-15 00:04] eddumelendez commented on #2281
[this](https://gist.github.com/eddumelendez/2a305ea223b4fd34aa69a27d667f4678) is what we currently should do in order to test the repositories.

With the `@SpannerTest` or `@DataSpannerTest` we can provide the right dependencies via `spring.factories` and drop the config to detect repositories. However, the properties need to be set.

I am wondering how the amazing work #2357 can also help this ap

[2020-05-15 00:07] saturnism opened #2367 "spring.cloud.gcp.pubsub.emulator-host doensn't work"
Failed w/ URI exception, i don't know if we needed to prefix w/ `dns:///`. I can create it w/o the prefix.

Secondly, the `transportChannelProvider` is pretty generic, if we configure pubsub to use the emulator host, shouldn't this be scoped only to pub/sub? in case there are others expecting a `transportChannelProvider` too?

Lastly, `CredentrialsProviderrs` should default to `NoCredentialsProvid

[2020-05-15 11:08] dmitry-s commented on #2367
`spring.cloud.gcp.pubsub.emulator-host` works  for me.

@saturnism could you provide a sample app so I can replicate the issue?

Thanks!

[2020-05-15 13:58] meltsufin commented on #2367
This might be somewhat unrelated, but we should consider adding a `spring.cloud.gcp.pubsub.emulator.enabled` property to be consistent with other emulator support configs.

[2020-05-15 14:36] saturnism opened #2368 "Secret Manager - ability to load secrets based on application name / profile"
**Describe the solution you'd like**
In Runtime Config, config k/v for a single app are grouped under a namespace, so that it can all be loaded for an app.

For Secret Manager, add ability to refer to secrets based on a prefix, such as application.name

For example
`spring.cloud.gcp.secret-manager.prefix=myapp`

And when referring to `${database_password}, it loads `myapp_database_password`, or de

[2020-05-15 14:37] saturnism commented on #2368
secret manager doesn't support '.' at the moment, so we can't do `myapp.database.password

[2020-05-15 16:01] saturnism commented on #2367
@dmitry-s i wsa getting a URI exception Let's schedule some time to see this on gvc.

[2020-05-15 16:01] saturnism commented on #2367
also, what value did you set it?

[2020-05-15 16:54] #2362 closed

[2020-05-15 19:59] dmitry-s commented on #2367
@saturnism I set it to "localhost:8085"

[2020-05-15 21:08] elefeint commented on #1808
Yes, and in fact, @saturnism just noticed it, too, in #2367.

https://github.com/spring-cloud/spring-cloud-gcp/blob/2adf4328c819a634a3ad7a1627426badf198c4fb/spring-cloud-gcp-autoconfigure/src/main/java/org/springframework/cloud/gcp/autoconfigure/pubsub/GcpPubSubAutoConfiguration.java#L387

[2020-05-16 23:54] saturnism opened #2369 "PubSub pull issues"
**Describe the solution you'd like**
pubSubTemplate.pull(...) doesn't accept a timeout parameter. It defaults to ~5s, and throws `DeadlineExceededException`

1. if pull fails, it should prob return null
1. the timeout should be configurable

**Additional context**
In Spring Integration, when using PubSubMessourceSource (pulled), it logs `DeadlineExceededException` every ~5s.

[2020-05-17 01:57] saturnism commented on #2367
I think the difference is I used an IP address.  Do we really need the dns:/// prefix?

[2020-05-17 02:26] saturnism commented on #2369
https://github.com/googleapis/java-pubsub/issues/189

[2020-05-18 12:38] elefeint commented on #2367
For emulator, likely not.
This was added to production services in #2085, and emulators most likely just got mopped up for consistency.

[2020-05-18 12:42] elefeint commented on #2369
3. Health indicator autoconfig is conditional on `PubSubTemplate` bean, which would not be available without the enabled flag (or without being explicitly defined in user config).

Everything else is valid, though; DeadlineExceeded is a fairly normal scenario and we should not treat it as exceptional.

[2020-05-18 12:45] elefeint commented on #2369
gRPC timeout should be configurable through `spring.cloud.gcp.pubsub.subscriber.retry.initial-rpc-timeout-seconds` and `spring.cloud.gcp.pubsub.subscriber.retry.total-timeout-seconds`

[2020-05-18 12:48] elefeint commented on #2369
@saturnism, you were creating a message source with `blockOnPull=true`? (the alternative has been deprecated in API anyway, but just to confirm).

[2020-05-18 13:50] elefeint commented on #2182
I bumped it to P2. We ought to have documentation.

[2020-05-18 14:08] dmitry-s commented on #2367
@saturnism you don't need to use dns:/// prefix, we add it automatically.

[2020-05-18 15:23] saturnism commented on #2369
I think we are missing the 'ConditionalOnBean` part. will update the comment.

[2020-05-18 15:24] saturnism commented on #2369
yes - `blockOnPull=true`

[2020-05-18 15:25] saturnism commented on #2367
I know - and it's causing the issues when the host is not a dns name, but an ip

[2020-05-18 15:54] dmitry-s commented on #2367
Oh I see. I'll check if that works.

[2020-05-18 15:55] dzou commented on #2368
To support the Runtime-config use-case we'll see what the results of adding in the '.' names are. Hopefully the additional context you provided on that issue thread will be a good motivator.

But yeah let's wait to see what happens with the `.` discussion, if that doesn't go through we can consider the converting `_` to `.` feature.

[2020-05-18 16:06] meltsufin commented on #35
If anyone is interested in this feature, please comment and upvote. Thanks!

[2020-05-18 20:58] dmitry-s opened #2371 "Build fails on java 14 because of errorprone"
[code]

[2020-05-18 22:37] #2371 closed

[2020-05-18 23:17] dmitry-s commented on #2367
The prefix is required for dns names. I don't think we can switch to requiring users to append it to the host name (breaking change).
Instead, if we want to support ip-addresses we could try to detect them and don't add prefix in that case.

@meltsufin what do you think?

[2020-05-19 00:55] eddumelendez commented on #2367
@dmitry-s throw a warning when the prefix is not used, wdyt? and let people know that in future versions they need to prepend dns:// and to keep backward compatibility.

[2020-05-19 01:37] saturnism commented on #2367
It’s so weird that, for hostnames we need to use dns:/// but for IP, it’s be something else different :/

[2020-05-19 06:52] Will1229 opened #2374 "PubSubHealthIndicator reported false alarm when pubsub was actually UP"
PubSubHealthIndicator reports DOWN but pubsub is actually UP in some situations. Error message:

`pubSub: {
status: "DOWN",
details: {
error: "com.google.api.gax.rpc.PermissionDeniedException: io.grpc.StatusRuntimeException: PERMISSION_DENIED: User not authorized to perform this action."
}
},`

According to the code here:
https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gc

[2020-05-19 11:47] elefeint commented on #2374
Is it possible that the permissions for the account your application is using have changed?

[2020-05-19 12:19] Will1229 commented on #2374
Not as I know. The application is still able to receive pubsub messages so I believe the permissions are still enough there for a message subscriber.

[2020-05-19 14:22] saturnism opened #2375 "Datastore - starter doesn't fully disable"
**Describe the bug**
When setting spring.cloud.gcp.datastore.enabled=false, user still get startup errors:

[code]

*ALL* autoconfigurations need conditional on missing bean, OR conditional on enabled flag

In most cases, if an autoconfiguration expects to work when the starter is 'enabled', it should be guarded by the enabled flag.  I.e., in case of 'enabled', and the expected bean are not presen

[2020-05-19 14:23] saturnism commented on #2369
thinking more about this.. if healthindicator is expected to autoconfigured when pubsub is `enabled` it prob shouldn't check on `conditionalonbean`, but check for whether pubsub starter is enabled or not?

[2020-05-19 14:32] elefeint commented on #2369
That's probably true. The only way for `.enabled` to be false is if someone explicitly disabled it, so it's a better indicator than presence of the bean.

[2020-05-19 15:50] #2375 closed

[2020-05-19 16:07] vieirajluis commented on #2115
Hello everyone,

Any news about org.springframework.cloud 1.2.3 release?

Thanks.

[2020-05-19 16:14] elefeint commented on #2115
It's in process.

[2020-05-19 16:21] #2268 closed

[2020-05-19 16:58] elefeint commented on #2374
I've tested it with an admin account, as well as with an account that only has a Pub/Sub Subscriber role, and in both cases 404 is correctly returned from the pull call to a nonexistent subscription.

Part of the health check's usefulness is in verifying credentials, so interpreting 403 Access Denied as being normal would lead to a false positive successful healthcheck but failed actual applicatio

[2020-05-19 18:38] dmitry-s commented on #2367
@eddumelendez that makes sense. Actually since it's only used for testing we can just throw exception with a message that we now require dns:/// to be present.

[2020-05-19 19:09] saturnism commented on #2367
My bad - the code works as-is. I misconfigured it from the test, where the correct way is:
[code]

I made the mistake of:
[code]

apologies!

[2020-05-19 19:09] #2367 closed

[2020-05-19 21:11] saturnism commented on #2367
Also, prefer _not_ having to specify the dns prefix.

[2020-05-19 23:52] saturnism opened #2380 "PubSub - PubSubHealthIndicator requires Pub/Sub Viewer permission"
**Describe the bug**
If a service account is only given Pub/Sub Subscriber or Pub/Sub Publisher permission, but with out the Pub/Sub Viewer permission, then health check will receive Permission Denied error, causing the health check to fail.

I suspect this is because w/o the viewer permission, the service account doesn't have the ability to even pull for any random topic that does not exist.

**P

[2020-05-20 01:40] elefeint commented on #2380
Well, that would explain #2374.
But I tested it with subscriber-only role just today, and it worked, so either I messed up my test setup or there is something else going on.

The subscriber role only has three permissions:
* pubsub.snapshots.seek
* pubsub.subscriptions.consume
* pubsub.topics.attachSubscription

[2020-05-20 07:10] Will1229 commented on #2374
As I tested with gcloud it also returned 404 NOT_FOUND.

However when my application did this with a service account it returned 403 ACCESS_DENIED.
The service account inherits Cloud Functions Service Agent role which has pubsub roles by default.

Also tried to manually add pubsub admin role into this service account but still didn't work.

I assume you have tested with a service account?

[2020-05-20 07:23] Will1229 commented on #2374
And another thinking: would it be better if we can make the health check subscription-id configurable so that instead of expecting a 404 with a random subscription we can actually check the existence of a real subscription, which guarantees it's healthy.

[2020-05-20 13:19] elefeint commented on #2374
Could you check if the service account has the Pub/Sub Viewer role?

Making subscription ID configurable is an interesting idea, however that will also require the Viewer role -- the health check should not be pulling messages from a real subscription.
Another option is to make "UP" error codes configurable -- this way, the common use (404 means up, 403 means down for current configuration) is sup

[2020-05-20 18:47] Will1229 commented on #2374
Yes. Pubsub Viewer role is included in my service account. It feels strange that given the same service account my application is able to pull messages with an existing subscription id but not a random one.

Not sure if this is a common issue or just because some special config which I'm not aware of in my GCP environment setup.

[2020-05-21 09:55] ashukla-noon commented on #2374
I have got same issue. It started on May 20, '20 16:01 IST, Issue is still going on. We didn't make any changes from our application side.

"pubSub":{"status":"DOWN","details":{"error":"com.google.api.gax.rpc.PermissionDeniedException: io.grpc.StatusRuntimeException: PERMISSION_DENIED: User not authorized to perform this action."}}}}

Please help

[2020-05-21 09:56] amitshukla90 commented on #2374
I have got same issue. It started on May 20, '20 16:01 IST, Issue is still going on. We didn't make any changes from our application side.

"pubSub":{"status":"DOWN","details":{"error":"com.google.api.gax.rpc.PermissionDeniedException: io.grpc.StatusRuntimeException: PERMISSION_DENIED: User not authorized to perform this action."}}}}

Please help

[2020-05-21 12:45] elefeint commented on #2374
1.2.3 release is going out on Monday; we'll get a workaround or extra flexibility in by then.

[2020-05-21 12:47] elefeint commented on #2115
Release was postponed to Monday, May 25.

[2020-05-21 13:29] elefeint commented on #2380
I can reproduce it now. Closing, as it's a duplicate of #2374.

[2020-05-21 13:29] #2380 closed

[2020-05-21 13:43] elefeint commented on #2374
The actual permission required to make this work as before is `pubsub.subscriptions.list`. It is included in Pub/Sub Viewer role.

I'll set up ability to customize "successful" statuses through properties in Spring Cloud GCP, so that if it's not feasible to add the extra permission to the account, applications can mark 403 as indicating Pub/Sub being up.

[2020-05-21 19:16] #2374 closed

[2020-05-21 19:25] elefeint opened #2386 "Customize which Pub/Sub healthcheck status codes result in UP actuator status"
Currently, `PubSubHealthIndicator` treats 404 NOT_FOUND and 403 PERMISSION_DENIED gRPC status codes as indicative of the service being up (accounts with `pubsub.subscriptions.list` permission will get NOT_FOUND; all others will get PERMISSION_DENIED).

We could allow customization of "successful" statuses through application properties.

Upvote if interested; suggest useful customizations in comme

[2020-05-21 19:26] elefeint commented on #2374
`PubSubHealthIndicator` will now accept both 404 and 403 as valid actuator `UP` status codes. This change will go into version 1.2.3, which is getting released Monday.

In the meantime, you can disable the pubsub healthcheck manually by seting `management.health.pubsub.enabled=true` in the application properties. For more custom logic, your application can provide it's own bean extending `org.spri

[2020-05-21 21:27] dmitry-s opened #2387 "Add child collection to the entity class in Firestore sample"
Currently we only have fields of simple types. We should demonstrate collection usage as well.

[2020-05-23 00:15] saturnism opened #2389 "Clients need to shutdown"
**Describe the bug**
For Pub/Sub emulator, sometimes I get:
[code]

Checking into the code, I'm not sure if we shutdown the clients gracefully, and thus shutdown all the managed channels.  Shutdown can be done automatically if our beans implements `AutoCloseable`, or use `@Bean(destroyMethod=...)`.

[2020-05-24 01:06] meltsufin opened #2390 "Pagination does not work with method-style (part-tree) queries"
**Describe the bug**
Although using `Pageable` works with custom `@Query` queries, it does not work with the part tree queries.

**Sample**

works:
[code]

does not work:
[code]
[code]

[2020-05-25 19:33] femrtnz commented on #2178
Hi All,

Can I work on this issue?

[2020-05-26 12:29] bugyboo opened #2392 "Issues with DatastoreRepository using @Query with __key__ after first save to any entity with parent key"
Hi,
I Created a DatastoreRepository for an entity with parent key then I Used GQL query as following

[code]
It worked fine until I made a save instruction as following
[code]

Then I got the following exception :

[code]
Entity class for this is :
[code]

I debug the key I send to the repository and it has an ID

Thanks,

[2020-05-26 15:39] meltsufin commented on #2178
@femrtnz Sure!

[2020-05-26 16:56] eddumelendez commented on #1761
there is currently support for `stackdriver` in `spring-boot` you can see the docs [here](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#production-ready-metrics-export-stackdriver)

#2391 tries to solve the `project-id` and `credentials` auto-detection.

[2020-05-26 20:32] dzou commented on #2328
Pub/Sub recently added to their subscription admin client the ability to modify the DLQ policy: https://github.com/googleapis/java-pubsub/issues/166

[2020-05-27 14:18] #2387 closed

[2020-05-27 14:29] elefeint commented on #1660
Superceded by Cloud Spanner R2DBC implementation.

[2020-05-27 14:29] #1660 closed

[2020-05-27 14:44] elefeint commented on #1655
Please reopen if the workaround provided is insufficient.

[2020-05-27 14:44] #1655 closed

[2020-05-27 14:55] elefeint commented on #1442
@saturnism We are leaning towards not having this in the github repo.
Is there a better place for this, like google.dev?

[2020-05-27 15:36] ejona86 commented on #1655
Sorry, this was routed to my personal inbox which is a blackhole.

I don't think this is a gRPC problem. I think the problem is an initialization order problem; `@Configuration` runs too late.

The JVM TLS configuration is loaded lazily, and when the logging code loads it loads gRPC which loads the TLS configuration. It sees the _default_ javax.net.ssl.trustStore/javax.net.ssl.trustStorePassword.

[2020-05-27 17:02] ttomsu commented on #1682
Clarified with Ray: the request is also to move from GAE _Flex_ on Java 8 to GAE _Standard_ on Java 11.

[2020-05-27 17:09] peterwmwong commented on #2115
Any updates on when 1.2.3 will be released?

Thanks.

[2020-05-27 17:15] elefeint commented on #1655
@ejona86 Thank you for the thorough analysis -- this will help us for all future keystore-related issues.
To summarize, there are two approaches to resolving the issues:
1) set custom truststore property when starting JVM or at Spring bootstrapping phase, while ensuring that the truststore contains all standard CAs.
2) Leave the default trustore alone and configure the higher-level functionality (

[2020-05-27 17:21] elefeint commented on #2115
@spencergibb What is the latest plan for the Hoxton SR?

[2020-05-27 17:47] breun commented on #2115
I generally check https://github.com/spring-cloud/spring-cloud-release/milestones but currently the entry for Hoxton.SR5 says "Past due by 1 day". Should be soon then, I guess.

[2020-05-28 02:32] #1830 closed

[2020-05-28 20:04] dmitry-s commented on #2392
@bugyboo I was trying to replicate the issue, but everything works fine for me. Could you provide a minimal application that replicates the issue? (maybe create a repo on github)

One thing that I noticed is you are using `Long` as the id type parameter:
[code]
while in your entity you have Id of type `Key`:
[code]

It didn't matter for replicating the issue, but I would recommend to keep it consi

[2020-05-28 20:11] dmitry-s commented on #2392
@bugyboo It wasn't clear from your code what should be the result and what entity is the descendant. That's my interpretation:
[code]
result:
[code]

[2020-05-28 23:06] saturnism commented on #1442
Let's chat w/ Dave Holmes.  Alternatively we can also create an awesome list, or have this in https://spring.io/projects/spring-cloud-gcp ?

[2020-05-29 19:31] elefeint opened #2402 "Add integration test for micrometer/stackdriver monitoring"
Follow up to #2391.

[2020-05-29 19:31] elefeint opened #2403 "Add a sample app for the micrometer/Stackdriver monitoring integration"
Include an integration test for the sample app.

Follow up to #2391.

[2020-05-30 02:56] bugyboo commented on #2392
@dmitry-s
Hi, I found out how to make it work. I guess my issue is that I was passing Key object to the repository Query when i should just pass the whole Entity and let DataStoreTemplate do its job.

[code]

[2020-05-30 03:15] meltsufin opened #2404 "Upgrade to Error Prone 2.4.0 and enable it for JDK 14 builds"
See: https://github.com/google/error-prone/releases/tag/v2.4.0

Undo: #2372.

[2020-05-30 10:51] dmitry-s commented on #2392
@bugyboo great, thanks for the update.

Closing the issue since it's resolved.

[2020-05-30 10:51] #2392 closed

[2020-05-30 11:24] limyongquan1992 opened #2406 "Spring Cloud Stream Gcp does not retry"
Hi, I am following [spring-cloud-gcp-pubsub-stream-binder-functional-sample](https://github.com/spring-cloud/spring-cloud-gcp/tree/master/spring-cloud-gcp-samples/spring-cloud-gcp-pubsub-stream-binder-functional-sample). But I find that the retrying as per the [Spring Cloud Stream documentation](https://cloud.spring.io/spring-cloud-static/spring-cloud-stream/3.0.4.RELEASE/reference/html/spring-clo

[2020-05-30 12:04] pijpijpij opened #2407 "Delete a file in a bucket"
The users of my web-app have the ability to upload a few files. Our app needs to process them before uploading then a GCP bucket, in a small folder hierarchy. Today the Spring Resource API of `GoogleStorageResource` allows it to create them.
Our users also need to be able delete those files when they are not longer used.

Giving my users direct access to GCP is of course not a viable option.

I ca

[2020-06-01 12:48] elefeint commented on #2115
1.2.3 is out!

[2020-06-01 13:29] meltsufin commented on #2407
Have you tried using the `Blob`?
[code]

[2020-06-02 08:17] kioie commented on #2115
Congratulations guys!! We've waited for this!

[2020-06-02 08:54] pijpijpij commented on #2407
I did miss that, so thank you.
Unfortunately when I tried it `getBlob()` returned `null` for folders, so I also learned that folders are not first class citizens.
Instead I now iterate over all the blobs in the bucket of my folder and delete those whose `blobName` starts with my folder's `blobName`. When all the blobs in the folder are deleted, the folder magically dissappears!
Thanks for the poin

[2020-06-02 08:54] #2407 closed

[2020-06-02 12:48] mvmn opened #2410 "PubSub topic auto-creation does not account for possible concurrent topic creaiton"
**Describe the bug**
In case several PubSub producer/consumer apps that produce/consume messages to/from same topic are deployed simultaneously, and topic auto-creation feature is enabled in several of those (via auto-create-resources config property), there is a possibility some of those may fail with **AlreadyExistsException** because several produces tried to create topic simultaneously.

[2020-06-02 12:48] mvmn commented on #2410
Proposed change: https://github.com/spring-cloud/spring-cloud-gcp/pull/2411

[2020-06-02 14:54] dzou commented on #2115
Thanks for your interest! Please feel free to post an issue if you run into problems or have feature requests.

[2020-06-02 17:33] #2410 closed

[2020-06-03 02:28] #2178 closed

[2020-06-03 14:18] #1682 closed

[2020-06-03 21:48] steren commented on #2122
Can you open an internal bug for the severity levels that are not recognized? We could easily accept `WARN` in addition to `WARNING`, especially if this makes Cloud Run behaves more like the fluentd agent. This work is related to internal bug 146219077

[2020-06-04 03:33] meltsufin opened #2412 "Refdoc has CSS issues where some code is invisible"
See: https://cloud.spring.io/spring-cloud-gcp/reference/html/

![image](https://user-images.githubusercontent.com/17732492/83711863-5f6eff80-a5f2-11ea-8fc2-239911dfc180.png)

Credits for reporting: @Alos.

[2020-06-04 04:35] meltsufin commented on #2122
@dzou Did you test these levels? Do they still not work?

[2020-06-04 16:09] dzou commented on #2122
They work now! I've updated the friction log that you wrote linked in our Spring on Cloud Run document with the updated screenshots.

Here is a screenshot showing that the TRACE and WARN levels are recognized with the `CONSOLE_JSON` logging appender:

![image](https://user-images.githubusercontent.com/3209274/83781196-2c615600-a65c-11ea-9d6c-a46254c3b431.png)

Going to close this bug.

[2020-06-04 16:09] #2122 closed

[2020-06-04 16:24] dzou commented on #2412
Looks like this is a problem with how spring manages all documents across their site - you can see the same problem for other projects:

https://cloud.spring.io/spring-cloud-gateway/2.2.x/reference/html/#tls-and-ssl
https://cloud.spring.io/spring-cloud-netflix/2.2.x/reference/html/#using-eureka-on-aws
https://cloud.spring.io/spring-cloud-security/2.2.x/reference/html/#_oauth2_single_sign_on

[2020-06-04 20:59] dmitry-s opened #2415 "Implement subcollection support in Firestore"
User request: https://stackoverflow.com/questions/62043573/how-to-fetch-documents-from-subcollection-in-firestore-using-spring-data/

Currently we support embedded collections, but Firestore has one more type of associated collections, called [subcollections](https://firebase.google.com/docs/firestore/data-model#subcollections).  That feature allows loading the collection independently from the pa

[2020-06-04 21:04] dzou commented on #2269
Fixed by https://github.com/spring-cloud/spring-cloud-gcp/pull/2396

[2020-06-04 21:04] #2269 closed

[2020-06-06 21:20] BenDol opened #2418 "Expose Datastore LazyUtil"
Expose spring datastore [LazyUtil](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-data-datastore/src/main/java/org/springframework/cloud/gcp/data/datastore/core/LazyUtil.java#L42) or an explaination why this shouldn't be exposed for use? Some utility methods like [LazyUtil.isLazyAndNotLoaded](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-g

[2020-06-08 11:59] donbeave opened #2419 "Spring Cloud GCP's BOM (via Hoxton.SR5) using Guava (Android version) by default"
**Describe the bug**
The problem with dependency management. After creating a new project by using Spring Initializr (https://start.spring.io) and adding Spring Cloud to it (in my case Hoxton.SR5), after adding `implementation("com.google.guava:guava")` to the dependency block Gradle will resolve `29.0-android` version instead of `29.0-jre`, which is expected. The problem came after I have added `

[2020-06-08 16:26] dmitry-s commented on #2418
@BenDol could you clarify your use case? I think we will be able to help you better if we have more info.

Thanks

[2020-06-08 18:35] suztomo commented on #2419
The reason GCP Libraries BOM uses "-android" is to support Java 7. (Google cloud Java libraries support Java 7)

To override the guava flavor, here is the documentation:
https://github.com/GoogleCloudPlatform/cloud-opensource-java/wiki/The-Google-Cloud-Platform-Libraries-BOM#guava-versions--jre-or--android

This can be done at @donbeave 's project. If spring-cloud-gcp is ok to dismiss Java 7, then

[2020-06-08 18:44] elefeint commented on #2419
Spring requires Java8+; IMHO it makes sense to override at `spring-cloud-gcp`.
@meltsufin What do you think?

[2020-06-08 19:46] BenDol commented on #2418
@dmitry-s sure, so the main use case I have at the moment is being able to determine a beans loaded state on its properties for serializing the object. When the `@LazyReference` is used the serializer invokes a chain load of all the properties while it's serializing. So I want to be able to run a check on the lazy properties before serializing the bean to make sure that doesn't happen. For example

[2020-06-08 20:01] meltsufin commented on #2419
+1 Spring Cloud GCP should not worry about Java 7, since Spring itself is on Java 8+.
Let's update our BOM.

[2020-06-09 04:10] #2419 closed

[2020-06-10 02:39] suztomo commented on #2419
@elefeint Thank you

[2020-06-10 12:22] ttomsu opened #2421 "Error regenerating docs"
Getting the following error when trying to regenerate the docs:

[code]

It appears to be attempting to run a generated Ant task (`target/antrun/build-main.xml`):
[code]

@marcingrzejszczak since you last changed the doc generation, would you have an idea of where to start with this one?

[2020-06-10 14:23] esoni opened #2422 "google cloud storage ignore spring.cloud.gcp.credentials.location and use the machine credentials"
**Describe the bug**
Hi,
i m working in my locale machine that have OS windows. On my local machine i m logged with my user: dario.frongillo@gmail.com; I run my Spring App with property
spring.cloud.gcp.credentials.location=file:D:\\keys\\key.json
spring.cloud.gcp.storage.credentials.location=file:D:\\keys\\key.json

In order to run my application using a service account created with a key contain

[2020-06-10 20:31] Alos opened #2423 "The Spring Initializr in spring.start.io tells you that Spring Cloud GCP does not work with Spring Boot 2.3.0"
**Describe the bug**

1. Visit https://start.spring.io/
2. Create a project with Java 11
3. Spring Boot 2.3.0
4. JAR
5. Click on the button to add dependencies and then search for GCP.

The user gets a message saying that GCP does not work with this version:

`Requires Spring Boot >= 2.0.0.RELEASE and < 2.3.0.M1.`

[2020-06-11 00:11] ttomsu commented on #2421
[code]

[2020-06-11 02:56] meltsufin commented on #2422
@esoni The code you shared demonstrates that you're not relying on our Storage autoconfiguration, which these properties are part of.
You should not create your own instance of `Storage` by calling `StorageOptions.getDefaultInstance().getService()`, but rather use the one that is auto-configured for you.
First make sure that you have the starter in your `pom.xml`.
[code]
Then simply autowire the `

[2020-06-11 08:20] esoni commented on #2422
I confirm as reported by @meltsufin .
Thanks for the support you can close the ticket.
thanks

[2020-06-11 14:24] #2422 closed

[2020-06-11 15:44] rubasace opened #2425 "Support for reactive publish to Pub/Sub?"
It seems like `PubSubReactiveFactory` only supports polling but not publishing.

I'm not sure about this one, but I'm worried using the normal `PubSubTemplate` might have negative consequences to applications performance as they don't use `Schedulers` but `Executors` instead, potentially leading to more threads than desired running in the applications. Please correct me if I'm wrong, I'm not an ex

[2020-06-11 15:47] #2390 closed

[2020-06-11 19:31] dzou commented on #2423
@Alos - Thanks for reporting, I filed https://github.com/spring-io/start.spring.io/pull/472 which I think should address this issue.

[2020-06-11 20:11] dzou commented on #2421
@ttomsu - Ah, I am using Java 8, that could be the difference maker for why it was working for me.

[2020-06-12 13:27] meltsufin commented on #2423
Fixed by https://github.com/spring-io/start.spring.io/pull/472.

[2020-06-12 13:27] #2423 closed

[2020-06-12 18:55] saturnism opened #2428 "Firestore - DocumentId autogeneration"
**Describe the bug**
If a `@DocumentId`field is null, the save operation fails with:
[code]

In regular Firestore API, document ID is automatically generated.

**Sample**
[code]

[code]

[code]

[2020-06-12 19:04] saturnism opened #2429 "Firestore - Unable to use FieldValue.serverTimestamp()"
**Is your feature request related to a problem? Please describe.**
To set a timestamp in Firestore, it's a best practice to use the server-side timestamp as opposed to a timestamp generated by the client side.  The server side timestamp is set using FieldValue.serverTimestamp();

**Describe the solution you'd like**
Unsure how to best support this use case, since we have strongly typed Timestamp f

[2020-06-16 09:31] borzhao-sh opened #2431 "Could not autowire. No beans of 'SpannerTemplate' type found."
**Describe the bug**
IDEA says `Could not autowire. No beans of 'SpannerTemplate' type found. ` when I'm injecting `SpannerTemplate`.

Also there is no `@Component` or equivalent annotation on the class declaration statement, so IDEA thinks that `SpannerTemplate` is not a bean managed by Spring, I guess that's the reason why the `No beans of 'SpannerTemplate' type found` message shows up.

Spring

[2020-06-16 13:57] meltsufin commented on #2431
Do you have this dependency in your `pom.xml`?

[code]

Also, the version of Spring Cloud GCP you're using is very old. Can you upgrade to 1.2.3?

[2020-06-16 14:05] elefeint commented on #2406
Sorry for the delay!
There are two possible retry scenarios:
1) Retry if message retrieval from Pub/Sub failed
2) Retry if the application message processing logic failed

Looking at Spring Cloud Stream code, (1) a retry template is created automatically for _pollable_ consumers. Our Cloud Pub/Sub adapter does give ability to create a pollable source, but the streaming consumer is more commonly us

[2020-06-16 23:55] lucasoares opened #2435 "Let Spring Cloud GCP Storage select a different project id than the core module"
Hello guys.

Many modules of Spring Cloud GCP let the user configure a different project-id. Example:
![image](https://user-images.githubusercontent.com/10624972/84839537-a35efd00-b013-11ea-9732-b10872f1e8a0.png)

Spring Cloud GCP Storage doesn't have this option.  What about to let users always configure the project id for each module?

[2020-06-17 01:24] viniciusccarvalho opened #2436 "Use DatastoreOperations instead of DatastoreTemplate"
I was trying to proxy the DataStoreOperations by using kotlin delegate "by" method. But I found out that in several places on the DataStoreRepositoryFactory and associated classes they use a DatastoreTemplate and not the interface DatastoreOperations.

I started a refactor to push a PR, but noticed there are several methods that only exist on `DatastoreTemplate` it wasn't clear why those methods a

[2020-06-17 02:01] viniciusccarvalho commented on #2436
I actually finished a PR, all tests are green but checkstyle is failing without writing anything to checkstyle-result.xml, that makes a bit painful trying to figure out why is it complaining about

[2020-06-17 02:48] borzhao-sh commented on #2431
Yes, we have that dependency.
I tried to update Spring Cloud GCP to 1.2.3.RELEASE, but the warning still exists.

Actually this warning doesn't affect our program. The `SpannerTemplate` can be successfully injected during runtime and everything works fine. It's just a little bit annoying and I think maybe we can make some improvement.

[2020-06-17 04:00] meltsufin commented on #2435
Hi Lucas,
This seems completely reasonable. Contributions are welcomed!

[2020-06-17 04:08] meltsufin commented on #2436
@viniciusccarvalho Can you elaborate on the problem that this is trying to solve in Kotlin?

[2020-06-17 04:12] meltsufin commented on #2431
So is this a warning that you only see in the IDE when it does some static analysis, not when you run the app?
Can you share a screenshot?

[2020-06-17 05:50] borzhao-sh commented on #2431
Yes, it's just a warning from static analysis.

![Screen Shot 2020-06-17 at 1.43.22 PM.png](https://i.loli.net/2020/06/17/VSYqn6oRL4wAdTO.png)

[2020-06-17 06:18] olegz commented on #2406
@elefeint we do use `RetryTemplate` for that. There are details [here](https://docs.spring.io/spring-cloud-stream/docs/3.1.0.M1/reference/html/spring-cloud-stream.html#spring-cloud-stream-overview-error-handling)
NOTE: This does not apply to reactive consumers (e.g.`Function<Flux, Flux>`)
Let me know if I can help

[2020-06-17 12:12] viniciusccarvalho commented on #2436
Sure @meltsufin. Well its usually a good practice to have the dependencies be interfaces rather than implementations anyways. In this case all the beans that depends on DatastoreOperations are actually dependent on the implementation. This reduces the possibility of someone providing a different implementation.

That was my case, I was using kotlin delegation just because I find it to be much simp

[2020-06-17 19:17] kvajjala59 opened #2439 "Unable to exclude indexes on nested properties of embedded entity"
**Unable to exclude indexes on nested properties of embedded entities and list of embedded entities**

I have a deeply nested Entity with embedded entities. I'm trying to excludeIndexes on a list of embedded entities and another embedded entity

Example:
[code]
The value in `Entity2` throws an error with > 1500 bytes error. How do I exclude nested fields from indexing?